﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization
@{
    ViewBag.Title = "Steward Staff Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }
    var invalidList = Model != null ? Model.InvalidFormFields as IList<string> : new List<string>();

    var RemitsToggleResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationRemitFrequency);
    var IsRemitsToggleReadOnly = RemitsToggleResource == CL.TMS.Security.SecurityResultType.ReadOnly;
    string invalidListStr = string.Join(",", invalidList.ToArray());
    invalidListStr = "\"" + invalidListStr.Replace(",", "\",\"") + "\"";

    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;
    var localtime = Convert.ToDateTime(Model.SubmittedDate).ToLocalTime();

    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var guidStr = HttpContext.Current.Request.QueryString["id"];
    var dateTimeFormat = TreadMarksConstants.DateFormatJavascriptDateTimePicker;
    bool isParticipant = false;
    if (!CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
    {
        isParticipant = true;
    }
}

@section styles {
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/css/datatable-tm")
}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { id = "MainId" }))
{
    <input id="invalidList" name="invalidList" type="hidden" />
    <input id="applicationId" name="applicationId" type="hidden" value='@Model.ID' />
    <input id="ID" type="hidden" value='@Model.ID' name="ID">
    <input id="status" type="hidden" value='@Model.Status' name="status" />
    <input id="GeneratorDate" type="hidden" value='' name="StewardDetails.GeneratorDate">
    <input id="IsParticipant" value="@isParticipant.ToString()" type="hidden" name="Isparticipant" />
    @*@Html.HiddenFor(model => model.ID)*@
    @Html.HiddenFor(model => model.Status)

    <!-- HTML Top  -->
    <div class="tm-all all-applications">

        <!-- Component: Transactions Header -->
        <div class="row comp-claims-header">
            <input type=hidden id="VendorID" class="VendorID" value='@Model.VendorID' name="VendorID">
            <input type="hidden" id="RegistrationNumber" class="RegistrationNumber" value='@Model.RegistrationNumber' name="RegistrationNumber" />
            <div id="claimHeader" class="col-xs-7 col-sm-6">
                <h2>Steward Application </h2>
                <div class="margin-top-3" style="display:none;" id="@(Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.Completed || Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved ? "showApprovedItem" : "hideApprovedItem")">

                    <label class="padding-3 margin-top-15">Remits per year:</label>
                    <div data-placement="bottom" title="Switched on : @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitanceDetail.SRemitsPerYearSwitchDate))" data-toggle="tooltip" class="btn-group btn-toggle">
                        <button id="activeGreenButton1" class="@(Model.RemitanceDetail.SRemitsPerYear ==false ?"btn btn-xs active color-tm-red-bg":"btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalGeneratorOnR" disabled="@(IsRemitsToggleReadOnly)" data-info="this is StaffIndexForPDF page">2x</button>
                        <button id="inactiveRedButton1" class="@(Model.RemitanceDetail.SRemitsPerYear ==true  ?"btn btn-xs active color-tm-red-bg":"btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalGeneratorOffR"  disabled="@(IsRemitsToggleReadOnly)">12x</button>
                    </div>
                    @*OTSTM2-1110 comment out*@
                    @*<label class="padding-3 margin-top-0"> Audit:</label>
                    <div data-placement="bottom" title="@(Model.RemitanceDetail.SAudit == false ?"Switched off":"Switched on") : @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitanceDetail.SAuditSwitchDate))" data-toggle="tooltip" class="btn-group btn-toggle">
                        <label class="btn-ram t btn btn-xs btn-default" style="@(Model.RemitanceDetail.SAudit == false ?"display:block":"display:none")">Off</label>
                        <label class="btn-ram t btn btn-xs btn-default" style="@(Model.RemitanceDetail.SAudit == true ?"display:block":"display:none")">On</label>
                    </div>*@
                    <label class="padding-3 margin-top-0"> MOE:</label>
                    <div data-placement="bottom" title="" data-toggle="tooltip" class="btn-group btn-toggle" data-original-title="@(Model.RemitanceDetail.SMOE == false ?"Switched on":"Switched off")  : @string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitanceDetail.SMOESwitchDate))">
                        <button id="activeGreenButton2" class="@(Model.RemitanceDetail.SMOE == false ? "t btn btn-xs active btn-success" : "t btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalMOEOnR">On</button>
                        <button id="inactiveRedButton2" class="@(Model.RemitanceDetail.SMOE == true ? "t btn btn-xs active btn-success" : "t btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#modalMOEOffR">Off</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-status txt-r" style="display:none;" id="@(Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.Completed ? "showApprovedItem1" : "hideApprovedItem1")">
                    <div class="btn-group btn-toggle">
                        <button id="activeGreenButton" class="@(Model.ActivityStatus == ActivityStatusEnum.Active ? "btn btn-xs btn-success active" : "btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#switchInactiveToActive">
                            <div data-toggle="tooltip" data-placement="top" class="ActiveToolTip">Active</div>
                        </button>
                        <button id="inactiveRedButton" class="@(Model.ActivityStatus == ActivityStatusEnum.InActive ? "btn btn-xs btn-danger" : "btn btn-xs btn-default")" type="button" data-toggle="modal" data-target="#switchActiveToInactive">
                            <div data-toggle="tooltip" data-placement="top" class="InActiveToolTip">Inactive</div>
                        </button>
                    </div>
                    <div class="btn-group btn-toggle" id="showApprovedItem">
                    </div>
                </div>
                <div class="popoverParticipantInfo" data-placement="auto">

                    <div class="sub-header-registrantinfo">@(Model.RegistrationNumber == 0 ? "" : Model.RegistrationNumber.ToString())</div>
                    <div class="sub-header-companyname">@(Model.BusinessLocation == null ? "" : Model.BusinessLocation.OperatingName)</div>
                    <div id="popoverParticipantInfo" style="display: none;">
                        <p>
                            <strong>Business Address</strong><br>
                            @(Model.BusinessLocation.BusinessAddress.AddressLine1 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine1.ToString()), @(Model.BusinessLocation.BusinessAddress.AddressLine2 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine2.ToString())<br>
                            @(Model.BusinessLocation.BusinessAddress.City == null ? "" : Model.BusinessLocation.BusinessAddress.City.ToString()), ON @(Model.BusinessLocation.BusinessAddress.Postal == null ? "" : Model.BusinessLocation.BusinessAddress.Postal.ToString())
                        </p>
                        <p>
                            <strong>Primary Contact</strong><br>
                            @(Model.ContactInformationList[0].ContactInformation.FirstName == null ? "" : Model.ContactInformationList[0].ContactInformation.FirstName.ToString()) @(Model.ContactInformationList[0].ContactInformation.LastName == null ? "" : Model.ContactInformationList[0].ContactInformation.LastName.ToString()) <br>
                            @(Model.ContactInformationList[0].ContactInformation.Email == null ? "" : Model.ContactInformationList[0].ContactInformation.Email.ToString())<br>
                            @(Model.ContactInformationList[0].ContactInformation.PhoneNumber == null ? "" : Model.ContactInformationList[0].ContactInformation.PhoneNumber.ToString())
                        </p>
                    </div>
                </div>
            </div><!--/.row-->
            
            <!-- Modal: Remits per year: 2x  -->
        </div>
        <div aria-hidden="true" aria-labelledby="modalGeneratorOnR" role="dialog" tabindex="-1" id="modalGeneratorOnR" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-md margin-top-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h3 align="center" id="modalGeneratorOnR" class="modal-title">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:10px;" class="txt-c">
                            <h4>@Html.Raw(UIResource.StewardRemitaneOn.ToString())</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="SRemitsPerYear2x" value="0" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Remits per year: 12x  -->
        <div aria-hidden="true" aria-labelledby="modalGeneratorOffR" role="dialog" tabindex="-1" id="modalGeneratorOffR" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-md margin-top-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h3 align="center" id="modalGeneratorOffR" class="modal-title">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:10px;" class="txt-c">
                            <h4>@Html.Raw(UIResource.StewardRemitaneOff.ToString())</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-ram btn-danger btn-lg" type="button">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="SRemitsPerYear12x" value="1" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: MOE On -->
        <div aria-hidden="true" aria-labelledby="modalMOEOnR" role="dialog" tabindex="-1" id="modalMOEOnR" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-md margin-top-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h3 align="center" id="modalMOEOnR" class="modal-title">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:10px;" class="txt-c">
                            <h4>@UIResource.StewardMOEOnConfirm</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="SMOEOn" value="0" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: MOE Off  -->
        <div aria-hidden="true" aria-labelledby="modalMOEOffR" role="dialog" tabindex="-1" id="modalMOEOffR" class="modal fade">
            <div class="modal-dialog modal-md margin-top-100">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h3 align="center" id="modalMOEOffR" class="modal-title">@UIResource.Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:10px;" class="txt-c">
                            <h4>@UIResource.StewardMOEOffConfirm</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-danger btn-lg" type="button">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            @UIResource.CommonWordNo
                        </button>
                        <button id="SMOEOff" value="1" data-dismiss="modal" class="btn btn-ram btn-success btn-lg" type="button">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            @UIResource.CommonWordYes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Component: Submission Information -->
        @if (!isParticipant)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        @Html.ApplicationSubmissionInfo(
                            localtime,
                            Model.BusinessLocation.OperatingName,
                            string.Format("{0} {1}", @Model.TermsAndConditions.FormCompletedByFirstName, @Model.TermsAndConditions.FormCompletedByLastName),
                            Model.BusinessLocation.BusinessAddress.AddressLine1,
                            Model.BusinessLocation.Email,
                            Model.UserIPAddress,
                            Model.GetClientStatus()
                            )
                    </div><!--/.panel-->
                </div>
            </div>

            <div class="row">
                <!-- Component: Internal Notes -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        @{
                            switch (Model.Status)
                            {
                                case ApplicationStatusEnum.Approved:
                                case ApplicationStatusEnum.BankInformationSubmitted:
                                case ApplicationStatusEnum.BankInformationApproved:
                                case ApplicationStatusEnum.Completed:
                                    @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "CustomerID", Model.VendorID }, { "isVendor", false }, { "isCustomer", true }, { "versionid", ViewBag.versionid } })
                                    break;
                                default:
                                @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "ApplicationID", Model.ID }, { "isVendor", false }, { "isCustomer", false }, { "versionid", ViewBag.versionid } })
                                    break;
                            }
                        }
                    </div><!--/.panel-->
                </div>
            </div><!--/.row-->
        }
        <!--End Submission Information -->
        <!-- Modal: Active to Inactive -->
        <div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 10%;">
                            <p>@Html.Raw(UIResource.CommonActiveInactiveStatusChange.ToString())</p>
                            <label for="">@UIResource.CommonEffectiveDate</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepickerToInactive">
                                            @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD" id="InActiveRegistrantStatusChangeEffectiveDate">*@
                                            @Html.TextBoxFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                       {
                                           @class = "form-control",
                                           @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                           @Value = (Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                           @readonly = "readonly",
                                           style = "background:white;"
                                       })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@Model.RegistrantInActiveStatus.ApprovedDate' />
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@UIResource.CommonReasons</label><br>
                                    <div class="dropdown">
                                        @Html.DropDownListFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                                            new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                                            new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                                            new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                                            new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                                            new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                                            new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                                            new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                                            new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                                            new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account0"},
                                            new SelectListItem() {Text = "Other", Value="Other"}},
                                            "Select Reason",
                                            new { @class = "form-control", @id = "inactivedropdown" })
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.RegistrantInActiveStatus.OtherReason, new
                               {
                                   @class = "form-control",
                                   style = "display:none;",
                                   @id = "OtherInActiveStatus",
                                   @Value = string.IsNullOrEmpty(Model.RegistrantInActiveStatus.OtherReason) ? string.Empty : Model.RegistrantInActiveStatus.OtherReason
                               })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <label for="">New Registration # </label> (if applicable)
                                    @Html.TextBoxFor(m => m.RegistrantInActiveStatus.NewRegistrationNumber, new { @class = "form-control", @id = "NewRegistrationNumber" })
                                </div>
                            </div><!--/.row-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="modalCancelInactivatebtn">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            @UIResource.CommonCancel
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="modalDeactivatebtn">
                            @UIResource.CommonDeactivate
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Inactive to Active Modal -->
        <div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                        <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 10%;">
                            <p>@Html.Raw(UIResource.CommonInactiveActiveStatusChange.ToString())</p>
                            <label for="">@UIResource.CommonEffectiveDate</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepickerToActive">
                                            @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD" id="RegistrantStatusChangeEffectiveDate">*@
                                            @Html.TextBoxFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                       {
                                           @class = "form-control",
                                           @id = "RegistrantStatusChangeEffectiveDate",
                                           @Value = (Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                           @readonly = "readonly",
                                           style = "background:white;"
                                       })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                            </span>
                                        </div>
                                        <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@Model.RegistrantActiveStatus.ApprovedDate' />
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@UIResource.CommonReasons</label><br>
                                    <div class="dropdown">
                                        @Html.DropDownListFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Drop Item One", Value="Processor 1"},
                                            new SelectListItem() {Text = "Drop Item Two", Value="Processor 2"},
                                            new SelectListItem() {Text = "Drop Item Three", Value="Processor 3"},
                                            new SelectListItem() {Text = "Drop Item Four", Value="Processor 4"},
                                            new SelectListItem() {Text = "Drop Item Five", Value="Processor 5"},
                                            new SelectListItem() {Text = "Other", Value= "Other"}},
                                            "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                                    </div>
                                </div>
                            </div><!--/.row-->
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.RegistrantActiveStatus.OtherReason, new
                               {
                                   @class = "form-control",
                                   style = "display:none;",
                                   @id = "OtherActiveStatus",
                                   @Value = string.IsNullOrEmpty(Model.RegistrantActiveStatus.OtherReason) ? string.Empty : Model.RegistrantActiveStatus.OtherReason
                               })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalCancelActivatebtn">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            @UIResource.CommonCancel
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="modalActivateBtn">
                            @UIResource.CommonActivate
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Panel Group -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <form></form>
            <!-- Component: Business Location -->
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmBusinessLocation", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_BusinessLocationPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                </div>
            }
            
            <br />
            <!-- Component: Contact Information -->
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmContactInfo", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_ContactPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "Status", Model.Status }, { "IsParticipant", isParticipant } })
                </div>
            }
            
            <br />

            <!-- Component: Tire Details -->
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTireDetails", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_TireDetailsStewardPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                </div>
            }
            
            <br />
            <!-- Component: Steward Details -->
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmStewardDetails", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_StewardDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                </div>
            }

            <br />
    

            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
            {
                <!-- Component: Supporting Documents -->

                <div class="panel panel-default">
                    @Html.Partial("_SupportingDocPartialSteward", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Staff" }, { "status", @statusStr }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "allowFileDownload", true }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) }, { "IsParticipant", isParticipant } })
                </div>
            }
            <br />

            <!-- Component: Terms and Conditions -->
            @using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTermsAndConditions", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_TermsConditionsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                </div>
            }
            
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <p style=" color: #737373;    display: block;    margin-bottom: 10px;    margin-top: 5px;"><em> Note that to complete the registration application, <strong>you need to have the authority to bind your corporation / business or have been granted to the authority to bind your corporation / business.</strong> Fields marked with <i class="glyphicon glyphicon-ok"></i> are mandatory.</em> </p>
            </div>
        </div>

        <div id="staffWorkflowBtns" class="row">
            <div class="col-sm-12" style="text-align:right;">
                @switch (Model.Status)
                {
                    case ApplicationStatusEnum.Submitted:
                        <button id="assignBtn" type="button" data-toggle="modal" data-target="#modalAssign" class="btn btn-success">Assign <i class="fa fa-chevron-right"></i></button>
                        break;
                    case ApplicationStatusEnum.OffHold:
                    case ApplicationStatusEnum.Assigned:
                    <button id="applicationBtn" type="button" data-toggle="modal" data-target="#modalApplicant" class="btn btn-success"><i class="fa fa-chevron-left"></i> Applicant</button>
                    <button id="denyBtn" type="button" data-toggle="modal" data-target="#modalDeny" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Deny</button>
                    <button id="onHoldBtn" type="button" data-toggle="modal" data-target="#modalOnhold" class="btn btn-danger">On-hold </button>
                    <button id="assignBtn" type="button" data-toggle="modal" data-target="#modalAssign" class="btn btn-success">Assign <i class="fa fa-chevron-right"></i></button>
                    <button id="approveBtn" type="button" data-toggle="modal" data-target="#modalApproveApplication" class="btn btn-success">Approve <i class="fa fa-chevron-right"></i></button>
                        break;
                    case ApplicationStatusEnum.OnHold:
                    <button id="unHoldBtn" type="button" data-toggle="modal" data-target="#modalOffhold" class="btn btn-warning">Off-hold</button>
                    break;
                case ApplicationStatusEnum.Approved:
                case ApplicationStatusEnum.BankInformationSubmitted:
                case ApplicationStatusEnum.BankInformationApproved:
                case ApplicationStatusEnum.Completed:

                    if (!isParticipant)
                    {
                        <button id="resendBtn" type="button" data-toggle="modal" data-target="#modalResend" class="btn btn-success btn-lg">
                            <i class="fa fa-chevron-left"></i>
                            Re-send Welcome Letter
                        </button>
                        <button id="cancelBtn" type="button" data-toggle="modal" data-target="#modalCancelApplication" class="btn btn-danger btn-lg">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            Cancel
                        </button>
                        <button id="saveBtn" type="button" data-toggle="modal" data-target="#modalSaveApplication" class="btn btn-success btn-lg">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>  
                      }
                    break;
                }
            </div>
        </div><!--/.row-->
        <br>
        <!-- Component: Activity -->
        
    </div>

        <!-- end HTML Top -->
        <!-- Modal: Deny Application  -->
    <div class="modal fade" id="modalDeny" tabindex="-1" role="dialog" aria-labelledby="modalDeny" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonDenyApplicationConfirm.ToString())</h4>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 txt-l">
                                <h5><strong>@UIResource.CommonReasons</strong></h5>
                                <ul id="denyReasonsList"></ul>
                                <h5><strong>@UIResource.CommonAdditionalReasons</strong></h5>
                                <textarea id="modelDenyAdditionalReasonInput" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div><!--/row-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" id="modalDenyDenyApplicationBtn" data-status="Denied" class="btn color-tm-red-bg workflow btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Send Back to Applicant  -->
    <div class="modal fade" id="modalApplicant" tabindex="-1" role="dialog" aria-labelledby="modalApplicant" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonSendBacktoApplicantConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success workflow btn-lg" data-status="BackToApplicant" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                    <input id="hdnExplicitSave" type="button" style="display:none" />
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Place Application on Hold  -->
    <div class="modal fade" id="modalOnhold" tabindex="-1" role="dialog" aria-labelledby="modalOnhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationonHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success workflow btn-lg" data-status="OnHold" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Place Application Off Hold  -->
    <div class="modal fade" id="modalOffhold" tabindex="-1" role="dialog" aria-labelledby="modalOffhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationOffHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dange btn-lgr" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success workflow btn-lg" data-status="OffHold" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Assign Application  -->
    <div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonAssignApplicationConfirm.ToString())</h4>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 txt-l">
                                <h5><strong>@UIResource.CommonChooseStaff</strong></h5>
                                <select id="listOfStaff" class="form-control"> </select>
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" id="modalAssignAssignBtn" class="btn btn-success workflow btn-lg" data-status="Assigned" data-dismiss="modal" disabled>
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Approve Application  -->
    <div class="modal fade" id="modalApproveApplication" tabindex="-1" role="dialog" aria-labelledby="modalApproveApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonApproveApplicationConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" id="modalApproveApproveBtn" class="btn btn-success workflow btn-lg" data-status="Approved" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
        

        <!-- Modal: Resend welcome email Application  -->
    <div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonResendWelcomeEmailConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalResendYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Update Application  -->
    <div class="modal fade" id="modalSaveApplication" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonSaveChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalSaveDBYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Modal: Refresh on Cancel Application  -->
    <div class="modal fade" id="modalCancelApplication" tabindex="-1" role="dialog" aria-labelledby="modalApprovApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(@UIResource.CommonCancelChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                       <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" id="modalCancelYesBtn" class="btn btn-success workflow btn-lg" data-status="Approved" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
        

}
<!-- end BeginForm -->
@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-webui-popover")

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.StaffIndex = {
            Resources: {
                DateTimeFormat: '@dateTimeFormat'
            },
            Model: {
                InvalidFormFields: [ @Html.Raw(invalidListStr)],
                Status: '@statusStr',
                IsReadOnly: '@isReadOnly'
            },
            ParitalViewData: {
                serverURL1: '/Steward/Registration/VendorActiveHistory',
            },

            Settings: {
                status: '@Model.StatusString',
                vendorID: '@Model.VendorID',
                ApplicationStatus: {
                    Approved: '@ApplicationStatusEnum.Approved.ToString()',
                    Submitted: '@ApplicationStatusEnum.Submitted.ToString()',
                    Assigned: '@ApplicationStatusEnum.Assigned.ToString()',
                    OnHold: '@ApplicationStatusEnum.OnHold.ToString()',
                    BankInformationSubmitted: '@ApplicationStatusEnum.BankInformationSubmitted.ToString()',
                    BankInformationApproved: '@ApplicationStatusEnum.BankInformationApproved.ToString()',
                    Completed: '@ApplicationStatusEnum.Completed.ToString()'
                }
            }
        };

        /* local script for pdf */
        $(".panel-arrow-collapse").each(function (e) {

            if ($(this).hasClass("collapsed")) {
                $(this).removeClass("collapsed");
                $(this).removeClass("panel-arrow-collapse").addClass("panel-arrow-expand");

            } else {
                // if other menus are open remove open class and add closed
                $(this).removeClass("panel-arrow-expand").addClass("panel-arrow-collapse");
            }

        });
        $(".panel-collapse").each(function (e) {

                $(this).addClass("in");

        });
        $("#panelSupportingDocuments").css("height", "auto");
        $(".panel-default").after('<div style="page-break-before:always">&nbsp;</div>');
    </script>
    @Scripts.Render("~/bundles/applicationcommon")
    @Scripts.Render("~/bundles/steward-application-staff")
}