﻿
@{
    ViewBag.Title = "CollectionGenerationOfTiresBasedOnFSAReportDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromDate = new DateTime(ViewBag.FromDate.Year, ViewBag.FromDate.Month, 1).ToString("dd/MM/yyyy");
    var toDate = new DateTime(ViewBag.ToDate.Year, ViewBag.ToDate.Month, 1).AddMonths(1).AddSeconds(-1).ToString("dd/MM/yyyy");
}

@section styles {
   
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>     

        .panel-default > .panel-heading a.report-export, .panel-default > .panel-heading a.report-export:hover {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            /*left: 520px;*/
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .panel-default > .panel-heading a.long-title, .panel-default > .panel-heading a.long-title:hover {            
            left: 545px;          
        }
        .panel-default > .panel-heading a.medium-title, .panel-default > .panel-heading a.medium-title:hover {            
            left: 495px;          
        }
        .panel-default > .panel-heading a.short-title, .panel-default > .panel-heading a.short-title:hover {            
            left: 470px;          
        }       

        .content-center{
            text-align:center;
        }

        .content-right{
            text-align:right;
        }
             
    </style>
}
<br />
<h2>Collection/Generation of tires based on Groups Report - Details</h2>
<br />
<div id="pnlReportDetails" class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelThree-headingOne">
        <h4 class="panel-title">
            <a aria-controls="panelThree-collapseOne" aria-expanded="true" href="#panelThree-collapseOne" data-tireoriginreport="#accordion" data-toggle="collapse" class="panel-arrow-expand">
                Tire Flow in Area:  @ViewBag.PickupRateGroup @ViewBag.CollectorGroup @fromDate to @toDate
            </a>
            <a id="exportReport" class="export report-export short-title" title="Export to CSV" style="left: 510px;"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
    </div>
    <div style="" id="panelThree-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelThree-headingOne">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tblCollectionGenerationOfTiresBasedOnFSAReportDetails" class="table table-hover display truncate datatable-100-perc">
                    <thead>
                        <tr>
                            <th>Hauler Registration Number</th>
                            <th>Hauler Name</th>
                            <th>Pickup Date</th>
                            <th>Transaction Type</th>
                            <th>Form Number</th>
                            <th>Registration Number</th>
                            <th>Collector Name</th>
                            <th>Postal Code</th>
                            <th>PLT</th>
                            <th>MT</th>
                            <th>AG/LS</th>
                            <th>IND</th>
                            <th>SOTR</th>
                            <th>MOTR</th>
                            <th>LOTR</th>
                            <th>GOTR</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <a id="viewmoreReportDetails" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">

            Global = {};

            Global.Settings = {
                @*GetReportDetailHandlerUrl: '@Url.Action("GetReportDetailHandler", "Reports", new { area = "System", region = @ViewBag.Region, zone = @ViewBag.Zone, fromDate = @ViewBag.FromDate, toDate = @ViewBag.Todate })',*@
                GetReportDetailHandlerUrl: '@Url.Action("GetReportDetailByRateGroupHandler", "Reports", new { area = "System", pickupRateGroup = @ViewBag.PickupRateGroup, collectorGroup = @ViewBag.CollectorGroup, fromDate = @ViewBag.FromDate, toDate = @ViewBag.Todate })',
                @*ReportDetailsExportUrl: '@Html.Raw(@Url.Action("ExportToExcelCollectionGenerationOfTiresBasedOnFSAReportDetails", "Reports", new {area = "System",  sortColumn = "AAA", sortDirection = "BBB", region = @ViewBag.Region, zone = @ViewBag.Zone, fromDate = @ViewBag.FromDate, toDate = @ViewBag.Todate }))',*@
                ReportDetailsExportUrl: '@Html.Raw(@Url.Action("ExportToExcelCollectionGenerationOfTiresBasedOnRateGroupReportDetails", "Reports", new {area = "System",  sortColumn = "AAA", sortDirection = "BBB", pickupRateGroup = @ViewBag.PickupRateGroup, collectorGroup = @ViewBag.CollectorGroup, fromDate = @ViewBag.FromDate, toDate = @ViewBag.Todate }))',
            };

            var pageSize = 13;
            var table = $('#tblCollectionGenerationOfTiresBasedOnFSAReportDetails').DataTable({
                info: false,
                processing: false,
                serverSide: true,
                ajax: { url: Global.Settings.GetReportDetailHandlerUrl },
                deferRender: true,
                dom: "rtiS",
                "bAutoWidth": false,
                scrollY: 540,
                scrollX: true,
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                scrollCollapse: false,
                searching: true,
                ordering: true,
                order: [[0, "asc"]],

                scroller: {
                    displayBuffer: 100,
                    rowHeight: 70,
                    serverWait: 100,
                    loadingIndicator: false
                },
                columns: [
                         {
                             name: "Hauler Registration Number",
                             width: "13%",
                             data: null,
                             //className: "content-center",
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.HaulerRegistrationNumber + "</span>";
                             }
                         },
                         {
                             name: "Hauler Name",
                             width: "12%",
                             data: null,
                             //className: "content-center",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.HaulerName + "</span>";
                             }
                         },
                         {
                             name: "Pickup Date",
                             width: "7%",
                             data: null,
                             //className: "content-center",
                             render: function (data, type, full, meta) {
                                 if (data.PickupDate !== null) {
                                     return "<span>" + data.PickupDate.toString().substring(0, 10) + "</span>";
                                 }
                                 else {
                                     return "";
                                 }
                             }
                         },
                         {
                             name: "Transaction Type",
                             width: "8%",
                             data: null,
                             //className: "content-center",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.TransactionType + "</span>";
                             }
                         },
                         {
                             name: "Form Number",
                             width: "8%",
                             data: null,
                             //className: "content-center",
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.FormNumber + "</span>";
                             }
                         },
                         {
                             name: "Registration Number",
                             width: "8%",
                             data: null,
                             //className: "content-center",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.RegistrationNumber + "</span>";
                             }
                         },
                         {
                             name: "Collector Name",
                             width: "10%",
                             data: null,
                             //className: "content-center",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.CollectorName + "</span>";
                             }
                         },
                         {
                             name: "Postal Code",
                             width: "6%",
                             data: null,
                             //className: "content-center",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.PostalCode + "</span>";
                             }
                         },
                         {
                             name: "PLT",
                             width: "4%",
                             data: null,
                             //className: "content-right",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.PLT + "</span>";
                             }
                         },
                         {
                             name: "MT",
                             width: "4%",
                             data: null,
                             //className: "content-right",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.MT + "</span>";
                             }
                         },
                         {
                             name: "AG/LS",
                             width: "4%",
                             data: null,
                             //className: "content-right",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.AGLS + "</span>";
                             }
                         },
                        {
                            name: "IND",
                            width: "4%",
                            data: null,
                            //className: "content-right",
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return "<span>" + data.IND + "</span>";
                            }
                        },
                        {
                            name: "SOTR",
                            width: "4%",
                            data: null,
                            //className: "content-right",
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return "<span>" + data.SOTR + "</span>";
                            }
                        },
                         {
                             name: "MOTR",
                             width: "4%",
                             data: null,
                             //className: "content-right",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.MOTR + "</span>";
                             }
                         },
                         {
                             name: "LOTR",
                             width: "4%",
                             data: null,
                             //className: "content-right",
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return "<span>" + data.LOTR + "</span>";
                             }
                         },
                        {
                            name: "GOTR",
                            width: "4%",
                            data: null,
                            //className: "content-right",
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return "<span>" + data.GOTR + "</span>";
                            }
                        },
                ],
                initComplete: function (settings, json) {
                    $('.dataTables_scrollBody').css('overflow-y', 'hidden');
                },
                drawCallback: function (settings) {
                    var direction = settings.aaSorting[0][1];
                    $('.sort').html('<i class="fa fa-sort"></i>');
                    (direction == 'desc') ? $('.sorting_desc').find('.sort').html('<i class="fa fa-caret-down"></i>') : $('.sorting_asc').find('.sort').html('<i class="fa fa-caret-up"></i>');
                    (settings.fnDisplayEnd() > pageSize) ? $('#viewmoreReportDetails').css('visibility', 'visible') : $('#viewmoreReportDetails').css('visibility', 'hidden');
                    var sortColumn = settings.aoColumns[settings.aLastSort[0].col].sName.replace(/\s/g, '');
                    var url = Global.Settings.ReportDetailsExportUrl.replace('AAA', sortColumn).replace('BBB', direction);
                    $('#exportReport').attr('href', url);
                }
            });

            $('#viewmoreReportDetails').on('click', function () {
                $('#tblCollectionGenerationOfTiresBasedOnFSAReportDetails').parent().css({ 'overflow': 'auto', 'overflow-y': 'scroll' });
                $("#tblCollectionGenerationOfTiresBasedOnFSAReportDetails_wrapper").find(".dataTables_scrollHead").removeClass("dataTables_scrollHead").addClass("dataTables_scrollHead_after_vertical_scrollbar"); //OTSTM2-843
                $(this).hide();
            });


    </script>
} 