﻿@model CL.TMS.DataContracts.ViewModel.Reporting.ReportDetailsViewModel
@{
    ViewBag.Title = "Report Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/css/datetimepicker")

    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        .more-space{
            margin-left:20px !important;
        }
        .font-be-bond{
            font-weight:bold;
        }

        .panel-default > .panel-heading a.report-export, .panel-default > .panel-heading a.report-export:hover {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            left: 460px;
            position: absolute;
            top: 11px;
            width: 25px;
        }            

        .content-center{
            text-align:center;
        }

        .content-right{
            text-align:right;
        }  
                  
    </style>
}

@using (Html.BeginForm("GetReportExport", "Reports", FormMethod.Post, new { }))
{
    <div id="ReportPanel">
        
        <div id="fixedClaimHeader" class="row comp-variant-staff comp-claims-header fixed-claim-header">
            <h2 class="fixed-claim-header-title">@Model.ReportName</h2>
        </div>
        
        <br />
        @Html.HiddenFor(i => i.Id)
        @Html.HiddenFor(i => i.ReportName)
        <div id="pnlFilter" class="panel panel-default" style="display:none; margin-top:85px">
            <div class="panel-body">
                <div id="pnlStartDate" class="col-md-2" style="width: 265px !important">
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <div class='input-group date' id="dbStartDate">
                            @Html.TextBoxFor(i => i.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholer = "Start Date" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <label id="requireStartdate" class="control-label" style="color:red; display:none">required</label>
                        <label id="dateValidation" class="control-label" style="color:red; display:none">Start Date cannot be later than End Date</label>
                    </div>
                </div>
                <div id="pnlEndDate" class="col-md-2" style="width: 265px !important">
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <div class='input-group date' id="dbEndDate">
                            @Html.TextBoxFor(i => i.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholer = "End Date" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <label id="requireEnddate" class="control-label" style="color:red; display:none">required</label>
                    </div>
                </div>
                <div id="pnlRegistrationNumber" class="col-md-2">
                    <label for="">Registration number:</label>
                    <input id="RegNumber" type="text" class="form-control" name="RegNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <label id="vendorValidation" class="control-label" style="color:red; display:none">Vendor/Customer not found</label>
                </div>
                @*<div id="pnlSearchButton" class="col-md-2">
                    <button class="btn btn-success" id="btnSearchResult" style="margin-top: 24px">Search</button>
                </div>*@
            </div>
        </div>
        <br />
        <hr />
        <input type="submit" id="btnExport" value="Export" class="btn btn-success" style="display:none"/>       
    </div>
}
<div class="row">
    <div id="pnlSearchButton" class="col-md-2">
        <button class="btn btn-success" id="btnSearchResult" style="margin-top: -170px; margin-left: 550px; display:none">Search</button>
    </div>
</div>

<div id="pnlSearchResult" class="panel panel-default" style="display:none">
    <input type="hidden" id="FromDateHidden" />
    <input type="hidden" id="ToDateHidden" />
    <div class="panel-heading" role="tab" id="panelThree-headingOne">
        <h4 class="panel-title">
            <a aria-controls="panelThree-collapseOne" aria-expanded="true" href="#panelThree-collapseOne" data-tireoriginreport="#accordion" data-toggle="collapse" class="panel-arrow-expand">
                Collection/Generation of tires based on Groups Report
            </a>
            <a id="exportReport" class="export report-export" title="Export to CSV" @*href="@Url.Action("ExportToExcel", new {})"*@ ><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
    </div>
    <div style="" id="panelThree-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelThree-headingOne">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tblCollectionGenerationOfTiresBasedOnFSAReport" class="table table-hover display truncate datatable-100-perc">
                    <thead>
                        <tr>
                            <th>Pickup Rate Group</th>
                            <th>Collector Group</th>
                            <th>PLT</th>
                            <th>MT</th>
                            <th>AG/LS</th>
                            <th>IND</th>
                            <th>SOTR</th>
                            <th>MOTR</th>
                            <th>LOTR</th>
                            <th>GOTR</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <a id="viewmoreReport" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>        

@section Scripts{
    
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        Global = {};
        Global.ReportDetail = {
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Reports", new { area = "System" })',
        };
        Global.Settings = {
            //GetCollectionGenerationOfTiresBasedOnFSAReportURL: '@Url.Action("GetCollectionGenerationOfTiresBasedOnFSAReport", "Reports", new { area = "System" })',
            GetCollectionGenerationOfTiresBasedOnFSAReportURL: '@Url.Action("GetCollectionGenerationOfTiresBasedOnRateGroup", "Reports", new { area = "System" })',
            GetEmptyCollectionGenerationOfTiresBasedOnFSAReportURL: '@Url.Action("GetEmptyCollectionGenerationOfTiresBasedOnFSAReport", "Reports", new { area = "System" })',
            ReportExportUrl: '@Html.Raw(@Url.Action("ExportToExcelCollectionGenerationOfTiresBasedOnRateGroupReport", "Reports", new {
                             area = "System", FromDate = "FDT", ToDate = "TDT", sortColumn = "AAA", sortDirection = "BBB"
        }))',
        };

        var Module = function(options){
            var that = this;
            this.options = options;
        };
        Module.prototype = (function () {
            var that = this;
            var opts = {
                startDate: '#dbStartDate',
                endDate: '#dbEndDate',
                pnlStartDate: '#pnlStartDate',
                pnlEndDate: '#pnlEndDate',
                pnlRegistrationNumber: '#pnlRegistrationNumber',
                pnlRegionZoneSelection: '#pnlRegionZoneSelection', //OTSTM2-215
                pnlSearchButton: '#pnlSearchButton', //OTSTM2-215
                pnlSearchResult: '#pnlSearchResult', //OTSTM2-215
            };
            //_.extend(opts, options, opts);
            var init = function (reportId) {
                $(opts.startDate).datetimepicker({
                    minView: 2,
                    showOn: 'focus',
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    startDate: (($('#Id').val() == 4) ? new Date(2013, 03, 1) : ((($('#Id').val() == 7) || ($('#Id').val() == 24)) ? new Date(2009, 08, 1) : '')),//Steward Revenue & Supply - New Tire Types, available start from (2013, Apr, 1)
                    endDate: (($('#Id').val() == 7) ? new Date(2013, 02, 31) : ''),//Ideally it should allow the user to select the year from Sept 2009 to March 2013 OTSTM2-359 (Steward Revenue and Supply- Old Tires)
                });
                $(opts.endDate).datetimepicker({
                    minView: 2,
                    showOn: 'focus',
                    autoclose: true,
                    format: 'yyyy-mm-dd',
                    startDate: (($('#Id').val() == 4) ? new Date(2013, 03, 1) : ((($('#Id').val() == 7) || ($('#Id').val() == 24)) ? new Date(2009, 08, 1) : '')),
                    endDate: (($('#Id').val() == 7) ? new Date(2013, 02, 31) : ''),
                });
                var showFilter = false;
                //add report Ids that require these filters
                var dateRangeFilters = [4,5,7,15,17,18,19,22,20,24,28,29,30,31,32];
                if(dateRangeFilters.indexOf(reportId) > -1) {
                    $(opts.pnlStartDate).show();
                    $(opts.pnlEndDate).show();
                    showFilter = true;
                }
                else {
                    $(opts.pnlStartDate).hide();
                    $(opts.pnlEndDate).hide();
                }
                var regNumberFilters = [4,7,15,28,30,32];
                if(regNumberFilters.indexOf(reportId) > -1) {
                    $(opts.pnlRegistrationNumber).show();
                    showFilter = true;
                }
                else {
                    $(opts.pnlRegistrationNumber).hide();
                }

                //OTSTM2-215 begin
                var regionZoneSelectionFilters = [31];
                if(regionZoneSelectionFilters.indexOf(reportId) > -1) {
                    $(opts.pnlRegionZoneSelection).show();
                    $("#ReportPanel>br").remove();
                    $("#ReportPanel>hr").remove();
                    showFilter = true;
                }
                else {
                    $(opts.pnlRegionZoneSelection).hide();
                }

                var searchButtonFilters = [31];
                if(searchButtonFilters.indexOf(reportId) > -1) {
                    $("#btnSearchResult").css("display", "inline-block");
                    $(opts.pnlSearchButton).show();
                    showFilter = true;
                }
                else {
                    $(opts.pnlSearchButton).hide();
                }

                var searchResultFilters = [31];
                if(searchResultFilters.indexOf(reportId) > -1) {
                    $(opts.pnlSearchResult).show();
                    showFilter = true;
                }
                else {
                    $(opts.pnlSearchResult).hide();
                }

                var exportButtonFilters = [31];
                if (exportButtonFilters.indexOf(reportId) > -1) {
                    $("#btnExport").css("display","none");
                }
                else {
                    $("#btnExport").css("display","inline-block");
                }

                //OTSTM2-215 end

                if(showFilter) {
                    $(pnlFilter).show();
                }
                else {
                    $(pnlFilter).hide();
                }
            };
            return {
                init: init,
            };
        })();

        var reportId = @Model.Id;
        var module = new Module();
        module.init(reportId);
        //add report Ids that require Registration number
        if (reportId == 4 || reportId == 7 || reportId == 20 || reportId == 24|| reportId == 28|| reportId == 29) {
            $('#requiredRegNbrLabel').hide();
            $('#RegNumber').removeAttr('required');

            $('#StartDate').on('change',function(e){
                $('#requireStartdate').hide();
            });
            $('#EndDate').on('change',function(e){
                $('#requireEnddate').hide();
            });

            $('form').on('submit', function (e) {
                var StartDate = $('#StartDate').val();
                var EndDate = $('#EndDate').val();
                var returnval = true;
                if (StartDate == null || StartDate == "" || StartDate == undefined) {
                    $('#requireStartdate').show();
                    returnval = false;
                }
                if (EndDate == null || EndDate == "" || EndDate == undefined) {
                    $('#requireEnddate').show();
                    returnval = false;
                }
                return returnval;
            });
            $('#RegNumber').on('change',function(e){
                if(this.value.length > 0){
                    $.ajax({
                        url: Global.ReportDetail.GetVendorInfoServiceURL,
                        data: {vendorNumber : this.value},
                        success: function (data) {
                            if (data.data == 'FoundVendor') {
                                $('#vendorValidation').hide();
                                $('#btnExport').removeAttr('disabled');
                            }else{
                                $('#vendorValidation').show();
                                $('#btnExport').attr('disabled', 'disabled');
                            }
                        },
                        method: 'GET',
                        dataType: "JSON",
                    });
                }else{
                    $('#vendorValidation').hide();
                    $('#btnExport').removeAttr('disabled');
                };
            });
        }

        //OTSTM2-215 begin
        //Collection/Generation of tires based on FSA Report datatable
        var pageSize = 6;
        var table = $('#tblCollectionGenerationOfTiresBasedOnFSAReport').DataTable({
            info: false,
            processing: false,
            serverSide: false,
            deferRender: true,
            dom: "rtiS",
            scrollY: 250,
            scrollX: true,
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            scrollCollapse: false,
            createdRow: function (row, data, index) {
                if (data.Zone == '') {
                    $(row).addClass('font-be-bond');
                }
            },
            searching: true,
            ordering: true,
            order: [[0, "asc"]],

            scroller: {
                displayBuffer: 100,
                rowHeight: 70,
                serverWait: 100,
                loadingIndicator: false
            },
            columns: [
                     {
                         name: "Pickup Rate Group",
                         data: null,
                         //className: "content-center",
                         render: function (data, type, full, meta) {
                             //return "<span>" + data.Region + "</span>";
                             return "<span>" + data.PickupRateGroup + "</span>";
                         }
                     },
                     {
                         name: "Collector Group",
                         data: null,
                         //className: "content-center",
                         render: function (data, type, full, meta) {
                             //return "<a href=\"/System/Reports/CollectionGenerationOfTiresBasedOnFSAReportDetails?region=" + data.Region + "&zone=" + data.Zone + "&fromDate=" + $("#FromDateHidden").val() + "&toDate=" + $("#ToDateHidden").val() + "\" target=\"_blank\">" + data.Zone + "</a>";
                             return "<a href=\"/System/Reports/CollectionGenerationOfTiresBasedOnFSAReportDetails?pickupRateGroup=" + data.PickupRateGroup + "&collectorGroup=" + data.CollectorGroup + "&fromDate=" + data.EffectiveStartDate + "&toDate=" + data.EffectiveEndDate + "\" target=\"_blank\">" + data.CollectorGroup + "</a>";
                         }
                     },
                     {
                         name: "PLT",
                         data: null,
                         //className: "content-center",
                         orderable: false,
                         render: function (data, type, full, meta) {
                             return "<span>" + data.PLT + "</span>";
                         }
                     },
                     {
                         name: "MT",
                         data: null,
                         //className: "content-center",
                         orderable: false,
                         render: function (data, type, full, meta) {
                             return "<span>" + data.MT + "</span>";
                         }
                     },
                     {
                         name: "AG/LS",
                         data: null,
                         //className: "content-center",
                         orderable: false,
                         render: function (data, type, full, meta) {
                             return "<span>" + data.AGLS + "</span>";
                         }
                     },
                    {
                        name: "IND",
                        data: null,
                        //className: "content-center",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return "<span>" + data.IND + "</span>";
                        }
                    },
                    {
                        name: "SOTR",
                        data: null,
                        //className: "content-center",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return "<span>" + data.SOTR + "</span>";
                        }
                    },
                     {
                         name: "MOTR",
                         data: null,
                         //className: "content-center",
                         orderable: false,
                         render: function (data, type, full, meta) {
                             return "<span>" + data.MOTR + "</span>";
                         }
                     },
                     {
                         name: "LOTR",
                         data: null,
                         //className: "content-center",
                         orderable: false,
                         render: function (data, type, full, meta) {
                             return "<span>" + data.LOTR + "</span>";
                         }
                     },
                    {
                        name: "GOTR",
                        data: null,
                        //className: "content-center",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return "<span>" + data.GOTR + "</span>";
                        }
                    },
            ],
            initComplete: function (settings, json) {
                $('.dataTables_scrollBody').css('overflow-y', 'hidden');
            },
            drawCallback: function (settings) {
                var direction = settings.aaSorting[0][1];
                $('.sort').html('<i class="fa fa-sort"></i>');
                (direction == 'desc') ? $('.sorting_desc').find('.sort').html('<i class="fa fa-caret-down"></i>') : $('.sorting_asc').find('.sort').html('<i class="fa fa-caret-up"></i>');
                (settings.fnDisplayEnd() > pageSize) ? $('#viewmoreReport').css('visibility', 'visible') : $('#viewmoreReport').css('visibility', 'hidden');
                var sortColumn = settings.aoColumns[settings.aLastSort[0].col].sName;
                var url = Global.Settings.ReportExportUrl.replace('AAA', sortColumn).replace('BBB', direction).replace('FDT',$("#FromDateHidden").val()).replace('TDT',$("#ToDateHidden").val());
                $('#exportReport').attr('href', url);
            }
        });

        $('#viewmoreReport').on('click', function () {
            $('#tblCollectionGenerationOfTiresBasedOnFSAReport').parent().css({ 'overflow-x': 'hidden', 'overflow-y': 'scroll' });
            $("#tblCollectionGenerationOfTiresBasedOnFSAReport_wrapper").find(".dataTables_scrollHead").removeClass("dataTables_scrollHead").addClass("dataTables_scrollHead_after_vertical_scrollbar");
            $(this).hide();
        });

        $(window).resize(function(){
            $('#tblCollectionGenerationOfTiresBasedOnFSAReport').parent().css({ 'overflow-x': 'auto' });
        });

        //validation part
        $('#StartDate').on('change',function(e){
            $('#requireStartdate').hide();
            $('#dateValidation').hide();
            if (!($('#EndDate').val() == null || $('#EndDate').val() == "" || $('#EndDate').val() == undefined)) {
                $('#btnSearchResult').css('margin-top', '-170px');
            }
        });
        $('#EndDate').on('change',function(e){
            $('#requireEnddate').hide();
            $('#dateValidation').hide();
            if (!($('#StartDate').val() == null || $('#StartDate').val() == "" || $('#StartDate').val() == undefined)) {
                $('#btnSearchResult').css('margin-top', '-170px');
            }
        });
        
        //click search, ajax call to load datatable
        $("#btnSearchResult").on('click', function(e){

            //validation part
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var returnval = true;

            if (StartDate > EndDate) {
                $('#dateValidation').show();
                $('#btnSearchResult').css('margin-top', '-218px');
                returnval = false;
            }

            if (StartDate == null || StartDate == "" || StartDate == undefined) {
                $('#requireStartdate').show();
                $('#btnSearchResult').css('margin-top', '-218px');
                returnval = false;
            }

            if (EndDate == null || EndDate == "" || EndDate == undefined) {
                $('#requireEnddate').show();
                $('#btnSearchResult').css('margin-top', '-218px');
                returnval = false;
            }
            if (!returnval) {
                return returnval;
            }

            $("#FromDateHidden").val($('#StartDate').val());
            $("#ToDateHidden").val($('#EndDate').val());

            $.ajax({
                url: Global.Settings.GetCollectionGenerationOfTiresBasedOnFSAReportURL,
                data:
                    {
                        FromDate: $('#StartDate').val(),
                        ToDate: $('#EndDate').val(),
                    },
                method:'POST',
                dataType: "JSON",
                success: function (result) {
                    table.clear().draw();
                    table.rows.add(result).draw();
                }
            });
        });

        //OTSTM2-215 end

    </script>  

}
