﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel

@{
    var SubmittedDate = Convert.ToDateTime(Model.SubmittedDate).ToShortDateString();
    var PayReceiptDate = Convert.ToDateTime(Model.PayReceiptDate).ToShortDateString();

    var TSFNegAdjSwitchDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value);
    Decimal creditSum = 0;
    if (Model.LineItems != null)
    {
        creditSum = Model.LineItems.Where(c => c.CreditTSFDue > 0).Sum(c => c.CreditTSFDue);
    }
    decimal internalPaymentAdjustment = Model.InternalPaymentAdjustment ?? 0; //OTSTM2-485
    decimal subTotal = (Model.TotalRemittancePayable ?? 0) - creditSum + internalPaymentAdjustment; //OTSTM2-485
    decimal total = subTotal + (decimal)(Model.Penalties??0) + (decimal)(Model.ApplicableTaxesHst??0);
}

<input type="hidden" id="hdTotalRemittancePayable" value="@Model.TotalRemittancePayable" />

<div class="panel-heading" role="tab" id="panelOne-headingOne">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panelOne-collapseStatus" aria-expanded="true" aria-controls="panelOne-collapseStatus" class="panel-arrow-expand">
            Payments
        </a>
        <a id="exportPayments" class="export payment-export" title="Export to CSV" href=''><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
</div>
<div style="" id="panelOne-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOne-headingOne">
    <div class="panel-body" style="padding-top:0;margin-top:0;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="text-align:right">Payment ($)</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tire Counts</td>
                            <td class="textinput-nofield txt-r">@String.Format("{0:#,###,##0.00}", Model.TotalRemittancePayable)</td>
                            <td class="text-r">+</td>
                        </tr>
                        @if (Model.PeriodDate >= TSFNegAdjSwitchDate)
                        {
                            if (creditSum > 0)
                            {
                                <tr style="color:red">
                                    <td>Credit</td>
                                    <td class="textinput-nofield txt-r" id="tdCredit">
                                        <span id="spnCredit">@String.Format("{0} {1:#,###,##0.00}", "-", creditSum)</span>
                                    </td>
                                    <td class="text-r">
                                        +
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Credit</td>
                                    <td class="textinput-nofield txt-r" id="tdCredit">
                                        <span id="spnCredit">@String.Format("{0:#,###,##0.00}", creditSum)</span>
                                    </td>
                                    <td class="text-r">
                                        +
                                    </td>
                                </tr>
                            }
                          
                        }
                        <tr>
                            <td>Payment Adjustments</td>
                            <td class="textinput-nofield txt-r" id="tdPaymentAdjustment">
                                <span id="spnTotal">@String.Format("{0:#,###,##0.00}", internalPaymentAdjustment)</span>
                            </td>                     
                            <td class="text-r">
                                =
                            </td>
                        </tr>
                        <tr>
                            <td>Subtotal</td>
                            <td class="textinput-nofield txt-r" id="tbSubtotal">
                                <span id="spnCredit" class="spn-credit">@String.Format("{0:#,###,##0.00} ", subTotal)</span>
                            </td>
                            <td class="text-r">+</td>
                        </tr>
                        <tr>
                            <td>HST</td>
                            <td class="textinput-nofield txt-r">@(Model.IsTaxApplicable ? @String.Format("{0:#,###,##0.00}", Model.ApplicableTaxesHst) : "N/A")</td>
                            <td class="text-r" style="width:120px;">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(m => m.IsTaxApplicable, new { @class = "cbSomething ", id = "IsTaxApplicable", @disabled = "disabled" })
                                    Apply +
                                </label>                               
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Penalties
                                @{ if (!string.IsNullOrEmpty(Model.PenaltyTooltipText))
                                    {
                                        <i id="penalties-popover" class="fa fa-question-circle color-tm-gray popoverPenalties" data-placement="bottom-right" title="" data-popovertext="@Model.PenaltyTooltipText"></i>
                                    }
                                }
                            </td>
                            <td class="textinput-nofield txt-r">@String.Format("{0:#,###,##0.00}", Model.Penalties)</td>
                            <td class="text-r" style="width:120px;">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(m => m.IsPenaltyOverride, new { @class = "cbSomething ", id = "IsPenaltyOverride", @disabled = "disabled" })
                                    Override =
                                </label>                              
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total (TSF DUE)</strong></td>
                            <td class="textinput-nofield txt-r" id="tdPaymentAdjustment">
                                <strong>
                                    <span id="spnTotal">@String.Format("{0:#,###,##0.00}", total)</span>
                                </strong>
                            </td>
                            <td class="text-r">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="table table-hover" id="tblstaff">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Submitted</td>
                            @if (Model.SubmittedDate == null)
                            {
                                <td class="textinput-nofield txt-r"></td>
                            }
                            else
                            {
                                <td class="textinput-nofield txt-r">@SubmittedDate</td>

                            }

                        </tr>
                        <tr>
                            <td>Payment Received</td>
                            @if (Model.PayReceiptDate == null)
                            {
                                <td class="textinput-nofield txt-r" id="PayReceiptDate"></td>
                            }
                            else
                            {
                                <td class="textinput-nofield txt-r" id="PayReceiptDate">@PayReceiptDate</td>

                            }
                        </tr>
                        <tr>
                            <td>Payment Type</td>
                            <td class="textinput-nofield txt-r">
                                <input type="radio" name="paymentTypeGroup" value="C" @( string.Equals(Model.PaymentType, "C", StringComparison.OrdinalIgnoreCase) ? "checked" : "") /> Cheque
                                <input type="radio" name="paymentTypeGroup" value="E" @( string.Equals(Model.PaymentType, "E", StringComparison.OrdinalIgnoreCase) ? "checked" : "") /> EFT
                                <input type="radio" name="paymentTypeGroup" value="O" @( string.Equals(Model.PaymentType, "O", StringComparison.OrdinalIgnoreCase) ? "checked" : "") /> Online
                            </td>
                        </tr>
                        <tr>
                            <td>Cheque/EFT #</td>
                            <td class="textinput-nofield txt-r" id="ChequeReferenceNumber">@Model.ChequeReferenceNumber</td>
                        </tr>
                        <tr>
                            <td>Payment ($)</td>
                            <td class="textinput-nofield txt-r" id="totamount">

                                <p> @String.Format("{0:#,###,##0.00}", Model.PaymentAmount)</p>

                            </td>
                        </tr>
                        <tr>
                            <td>Balance Due ($)</td>

                            <td class="txt-r" id="totbalance">

                                @if (Model.BalanceDue != null)
                                {
                                    <p>
                                        <strong>
                                            <span id="spnBalDue" style="font-weight:normal">@(Model.BalanceDue.Value.ToString("#,###,##0.00"))</span>
                                        </strong>

                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <strong>
                                            <span id="spnBalDue" style="font-weight:normal">0.00</span>
                                        </strong>

                                    </p>

                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--/.row-->
    </div>
</div>
