﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common.Enum

@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common
@{
    //string appID = ViewData["ApplicationID"].ToString();
    string isDisabled = ((bool)(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceStatus) == CL.TMS.Security.SecurityResultType.EditSave)) ? string.Empty : "disabled";

    //OTSTM2-921
    bool isPeriodDisplay = Model.Status == ClaimStatus.Unknown;

}<!-- /Component -->
<!-- Component: Status -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default" @*style="@(isPeriodDisplay ? "margin-top: 20px" : "margin-top: 70px")"*@>
            <div class="panel-heading" role="tab" id="panelClaimStatus-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#panelClaimStatus-collapseStatus" aria-expanded="true" aria-controls="panelClaimStatus-collapseStatus" class="panel-arrow-expand">
                        Status
                    </a>
                    <a id="exportStatus" class="export status-export" title="Export to CSV" href=''><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
                </h4>
            </div>
            <div id="panelClaimStatus-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelClaimStatus-headingOne">
                <div class="panel-body" style="padding-top:0;margin-top:0;">
                    <div class="row margin-top-10">
                        <div class="col-sm-12">
                            <table class="table table-hover" style="margin-bottom:5px;">
                                <thead>
                                    <tr>
                                        <th>Submitted</th>
                                        <th>Assigned</th>
                                        <th>Started</th>
                                        <th>Cheque Due</th>
                                        <th>Approved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @if (Model.Submitted != null)
                                        {
                                        <td><p class="form-control-static">@(Model.Submitted.HasValue ? Model.Submitted.Value.ToLocalTime().ToString("yyyy-MM-dd") : "")</p></td>
                                        <td><p class="form-control-static">@(Model.Assigned != null ? Model.Assigned.Value.ToLocalTime().ToString("yyyy-MM-dd") : "")</p></td>
                                        <td><p class="form-control-static">@(Model.StartedDate != null ? Model.StartedDate.Value.ToLocalTime().ToString("yyyy-MM-dd") : "")</p></td>
                                            if (Model.LineItems == null || Model.LineItems.Count == 0)
                                            {
                                        <td><p class="form-control-static"></p></td>
                                            }
                                            else
                                            {
                                        <td><p class="form-control-static">@(Model.PeriodDate != null ? Model.PeriodDate.Value.AddMonths(2).ToLocalTime().ToString("yyyy-MM-dd") : "")</p></td>
                                            }
                                            if (Model.Status.ToString() == "Approved")
                                            {
                                        <td><p class="form-control-static">@(Model.ApprovedDate != null ? Model.ApprovedDate.Value.ToLocalTime().ToString("yyyy-MM-dd") : "")</p></td>
                                            }
                                        }
                                        else //OTSTM2-1110, add an empty row to make sure the "Delete" button's location
                                        {
                                            <td><p class="form-control-static"></p></td>
                                            <td><p class="form-control-static"></p></td>
                                            <td><p class="form-control-static"></p></td>
                                            <td><p class="form-control-static"></p></td>
                                            <td><p class="form-control-static"></p></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row--> 
                    @*OTSTM2-1110 comment out for dummy function*@
                    @*<div class="row">
                        <div class="col-sm-6">
                            <table class="table table-hover" width="100%" height="100%">
                                <thead>
                                    <tr>
                                        <th class="txt-c" colspan="2">Hold</th>
                                        <th class="txt-c">On-hold</th>
                                        <th class="txt-c">Off-hold</th>
                                        <th class="txt-c">On-hold (Days)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="txt-r">Audit</td>
                                        <td>
                                            <div class="btn-group btn-toggle">
                                                <label class="btn btn-xs btn-default cursor-default" id="lblAudit">Off</label>
                                            </div>
                                        </td>
                                        <td class="txt-c"></td>
                                        <td class="txt-c"></td>
                                        <td class="txt-c"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6" style="text-align:right;">
                        </div>
                    </div>*@<!--/.row-->                
                    <div class="row">
                        <div class="col-sm-12 txt-r">
                            @if (@Model.ID != 0 && @Model.RecordState != "Approved")
                            {
                                <button id="btnDelete" type="button" class="btn color-tm-red-bg" data-toggle="modal" data-target="#modalDelete" @isDisabled style="display: none">
                                    <i class="fa fa-trash-o"></i> Delete
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.panel-->
    </div>
</div><!--/.row-->
<!-- /Component -->
