﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Common.Enum

<style>
    .hidetr {
        display: none !important;
    }
</style>
<input type="hidden" id="hdnID" />
<input type="hidden" id="PeriodDate" name="PeriodDate" value="@Model.PeriodDate" />
<div class="panel-heading" role="tab" id="panelThree-headingOne">
    <h4 class="panel-title">
        <a aria-controls="panelThree-collapseOne" aria-expanded="true" href="#panelThree-collapseOne" data-tireoriginreport="#accordion" data-toggle="collapse" class="panel-arrow-expand">
            Tire Counts           
        </a>
        <a id="tireCountsExport" class="export" title="Export to CSV" href=''><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
    </h4>
</div>
<div style="" id="panelThree-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelThree-headingOne">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="TireCountsTable">
                    <thead>
                        <tr>
                            @if (Model.SRemitsPerYears == false && Model.PeriodDate >= Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFMonthYearSelectionDate").Value) && (Convert.ToDateTime(Model.PeriodDate).Month == 6 || Convert.ToDateTime(Model.PeriodDate).Month == 12))
                            {
                                <th width="15%">Month/Year</th>
                            }
                            <th width="24%">
                                Class/Category
                                <i class="fa fa-question-circle color-tm-gray popoverClassCategory" data-placement="auto" title="Class/Category"></i>
                                <div id="popoverClassCategory" style="display:none;">
                                    <p>For a list of fees, if applicable, please visit our website at <a href="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value" target="_blank">@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value</a> or call us at @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Phone").Value.</p>
                                </div>
                            </th>
                            <th class="txt-r" width="10%">Qty.</th>
                            @if (Model.PeriodDate < Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value))
                            {
                                <th class="txt-r" width="10%">Negative Adj.</th>
                                <th class="txt-r" width="10%">Net</th>
                            }
                            <th class="txt-r" width="10%">Rate ($)</th>
                            <th class="txt-r" width="12%">Total ($)</th>
                            <th class="txt-r" width="11%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr id="Add">
                            @if (Model.SRemitsPerYears == false && Model.PeriodDate >= Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFMonthYearSelectionDate").Value) && (Convert.ToDateTime(Model.PeriodDate).Month == 6 || Convert.ToDateTime(Model.PeriodDate).Month == 12))
                            {
                                <td width="15%">
                                    <div class="dropdown">
                                        @Html.DropDownListFor(m => m.TSFRemittance.TSFRateDate, Model.TSFRateDateList, "Select Month/Year", new { @class = "form-control TSFRateDate", @readonly = "readonly" })
                                    </div>
                                </td>
                            }
                            <td width="24%">
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.TSFRemittance.CategoryId, Model.Tires, "Select Class/Category", new { @class = "form-control CategoryId", @readonly = "readonly" })
                                </div>
                            </td>
                            <td class="txt-r" width="10%">

                                @Html.TextBoxFor(m => m.TSFRemittance.Quantity, new { @class = "form-control txt-r Calculation", maxlength = "6", @readonly = "readonly" })

                            </td>
                            @if (Model.PeriodDate < Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value))
                            {
                                <td class="txt-r" width="10%">
                                    @Html.TextBoxFor(m => m.TSFRemittance.NegativeAdjustment, new { @class = "form-control txt-r Calculation", maxlength = "6", @readonly = "readonly" })
                                </td>
                                <td class="txt-r" style="display:none" width="10%">@Html.TextBoxFor(m => m.TSFRemittance.Net, new { @class = "form-control txt-r Calculation", maxlength = "10", @readonly = "readonly" })</td>
                            }
                            <td class="txt-r" style="display:none" width="10%">@Html.TextBoxFor(m => m.TSFRemittance.Rate, new { @class = "form-control txt-r Calculation", maxlength = "10", @readonly = "readonly" })</td>
                            <td class="txt-r" style="display:none" width="12%">@Html.TextBoxFor(m => m.TSFRemittance.Total, new { @class = "form-control txt-r Calculation", maxlength = "10", @readonly = "readonly" })</td>
                            @if (Model.PeriodDate < Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value))
                            {
                                <td class="txt-r" width="10%">@Html.LabelFor(m => m.TSFRemittance.Net, new { id = "td_Net", @style = "font-weight:normal" })</td>
                            }
                            <td class="txt-r" width="10%">@Html.LabelFor(m => m.TSFRemittance.Rate, new { id = "td_Rate", @style = "font-weight:normal" })</td>
                            <td class="txt-r" width="12%">@Html.LabelFor(m => m.TSFRemittance.Total, new { id = "td_Total", @style = "font-weight:normal" })</td>
                            <td width="57%" id="tdAdd" style="display:block;margin-left: 20px;" class="txt-r"><button class="btn btn-md btn-success btn-add" id="btnAdd" type="submit" title="Add Tire Count" disabled>+</button></td>
                            <td width="57%" id="tdedit" style="display:none;margin-left: 20px;">
                                <button type="button" onclick="CloseEdit()" class="btn btn-danger btn-block"><i class="fa fa-remove"></i></button>
                                <button type="submit" id="btnupdate" class="btn btn-success btn-block"><i class="fa fa-check"></i></button>
                            </td>

                        </tr>
                        @if (Model.PeriodDate < Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value))
                        {
                            <tr id="tdnegativeAdj" class="negativeAdj" style="display:none;">
                                <td style="border-top:none;text-align:right;" colspan="2"> </td>
                                <td style="border-top:none;" colspan="5">
                                    <div style="margin-top:-16px;margin-left:30px" class="dropdown">
                                        @Html.DropDownListFor(m => m.TSFRemittance.AdjustmentReasonType, Model.AdjustmentReasonTypeList, "Select Reason", new { @class = "btn btn-default dropdown-toggle adj-reason-font" })
                                    </div>
                                    <div class="reasonDesc" style="display:none;">
                                        @Html.TextBoxFor(m => m.TSFRemittance.OtherDesc, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
                                        <strong><i>Due to negative adjustments, please supply supporting documenation.</i></strong>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table id="tblTireCount" class="table table-hover" style="margin-top:-10px;">
                    <tbody>
                        @if (Model.LineItems != null)
                        {
                            foreach (var lItm in Model.LineItems.OrderBy(x => x.CategoryId).ToList())
                            {
                                if (lItm.Quantity > 0)
                                {
                                    string toolTipText = string.Empty;
                                    var selectedText = Model.AdjustmentReasonTypeList.FirstOrDefault(x => x.Value == lItm.AdjustmentReasonType.ToString());
                                    if (selectedText != null)
                                    {
                                        if (selectedText.Text.ToLower() == "other")
                                        {
                                            toolTipText = lItm.OtherDesc;
                                        }
                                        else
                                        {
                                            toolTipText = selectedText.Text;
                                        }
                                    }
                                    <tr>
                                        @if (Model.SRemitsPerYears == false && Model.PeriodDate >= Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFMonthYearSelectionDate").Value) && (Convert.ToDateTime(Model.PeriodDate).Month == 6 || Convert.ToDateTime(Model.PeriodDate).Month == 12))
                                        {
                                            <td width="15%" id="@lItm.TSFRateDateShortName">@lItm.TSFRateDateShortName</td>
                                        }
                                        <td width="24%" id="@lItm.CategoryId">@lItm.Category</td>
                                        <td class="txt-r" width="10%">@lItm.Quantity</td>
                                        @if (Model.PeriodDate < Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value))
                                        {
                                            <td class="txt-r" width="10%">
                                                @if (lItm.NegativeAdjustment > 0)
                                                {
                                                    <label class="position-absolute" style="margin-left:5px; font-weight:normal" data-toggle="tooltip" data-placement="right" title="" data-original-title="@toolTipText">
                                                        <span class="negAdj">@(String.Format("{0} {1}", "-", lItm.NegativeAdjustment))</span>
                                                        <i class="fa fa-comment color-tm-grey"></i>
                                                    </label>
                                                }
                                                else
                                                {
                                                    <span class="negAdj">
                                                        @lItm.NegativeAdjustment
                                                    </span>
                                                }
                                            </td>
                                            <td class="txt-r" width="10%">@lItm.Net</td>
                                        }
                                        <td class="txt-r" width="10%">@lItm.Rate.ToString("#,###,##0.00")</td>
                                        <td class="txt-r" width="12%">@lItm.Total.ToString("#,###,##0.00")</td>
                                        <td class="td-center" width="11%">
                                            <div class="btn-group dropdown-menu-actions" id="editCategory">
                                                @if (ViewBag.AllowEdit)
                                                {
                                                    <a class="edit-remove-menu" data-toggle="dropdown" href="#">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">

                                                        <li><a class="edit" href="" id=@lItm.DetailID><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a></li>
                                                        <li class="@lItm.CategoryId">
                                                            <a class="delete" href="" id=@lItm.DetailID data-toggle="modal">
                                                                <i class="glyphicon fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div><!--/.row-->
    </div>
</div>
