        <div class="sidebar">
          <ul class="nav nav-sidebar">
            <li class="menu-item search">
              <i id="collapsed-search-icon" class="glyphicon glyphicon-search"></i>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="glyphicon glyphicon-folder-open"></i><span class="title">Claims</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="glyphicon glyphicon-random"></i><span class="title">Transactions</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="participants-users.html">
                <i class="glyphicon glyphicon-user"></i><span class="title">Users</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="glyphicon glyphicon-credit-card"></i><span class="title">Application</span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#">
                <i class="fa fa-sign-out"></i><span class="title">Logout</span>
              </a>
            </li>
          </ul>
        </div><!--/.sidebar-->