﻿@model IEnumerable<CL.TMS.DataContracts.ViewModel.System.ApplicationViewModel>
@using CL.TMS.Security
@using CL.TMS.Security.Authorization
@using CL.TMS.Common

@{
    ViewBag.Title = UIResource.Applications;
    Layout = "~/Views/Shared/_Layout.cshtml";

    SecurityResultType ApplicationsAllApplicationsRegistrants = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsAllApplicationsRegistrants);
    SecurityResultType ApplicationsAllApplicationsBankingActions = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsAllApplicationsBankingActions);
    SecurityResultType ApplicationsAllApplicationsAssignment = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsAllApplicationsAssignment);

    bool bShowBankAction = (ApplicationsAllApplicationsRegistrants >= SecurityResultType.ReadOnly) && (ApplicationsAllApplicationsBankingActions >= SecurityResultType.ReadOnly);
    bool bEditBankinfo = (ApplicationsAllApplicationsRegistrants >= SecurityResultType.ReadOnly) && (ApplicationsAllApplicationsBankingActions == SecurityResultType.EditSave);
    ViewBag.bEditBankinfo = bEditBankinfo;
    bool viewBankInfo= ApplicationsAllApplicationsRegistrants >= SecurityResultType.ReadOnly && ApplicationsAllApplicationsBankingActions == SecurityResultType.ReadOnly;
    ViewBag.viewBankinfo = viewBankInfo;

    bool StewardRouting = SecurityContextHelper.StewardApplicationsWorkflow != null ? SecurityContextHelper.StewardApplicationsWorkflow.Routing : false;
    bool StewardActionGear = SecurityContextHelper.StewardApplicationsWorkflow != null ? SecurityContextHelper.StewardApplicationsWorkflow.ActionGear : false;
    bool CollectorRouting = SecurityContextHelper.CollectorApplicationsWorkflow != null ? SecurityContextHelper.CollectorApplicationsWorkflow.Routing : false;
    bool CollectorActionGear = SecurityContextHelper.CollectorApplicationsWorkflow != null ? SecurityContextHelper.CollectorApplicationsWorkflow.ActionGear : false;
    bool HaulerRouting = SecurityContextHelper.HaulerApplicationsWorkflow != null ? SecurityContextHelper.HaulerApplicationsWorkflow.Routing : false;
    bool HaulerActionGear = SecurityContextHelper.HaulerApplicationsWorkflow != null ? SecurityContextHelper.HaulerApplicationsWorkflow.ActionGear : false;
    bool ProcessorRouting = SecurityContextHelper.ProcessorApplicationsWorkflow != null ? SecurityContextHelper.ProcessorApplicationsWorkflow.Routing : false;
    bool ProcessorActionGear = SecurityContextHelper.ProcessorApplicationsWorkflow != null ? SecurityContextHelper.ProcessorApplicationsWorkflow.ActionGear : false;
    bool RPMRouting = SecurityContextHelper.RPMApplicationsWorkflow != null ? SecurityContextHelper.RPMApplicationsWorkflow.Routing : false;
    bool RPMActionGear = SecurityContextHelper.RPMApplicationsWorkflow != null ? SecurityContextHelper.RPMApplicationsWorkflow.ActionGear : false;

    string sDisableAssignToMeBtn = (ApplicationsAllApplicationsAssignment == SecurityResultType.ReadOnly) ? "disabled" : string.Empty;
    if (!((CollectorRouting) || (HaulerRouting) || (ProcessorRouting) || (RPMRouting) || (StewardRouting)))
    {
        sDisableAssignToMeBtn = "disabled";
    }
    bool showApplicationActionGear = (ApplicationsAllApplicationsAssignment == SecurityResultType.EditSave);

}

@section styles {
    @*@Styles.Render("~/css/datatable-tm")*@
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        /*OTSTM2-982 keep panel search textbox visible all the time*/
        #SearchApplications, #SearchRegistrant{
            visibility:visible;
            width: 190px;       
        }   
    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDashBoard" }))
{
    <div id="mainApp" ng-controller="DashboardCtrl">
        <input id="selectedName" name="" type="hidden" value="" />
        <input id="selectedApplicationToken" name="" type="hidden" value="" />
        <input id="selectedApplicationID" name="" type="hidden" value="" />
        <input id="assgnToMeApplicationToken" name="" type="hidden" value="" />
       
        <input id="assgnToMeApplicationID" name="" type="hidden" value="" />
        <input id="selectedUsername" name="" type="hidden" value="" />
        <input id="assignVendorType" name="" type="hidden" value="" />
        <input id="selectedUserID" name="" type="hidden" value="" />
        <input id="assignActionURL" name="" type="hidden" value="" />
        <input id="unAssignActionURL" name="" type="hidden" value="" />

       
        <div class="panel-container-application">
            <div class="tm-all participants-all-claims" style="margin-top: 1px; ">
                <!-- Component: Transactions Header -->
                <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header" style="margin-bottom 1px; ">
                    <div class="col-xs-7 col-sm-6">
                        <h2 style="margin-bottom: 5px;" class="fixed-claim-header-title">Applications</h2>
                    </div>
                    <div class="col-xs-5 col-sm-6">
                    </div>
                </div>
                <!-- /Component -->
                @if ((ApplicationsAllApplicationsAssignment >= SecurityResultType.ReadOnly) || (ApplicationsAllApplicationsRegistrants >= SecurityResultType.ReadOnly))
                {
                    if (ApplicationsAllApplicationsAssignment >= SecurityResultType.ReadOnly)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="panelApplications-headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#panelApplications-collapseOne" aria-expanded="true" aria-controls="panelApplications-collapseOne" class="panel-arrow-expand">
                                        Assignment<i id="exportApplicationToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                                    </a>
                                </h4>
                                <div class="col-xs-6 subcomp-search">
                                    <input id="SearchApplications" type="text" class="form-control" placeholder="Search">
                                    <div id="txtFoundApplications" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                                    <i id="glyphicon-remove-App" class="glyphicon glyphicon-remove remove-icon"></i>
                                    <i id="glyphicon-search-App" class="glyphicon glyphicon-search"></i>
                                    <br />
                                </div>
                            </div>
                            <div id="panelApplications-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelApplications-headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="tblApplicationlist" class="table table-hover datatable-100-perc" style="cursor:pointer;">
                                                @*style="white-space: nowrap">*@
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Type</th>
                                                        <th>Email Address</th>
                                                        <th>@UIResource.CommonCompany</th>
                                                        <th>Contact</th>
                                                        <th>@UIResource.Status</th>
                                                        <th>Assigned To</th>
                                                        <th>Actions</th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot class="column-search">
                                                    @*OTSTM2-982*@
                                                    <tr>
                                                        <th class="search-filter">Date</th>
                                                        <th class="search-filter">Type</th>
                                                        <th class="search-filter">Email Address</th>
                                                        <th class="search-filter">@UIResource.CommonCompany</th>
                                                        <th class="search-filter">Contact</th>
                                                        <th class="search-filter">@UIResource.Status</th>
                                                        <th class="search-filter">Assigned To</th>
                                                        <th></th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />
                                            <a href="#" style="width:30px" id="ApplicationsViewMore" class="viewmore">@UIResource.More</a>
                                            <br />
                                            @if (ApplicationsAllApplicationsAssignment >= SecurityResultType.ReadOnly)
                                            {
                                                <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
                                                    <button id="btnAssignToMe" class="btn btn-success" data-status="Assigned" data-target="#modalAssingToMe" data-toggle="modal" type="button" @sDisableAssignToMeBtn>
                                                        Assign to Me
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (ApplicationsAllApplicationsRegistrants >= SecurityResultType.ReadOnly)
                    {
                        <div id="DashboardRegistrant" class="panel panel-default" style="margin-bottom : 1px; ">
                            <div class="panel-heading" role="tab" id="panelRegistrant-headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#panelRegistrant-collapseOne" aria-expanded="true" aria-controls="panelRegistrant-collapseOne" class="panel-arrow-expand">
                                        Registrants<i id="exportRegistrantToExcel" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                                    </a>                                  
                                </h4>
                                <div class="col-xs-6 subcomp-search">
                                    <input id="SearchRegistrant" type="text" class="form-control" placeholder="Search">
                                    <div id="txtFoundRegistrant" class="subcomp-search-found" style="white-space: nowrap">&nbsp;</div>
                                    <i id="glyphicon-remove-Reg" class="glyphicon glyphicon-remove remove-icon"></i>
                                    <i id="glyphicon-search-Reg" class="glyphicon glyphicon-search"></i>
                                    <br />

                                </div>
                            </div>
                            <div id="panelRegistrant-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelRegistrant-headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="tblRegistrantlist" class="table table-hover datatable-100-perc" style="cursor:pointer;">                                             
                                                <thead>
                                                    <tr>
                                                        <th>Reg #</th>
                                                        <th>Company</th>
                                                        <th>Contact</th>
                                                        <th>Approved Date</th>
                                                        <th>Status</th>
                                                        <th>Bank Status</th>
                                                        <th>Bank Actions</th>
                                                        <th>bankId</th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot class="column-search">
                                                    @*OTSTM2-931*@
                                                    <tr>
                                                        <th class="search-filter">Reg #</th>
                                                        <th class="search-filter">Company</th>
                                                        <th class="search-filter">Contact</th>
                                                        <th class="search-filter">Approved Date</th>
                                                        <th class="search-filter">Status</th>
                                                        <th class="search-filter">Bank Status</th>
                                                        <th></th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                        <th class="display-none"></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <br />
                                            <a href="#" style="width:30px" id="RegistrantViewMore" class="viewmore">@UIResource.More</a>
                                            <label id="ajaxstatus" class="text-danger"> </label>
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#panelAllClaims" aria-expanded="true" aria-controls="panelAllClaims" class="panel-arrow-expand">
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    Response.Redirect("/System/Common/UnauthorizedPage");
                }
                <!--/.panel-->
            </div>
        </div>

        <!-- Modal: Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 txt-c">
                                <h4 class="margin-top-30">Are you sure you want to <strong>assign</strong> application for<br> <strong><label id="assignCompanyName1" class="assignCompanyName text-danger"></label></strong>?</h4>
                            </div>
                        </div>
                        <div class="row margin-top-10 margin-bottom-20">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group form-group-select2">
                                    <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                    <select id="listOfStaffAssign" class="listOfStaff form-control"> </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="Btn-Assign" class="btn btn-success btn-lg" data-assignuser="" data-assignusername="" data-status="Assigned" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Re-Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalReAssign" tabindex="-1" role="dialog" aria-labelledby="modalReAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 txt-c">
                                <h4 class="margin-top-30">Are you sure you want to <strong>re-assign</strong> application for<br> <strong><label id="assignCompanyName2" class="assignCompanyName text-danger"></label></strong>?</h4>
                            </div>
                        </div>
                        <div class="row margin-top-10 margin-bottom-20">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group form-group-select2">
                                    <label style="font-weight:normal;" class="margin-bottom-20">Choose a staff member:</label>
                                    <select id="listOfStaffRe-Assign" class="listOfStaff form-control"> </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="Btn-Re-Assign" class="btn btn-success btn-lg" data-assignuser="" data-assignusername="" data-status="Assigned" data-dismiss="modal" data-toggle="modal" data-target="#modalAssignOk">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Un-Assign  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalUnAssign" tabindex="-1" role="dialog" aria-labelledby="modalUnAssign" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalUnAssign" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to <strong>un-assign</strong> application for<br> <strong><label id="assignCompanyName3" class="assignCompanyName text-danger"></label></strong> from <strong><label id="unassignUserName" class="unAssignUserName text-danger"></label></strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="Btn-Un-Assign" class="btn btn-success btn-lg" data-assignuser="-1" data-assignusername="" data-status="Submitted" data-dismiss="modal" data-toggle="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: Assign to Me  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAssingToMe" tabindex="-1" role="dialog" aria-labelledby="modalAssingToMe" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="assignToMeTitle" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c" id="SuccessAssignToMe">A new application from <strong><label id="assignToMeCompanyName" class="text-danger"></label></strong> has been assigned to you.</h4>
                            <h4 class="txt-c" id="NoDataassignToMe">There is no eligible application to assign to you at this time.</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="BtnAssignToMeOK" type="button" class="btn btn-success btn-lg" data-status="Assigned" data-dismiss="modal" data-toggle="modal">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal: 'Re-send Invitation Email'  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalResendInvitation" tabindex="-1" role="dialog" aria-labelledby="modalResendInvitation" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalResendInvitation" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to <strong>Re-send</strong> application invitation Email for<br> <strong><label id="assignCompanyName3" class="assignCompanyName text-danger"></label></strong> ?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="Btn-Re-Send" class="btn btn-success btn-lg" data-assignuser="-1" data-assignusername="" data-status="Open" data-dismiss="modal" data-toggle="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        @Html.Partial("_BankInfoTemplate", new CL.TMS.DataContracts.ViewModel.Common.BankingInformationRegistrationModel { ID = 1, RegistrationNumber = string.Empty })
    </div>
}

@section Scripts{

    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.DashBoard = {
            Resources: {
                FirstNameRequired: '@ViewBag.FirstNameRequired',
                LastNameRequired: '@ViewBag.LastNameRequired'
            },
            ViewOption: {
                showApplicationActionGear: JSON.parse('@showApplicationActionGear.ToString().ToLower()'),
                bShowBankAction: JSON.parse('@bShowBankAction.ToString().ToLower()'),
                bEditBankinfo: JSON.parse('@bEditBankinfo.ToString().ToLower()'),
                bBoundEvent: true,
                viewBankinfo: JSON.parse('@viewBankInfo.ToString().ToLower()'),
            },
            ApplicationExportUrl: '@Url.Action("ExportToExcelForApplications", "DashBoard", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB" ,
                           searchTextDate ="-st-date", searchTextType="-st-type", searchTextEmailAddress = "-st-emailaddress", searchTextCompany="-st-company", searchTextContact="-st-contact",
                           searchTextStatus="-st-status", searchTextAssignedTo="-st-assignedto"})', //OTSTM2-982
            RegistrantExportUrl: '@Url.Action("ExportToExcelForRegistrants", "DashBoard", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                                 searchTextReg = "-st-reg", searchTextCompany = "-st-company", searchTextContact = "-st-contact", searchTextApprovedDate = "-st-approveddate",
                                searchTextStatus = "-st-status", searchTextBankStatus = "-st-bankstatus"})', //OTSTM2-931
            AssignToMeUrl: '@ViewBag.assignToMeUrl',
            AccessPermission: {
                StewardApplication: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplication)',
                CollectorApplication: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsCollectorApplication)',
                HaulerApplication: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplication)',
                ProcessorApplication: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsProcessorApplication)',
                RPMApplication: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsRPMApplication)',
            },
            UserApplicationWorkflow: {
                Steward: {
                    Routing: JSON.parse('@StewardRouting.ToString().ToLower()'),
                    ActionGear: JSON.parse('@StewardActionGear.ToString().ToLower()'),
                },
                Collector: {
                    Routing: JSON.parse('@CollectorRouting.ToString().ToLower()'),
                    ActionGear: JSON.parse('@CollectorActionGear.ToString().ToLower()'),
                },
                Hauler: {
                    Routing: JSON.parse('@HaulerRouting.ToString().ToLower()'),
                    ActionGear: JSON.parse('@HaulerActionGear.ToString().ToLower()'),
                },
                Processor: {
                    Routing: JSON.parse('@ProcessorRouting.ToString().ToLower()'),
                    ActionGear: JSON.parse('@ProcessorActionGear.ToString().ToLower()'),
                },
                RPM: {
                    Routing: JSON.parse('@RPMRouting.ToString().ToLower()'),
                    ActionGear: JSON.parse('@RPMActionGear.ToString().ToLower()'),
                },
            }
        };

        Global.Settings = {
            VendorCode: 'Hauler',
            TransactionType: 'TCR',
            DatePickerFormat: '@TreadMarksConstants.DateFormat',
            LoadBankinfoDetaillURL: '@Url.Action("GetBankinfoDetail", "FinancialIntegration", new { area = "System" })',
            SaveBankinfoDetaillURL: '@Url.Action("Savebankinfo", "FinancialIntegration", new { area = "System" })',
            RejectBankinfoDetaillURL: '@Url.Action("RejectBankinfo", "FinancialIntegration", new { area = "System" })',

            HaulerApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration", new { area = "Hauler", vId = "111" })',
            CollectorApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration", new { area = "Collector", vId = "111" })',
            StewardApproveRedirectUrl: '@Url.Action("CustomerIndex", "Registration", new { area = "Steward", cId = "111" })',
            ProcessorApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration", new { area = "Processor", vId = "111" })',
            RPMApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration", new { area = "RPM", vId = "111" })'
        };

    </script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/systemapplication") 
}