﻿@using CL.TMS.Security
@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Common.Enum

@{
    ViewBag.Title = "Dashboard";

    Layout = ViewBag.isAdmin ? "~/Views/Shared/_AdminLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    SecurityResultType Dashboard = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Dashboard);
    SecurityResultType DashboardAnnouncement = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardAnnouncement);
    SecurityResultType DashboardMetric1 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFDollar);
    SecurityResultType DashboardMetric2 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFUnits);
    SecurityResultType DashboardMetric3 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTSFStatus);
    SecurityResultType DashboardMetric4 = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardMetricTopTenStewards);
    SecurityResultType DashboardSTC = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardSTC);
    SecurityResultType DashboardTCR = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardTCR);

}

@section styles
{
    @Styles.Render("~/css/datatable-tm")
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/Content/datepicker")
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link href="~/css/cube/morris.css?v=@ViewBag.versionid" rel="stylesheet" />
    <style>
        /*hide thead of datatable*/
        .dataTables_wrapper table thead {
            display: none;
        }

        .td-small {
            width: 60px;
            max-width: 10%;
        }

        .td-medium {
            width: 70px;
            max-width: 15%;
            font-size: 1.125em !important;
            font-weight: 300 !important;
            color: #03a9f4;
        }

        .td-large {
            width: 70%;
            max-width: 75%;
            text-align: left !important;
        }

        /*fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable {
            border-collapse: collapse;
            width: 100% !important;
        }

        .table tbody > tr > td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /*Remove height of scrollHead*/
        .project-box-content .dataTables_scrollHead {
            height: 0;
        }

        /*Edit/Delete Icon*/
        .widget-todo .actions a i {
            font-size: 1.125em;
        }

        .widget-todo .actions a {
            color: #707070;
        }

            .widget-todo .actions a:hover {
                color: #03a9f4 !important;
            }

        /*disable edit/remove icon when readonly*/
        .editRemoveDisabled {
            pointer-events: none;
            opacity: .65;
        }

        .rowClickable {
            cursor: pointer;
        }

        /*special handle for datatable*/
        table.dataTable.narrow-narrow-width {
            min-width: 200px;
        }

        /*popup modal responsive with correct label/input position*/
        .margin-left-neg-15 {
            margin-left: -15px;
        }

        .margin-right-neg-25 {
            margin-right: -25px !important;
        }

        .ui-datepicker {
            background: #333;
            border: 1px solid #555;
            color: #EEE;
        }
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="dashboardControl">
    <div class="panel-container-other">
        <div class="tm-all participants-all-claims" style="margin-top: 1px; ">
            <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header" style="margin-bottom 1px; ">
                <div class="col-xs-7 col-sm-6">
                    <h2 style="margin-bottom: 5px;" class="fixed-claim-header-title">Dashboard</h2>
                </div>
                <div class="col-xs-5 col-sm-6">
                </div>
            </div>
            @if (CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
            {
                if (Dashboard >= SecurityResultType.ReadOnly)
                {
                    if (DashboardAnnouncement >= SecurityResultType.ReadOnly)
                    {
                        <div class="panel panel-default" id="announcementList">
                            <div class="panel-heading" role="tab" id="panelApplications-headingOne">
                                <h4 class="panel-title">
                                    Announcements
                                </h4>
                            </div>
                            <div class="panel-body" style="max-height:500px;">
                                <dashboard-announcement-list-panel url='@Url.Action("LoadDashboardAnnouncements", "Dashboard", new { areas="System"})'></dashboard-announcement-list-panel>
                            </div>
                        </div>
                    }
                    if (SecurityContextHelper.CurrentVendor == null)
                    {
                        if (DashboardMetric1 >= SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="panel panel-default" style="margin-left:10px; margin-right:10px; margin-top:5px;">
                                    <div class="panel-body">
                                        <metric-ytd-dollar-panel></metric-ytd-dollar-panel>
                                    </div>
                                </div>
                            </div>
                        }
                        if (DashboardMetric2 >= SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="panel panel-default" style="margin-left:10px; margin-right:10px; margin-top:5px;">
                                    <div class="panel-body">
                                        <metric-ytd-unit-panel></metric-ytd-unit-panel>
                                    </div>
                                </div>
                            </div>
                        }
                        if (DashboardMetric3 >= SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="panel panel-default" style="margin-left:10px; margin-right:10px; margin-top:5px;">
                                    <div class="panel-body">
                                        <metric-tsf-status-panel></metric-tsf-status-panel>
                                    </div>
                                </div>
                            </div>
                        }
                        if (DashboardMetric4 >= SecurityResultType.ReadOnly)
                        {
                            <div class="row">
                                <div class="panel panel-default" style="margin-left:10px; margin-right:10px; margin-top:5px;">
                                    <div class="panel-body">
                                        <metric-top-ten-stewards-panel></metric-top-ten-stewards-panel>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">              
                            @if  (DashboardSTC >= SecurityResultType.ReadOnly)
                            {                             
                                <div class="col-md-6">
                                    <stc-premium-list-panel url="@Url.Action("LoadSTCPremiumList", "DashBoard", new { area = "System" })"></stc-premium-list-panel>
                                </div>
                            }
                            @if (DashboardTCR >= SecurityResultType.ReadOnly)
                            {
                                <div class="col-md-6">
                                    <tcr-service-threshold-list-panel url="@Url.Action("LoadTCRServiceThresholdList", "DashBoard", new { area = "System" })"></tcr-service-threshold-list-panel>
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    Response.Redirect("/System/Common/UnauthorizedPage");
                }
            }
            else
            {
                if (Dashboard >= SecurityResultType.ReadOnly)
                {
                    if (DashboardAnnouncement >= SecurityResultType.ReadOnly)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="panelApplications-headingOne">
                                <h4 class="panel-title">
                                    Announcements
                                </h4>
                            </div>
                            <div class="panel-body" style="max-height:500px;">
                                <dashboard-announcement-list-panel url='@Url.Action("LoadDashboardAnnouncements", "Dashboard", new { areas="System"})'></dashboard-announcement-list-panel>
                            </div>
                        </div>
                    }
                }
                else
                {
                    Response.Redirect("/System/Common/UnauthorizedPage");
                }
            }
            <!--/.panel-->
        </div>
    </div>
</div>

@Html.Partial("_DashboardTemplate")
@Html.Partial("../Metric/_MetricTemplate")

@section Scripts{

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.DashBoard = {
            Resources: {
                FirstNameRequired: '@ViewBag.FirstNameRequired',
                LastNameRequired: '@ViewBag.LastNameRequired'
            },
            ViewOption: {
            },

            LoadSTCEventsCountUrl: '@Url.Action("LoadSTCEventsCount", "DashBoard", new { area = "System" })',
            LoadSTCEventDetailsByEventNumberUrl: '@Url.Action("LoadSTCEventDetailsByEventNumber", "DashBoard", new { area = "System" })',
            AddNewSTCEventUrl: '@Url.Action("AddNewSTCEvent", "DashBoard", new { area = "System" })',
            UpdateSTCEventUrl: '@Url.Action("UpdateSTCEvent", "DashBoard", new { area = "System" })',
            RemoveSTCEventUrl: '@Url.Action("RemoveSTCEvent", "DashBoard", new { area = "System" })',


            ConfirmAddSTCEventHtml: '<h4>Are you sure you want to add this new STC Event?</h4>',
            ConfirmEditSTCEventHtml: '<h4>Are you sure you want to save the changes?</h4>',
            ConfirmRemoveSTCEventHtml: '<h4>Are you sure you want to <strong>delete</strong> this STC Event: <strong>Event#</strong> ?</h4>',
            StcEventEditFailHtml: '<h4><strong>Event#</strong> cannot be edited because an STC transaction has already used this Event#.</h4>',
            StcEventRemoveFailHtml: '<h4><strong>Event#</strong> cannot be deleted because an STC transaction has already used this Event#.</h4>',

            ConfirmHeader: 'Confirm',
            WarningHeader: 'Warning',

            LoadSTCListUrl: '@Url.Action("ExportToExcelForApplications", "DashBoard", new { areas="System"})',

            LoadTCRServiceThresholdListUrl: '@Url.Action("LoadTCRServiceThresholdList", "DashBoard", new { area = "System" })',
            LoadTCRServiceThresholdDetailsByIDUrl: '@Url.Action("LoadTCRDetailsByID", "DashBoard", new { area = "System" })',
            AddNewTCRServiceThresholdUrl: '@Url.Action("AddTCRServiceThreshold", "DashBoard", new { area = "System" })',
            UpdateTCRServiceThresholdUrl: '@Url.Action("UpdateTCRServiceThreshold", "DashBoard", new { area = "System" })',
            RemoveTCRServiceThresholdUrl: '@Url.Action("RemoveTCRServiceThresohold", "DashBoard", new { area = "System" })',
            ConfirmRemoveTCRHtml: '<h4>Are you sure you want to <strong>delete</strong> TCR Service Threshold for Collector <strong>RegNumber, BusinessName</strong> ?</h4>',
            ConfirmTCRServiceThresholdHtml: '<h4>Are you sure you want to save this changes?</h4>',
            TcrRemoveFailHtml: '<h4>Collector <strong>RegNumber</strong> TCR Service Threshold cannot be deleted.</h4>',

            AddNoteUrl: '@Url.Action("AddNotes", "DashBoard", new { area = "System" })',
            LoadNotesListUrl: '@Url.Action("LoadNotes", "DashBoard", new { area = "System" })',
            NotesExportUrl: '@Url.Action("ExportNotes", "DashBoard", new { area = "System" })',


            AccessPermission: {
            },
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                STCAuthorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardSTC)',
                TCRAuthorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.DashboardTCR)',
            },
        };
        Global.Metric = {
            LoadDetailsByIDUrl: '@Url.Action("LoadDetailsByID", "Metric", new { area = "System" })',
            getClaimPeriodsUrl: '@Url.Action("LoadClaimPeriods", "Metric", new { area = "System"})',
            Category: {
                '@MetricCategoryEnum.YearToDateTSFDollar.ToString()': '@((int)MetricCategoryEnum.YearToDateTSFDollar)',
                '@MetricCategoryEnum.YearToDateTSFUnits.ToString()': '@((int)MetricCategoryEnum.YearToDateTSFUnits)',
                '@MetricCategoryEnum.StewardTSFStatusOverview.ToString()': '@((int)MetricCategoryEnum.StewardTSFStatusOverview)',
                '@MetricCategoryEnum.StewardPaymentMethods.ToString()': '@((int)MetricCategoryEnum.StewardPaymentMethods)',
                '@MetricCategoryEnum.TopTenStewards.ToString()': '@((int)MetricCategoryEnum.TopTenStewards)',
            },
            StrewardSubType: [
                '@StewardSubType.OEM',
                'Brand Owner',
                'First Importer'
            ],
            StartMonth: '@ViewBag.startDate'
        };
        Global.Settings = {
            DatePickerFormat: '@TreadMarksConstants.DateFormat',
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("Login", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @Scripts.Render("~/bundles/datepicker")
    <script type="text/javascript" src="~/Scripts/moment.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/raphael.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/morris.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/jquery.flot.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/jquery.flot.time.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/Metric/metric-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/DashBoard/dashboard-main-menu.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
}