﻿<!--The Grid-->
    <div class="panel-heading" role="tab" id="panelOne-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelOne-collapseOne" aria-expanded="true" aria-controls="panelOne-collapseOne" class="panel-arrow-expand">
                @UIResource.IPadFleet <i id="exportIPadDeviceLabelCollection" title="Export to PDF" class="fa fa-file-pdf-o fa-fw uiaction-export"></i>
            </a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input type="text" id="iPadGridSearchInput" class="form-control" placeholder="Search">
            <div id="iPadGridSearchInputNumFound" class="subcomp-search-found"></div>
            <i id="iPadGridSearchInputRemoveText" class="glyphicon glyphicon-remove remove-icon"></i>
            <i class="glyphicon glyphicon-search"></i>
        </div>
    </div>
    <div id="panelOne-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOne-headingOne">
        <!--IPad Fleet Grid-->
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="iPadGrid" class="table table-hover margin-bottom--20 datatable-100-perc">
                        <thead>
                            <tr>
                                <th @*style="background-position: 67px; width:40%"*@>@UIResource.IPadID</th>
                                <th @*style="background-position: 100px;"*@>@UIResource.AssignedTo</th>
                                <th class="txt-c">@UIResource.Actions</th>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <a href="#" style="width:30px" id="iPadViewMore" class="viewmore">@UIResource.More</a>
                </div>
            </div><!--/.row-->
            <div class="row margin-top-10">
                <div class="col-md-6 col-md-offset-6">
                    <input type="text" id="amountOfIPadsToAddText" class="form-control numberic-input" maxlength="3" placeholder="0">
                    <button type="button" id="amountOfIPadToAddBtn" class="btn btn-success" data-toggle="modal" data-target="#modalAddiPads" style="position:absolute;right:15px;top:5px;">@UIResource.PlusIPads</button>
                    <span id="addIpadValidationMsg" class="numeric-validation" style="color:red; display:none">@UIResource.QuantityGTZero</span>
                </div>
            </div><!--/.row-->
        </div>
    </div>

    <!-- Modal: Add iPads  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-80" id="modalAddiPads" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAddiPads" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalAddiPads" align="center">@UIResource.AddIPads</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 txt-c">
                            <input type="hidden" id="modalAddiPadsAmountValue" />
                            <h4 class="margin-top-20">@UIResource.DoYouWantToAssign<strong>&nbsp;<span id="modalAddiPadsAmountText"></span>&nbsp;</strong>@UIResource.ToARegistrant </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="radio">
                                <label>
                                    <input id="modalAddiPadOption1" type="radio" name="modalAddiPadOption" value="option1" checked>
                                    @UIResource.NoAddToFleet 
                                </label>
                            </div>
                            <div class="radio margin-top-10">
                                <label>
                                    <input type="radio" id="modalAddiPadOption2" name="modalAddiPadOption" value="option2">
                                    @UIResource.YesChooseARegistrant 
                                </label>
                            </div>
                            <div class="form-group form-group-select2">
                                <label></label>
                                <input type="hidden" id="modalAddiPadsToRegConfirmRegValue" />
                                <select id="modalAddiPadRegistrantList" style="width:300px" disabled></select>
                            </div>
                        </div>
                    </div><!--/.row-->
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAddiPadCancelBtn" class="btn btn-danger btn-cancel-add-ipad btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                        @UIResource.Cancel
                    </button>
                    <button type="button" id="modalAddiPadNextBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- /Modal  -->
    <!-- Modal: Add iPads Confirm  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddiPadsConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAddiPadsConfirm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalAddiPadsConfirm" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <h4 class="txt-c">@UIResource.AreYouSureAdd<strong>&nbsp;<span id="modalAddiPadsConfirmAmount"></span>&nbsp;</strong>@UIResource.ToYourFleet ?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAddiPadsConfirmCancelBtn" class="btn btn-danger btn-cancel-add-ipad btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalAddiPadsConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Add iPads to Registrant Confirm  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAddiPadsToRegConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAddiPadsToRegConfirm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <h4 class="txt-c">@UIResource.AreYouSureAdd<strong>&nbsp;<span id="modalAddiPadsToRegConfirmAmount"></span>&nbsp;</strong> @UIResource.ToYourFleet <br />@UIResource.AndAssignThemTo<strong>&nbsp;<span id="modalAddiPadsToRegConfirmRegText"></span>&nbsp;</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAddiPadsToRegConfirmCancelBtn" class="btn btn-danger btn-cancel-add-ipad btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalAddiPadsToRegConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Assign iPad  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-0" id="modalAssigniPad" tabindex="-1" role="dialog" aria-labelledby="modalAssigniPad" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalAssigniPad" align="center">@UIResource.AssignIPad</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 txt-c">
                            <h4 class="margin-top-30"><strong>@UIResource.IPad</strong> @UIResource.MustBeAssignedToA <strong>@UIResource.Registrant</strong>.</h4>
                            <h4 class="margin-top-20">@UIResource.ChooseARegistrant</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group form-group-select2">
                                <label></label>
                                <select id="modalAssigniPadRegistrantList" style="width:300px"></select>
                            </div>
                        </div>
                    </div><!--/.row-->
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAssigniPadCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                        @UIResource.Cancel
                    </button>
                    <button type="button" id="modalAssigniPadNextBtn" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalAssignIPadConfirm">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Assign iPad Confirm  -->
    <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAssignIPadConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAssignIPadConfirm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <input type="hidden" id="modalAssignIPadConfirmIPadIDValue" />
                        <input type="hidden" id="modalAssignIPadConfirmRegValue" />
                        <h4 class="txt-c">@UIResource.AreYouSureAssign  <strong>@UIResource.IPad&nbsp;<span id="modalAssignIPadConfirmIPadID"></span></strong> @UIResource.To <strong>&nbsp;<span id="modalAssignIPadConfirmRegText"></span>&nbsp;</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalAssignIPadConfirmCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalAssignIPadConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Unassign iPad  -->
    <div class="modal fade comp-claims-summary-submitmodal" id="modalUnassigniPad" tabindex="-1" role="dialog" aria-labelledby="modalUnassigniPad" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalUnassigniPad" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px;">
                        <input type="hidden" id="modalUnassigniPadIDValue" />
                        <input type="hidden" id="modalUnassigniPadRegValue" />
                        <h4 class="txt-c">@UIResource.AreYouSureUnassign <strong>&nbsp;<span id="modalUnassigniPadIDText"></span>&nbsp;</strong><br /> @UIResource.FromRegistrant <strong>&nbsp;<span id="modalUnassigniPadRegText"></span>&nbsp;</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalUnassigniPadConfirmCancelBtn" class="btn btn-default btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalUnassigniPadConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Deactivate iPad  -->
    <div class="modal fade comp-claims-summary-submitmodal" id="modalDeactivateiPad" tabindex="-1" role="dialog" aria-labelledby="modalDeactivateiPad" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalDeactivateiPad" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div style="padding:20px">
                        <input type="hidden" id="modalDeactivateiPadValue" />
                        <h4 class="txt-c">@UIResource.AreYouSureDeactivate  <strong>&nbsp;<span id="modalDeactivateiPadText"></span>&nbsp;</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalDeactivateiPadConfirmCancelBtn" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalDeactivateiPadConfirmYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
