﻿/*roles css*/
.tree-anchor{
    cursor: pointer;
}

.menu-anchor {
    display: inline-block;
    padding-left: 5px;
}

.menu-anchor .fa-id-card-o {
  color: white;
}

.modal-title{
    display: inline;
    border-style: none;
}

.menu-name {
    display: inline; 
    float: left; 
    font-size: 1.4em; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    margin:0; 
}

.radio-cube {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    /*display: table-cell !important;*/  /*OTSTM2-724*/
}

.radio-cube label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.role-table tbody > tr > td {
    font-size: 1em !important;
    font-weight: 300 !important;
}

.empty-icon{
    margin-right: 17px;
}

.tree-anchor .fa-minus-square,.tree-anchor .fa-plus-square {
    color: #03a9f4;
}

.save-btn {
    background-color: #8bc34a !important;
    border: none;
    margin-right: 18px;
    padding: 2px 14px !important;
}

.conf-save-btn, .conf-submit-btn{
    background-color: #8bc34a !important;
    border: none;
    margin-right: 2px;
    padding: 2px 14px !important;
}

.submit-btn {
    background-color: #8bc34a !important;
    border: none;
    margin-right: 18px;
    padding: 2px 4px !important;
}

.submit-btn:hover,.save-btn:hover,.conf-submit-btn:hover, .conf-save-btn:hover {
    background-color: #5cb85c !important;
    border: none;
}

.submit-btn .fa-plus {
  top: 0px;
}

.cancel-btn .fa-ban {
  top: 0px;
}

.no-access{
    padding: 0px 0px 0px 25px;
}
.read-only{
    padding: 0px 0px 0px 30px;
}
.edit-save{
    padding: 0px 0px 0px 25px;
}
.is-custom{
    padding: 0px 0px 0px 20px;
}

@media(min-width: 1400px){
    .role-modal > .modal-lg {
        width: 1308px;
    }
}
