﻿<script type="text/ng-template" id="manage-internal-notes.html">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelNotes-headingOne">

            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelNotes-collapseOne" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes
                </a>
            </h4>
            <h4 class="panel-title">                
                <internal-notes-export search-text='{{searchNote}}' sort-reverse='{{sortReverse}}' sort-column='{{sortType}}' url='@Url.Action("ExportToExcelInternalNotes", "Claims", new { area="System", id= @ViewBag.ClaimsId})' file-name="InternalNotes">
                </internal-notes-export>
            </h4>

            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" style="{{searchStyle}}" ng-model="searchNote" id="search" ng-blur="blur()" focus-input="focusVal" ng-keyup="search()">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="searchNote=''"></i>
                <i class="glyphicon glyphicon-search" ng-mouseover="focus()"></i>
            </div>
        </div>
        <div id="panelNotes-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaModel"></textarea>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()">+</button>
                <br>
                <br>
                <div class="internal-wrap">
                    <table class="table table-hover" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedOn'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'Note'; sortReverse = !sortReverse">
                                        Note
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedBy'; sortReverse = !sortReverse">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="height: 150px; overflow-y: auto;">
                        <table class="table table-hover" style="margin-right: 5px;">                            
                            <tbody>
                                <tr ng-repeat="note in filtered = (allInternalNotes | orderBy:sortType:sortReverse | filter:searchNote| limitTo:quantity)">
                                    <td>{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>                                    
                                    <td ng-if="note.Note.length > 72">                                        
                                        <span internal-note-hover-popover data-note="{{note.Note}}">{{stripNotes(note.Note)}}</span>
                                    </td>
                                    <td ng-if="note.Note.length < 72">
                                        <span>{{note.Note}}</span>
                                    </td>
                                    <td>{{note.AddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <a href="javascript:void(0);" ng-click="quantity = allInternalNotes.length; showMore = !showMore" ng-show="showMore" id="internal-viewmore">More</a>
                </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component --> 
</script>


