﻿@model  CL.TMS.DataContracts.ViewModel.Common.BankingInformationRegistrationModel
@{
    ViewBag.Title = "Banking Information";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
}
@{
    <style>
        .margin-top-100 {
            margin-top: 40% !important;
        }
    </style>
}
<!-- Plugin: WebUI Popover -->
@Styles.Render("~/css/jquery-webui-popover")
@using (Html.BeginForm("BankingInformation", "FinancialIntegration", FormMethod.Post, new { @id = "frmBankingInformation" }))
{
    <div class="tm-all participants-all-register">
        @Html.HiddenFor(r => r.Token)
        @Html.HiddenFor(r => r.VendorId)
        @Html.Hidden("BankInfo", true)
        <input type="hidden" id="applicationId" name="ID" value="@Model.ID" />
        <!-- Modal: Add TCR  -->
        <div class="modal fade" id="modalBankingEFT" tabindex="-1" role="dialog" aria-labelledby="modalBankingEFT" aria-hidden="true">
            <div class="modal-dialog modal-lg margin-top-20">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                        <button id="closedialog" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modalBankingEFT" align="center">Banking, EFT &amp; Privacy Policy</h3>
                    </div>
                    <div class="modal-body padding-25">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-required has-feedback">
                                    <label class="control-label" for="bankNameInput">Bank Name</label>
                                    <input type="text" class="form-control" maxlength="50" id="bankNameInput" name="BankName" placeholder="">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="showApprovedItem" class="form-group has-required has-feedback">
                                    @Html.HiddenFor(r => r.VendorId)
                                    <label class="control-label" for="registrationNumberInput">Registration #</label>
                                    <input id="registrationNumberInput" class="form-control ignore" type="text" placeholder="" value="@Model.RegistrationNumber" maxlength="15" disabled readonly>
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-required has-feedback">
                                    <label class="control-label" for="transitNumberInput">Transit Branch #</label>
                                    <input type="text" class="form-control" maxlength="5" id="transitNumberInput" name="TransitNumber" placeholder="5 digit branch number">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-required has-feedback">
                                    <label class="control-label" for="financeInstBankNumberInput">Financial Institution Bank #</label>
                                    <input type="text" class="form-control" maxlength="3" id="financeInstBankNumberInput" name="BankNumber" placeholder="3 digit bank number">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-required has-feedback">
                                    <label class="control-label" for="accountNumberInput">Designation and Account #</label>
                                    <input type="text" class="form-control" maxlength="15" id="accountNumberInput" name="AccountNumber" placeholder="account number">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Email Payment Transfer Notifications</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="isBankTransferNotficationPrimaryContactChk" class="checkbox">
                                    <label>
                                        <input class="isBankTransferNotficationPrimaryContact" type="checkbox" value="true" name="NotifyToPrimaryContactEmail" checked> Send notifications to the same Email as specified for Primary Contact
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-required has-feedback bankTransferNotficationPrimaryContactDifferent" style="display:none;">
                                    <label class="control-label" for="emailText">Email</label>
                                    <br>
                                    <input type="text" id="emailText" name="Email" class="form-control" placeholder="">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row" style="display:none">
                            <div class="col-md-12">
                                <button type="button" class="btn color-tm-green-bg">CC Email +</button>
                                @*<i class="color-tm-gray-light">&nbsp; Dev. Note: Limit of 1 CC email</i>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-required">
                                    <label class="control-label" for="optionalCCEmailText">Optional CC Email</label>
                                    <input type="text" id="optionalCCEmailText" name="CCEmail" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div><!--/.row-->

                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover" class="glyphicon glyphicon-cog" style="" data-toggle="modal" data-target="#myModal">
                                    <thead>
                                        <tr>
                                            <th id="documentUploadHeader"><span>Supporting Documents</span></th>
                                            <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                                            <th class="txt-c">@UIResource.SupportingDocMail</th>
                                            <th class="txt-c">@UIResource.SupportingDocUpload</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Void Cheque <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i></td>
                                            <div id="supportingDocumentsVOCH" style="display:none;">
                                                <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                                            </div>
                                            <td class="txt-c">
                                                <label><input type="radio" id="faxDocument" name="supportingDocumentsOption" value="optionfax"></label>
                                            </td>
                                            <td class="txt-c">
                                                <label><input type="radio" id="mailDocument" name="supportingDocumentsOption" value="optionmail"></label>
                                            </td>
                                            <td class="txt-c">
                                                <label><input type="radio" id="uploadDocument" name="supportingDocumentsOption" value="optionupload"></label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="has-error" style="width:100%; text-align:center" id="uploadError"></div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    @*@Html.Partial("_FileUpload", new CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel { TransactionID = Model.applicationId.ToString(), AddFilesURL = ViewBag.AddFilesURL, GetFilesURL = ViewBag.GetFilesURL, DeleteFileURL = ViewBag.DeleteFileURL, AllowSelection = false, AllowDownload = false, AllowDelete = true , CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName})*@
                                    @Html.Partial("_FileUpload", new CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel { TransactionID = Model.VendorId.ToString(), AddFilesURL = "/System/FileUpload/UploadVendorFiles", GetFilesURL = "/System/FileUpload/GetUploadedVendorFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedVendorFile", AllowSelection = false, AllowDownload = false, AllowDelete = true, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName, Disable= false })
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label>Privacy Policy</label>
                        <div id="termsandConditionsText" class="termsandconditions">
                            <p>
                                By providing the information requested below, you consent to @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value collecting, using and disclosing the information in order to issue direct deposit payments to you.<br><br> This information will be held by us in accordance with our privacy policy.  If you have any questions about our handling of your personal/business confidential information, you may contact us at:<br><br>[@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Phone").Value  (or)  @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Email").Value].
                            </p>
                        </div><!--/.termsandconditions-->

                        <div id="acknowledgement" class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p><label>Acknowledgement</label></p>
                                <div class="checkbox checked">
                                    <label>
                                        <input type="checkbox" id="acknowledgementChk" name="acknowledgement" value="" disabled>
                                        I have read and understand the @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value "Privacy Policy"above and agree to its terms. <br>@*<small>Dev. Note: Checkbox should be disabled until user scrolls all the way down through the Privacy Policy. Accept button should be disabled until user clicks the checkbox above.</small>*@
                                    </label>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <br />
                        <div class="modal-footer">
                            <button type="button" id="cancelBtn" class="btn btn-default">
                                Cancel
                            </button>
                            <button type="submit" id="acceptBtn" class="btn btn-success" disabled>
                                Accept
                            </button>
                        </div>
                    </div><!--/.row-->

                </div>
            </div>
        </div>
    </div>
}
<!-- /Modal  -->
@Scripts.Render("~/bundles/jquery-webui-popover")

<script>
    $(function () {

        var validatorBankingInfo = $('#frmBankingInformation').validate({
            ignore: ".ignore",
            onfocusout: function (element) {
                this.element(element);
            },
            rules: {
                'BankName': {
                    //regex: '/^[\w\-\s]+$/',
                    required: true,
                    minlength: 2,
                    maxlength: 50,
                },
                'TransitNumber': {
                    //regex:'[0-9]',
                    required: true,
                    digits: true,
                    minlength: 5,
                    maxlength: 5,
                },
                'BankNumber': {
                    required: true,
                    digits: true,
                    minlength: 3,
                    maxlength: 3,
                },
                'AccountNumber': {
                    required: true,
                    digits: true,
                    //minlength: 3,
                    minlength: 4,
                    maxlength: 15,
                },
                'Email': {
                    required: ($('.isBankTransferNotficationPrimaryContact').is(':checked') ? false : true),
                    email: true,
                },
                'CCEmail': {
                    email: true,
                },
                'uploadFiles': {
                    data: 'supportingDocumentsOption'
                },
                'supportingDocumentsOption': {
                    validateUploadDocument: true
                },
                'fileUploadInput': {
                    validateUploadDocument: true
                }

            },

            highlight: function (element) {
                if ($(element).val() || $(element).val() == '') {
                    if ($(element).closest('.form-group').hasClass('has-required') || $(element).closest('.form-group').hasClass('has-success')) {
                        $(element).closest('.form-group').removeClass('has-required');
                        $(element).closest('.form-group').removeClass('has-success');

                        $(element).closest('.form-group').addClass('has-error');
                        if ($(element).next('span').hasClass('glyphicon-ok'))
                            $(element).next('span').removeClass('glyphicon-ok');
                        $(element).next('span').addClass('glyphicon-remove');
                    }
                }
            },
            unhighlight: function (element) {

                if ($(element).val()) {
                    $(element).closest('.form-group').removeClass('has-error').removeClass('has-required').addClass('has-success');
                    $(element).next('span').removeClass('glyphicon-remove').addClass('glyphicon-ok');
                }
                else {
                    $(element).closest('.form-group').removeClass('has-error').removeClass('has-success');
                    $(element).closest('.form-group').addClass('has-required');
                }
            },
            messages: {
                'supportingDocumentsOption': "A void cheque must be upload"
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (error.attr('id') == 'supportingDocumentsOption-error') {
                    $('#uploadError').append(error);
                }
                else if ($(element).val()) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            },
            success: function (error) {
                error.remove();
            },
            failure: function () {
            },
        });

        // Popover Setup
        var settings = {
            trigger: 'hover',
            //title:'Pop Title',
            //content:'<p>This is webui popover demo.</p><p>just enjoy it and have fun !</p>',
            //width:300,
            multi: true,
            closeable: true,
            style: '',
            delay: { show: 300, hide: 800 },
            padding: true
        };

        // Supporitng Documents: Void Cheque
        var supportingDocumentsVOCHContent = $('#supportingDocumentsVOCH').html(),
          supportingDocumentsVOCHSettings = {
              content: supportingDocumentsVOCHContent,
              width: 674,
              height: 359,
          };
        var popLargeVOCH = $('.supportingDocumentsVOCH').webuiPopover('destroy').webuiPopover($.extend({}, settings, supportingDocumentsVOCHSettings));

        var init = function () {
            BankingInfoValidation();
        }

        init();

        function setModalMaxHeight(element) {
            this.$element = $(element);
            this.$content = this.$element.find('.modal-content');
            var borderWidth = this.$content.outerHeight() - this.$content.innerHeight();
            var dialogMargin = $(window).width() < 768 ? 20 : 40;
            var contentHeight = $(window).height() - (dialogMargin + borderWidth);
            var headerHeight = this.$element.find('.modal-header').outerHeight() || 0;
            var footerHeight = this.$element.find('.modal-footer').outerHeight() || 0;
            var maxHeight = contentHeight - (headerHeight + footerHeight);

            this.$content.css({
                'overflow': 'hidden'
            });

            this.$element
              .find('.modal-body').css({
                  'max-height': maxHeight,
                  'overflow-y': 'auto'
              });
        }
        setModalMaxHeight(this);
        $('.modal').on('show.bs.modal', function () {
            $(this).show();
            setModalMaxHeight(this);
        });

        $(window).resize(function () {
            if ($('.modal.in').length != 0) {
                setModalMaxHeight($('.modal.in'));
            }
        });
    });

    function BankingInfoValidation() {
        $('#modalBankingEFT').modal({
            show: true,
            backdrop: 'static',
            keyboard: false,
        });

        $('#cancelBtn, #closedialog').on('click', function () {
            window.location.href = "/Account/logout"
        });

        $('.isBankTransferNotficationPrimaryContact').click(function () {
            this.value = this.checked;
            $("#emailText").prop('required', this.unchecked);
            $(".bankTransferNotficationPrimaryContactDifferent").toggle(this.unchecked);
        });

        $('#acknowledgementChk').on('click', function () {
            if ($(this).is(':checked')) {
                $(':input:not(#acknowledgementChk)').attr('disabled', 'disabled');
                $('#acceptBtn').removeAttr('disabled');
            }
            else {
                $(':input').removeAttr('disabled');
                $('#acceptBtn').attr('disabled', 'disabled');
            }
        });

        $('#termsandConditionsText').scroll(function () {
            var topHeight = $(this).scrollTop();
            var innerHeight = $(this).innerHeight();
            var scrollHeight = $(this)[0].scrollHeight;

            if ((topHeight + innerHeight) >= scrollHeight) {
                $('#acknowledgementChk').removeAttr('disabled');
            }
        });

        $('#frmBankingInformation').on('change', ':input', function () {
            validateForm();
        });

        $('#acknowledgement').on('mouseover', function () {
            validateForm();
        });

        function validateForm() {
            var isFormValid = false;
            if ($('#bankNameInput').val() != '' &&
                $('#transitNumberInput').val() != '' &&
                $('#financeInstBankNumberInput').val() != '' &&
                $('#accountNumberInput').val() != '' &&
                $("INPUT[name='supportingDocumentsOption']").is(':checked')) {

                if ($("#frmBankingInformation").valid()) {
                    isFormValid = true;
                }
            }

            if (isFormValid) {
                $('#acknowledgementChk').removeAttr('disabled');
            }
            else {
                $('#acknowledgementChk').attr('checked', false);
                $('#acceptBtn').attr('disabled', 'disabled');
                $('#acknowledgementChk').attr("disabled", "disabled");
            }
        }


        document.getElementById("frmBankingInformation").onsubmit = function () {
            $(':input').removeAttr('disabled');
        };

        $.validator.addMethod('validateUploadDocument', function (value, element, param) {
            var uploadIsChecked = $('#uploadDocument').is(':checked');
            var uploadDocumentCount = $('.template-download ').length;

            if (uploadIsChecked && uploadDocumentCount == 0) {
                $('#documentUploadHeader').removeClass('has-success').addClass('has-error');
                return false
            }
            else {
                $('#documentUploadHeader').removeClass('has-error').addClass('has-success');
            }

            return true;
        });
    }


</script>