﻿@{
    ViewBag.Title = "SummerNtoe Demo";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section styles{  
    @Styles.Render("~/css/cube/summernote.css")    
}

<h2>summernote directive</h2>
<h4>use element</h4>
<div class="example">
    <summernote></summernote>
</div>

<h4>use attribute</h4>
<div class="example">
    <div summernote></div>
</div>

<div>
    <h4>initial text as inner html</h4>
    <div class="example">
        <summernote><span style="font-weight: bold;">This is initial text.</span></summernote>
    </div>
</div>

<h2>summernote options</h2>

<h4>height</h4>
<div class="example">
    <summernote height="300"></summernote>
</div>

<h4>focus</h4>
<div class="example">
    <summernote focus></summernote>
</div>

<h4>lang</h4>
<div class="example">
    <summernote lang="de-DE"></summernote>
</div>

<div ng-controller="AirmodeCtrl">
    <h4>airmode</h4>
    <div class="example">
        <summernote airMode ng-model="text" config="options" on-media-delete="mediaDelete(target)"></summernote>
    </div>
</div>

<div ng-controller="OptCtrl">
    <h4>options object</h4>
    <div class="example">
        <summernote config="options"></summernote>
    </div>
</div>

<h2>advanced features</h2>

<div ng-controller="CodeCtrl">
    <h4>use ngModel to synchronize the value</h4>
    <div class="example">
        <summernote ng-model="text"></summernote>

        <br>
        <textarea type="text" ng-model="text" style="width:100%;"></textarea></br>
        text : {{text}}
    </div>
</div>

<div ng-controller="CallbacksCtrl">
    <h4>use callbacks</h4>
    <div class="example">
        <summernote on-init="init()" on-enter="enter()" on-focus="focus(evt)"
                    on-blur="blur(evt)" on-paste="paste(evt)" on-keyup="keyup(evt)" on-keydown="keydown(evt)"
                    on-change="change(contents)"
                    on-image-upload="imageUpload(files)"
                    editable="editable" editor="editor"></summernote>
    </div>
</div>

<br />

<div id="summerNote"><p>Hello Summer Note</p></div>

@section Script{
    <script type="text/javascript" src="~/js/cube/summernote.js"></script>
  <script>
      // the source code is here:
      //https://github.com/summernote/angular-summernote/blob/master/examples/index.html
      //this is the javascript setting: 
      $(document).ready(function () {
          $('#summerNote').summernote({
              height: 100,                 // set editor height
              minHeight: null,             // set minimum height of editor
              maxHeight: null,             // set maximum height of editor
              focus: true        // set focus to editable area after initializing summernote
          });
      });

    // this is the angular setting.
    angular.module('summernoteDemo', ['summernote'])
        .controller('OptCtrl', function($scope) {
          $scope.options = {
            height: 150,
            toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['height', ['height']]
            ]
          };
        })
        .controller('AirmodeCtrl', function($scope) {
          $scope.text = "<h3>This is an Air-mode editable area.</h3>";
          $scope.options = {
            popover: {
              image: [
                ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
              ],
              link: [
                ['link', ['linkDialogShow', 'unlink']]
              ],
              air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
              ]
            }
          };
          $scope.mediaDelete = function(target) {
            console.log('media is delted:', target);
          }
        })
        .controller('CodeCtrl', function($scope) {
          $scope.text = "Hello World";
        })
        .controller('CallbacksCtrl', function($scope) {
          $scope.init = function() { console.log('Summernote is launched'); };
          $scope.enter = function() { console.log('Enter/Return key pressed'); };
          $scope.focus = function(e) { console.log('Editable area is focused'); };
          $scope.blur = function(e) { console.log('Editable area loses focus'); };
          $scope.paste = function(e) {
            console.log('Called event paste: ' +  e.originalEvent.clipboardData.getData('text'));
          };
          $scope.change = function(contents) {
            console.log('contents are changed:', contents, $scope.editable);
          };
          $scope.keyup = function(e) { console.log('Key is released:', e.keyCode); };
          $scope.keydown = function(e) { console.log('Key is pressed:', e.keyCode); };
          $scope.imageUpload = function(files) {
            console.log('image upload:', files);
            console.log('image upload\'s editor:', $scope.editor);
            console.log('image upload\'s editable:', $scope.editable);
          };
        })
        .controller('summernoteController', ['$scope', '$attrs', '$timeout', function ($scope, $attrs, $timeout) {
            var currentElement,
                summernoteConfig = angular.copy($scope.summernoteConfig) || {};

            if (angular.isDefined($attrs.height)) { summernoteConfig.height = +$attrs.height; }
            if (angular.isDefined($attrs.minHeight)) { summernoteConfig.minHeight = +$attrs.minHeight; }
            if (angular.isDefined($attrs.maxHeight)) { summernoteConfig.maxHeight = +$attrs.maxHeight; }
            if (angular.isDefined($attrs.placeholder)) { summernoteConfig.placeholder = $attrs.placeholder; }
            if (angular.isDefined($attrs.focus)) { summernoteConfig.focus = true; }
            if (angular.isDefined($attrs.airmode)) { summernoteConfig.airMode = true; }
            if (angular.isDefined($attrs.dialogsinbody)) { summernoteConfig.dialogsInBody = true; }
            if (angular.isDefined($attrs.lang)) {
                if (!angular.isDefined($.summernote.lang[$attrs.lang])) {
                    throw new Error('"' + $attrs.lang + '" lang file must be exist.');
                }
                summernoteConfig.lang = $attrs.lang;
            }

            summernoteConfig.callbacks = summernoteConfig.callbacks || {};

            if (angular.isDefined($attrs.onInit)) {
                summernoteConfig.callbacks.onInit = function (evt) {
                    $scope.init({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onEnter)) {
                summernoteConfig.callbacks.onEnter = function (evt) {
                    $scope.enter({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onFocus)) {
                summernoteConfig.callbacks.onFocus = function (evt) {
                    $scope.focus({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onPaste)) {
                summernoteConfig.callbacks.onPaste = function (evt) {
                    $scope.paste({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onKeyup)) {
                summernoteConfig.callbacks.onKeyup = function (evt) {
                    $scope.keyup({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onKeydown)) {
                summernoteConfig.callbacks.onKeydown = function (evt) {
                    $scope.keydown({ evt: evt });
                };
            }
            if (angular.isDefined($attrs.onImageUpload)) {
                summernoteConfig.callbacks.onImageUpload = function (files) {
                    $scope.imageUpload({ files: files, editable: $scope.editable });
                };
            }
            if (angular.isDefined($attrs.onMediaDelete)) {
                summernoteConfig.callbacks.onMediaDelete = function (target) {
                    // make new object that has information of target to avoid error:isecdom
                    var removedMedia = { attrs: {} };
                    removedMedia.tagName = target[0].tagName;
                    angular.forEach(target[0].attributes, function (attr) {
                        removedMedia.attrs[attr.name] = attr.value;
                    });
                    $scope.mediaDelete({ target: removedMedia });
                };
            }

            this.activate = function (scope, element, ngModel) {
                var updateNgModel = function () {
                    var newValue = element.summernote('code');
                    if (element.summernote('isEmpty')) { newValue = ''; }
                    if (ngModel && ngModel.$viewValue !== newValue) {
                        $timeout(function () {
                            ngModel.$setViewValue(newValue);
                        }, 0);
                    }
                };

                var originalOnChange = summernoteConfig.callbacks.onChange;
                summernoteConfig.callbacks.onChange = function (contents) {
                    $timeout(function () {
                        if (element.summernote('isEmpty')) {
                            contents = '';
                        }
                        updateNgModel();
                    }, 0);
                    if (angular.isDefined($attrs.onChange)) {
                        $scope.change({ contents: contents, editable: $scope.editable });
                    } else if (angular.isFunction(originalOnChange)) {
                        originalOnChange.apply(this, arguments);
                    }
                };
                var originalOnEnter = summernoteConfig.callbacks.onEnter;
                summernoteConfig.callbacks.onEnter = function (evt) {
                    $timeout(function () {
                        updateNgModel();
                    }, 0);
                    if (angular.isFunction(originalOnEnter)) {
                        originalOnEnter.apply(this, arguments);
                    }
                };
                if (angular.isDefined($attrs.onBlur)) {
                    summernoteConfig.callbacks.onBlur = function (evt) {
                        (!summernoteConfig.airMode) && element.blur();
                        $scope.blur({ evt: evt });
                    };
                }
                element.summernote(summernoteConfig);

                var editor$ = element.next('.note-editor'),
                    unwatchNgModel;
                editor$.find('.note-toolbar').click(function () {
                    updateNgModel();

                    // sync ngModel in codeview mode
                    if (editor$.hasClass('codeview')) {
                        editor$.on('keyup', updateNgModel);
                        if (ngModel) {
                            unwatchNgModel = scope.$watch(function () {
                                return ngModel.$modelValue;
                            }, function (newValue) {
                                editor$.find('.note-codable').val(newValue);
                            });
                        }
                    } else {
                        editor$.off('keyup', updateNgModel);
                        if (angular.isFunction(unwatchNgModel)) {
                            unwatchNgModel();
                        }
                    }
                });

                if (ngModel) {
                    ngModel.$render = function () {
                        if (ngModel.$viewValue) {
                            element.summernote('code', ngModel.$viewValue);
                        } else {
                            element.summernote('empty');
                        }
                    };
                }

                // set editable to avoid error:isecdom since Angular v1.3
                if (angular.isDefined($attrs.editable)) {
                    $scope.editable = editor$.find('.note-editable');
                }
                if (angular.isDefined($attrs.editor)) {
                    $scope.editor = element;
                }

                currentElement = element;
                // use jquery Event binding instead $on('$destroy') to preserve options data of DOM
                element.on('$destroy', function () {
                    element.summernote('destroy');
                    $scope.summernoteDestroyed = true;
                });
            };

            $scope.$on('$destroy', function () {
                // when destroying scope directly
                if (!$scope.summernoteDestroyed) {
                    currentElement.summernote('destroy');
                }
            });
        }])
        .directive('summernote', [function () {
          return {
              restrict: 'EA',
              transclude: 'element',
              replace: true,
              require: ['summernote', '?ngModel'],
              controller: 'summernoteController',
              scope: {
                  summernoteConfig: '=config',
                  editable: '=',
                  editor: '=',
                  init: '&onInit',
                  enter: '&onEnter',
                  focus: '&onFocus',
                  blur: '&onBlur',
                  paste: '&onPaste',
                  keyup: '&onKeyup',
                  keydown: '&onKeydown',
                  change: '&onChange',
                  imageUpload: '&onImageUpload',
                  mediaDelete: '&onMediaDelete'
              },
              template: '<div class="summernote"></div>',
              link: function (scope, element, attrs, ctrls, transclude) {
                  var summernoteController = ctrls[0],
                    ngModel = ctrls[1];

                  if (!ngModel) {
                      transclude(scope, function (clone, scope) {
                          // to prevent binding to angular scope (It require `tranclude: 'element'`)
                          element.append(clone.html());
                      });
                      summernoteController.activate(scope, element, ngModel);
                  } else {
                      var clearWatch = scope.$watch(function () { return ngModel.$viewValue; }, function (value) {
                          clearWatch();
                          element.append(value);
                          summernoteController.activate(scope, element, ngModel);
                      }, true);
                  }
              }
          };
      }]);
</script>  
}
