﻿<!-- Modal: Submit Message Warning -->
<script type="text/ng-template" id="RemoveModal.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalRemoveTireOriginCategory" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>remove</strong> {{ messageType }} <strong>{{removeMessage}}</strong> ?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="TireWarning.html">
    <!-- Modal: Submit Message Error -->
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitError" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <p>{{warningMessage}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" data-toggle="modal">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </div>
</script>

<!-- Modal: OTSTM2-543 -->
<script type="text/ng-template" id="TireReminder.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalSubmitError" align="center">Reminder</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;" class="txt-c">
                    <p>{{reminderMessage}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()" data-toggle="modal">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </div>
</script>


