﻿<!-- Component: Payments & Adjustments -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelPaymentsAndClawback-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelPaymentsAndClawback-collapseOne" aria-expanded="true" aria-controls="panelPaymentsAndClawback-collapseOne">
                Payments &amp; Adjustments               
                <collector-payment-adjust-export model="claimSummaryModel.CollectorPayment"
                                                 file-name="ParticipantPaymentAdjustmentClaimsSummary" ng-if="dataloaded"
                                                 url='@Url.Action("ExportToExcelPaymentAdjustment", "Claims")' attr-anchor="230px">
                </collector-payment-adjust-export>
            </a>
        </h4>
    </div>
    <div id="panelPaymentsAndClawback-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaymentsAndClawback-headingOne">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:right">Rate ($)</th>
                        <th style="text-align:right">QTY</th>
                        <th style="text-align:right">Payment ($)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-toggle="modal" data-target="#modalCollectionAllowancePayment" style="cursor:pointer;">Collection Allowance <i class="fa fa-search-plus color-tm-blue"></i><br></td>
                        <td></td>
                        <td></td>
                        <td align="right">{{claimSummaryModel.CollectorPayment.PLTPayment + claimSummaryModel.CollectorPayment.MTGOTRPayment| number:2}}</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Payment Adjustments</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': claimSummaryModel.CollectorPayment.PaymentAdjustment<0}">{{claimSummaryModel.CollectorPayment.PaymentAdjustment | number:2}}</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': claimSummaryModel.CollectorPayment.SubTotal<0}">{{claimSummaryModel.CollectorPayment.SubTotal | number:2}}</td>
                        <td>+</td>

                    </tr>
                    <tr>
                        <td>HST {{claimSummaryModel.CollectorPayment.HSTBase*100 | number:2}}%</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': claimSummaryModel.CollectorPayment.HST<0}">{{claimSummaryModel.CollectorPayment.HST | number:2}}</td>
                        <td>=</td>

                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right" ng-class="{'color-tm-red': claimSummaryModel.CollectorPayment.GrandTotal<0}"><strong>{{claimSummaryModel.CollectorPayment.GrandTotal | number:2}}</strong></td>
                        <td align="right">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom:5px;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Payment Due</td>
                        <td class="txt-r">{{claimSummaryModel.CollectorPayment.PaymentDueDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Cheque/EFT #</td>
                        <td class="txt-r">{{claimSummaryModel.CollectorPayment.ChequeNumber}}</td>
                    </tr>
                    <tr>
                        <td>Paid</td>
                        <td class="txt-r">{{claimSummaryModel.CollectorPayment.PaidDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid ($)</td>
                        <td class="txt-r">{{claimSummaryModel.CollectorPayment.AmountPaid | number:2}}</td>
                    </tr>
                    <tr>
                        <td>Mailed</td>
                        <td class="txt-r">{{claimSummaryModel.CollectorPayment.MailedDate | date:'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal: Collection Allowance Payment Details  -->
<div class="modal fade" id="modalCollectionAllowancePayment" tabindex="-1" role="dialog" aria-labelledby="modalCollectionAllowancePayment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalCollectionAllowancePayment" align="center">Collection Allowance Payment Details </h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px 10px 0 10px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td class="" style=""><strong>Tire Category</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;PLT&nbsp;</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;&nbsp;MT&nbsp;</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>AG/LS</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;IND&nbsp;</strong></td>

                                <td class="collection-payment-title" width="9%"><strong>&nbsp;SOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;MOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;LOTR</strong></td>
                                <td class="collection-payment-title" width="9%"><strong>&nbsp;GOTR</strong></td>
                                <td class="collection-payment-title" width="11%"><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Quantity-->
                            <tr>
                                <td class="border-r">Quantity</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.PLTTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.PLTTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.MTTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.MTTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.AGLSTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.AGLSTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.INDTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.INDTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.SOTRTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.SOTRTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.MOTRTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.MOTRTireCountQty}}</td>
                                <td class="collection-payment-qty" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.LOTRTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.LOTRTireCountQty}}</td>
                                <td class="collection-payment-qty border-r" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.GOTRTireCountQty<0}">{{claimSummaryModel.CollectorAllowancePaymentDetail.GOTRTireCountQty}}</td>
                                <td class="collection-payment-qty">&nbsp;</td>
                            </tr>
                            <!--Rate-->
                            <tr>
                                <td class="border-r">Rate (per Unit)</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.PLTRate | number:2}}</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.MTRate | number:2}}</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.AGLSRate | number:2}}</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.INDRate | number:2}}</td>

                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.SOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.MOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">${{claimSummaryModel.CollectorAllowancePaymentDetail.LOTRRate | number:2}}</td>
                                <td class="collection-payment-rate border-r">${{claimSummaryModel.CollectorAllowancePaymentDetail.GOTRRate | number:2}}</td>
                                <td class="collection-payment-rate">&nbsp;</td>
                            </tr>
                            <!--Payment-->
                            <tr>
                                <td class="border-r">Payment</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.PLTPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.PLTPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.MTPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.MTPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.AGLSPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.AGLSPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.INDPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.INDPayment | number:2}}</td>

                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.SOTRPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.SOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.MOTRPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.MOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.LOTRPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.LOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay border-r" ng-class="{'color-tm-red': claimSummaryModel.CollectorAllowancePaymentDetail.GOTRPayment<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.GOTRPayment | number:2}}</td>
                                <td class="collection-payment-pay">&nbsp;</td>
                            </tr>
                            <!--Total-->
                            <tr class="success">
                                <td class="border-r"><strong>Total</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="border-r">&nbsp;</td>
                                <td class="collection-payment-pay" ng-class="{'color-tm-red': claimSummaryModel.CollectorPayment.PaymentTotal<0}">${{claimSummaryModel.CollectorAllowancePaymentDetail.PaymentTotal | number:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times-circle-o glyphicon-times-circle-o icon-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
