﻿@using CL.TMS.Resources;
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">
                @UIResource.CommonSupportingDocuments
            </a>
        </h4>
    </div>
    <div id="panelSupportingDocuments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_baseFileUpload", new FileUploadModel
                        {
                            TransactionID = @ViewBag.TransactionId.ToString(),
                            AddFilesURL = "/System/FileUpload/UploadClaimFiles",
                            GetFilesURL = "/System/FileUpload/GetClaimUploadedFiles",
                            DeleteFileURL = "/System/FileUpload/DeleteClaimUploadedFile",
                            AllowSelection = false,
                            AllowDelete = true,
                            FileUploadSectionName = @ViewBag.FileUploadSectionName
                        })
                </div>
            </div>
        </div><!--/.row-->
    </div>
</div>

<script type="text/javascript">
    //declare dom related scripts here and please dont add in _baseFileUpload.js
</script>