﻿<!-- Component: Reuse Tires -->
<script type="text/ng-template" id="collectorUpdatedReuseTires.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelReuseTires-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelReuseTires-collapseOne" aria-expanded="true" aria-controls="panelReuseTires-collapseOne">
                    Reuse Tires
                    <collector-inbound-and-reuse-export model="reuseTireModel" total-model="totalReuseTires"
                                                        attr-header="Total Reuse" file-name="ParticipantReuseTiresClaimsSummary"
                                                        type-list="Reuse" url='@Url.Action("ExportToExcelReuseTires", "Claims")' attr-anchor="115px">
                    </collector-inbound-and-reuse-export>
                </a>
            </h4>
        </div>
        <div id="panelReuseTires-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelReuseTires-headingOne">
            <div class="panel-body" style="overflow-x:visible">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="30%">
                                        Reuse Tires <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverParticipantReuseTire"></i>
                                        <div id="popoverParticipantReuseTire" style="display:none;">
                                            <p>Enter the quantities of tires by type that were removed from vehicles that were directed to other purposes including but not limited to; retreading or used tire sales during this reporting period. If you have not sent any collected tires to a reuse market, enter 0 in each tire type field. The tire quantities entered on this report have <strong>not</strong> been and will <strong>not</strong> be transported from your site by a registered Hauler. Tires that are directed to reuse markets by Collectors do not attract a collection incentive allowance.</p>
                                        </div>
                                    </th>
                                    <th>PLT</th>
                                    <th>MT</th>
                                    <th>AG/LS</th>
                                    <th>IND</th>
                                    <th>SOTR</th>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th width="6%">GOTR</th>
                                    <th width="6%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addReuseTireOrigin">
                                    <td></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddPLT" numbers-only ng-init="reusePLT=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddMT" numbers-only ng-init="reuseMT=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddAGLS" numbers-only ng-init="reuseAGLS=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddIND" numbers-only ng-init="reuseIND=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddSOTR" numbers-only ng-init="reuseSOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddMOTR" numbers-only ng-init="reuseMOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddLOTR" numbers-only ng-init="reuseLOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseAddGOTR" numbers-only ng-init="reuseGOTR=0" input-limit="5"></td>
                                    <td><button class="btn btn-md btn-success btn-add" type="submit" title="Add" ng-click="addReuse()" ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant">+</button></td>
                                </tr>

                                <tr ng-show="editReuseTireOrigin">
                                    <td></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditPLT" numbers-only ng-init="reuseEditPLT=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditMT" numbers-only ng-init="reuseEditMT=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditAGLS" numbers-only ng-init="reuseEditAGLS=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditIND" numbers-only ng-init="reuseEditIND=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditSOTR" numbers-only ng-init="reuseEditSOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditMOTR" numbers-only ng-init="reuseEditMOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditLOTR" numbers-only ng-init="reuseEditLOTR=0" input-limit="5"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="reuseEditGOTR" numbers-only ng-init="reuseEditGOTR=0" input-limit="5"></td>
                                    <td><button class="btn btn-danger btn-block" type="submit" title="Cancel" ng-click="cancelUpdate()"><i class="fa fa-remove"></i></button><button class="btn btn-success btn-block" type="submit" title="Update" ng-click="updateReuse()" ng-disabled="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="fa fa-check"></i></button></td>
                                </tr>
                                <tr ng-show="finalReuseTireOrigin">
                                    <td></td>
                                    <td>{{reuseTireModel.PLT}}</td>
                                    <td>{{reuseTireModel.MT}}</td>
                                    <td>{{reuseTireModel.AGLS}}</td>
                                    <td>{{reuseTireModel.IND}}</td>
                                    <td>{{reuseTireModel.SOTR}}</td>
                                    <td>{{reuseTireModel.MOTR}}</td>
                                    <td>{{reuseTireModel.LOTR}}</td>
                                    <td>{{reuseTireModel.GOTR}}</td>
                                    <td class="td-center">
                                        <div class="btn-group dropdown-menu-actions">
                                            <a data-toggle="dropdown" href="javascript:void(0)">
                                                <i class="glyphicon glyphicon-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)" ng-click="editReuse()" ng-hide="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
                                                    <span style="padding:3px 20px" ng-show="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</span>
                                                </li>
                                                <li>
                                                    <a ng-click="removeReuse()" ng-hide="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa fa-trash-o"></i>&nbsp;Delete</a>
                                                    <span style="padding:3px 20px" ng-show="claimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant"><i class="glyphicon fa fa-trash-o"></i>&nbsp;Delete</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div>
</script>
<!--/.panel-->
<!-- /Component -->



