﻿<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInternalAdjustments-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalAdjustments-collapseOne" aria-expanded="true" aria-controls="panelInternalAdjustments-collapseOne" class="panel-arrow-expand">
                Internal Adjustments
            </a>
            <a id="exportInternalAdj" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="internalAdjustSearch" type="text" class="form-control" placeholder="Search">
            <div id="internalAdjustFound" class="subcomp-search-found">&nbsp;</div>
            <i class="glyphicon glyphicon-remove remove-icon" id="internalAdjustRemove"></i>
            <i class="glyphicon glyphicon-search" id="internalAdjustSearchBtn"></i>
        </div>
    </div>
    <div id="panelInternalAdjustments-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInternalAdjustments-headingOne">
        <div class="panel-body">
            @Html.Partial("_StaffCollectorInternalAdjustmentList")
        </div>
    </div>
</div>

<!-- Modal: Remove Internal Adjustment -->
<div class="modal fade comp-claims-summary-submitmodal" id="modalRemoveInternalAdjustment" tabindex="-1" role="dialog" aria-labelledby="modalRemoveInternalAdjustment" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalInactivateUser" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding: 20px">
                    <h4 class="txt-c">Are you sure you want to remove <strong>Internal Adjustment</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button id="btnRemoveInternalAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->

