﻿<style>
    .inbound-coll-participant input{
        width: 40px;
    }
</style>

<!-- Component: Inbound -->
<script type="text/ng-template" id="staffCollectorTireModifications.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelInbound-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne">
                    Inbound 
                    <collector-inbound-and-reuse-export model="model" total-model="totalInbound"
                                                        attr-header="Total Inbound" file-name="ParticipantInboundClaimsSummary"
                                                        type-list="Inbound" url='@Url.Action("ExportToExcelInbound", "Claims")' attr-anchor="90px">
                    </collector-inbound-and-reuse-export>
                </a>              
            </h4>
        </div>
        <div id="panelInbound-collapseOne" class="panel-collapse collapse in inbound-coll-participant" role="tabpanel" aria-labelledby="panelInbound-headingOne">
            <div class="panel-body" style="overflow-x: auto;" id="panel-tire-origin">
                <dropdown-resize-tire-origin></dropdown-resize-tire-origin>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="30%">
                                        Tire Origin <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverStaffTireOrigin"></i>                         
                                        <div id="popoverStaffTireOrigin" style="display:none;">
                                            <p>Indicate where your Collector Account has collected your used tires by selecting form the drop down list either 1 or more of the originated tire sources listed. If you have more than 1 source, ensure to allocate your quantities until the sums equal your total. Note: We may request supporting documentation to support the reported claim.</p>
                                        </div>
                                    </th>
                                    <th>PLT</th>
                                    <th>MT</th>
                                    <th>AG/LS</th>
                                    <th>IND</th>
                                    <th>SOTR</th>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th width="6%">GOTR</th>
                                    <th width="6%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addTireOrigin && !notAllowToEditTireCount" id="addTireOrigin">
                                    <td>
                                        <div class="dropdown" @*style="max-width: 150px;"*@>
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" ng-disabled="notAllowToEditTireCount" ng-click="dropDownClick(setOverFlowDropDownVisibility)">
                                                {{reasonSectionAdd}} {{selectedNameTireOriginFirst}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="overflow-add-dropdown">
                                                <li ng-repeat="item in tireOriginItems">
                                                    <a ng-click="setTireSelection(item.Description, item.DefinitionValue, item.DisplayOrder)" role="menuitem" tabindex="-1" href="javascript:void(0)">Reason # {{item.DisplayOrder}} {{item.Description}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowPLT" numbers-only ng-init="firstRowPLT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowMT" numbers-only ng-init="firstRowMT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowAGLS" numbers-only ng-init="firstRowAGLS=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowIND" numbers-only ng-init="firstRowIND=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowSOTR" numbers-only ng-init="firstRowSOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowMOTR" numbers-only ng-init="firstRowMOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowLOTR" numbers-only ng-init="firstRowLOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="firstRowGOTR" numbers-only ng-init="firstRowGOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><button class="btn btn-md btn-success btn-add" type="submit" title="Add" ng-click="add()" ng-disabled="notAllowToEditTireCount">+</button></td>
                                </tr>
                                <tr ng-show="editTireOrigin && !notAllowToEditTireCount" id="editTireOrigin">
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" disabled>
                                                {{reasonSectionEdit}} {{selectedNameTireOriginSecond}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="overflow-edit-dropdown">
                                                <li ng-repeat="item in tireOriginItems">
                                                    <a role="menuitem" tabindex="-1" href="javascript:void(0)">{{item.Description}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowPLT" numbers-only ng-init="secondRowPLT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowMT" numbers-only ng-init="secondRowMT=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowAGLS" numbers-only ng-init="secondRowAGLS=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowIND" numbers-only ng-init="secondRowIND=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowSOTR" numbers-only ng-init="secondRowSOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowMOTR" numbers-only ng-init="secondRowMOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowLOTR" numbers-only ng-init="secondRowLOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><input type="text" class="form-control" placeholder="0" ng-model="secondRowGOTR" numbers-only ng-init="secondRowGOTR=0" input-limit="5" style="width:95px;"></td>
                                    <td><button class="btn btn-danger btn-block" type="submit" title="Cancel" ng-click="cancelUpdate()"><i class="fa fa-remove"></i></button><button class="btn btn-success btn-block" type="submit" title="Update" ng-click="updateItemRow()"><i class="fa fa-check"></i></button></td>
                                </tr>
                                <tr ng-repeat="tireOriginItem in model">
                                    <td width="30%">Reason # {{tireOriginItem.DisplayOrder}} {{tireOriginItem.TireOrigin}}</td>
                                    <td>{{tireOriginItem.PLT}}</td>
                                    <td>{{tireOriginItem.MT}}</td>
                                    <td>{{tireOriginItem.AGLS}}</td>
                                    <td>{{tireOriginItem.IND}}</td>
                                    <td>{{tireOriginItem.SOTR}}</td>
                                    <td>{{tireOriginItem.MOTR}}</td>
                                    <td>{{tireOriginItem.LOTR}}</td>
                                    <td>{{tireOriginItem.GOTR}}</td>
                                    <td class="td-center">
                                        <div class="btn-group dropdown-menu-actions" ng-show="statusString == 'UnderReview' && !notAllowToEditTireCount">
                                            <a data-toggle="dropdown" href="#">
                                                <i class="glyphicon glyphicon-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a ng-click="edit(tireOriginItem)" ng-hide="notAllowToEditTireCount">
                                                        <i class="glyphicon fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a ng-click="removeTires(1,tireOriginItem)" ng-hide="notAllowToEditTireCount">
                                                        <i class="glyphicon fa fa-trash-o" aria-hidden="true"></i>
                                                        &nbsp;Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Total Inbound</strong></td>
                                    <td ng-repeat="item in totalInbound">
                                        {{item}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/.row-->
            </div>
        </div>
    </div><!--/.panel-->
</script>
<!-- /Component -->


<script type="text/ng-template" id="internal-note-modal.html">
    <div class="comp-all-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="tire-origin-modal-title" align="center">Internal Note</h3> @*for {{currentModeForModalHeader}}*@
        </div>
        <div class="modal-body padding-25">           
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="InternalNote">Internal Note</label>
                            <textarea row="2" class="form-control" id="InternalNote" name="InternalNote" ng-model="textAreaModel" ng-change="enableBtn()"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-12">
                        <button class="btn btn-success pull-right btn-space btn-lg" ng-click="confirm(currentMode)" type="button" ng-if="currentMode === 'Edit'" ng-disabled="disableBtn">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                        <button class="btn btn-success pull-right btn-space btn-lg" ng-click="confirm(currentMode)" type="button" ng-if="currentMode === 'Remove'" ng-disabled="disableBtn">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                        <button class="btn btn-success pull-right btn-space btn-lg" ng-click="confirm(currentMode)" type="button" ng-if="currentMode === 'Add'" ng-disabled="disableBtn">
                            @*{{currentMode}}*@
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                        <button class="btn btn-danger pull-right btn-space btn-lg" type="button" data-dismiss="modal" ng-click="cancel()">
                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                            @UIResource.Cancel
                        </button>
                    </div>
                </div>
        </div>
    </div>
</script>



