﻿
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne">
                Inbound @*<i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>*@
                <collector-inbound-and-reuse-export model="inboundModel" total-model="totalInbound"
                                                    attr-header="Total Inbound" file-name="StaffInboundClaimsSummary"
                                                    type-list="Inbound" url='@Url.Action("ExportToExcelInbound", "Claims")' attr-anchor="90px">
                </collector-inbound-and-reuse-export>
            </a>
        </h4>
    </div>
    <div id="panelInbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInbound-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                    @*<table class="table table-hover" id="tblInbound" name="CollectorClaims-Inbound">*@
                        <thead>
                            <tr>
                                <th width="30%">
                                    Tire Origin <i class="fa fa-question-circle popoverTireOrigin" data-placement="auto" title="" popover="#popoverStaffTireOrigin"></i>
                                    <div id="popoverStaffTireOrigin" style="display:none;">
                                        <p>Indicate where your Collector Account has collected your used tires by selecting form the drop down list either 1 or more of the originated tire sources listed. If you have more than 1 source, ensure to allocate your quantities until the sums equal your total. Note: We may request supporting documentation to support the reported claim.</p>
                                    </div>
                                </th>
                                <th>PLT</th>
                                <th>MT</th>
                                <th>AG/LS</th>
                                <th>IND</th>
                                <th>SOTR</th>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tireOriginItem in inboundModel">
                                <td width="30%">{{tireOriginItem.TireOrigin}}</td>
                                <td>{{tireOriginItem.PLT}}</td>
                                <td>{{tireOriginItem.MT}}</td>
                                <td>{{tireOriginItem.AGLS}}</td>
                                <td>{{tireOriginItem.IND}}</td>
                                <td>{{tireOriginItem.SOTR}}</td>
                                <td>{{tireOriginItem.MOTR}}</td>
                                <td>{{tireOriginItem.LOTR}}</td>
                                <td>{{tireOriginItem.GOTR}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Inbound</strong></td>
                                <td ng-repeat="item in totalInbound">
                                    {{item}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div><!--/.panel-->