﻿<!--modal processor claim top info bar template-->
<style>
</style>
<script type="text/ng-template" id="collector-modal-load-top-info-bar.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Pickup Rate Group Details
            </h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <thead>
                    <tr class="success">
                        <th style="text-transform:none; text-align:center;color: black;" class="modal-header"><strong>Claim Period</strong></th>
                        <th style="text-transform:none; text-align:center;color: black;" class="modal-header"><strong>Collector Group</strong></th>
                        <th style="text-transform:none; text-align:center;color: black;" class="modal-header"><strong>Pickup Rate Group</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data">
                        <td class="border-r border-b">{{item.ClaimPeriodName}}</td>
                        <td class="border-r border-b">{{item.GroupName}}</td>
                        <td class="border-b">{{item.RateGroupName}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12">
                <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg ng-scope">
                    <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
</script>

<!--modal processor claim top info bar template-->
<style>
</style>
<script type="text/ng-template" id="processor-modal-load-top-info-bar.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                Processor Group Details
            </h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="text-transform:none; text-align:center; color: black;" ><strong>Claim Period</strong></th>
                        <th style="text-transform:none; text-align:center; color: black;"><strong>Processor Group</strong></th>
                        <th style="text-transform:none; text-align:center; color: black;"><strong>Delivery Rate Group</strong></th>
                        <th style="text-transform:none; text-align:center; color: black;" class="success"><strong>ON-ROAD Rate(per KG)</strong></th>
                        <th style="text-transform:none; text-align:center; color: black;" class="warning"><strong>OFF-ROAD Rate(per KG)</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data">
                        <td class="border-r border-b">{{item.ClaimPeriodName}}</td>
                        <td class="border-r border-b">{{item.GroupName}}</td>
                        <td class="border-r border-b">{{item.RateGroupName}}</td>
                        <td class="border-r border-b">{{item.ProcessorOnRoadRate}}</td>
                        <td class="border-b">{{item.ProcessorOffRoadRate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg ng-scope">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

