﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common

@{
    ViewBag.Title = "Staff Claim Summary";
    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInternalNotes);
    ViewBag.TransactionAdjustPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryTransactionAdjustments);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
@section styles
{
    @Styles.Render("~/css/datatable-tm")
    <style>
        .my-disable {
            pointer-events: none;
        }

        .my-color {
            color: grey;
        }

        .btn-space {
            margin-right: 5px;
        }
        /*OTSTM2-424 begin*/
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }

        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .viewMoreActivity {
            margin-top: 20px;
            display: inline-block;
        }

        /*stick to cube UI*/
        #panelClaimActivity .table thead > tr > th {
            border-bottom: 2px solid #e7ebee;
            text-transform: uppercase;
            font-size: 0.875em;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        #panelClaimActivity .table tbody > tr > td {
            font-size: 0.875em;
            font-family: sans-serif;
            vertical-align: middle;
            border-top: 1px solid #e7ebee;
            padding: 12px 8px;
        }

        /*stick to cube UI*/

        #panelClaimActivity {
            margin-top: -10px;
        }

        table tbody tr td.ng-scope {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        /*OTSTM2-424 end*/

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable { 
            border-collapse: collapse;
            width: 100% !important;
        }
        .collection-payment-title, .collection-payment-qty, .collection-payment-rate, .collection-payment-pay {
            text-align: right;
        }

        /*OTSTM2-1235 The validation css about the business rule: inbound > outbound*/
        .required-validity {
            color: #dd191d;
        }

        .has-error{
            border-color:#a94442 !important
        }
    </style>
}

<div class="tm-all staff-all-claims ng-cloak" ng-controller="collectorStaffClaimSummaryController" id="collectorStaffClaimSummary">
    @Html.Partial("_StaffCollectorHeaderPartial")
    @Html.Partial("_ClaimSummaryBreadCrumb")
    <div class="panel-container">
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryStatus) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_ClaimStatus");
            <claim-status claim-status-model="staffClaimSummaryModel.ClaimStatus"></claim-status>
        }
      
        <!--OTSTM2-386-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_StaffCollectorInboundPartialWithNewFuns")
            <staff-collector-tire-modifications model="inboundModel" total-inbound="totalInbound" tire-origin-items="tireOriginItems" tire-origin-validations="tireOriginValidations"
                                                complete-tire-origin-items="completeTireOriginItems"
                                                status-string="{{staffClaimSummaryModel.ClaimStatus.StatusString}}" ng-if="dataloaded"></staff-collector-tire-modifications>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryOutbound) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_CollectorOutboundPartial")
        }

        @*OTSTM2-588*@
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_CollectorTotalAdjustmentPartial")
        }

        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryReuseTires) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_StaffCollectorReusePartial")
        }
        @Html.Partial("_CollectorRemoveTireOriginCategoryModal")
        <div class="row">
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryTransactionAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_CommonTransactionAdjustPartial")
                }
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInternalAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_StaffCollectorInternalAdjustPartial")
                }
            </div>
            <div class="col-md-6">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryPaymentsAndAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
            {
                    @Html.Partial("_StaffPaymentAdjustPartial")
                }
            </div>
        </div><!--/.row-->
        <!--OTSTM2-524-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_ClaimInternalNotesTemplate")
                  
                    @*OTSTM2-645*@
                    <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="collector-claims-summary-notes"></manage-internal-notes>
                </div>
            </div>
        }
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummarySupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_CollectorClaimSupportingDocPartial", new ViewDataDictionary() {
               { "TransactionId", @ViewBag.ClaimsId },
               { "FileUploadSectionName", CL.TMS.Common.Enum.FileUploadSectionName.Claims },
               { "ClaimsStatus", CL.TMS.Common.Enum.ClaimStatus.Open },
               { "SupportDocEditPermission", SecurityContextHelper.IsEditable(TreadMarksConstants.ClaimsCollectorClaimSummarySupportingDocuments) }
           })
                </div>
            </div>
        }
        @if ((SecurityContextHelper.CollectorClaimsWorkflow != null) && (SecurityContextHelper.CollectorClaimsWorkflow.Workflow != TreadMarksConstants.NoneWorkflow))
        {
            <claim-workflow claim-status-model="staffClaimSummaryModel.ClaimStatus" work-flow="Collector" vendor-type="2"></claim-workflow>
            @Html.Partial("_ClaimWorkflowPartial")
        }
        <!--OTSTM2-424-->
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12" ng-controller="activityController" id="activityPanel">
                    <claim-activity-panel snp-url="@Url.Action("LoadAllActivities", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })"></claim-activity-panel>
                    @Html.Partial("_ClaimActivityPartial")
                </div>
            </div>
        }

        @Html.Partial("_ModalStaffInternalAdjustPartial")
        @Html.Partial("_ClaimExport")
        @Html.Partial("_VendorRateGroupInfoPartial")

        @Html.Partial("_CollectorCommonTemplates")
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};

        Global.Transaction = {
            ClaimId: '@ViewBag.ClaimsId',
            AccessPermission: '@ViewBag.isEditable', //OTSTM2-1304
        };

        Global.ParticipantClaimsSummary = {
            ClaimsID: '@ViewBag.ClaimsId',
            ClaimsStatus: '@ViewBag.ClaimsStatus',
            ClaimDetailsUrl: '@Url.Action("ClaimDetails", "Claims", new { ClaimId = @ViewBag.ClaimsId })',
            AddTireOriginUrl: '@Url.Action("AddTireOrigin", "Claims")',
            RemoveTireOriginUrl: '@Url.Action("RemoveTireOrigin", "Claims")',
            UpdateTireOriginUrl: '@Url.Action("UpdateTireOrigin", "Claims")',
            AddReuseTireOriginUrl: '@Url.Action("AddReuseTireOrigin", "Claims")',
            RemoveReuseTireOriginUrl: '@Url.Action("RemoveReuseTireOrigin", "Claims")',
            UpdateReuseTireOriginUrl: '@Url.Action("UpdateReuseTireOrigin", "Claims")',
            TiresOriginRemoveMessage: 'the Tire Origin class/category for',
            ReuseTiresOriginRemoveMessage: 'the Reuse Tires category for',
            SubmitClaimCheckUrl: '@Url.Action("SubmitClaimCheck", "Claims")',
            FinalSubmitClaimUrl: '@Url.Action("FinalSubmitClaim", "Claims")',
            SubmitInventoryAdjustmentUrl: '@Url.Action("InventoryAdjustment", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimPeriods: '@Url.Action("LoadClaimPeriodBreadCrumb", "Claims", new { area="System" })',
            BreadCrumbUrl: '@Url.Action("ClaimSummary", "Claims")',
            ClaimOnholdOffholdUrl: '@Url.Action("UpdateClaimOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            AuditOnholdOffholdUrl: '@Url.Action("UpdateAuditOnhold", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimWorkflowViewModelUrl: '@Url.Action("LoadClaimWorkflowViewModel", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ClaimBackToParticipantUrl: '@Url.Action("ClaimBackToParticipant", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            LoadClaimWorkflowUsersUrl: '@Url.Action("LoadClaimWorkflowUsers", "Claims", new { area = "System" })',
            UpdateClaimWorkflowStatusUrl: '@Url.Action("UpdateClaimWorkflowStatus", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ApproveClaimUrl: '@Url.Action("ApproveClaim", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            ConcurrentUsersValidationBeforeApprovingUrl: '@Url.Action("ConcurrentUsersValidationBeforeApproving", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })', //OTSTM2-1084 validate claim amount, threshold and assignee before approving
            ExportUrl: '@Url.Action("ExportToExcelInternalNotes", "Claims", new { area="System"})',
            ValidateWorkflowProcessUrl: '@Url.Action("ValidateWorkflowProcess", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateClaimMailDateUrl: '@Url.Action("UpdateClaimMailDate", "Claims", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            TransactionValidationUrl: '@Url.Action("IsUnderCurrentClaim", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            LoadInboundUrl: '@Url.Action("LoadInboundTireOrigin", "Claims", new { ClaimId = @ViewBag.ClaimsId })',  //OTSTM2-386
            AddUpdatedReuseTiresUrl: '@Url.Action("AddUpdatedReuseTires", "Claims")', //OTSTM2-386
            LoadReuseUrl: '@Url.Action("LoadReuseTire", "Claims", new { ClaimId = @ViewBag.ClaimsId })',  //OTSTM2-386
            EditReuseTiresUrl: '@Url.Action("EditUpdatedReuseTires", "Claims")', //OTSTM2-386,
            IsStaffTotalInboundOutbound: '@Url.Action("IsStaffTotalInboundOutbound", "Claims", new { ClaimId = @ViewBag.ClaimsId })', //OTSTM2-434
            LoadSupportingDocsUrl: '@Url.Action("LoadSupportingDocs", "Claims", new { claimId = @ViewBag.ClaimsId })',
            UpdateSupportingDocOption: '@Url.Action("UpdateSupportingDocOption", "Claims")',
            VendorRateInfoUrl: '@Url.Action("GetVendorGroupInfoByVid", "Rates", new {area="System", ClaimId = @ViewBag.ClaimsId })',
            UpdateHSTUrl: '@Url.Action("UpdateHST", "Claims", new { area = "System" })',
        };

        Global.ParticipantTransactionAdjustmentSummary = {
            Resources: {},
            TransAdjustmentHandleUrl: '@Url.Action("GetListHandlerTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            TransAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelTransactionAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            TransAdjustRejectUrl: '@Url.Action("SubmitRejectAdjustment", "Transactions", new { area = "System"})',
            TransAdjustAcceptUrl: '@Url.Action("SubmitAdjustmentReview", "Transactions", new { area = "System" })',
            TransAdjustRecallUrl: '@Url.Action("SubmitAdjustmentRecall", "Transactions", new { area = "System" })',
            viewMoreId: '#transactionAdjustViewMore'
        };

        Global.ParticipantInternalAdjustmentSummary = {
            Resources: {},
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "Claims", new { area = "System" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "Claims", new { area = "System", ClaimId = @ViewBag.ClaimsId })'
        };

        Global.InternalNoteSettings = {
            ID: '@ViewBag.ClaimsId',
            Resources: {},
            UserId: '@ViewBag.UserId',
            UserName: '@ViewBag.UserName',
            LoadInternalNotesUrl: '@Url.Action("GetClaimInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            //OTSTM2-645
            AddInternalNotesUrl: '@Url.Action("AddNotesHandler", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            viewMoreId: '#viewmore',
            removeIconId: '.remove-icon',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            notesLength: '130', //OTSTM2-524 72-->130
            //OTSTM2-645
            ExportToExcelInternalNotes: '@Url.Action("ExportToExcelInternalNotes", "Claims", new { area = "System", id = @ViewBag.ClaimsId })',
            LoadInternalAdjustmentNotesUrl: '@Url.Action("GetInternalNotesInternalAdjustment", "Claims", new { area = "System" })',
            AddInternalAdjustmentNotesUrl: '@Url.Action("AddNotesHandlerInternalAdjustment", "Claims", new { area = "System" })',
            ExportToExcelInternalAdjustmentNotes: '@Url.Action("ExportToExcelInternalAdjustmentNotes", "Claims", new { area = "System" })',
        };

        Global.Settings = {
            CheckFormNumberDuplicationServiceURL: '@Url.Action("CheckFormNumberDuplication", "Transactions", new { area = "System" })',
            GetVendorInfoServiceURL: '@Url.Action("GetVendorInfo", "Transactions", new { area = "System" })',
            GetTransactionSearchListServiceURL: '@Url.Action("GetTransactionSearchList", "Transactions", new { area = "System" })',
            GetTransactionDetailDataServiceURL: '@Url.Action("GetTransactionDetailData", "Transactions", new { area = "System" })',
            GetUpdateTransactionProcessingStatusServiceURL: '@Url.Action("UpdateTransactionProcessingStatus", "Transactions", new { area = "System" })',
            GetGetTransactionHandlerClaimDataServiceURL: '@Url.Action("GetTransactionHandlerClaimData", "Transactions", new { area = "System" })',

            UploadTransactionFileServiceURL: '@Url.Action("UploadTransactionFile", "FileUpload", new { area = "System" })',
            DeleteTemporaryTransactionFileServiceURL: '@Url.Action("DeleteTemporaryTransactionFile", "FileUpload", new { area = "System" })',
            CleanUpTemporaryTransactionFilesServiceURL: '@Url.Action("CleanUpTemporaryTransactionFiles", "FileUpload", new { area = "System" })',

            FileUploadPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.FileUploadPreviewDomainName")',
            MobilePhotoPreviewDomainName: '@CL.TMS.UI.Common.Helper.SiteSettings.Instance.GetSettingValue("Settings.MobilePhotoPreviewDomainName")',
        };
        Global.Settings.Permission = {
            InternalNotePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInternalNotes)',
            DisableInternalAdjustmentsBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInternalAdjustments) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            DisableAddInboundBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummaryInbound) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
            EnableWorkflowButton: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsCollectorClaimSummary) >= CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
        };

    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    <script src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script src="~/js/Transaction/common-transaction-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-activities-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/collectorclaimcommon")
    @Scripts.Render("~/bundles/collectorclaimstaff")
    @*<script src="~/Areas/Collector/Scripts/Claims/collector-claim-summary-directives.js?v=@ViewBag.versionid"></script>*@
    @Scripts.Render("~/bundles/claimtransactionadjustment")
    @Scripts.Render("~/bundles/transaction-list-common")
    <!--OTSTM2-424-->
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")

}
