﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@using Newtonsoft.Json

@{
    ViewBag.Title = "Financial Integration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    @Styles.Render("~/css/cube/cube-searchable-select.css")
    <style>
        .has-error {
           
            border: 1px solid;        
            border-color: red;
        }
        .valid-info {
            color: red;
        }
        .bottom-line {
            border-bottom:2px solid #b0bec5; 
            display:inline-block; 
            padding:0 5px 4px;
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
             background-color:  whitesmoke;    
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #5897fb;
            color: white;
        }
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="financialIntegrationController" id="financialIntegrationController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-12 col-sm-12">
            <h2 class="fixed-claim-header-title">Financial Integration - Distribution Accounts</h2>
            <div class="form-group form-group-select2" style="margin-left:13px;margin-top:-5px;">
                <select style="width:360px;" id="adminFICategoryList" class="select2-hidden-accessible" tabindex="-1" aria-hidden="true" >
                    @foreach (var item in ViewBag.AdminFICategoryList)
                    {
                        <option value="@item.ItemValue">@item.ItemName</option>
                    }
                </select>
            </div>
        </div>
        @*<div class="col-xs-5 col-sm-6">
        </div>*@
    </div><!--/.row-->

    <div class="panel panel-default panel-body" style="margin-top:90px;" ng-cloak>        
        @Html.Partial("_AdminPanelTemplate")
    </div>  

    <!--Buttons-->
    <div class="row" style="margin-top:20px;">
        <button ng-click="saveBtn()" ng-show="!isView" type="button" class="btn btn-success save-btn pull-right margin-top--10 btn-lg" style="margin-right:5px;">
            <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
            Save
        </button>  
        <button ng-click="cancelBtn()" ng-show="!isView" type="button" class="btn btn-danger cancel-btn pull-right margin-top--10 btn-lg" style="margin-right:5px; margin-left:5px">
            <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
            Cancel
        </button>     
    </div>   
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.FI = {
            GetDataUrl: '@Url.Action("GetData", "FinancialIntegration", new { area = "System" })',
            UpdateDataUrl: '@Url.Action("UpdateData", "FinancialIntegration", new { area = "System" })',
            ConfirmSaveHtml: '<h4>Are you sure you want to <strong>Save</strong> the changes?</h4>',
            ConfirmCancelHtml: '<h4>Are you sure you want to <strong>Cancel</strong> the changes?</h4>',
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                AdminFinancialIntegration: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFinancialIntegration)',
            },          
        };

        Global.Settings = {
            popover: {
                height: 'auto',
                width: '300',                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true,
                placement: function () {
                    return 'top';
                }
            },
        };

        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
        $(function ($) {
            //nice select boxes
            $('#adminFICategoryList').select2();
            var options = {};
            options.ui = {
                showPopover: true,
                showErrors: true,
                showProgressBar: false
            };
            options.rules = {
                activated: {
                    wordTwoCharacterClasses: true,
                    wordRepetitions: true
                }
            };
            options.common = {
                debug: true,
                usernameField: "#popoverName"
            };
        });
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/cube-searchable-select.js"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/FinancialIntegration/admin-financial-integration-app.js?v=@ViewBag.versionid"></script>
}