﻿@model CL.TMS.DataContracts.ViewModel.Transaction.TCRTransactionViewModel
@using CL.TMS.Common.Enum
@{
    ViewBag.Title = "TCRTransactions";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

@{
    ViewBag.Title = "StaffIndex";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    //bool isReadOnly = false;
    if (Model != null)
    {


    }

    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var guidStr = HttpContext.Current.Request.QueryString["id"];
    var dateTimeFormat = CL.TMS.Common.TreadMarksConstants.DateFormatJavascriptDateTimePicker;

}

<!-- ///////////// HTML Top ///////////// -->
<form id="frmAddHaulerTCRTrans">
    <div class="tm-all participants-all-claims">

        @Html.Hidden("BankInfo", false)
        <!-- Component: Transactions Header -->
        <div class="row comp-claims-header">
            <div class="col-xs-7 col-sm-6">
                <div class="btn-group">
                    <a class="btn btn-warning btn-xs" href="participants-hauler-claims-summary.html"><i class="fa fa-chevron-left"></i> Claim Summary</a>
                    <a class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="li-label">Inbound</li>
                        <li><a href="participants-hauler-claims-transactions-inbound_tcr.html"><i class="fa fa-file-text-o"></i> TCR</a></li>
                        <li><a href="participants-hauler-claims-transactions-inbound_dot.html"><i class="fa fa-file-text-o"></i> DOT</a></li>
                        <li><a href="participants-hauler-claims-transactions-inbound_ucr.html"><i class="fa fa-file-text-o"></i> UCR</a></li>
                        <li><a href="participants-hauler-claims-transactions-inbound_hit.html"><i class="fa fa-file-text-o"></i> HIT</a></li>
                        <li><a href="participants-hauler-claims-transactions-inbound_stc.html"><i class="fa fa-file-text-o"></i> STC</a></li>
                        <li class="divider"></li>
                        <li class="li-label">Outbound</li>
                        <li><a href="participants-hauler-claims-transactions-outbound_ptr.html"><i class="fa fa-file-text-o"></i> PTR</a></li>
                        <li><a href="participants-hauler-claims-transactions-outbound_hit.html"><i class="fa fa-file-text-o"></i> HIT</a></li>
                        <li><a href="participants-hauler-claims-transactions-outbound_rtr.html"><i class="fa fa-file-text-o"></i> RTR</a></li>
                    </ul>
                </div>
                <h2>TCR Transactions </h2>
            </div>
            <div class="col-xs-5 col-sm-6">
                <div class="sub-header-registrantinfo">3000180</div>
                <div class="sub-header-claimdate">October 2014</div>
            </div>
        </div><!--/.row-->
        <!-- /Component -->


        <button type="button" class="btn btn-success color-tm-green-bg btn-xs btn-add" data-toggle="modal" data-target="#modalAddTCR" title="Add TCR Paer Form">+</button>


        @Html.Partial("_TCRTransactionsAddTCRForm", new CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel { TransactionID = "0", AddFilesURL = ViewBag.AddFilesURL, GetFilesURL = ViewBag.GetFilesURL, DeleteFileURL = ViewBag.DeleteFileURL, AllowSelection = false, AllowDownload = false, AllowDelete = true, CountOfUploadedDocuments = 10, FileUploadSectionName = CL.TMS.Common.Enum.FileUploadSectionName.Transactions })

        <!-- Component: TCR Transactions -->
        <div class="panel panel-default margin-top-20">
            <div class="panel-heading" role="tab" id="panelTCRTransactions-headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#panelTCRTransactions-collapseOne" aria-expanded="true" aria-controls="panelTCRTransactions-collapseOne" class="panel-arrow-expand">
                        All TCR Transactions <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                        @*<button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>*@
                    </a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div id="panelTCRTransactions-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelTCRTransactions-headingOne">
                <div class="panel-body">
                    <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;">
                        <thead>
                            <tr>
                                <th>iPad/Form</th>
                                <th>Badge</th>
                                <th>Date</th>
                                <th>TCR #</th>
                                <th>Collector</th>
                                <th>Business Name</th>
                                <th>Zone</th>
                                <th>Postal Code</th>
                                <th class="txt-c">Gen. Tires</th>
                                <th>On-Road (KG)</th>
                                <th>Off-Road (KG)</th>
                                <th class="txt-c">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="modal" data-target="#modalTCRPaperForm" class="cursor-pointer">
                                <td>Paper Form</td>
                                <td>5</td>
                                <td>2014-07-29</td>
                                <td>1234567890</td>
                                <td>2000000</td>
                                <td>Zach's Tire Shop</td>
                                <td>South</td>
                                <td>M9B 6B7</td>
                                <td class="txt-c color-tm-gray"><i class="fa fa-check-circle"></i></td>
                                <td>12,345.0000</td>
                                <td>12,345.0000</td>
                                <td class="td-c">
                                    <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-pencil-square-o"></i> Adjust</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr data-toggle="modal" data-target="#modalTCRiPad" class="cursor-pointer">
                                <td>OTSIPADH235</td>
                                <td>15</td>
                                <td>2014-07-29</td>
                                <td>1234567890</td>
                                <td>2000000</td>
                                <td>Zach's Tire Shop</td>
                                <td>N1</td>
                                <td>M9B 6B7</td>
                                <td>&nbsp;</td>
                                <td>12,345.0000</td>
                                <td>12,345.0000</td>
                                <td class="td-c">
                                    <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-pencil-square-o"></i> Adjust</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr data-toggle="modal" data-target="#modalTCRPaperForm" class="cursor-pointer">
                                <td>Paper Form</td>
                                <td>6</td>
                                <td>2014-07-29</td>
                                <td>1234567890</td>
                                <td>2000000</td>
                                <td>Canadian Tire</td>
                                <td>N3</td>
                                <td>M9B 6B7</td>
                                <td>&nbsp;</td>
                                <td>12,345.0000</td>
                                <td>12,345.0000</td>
                                <td class="td-c">
                                    <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-pencil-square-o"></i> Adjust</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr data-toggle="modal" data-target="#modalTCRiPad" class="cursor-pointer">
                                <td>OTSIPADH235</td>
                                <td>15</td>
                                <td>2014-07-29</td>
                                <td>1234567890</td>
                                <td>2000000</td>
                                <td>Zach's Tire Shop</td>
                                <td>South</td>
                                <td>M9B 6B7</td>
                                <td class="txt-c color-tm-gray"><i class="fa fa-check-circle"></i></td>
                                <td>12,345.0000</td>
                                <td>12,345.0000</td>
                                <td class="td-c">
                                    <div class="btn-group dropdown-menu-actions">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#modalUnassigniPad"><i class="fa fa-pencil-square-o"></i> Adjust</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-responsive">
                        @Html.Partial("TransactionsList")
                    </div>
                </div>
            </div>
        </div><!--/.panel-->
        <!-- /Component -->
        @Html.Partial("_TCRTransactionsTCRFormDetail")

        <!-- Component: Activity -->
        @*<div class="panel panel-default comp-activity">
            <div class="panel-heading" role="tab" id="panelMyActivity-headingOne">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelMyActivity-collapseInventory" aria-expanded="true" aria-controls="panelMyActivity-collapseInventory" class="panel-arrow-expand">
            Activity <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
            <button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>
            </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
            <input type="text" class="form-control" placeholder="Search">
            <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
            </div>
            </div>
            <div id="panelMyActivity-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelMyActivity-headingOne">
            <div class="panel-body">
            <div class="row">
            <div class="col-sm-12">
            <table class="table">
            <tbody>
            <tr>
            <td>Claim <strong>Sep. 2014</strong> changed from <strong>Under Review</strong> to <strong>Approved</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-10-12</strong> at <strong>2:22 PM</strong>.</td>
            </tr>
            <tr>
            <td>Claim <strong>Sep. 2014</strong> changed from <strong>Submitted</strong> to <strong>Under Review</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-10-09</strong> at <strong>11:34 AM</strong>.</td>
            </tr>
            <tr>
            <td>Claim <strong>Aug. 2014</strong> changed from <strong>Under Review</strong> to <strong>Submitted</strong> by <strong>Stephan Gluchowski</strong> on <strong>2014-09-19</strong> at <strong>1:34 PM</strong>.</td>
            </tr>
            </tbody>
            </table>
            <a href="#" class="viewmore">More</a>
            </div>
            </div><!--/.row-->
            </div>
            </div>
            </div><!--/.panel-->*@
        <!-- /Component -->
    </div>
</form>


@section scripts
{
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/js/jquery-webui-popover")

    <script type="text/javascript">
    //list of Resources text needed
    Global = {};
    Global.StaffIndex = {
        Resources: {
            DateTimeFormat: '@dateTimeFormat',
            },
            Model: {

            }
        };
        Global.fileIDList = "";

        $(function () {
            $('#tbltransactionlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                exportUrl: '@Url.Action("ExportToExcel", "Transactions", new { searchText = "----", sortColumn = "AAA", sortDirection = "BBB" })',
                ajaxHandler: '@Url.Action("GetListHandler", "Transactions")',
                rowUrl: '@Url.Action("TransactionDetail", "Transactions")'
            });
        })
    </script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTables.scroller.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Areas/System/Scripts/Transactions/TCRTransaction.js"></script>
    <script type="text/javascript" src="/Areas/Hauler/Scripts/Transactions/transaction-list.js"></script>
}