﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvitationExpired</title>
</head>
<body>
    <h2>Invitation Expired</h2>
    <p>
        The invitation has expired. Please feel free to go back to <a href="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value" target="_blank">@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.WebsiteURL").Value</a> and reapply.
    </p>
</body>
</html>
