﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];
    var prefix = @Html.GetExpressionText(p => p.CollectorDetails);
    string view = Convert.ToString(@ViewData["view"]);
}

<div class="panel-heading" role="tab" id="panelCollectorDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelCollectorDetails" aria-expanded="false" aria-controls="panelCollectorDetails">
            <img id="flagCollectorDetails" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png"> @UIResource.CollectorDetails
        </a>
    </h4>
</div>
<div id="panelCollectorDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

    <div class="panel-body">
        @if (string.Compare(view, "Staff", 0) == 0)
        {

            @Html.EditorFor(model => model.CollectorDetails, "StaffCollectorDetails", prefix, new {invalidFormFieldList = invalidFormFieldList})
        }
        else
        {
           
            @Html.EditorFor(model => model.CollectorDetails, "ParticipantCollectorDetails", prefix, new {invalidFormFieldList = invalidFormFieldList})
        }
    </div>

</div>