﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Resources
@using CL.TMS.UI.Common.UserInterface;

@{
    var prefix = @Html.GetPropertyName(m => m.BusinessLocation).ToString();
    var BusinessLocationVendor = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(m => m.BusinessLocation.BusinessLocationVendor).ToString());
    var BusinessLocationAddress = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(m => m.BusinessLocation.BusinessLocationAddress).ToString());
    var BusinessMailingAddress = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(m => m.BusinessLocation.BusinessMailingAddress).ToString());

}

<div class="panel-heading" role="tab" id="panelBusinessLocationHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelBusinessLocation" aria-expanded="false" aria-controls="panelBusinessLocation">
            @*<img class="status-flag" src="~/Images/comp-register-all-status-flag-green.png">*@
            <img class="status-flag" id="flagBusinessLocation" src="/Images/comp-register-all-status-flag-grey.png">
            @UIResource.CommonBusinessLocation
        </a>
    </h4>
</div>

<div id="panelBusinessLocation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">

        @if (Model.IsInternal)
        {
            @Html.EditorFor(model => model.BusinessLocation.BusinessLocationVendor, "BusinessLocationVendorInternal", new { data_businesslocationVendor = BusinessLocationVendor })
            <hr>
            @Html.EditorFor(model => model.BusinessLocation.BusinessLocationAddress, "BusinessLocationAddressInternal", new { data_businessLocationAddress = BusinessLocationAddress })

            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="MailingAddressSameAsBusiness" name="BusinessLocation.MailingAddressSameAsBusiness" class="isMailingAddressDifferent"
                                   @(Model.BusinessLocation.MailAddressSameAsBusinessAddress ? "checked" : "")
                                   @( Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant || Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.Open ? "disabled='disabled'" : string.Empty) />
                           @UIResource.ParticipantBusinessLocationCBLabelSameAddress 
                        </label>
                    </div>
                </div>
            </div><!--/.row-->

            @Html.EditorFor(model => model.BusinessLocation.BusinessMailingAddress, "BusinessLocationMailingAddressInternal", BusinessMailingAddress, new { data_businessMailingAddress = BusinessMailingAddress })
        }
        else
        {
            @Html.EditorFor(model => model.BusinessLocation.BusinessLocationVendor, "BusinessLocationVendor", new { data_businesslocationVendor = BusinessLocationVendor })
            <hr>
            @Html.EditorFor(model => model.BusinessLocation.BusinessLocationAddress, "BusinessLocationAddress", new { data_businessLocationAddress = BusinessLocationAddress })

            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="MailingAddressSameAsBusiness" name="BusinessLocation.MailingAddressSameAsBusiness" class="isMailingAddressDifferent"
                                   @(Model.BusinessLocation.MailAddressSameAsBusinessAddress ? "checked" : "")
                                   @( Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant ? "disabled='disabled'" : string.Empty) />
                                    @UIResource.ParticipantBusinessLocationCBLabelSameAddress 


                        </label>
                    </div>
                </div>
            </div><!--/.row-->

            @Html.EditorFor(model => model.BusinessLocation.BusinessMailingAddress, "BusinessLocationMailingAddress", new { data_businessMailingAddress = BusinessMailingAddress })
        }

    </div>
</div>





