﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

<div class="panel-heading" role="tab" id="panelContactInformationHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelContactInformation" aria-expanded="false" aria-controls="panelContactInformation">
            <img class="status-flag" id="flagContactForm" src="~/Images/comp-register-all-status-flag-grey.png">@UIResource.ContactInformation 
        </a>
    </h4>
</div>
<div id="panelContactInformation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="height: 0px;">
    <div class="panel-body">
        <div id="divContactTemplate">

            <input id="contactCount" name="invalidList" type="hidden" value='@(Model.ContactInformation != null ? Model.ContactInformation.Count : 0)' />
            @if (Model.IsInternal)
            {
                <textarea class="temp" style="display:none">
                    @Html.EditorFor(m => m.ContactInformation[0].ContactInformationContact, "ContactInformationContactInternal", new { })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.ContactInformation[0].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress" })
                                    @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                                </label>
                            </div>
                        </div>
                    </div>
                    @Html.EditorFor(m => m.ContactInformation[0].ContactInformationAddress, "ContactInformationAddressInternal", new { data_ContactInformationAddress = @Html.GetPropertyName(m => m.ContactInformation[0].ContactInformationAddress) })
                </textarea>

                for (var i = 0; i < Model.ContactInformation.Count; i++)
                {
                    <textarea id='@(string.Format("contactTemplate{0}", i.ToString()))' style="display:none">
                        @Html.EditorFor(m => m.ContactInformation[i].ContactInformationContact, "ContactInformationContactInternal", new { data_ContactInformationContact = @Html.GetExpressionText(m=>m.ContactInformation[i].ContactInformationContact) })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        @if (Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant || Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.Open)
                                        {
                                            @Html.CheckBoxFor(m => m.ContactInformation[i].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => m.ContactInformation[i].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress", })
                                        }
                                       @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                                    </label>
                                </div>
                            </div>
                        </div>
                        @Html.EditorFor(m => m.ContactInformation[i].ContactInformationAddress, "ContactInformationAddressInternal", new { data_ContactInformationAddress = @Html.GetExpressionText(m => m.ContactInformation[i].ContactInformationAddress) })
                    </textarea>
                }
            }
            else
            {
                <textarea class="temp" style="display:none">
                    @Html.EditorFor(m => m.ContactInformation[0].ContactInformationContact, "ContactInformationContact", new { data_ContactInformationContact = Html.GetPropertyName(m => m.ContactInformation[0].ContactInformationContact) })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    @*<input type="checkbox" id="ContactAddressSameAsBusinessAddress" name="Model.ContactInformation[0].ContactAddressSameAsBusinessAddress"
                                           @(Model.ContactInformation[0].ContactAddressSameAsBusinessAddress ? "checked" : "") />*@
                                    @Html.CheckBoxFor(m => m.ContactInformation[0].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress" })
                                   @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                                </label>
                            </div>
                        </div>
                    </div>
                    @Html.EditorFor(m => m.ContactInformation[0].ContactInformationAddress, "ContactInformationAddress", new { data_ContactInformationAddress = Html.GetPropertyName(m => m.ContactInformation[0].ContactInformationAddress) })
                </textarea>

                for (var i = 0; i < Model.ContactInformation.Count; i++)
                {
                    <textarea id='@(string.Format("contactTemplate{0}", i.ToString()))' style="display:none">
                        @Html.EditorFor(m => m.ContactInformation[i].ContactInformationContact, "ContactInformationContact", new { data_ContactInformationContact = Html.GetExpressionText(m => m.ContactInformation[i].ContactInformationContact) })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
 
                                        @if (Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant)
                                        {
                                            @Html.CheckBoxFor(m => m.ContactInformation[i].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress", disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(m => m.ContactInformation[i].ContactAddressSameAsBusinessAddress, new { id = "ContactAddressSameAsBusinessAddress", })
                                        }
                                        @UIResource.ParticipantContactInformationAddressSameAsBusAddr
                                    </label>
                                </div>
                            </div>
                        </div>
                        @if (Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant)
                        {
                            @Html.EditorFor(m => m.ContactInformation[i].ContactInformationAddress, "ContactInformationAddress", new { disabled = "disabled", data_ContactInformationAddress = Html.GetExpressionText(m => m.ContactInformation[i].ContactInformationAddress) })                            
                        }
                        else
                        { 
                            @Html.EditorFor(m => m.ContactInformation[i].ContactInformationAddress, "ContactInformationAddress", new { data_ContactInformationAddress = @Html.GetExpressionText(m => m.ContactInformation[i].ContactInformationAddress) })                        
                        }

                    </textarea>
                }
            }

        </div><!-- finish contactTemplate  -->
        <div class="row">
            <div class="col-md-12">
                <button id="btnAddContact" type="button" @(Model.IsInternal || (!Model.IsInternal && Model.Status == CL.TMS.Common.Enum.ApplicationStatusEnum.BackToApplicant) ? "disabled='disabled'" : string.Empty) class="btn color-tm-green-bg">Contact +</button> <i class="color-tm-gray-light">&nbsp; Dev. Note: Limit of three contacts on application</i>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var contactLimit = 3;
        var k = 0;
        var temp = $(".temp").val();
        var contactTemplateCount = $('#contactCount').val();
        var currAddCount = 0;

        if (contactTemplateCount == contactLimit) {
            $('#btnAddContact').closest('div.row').hide();
        }

        for (var i = 0; i < contactTemplateCount; i++) {
            var contactTemplate = $("#contactTemplate" + i).val();
            contactTemplate = "<div class='template" + i + "'>" + contactTemplate + '</div><hr>';
            $(contactTemplate).appendTo('#divContactTemplate');

            $(".template" + i + " input[type='checkbox']").each(function () {
                if ($(this).attr('id') == "ContactAddressSameAsBusinessAddress") {
                    if ($(this).is(":checked")) {
                        $(this).closest('.row').next('.contactAddressDifferent').show();
                    }
                    else {
                        $(this).closest('.row').next('.contactAddressDifferent').hide();
                    }
                }
            });
        }
        $('#btnAddContact').on('click', function () {
            addContactRow();
            bindContactCheckbox();
            primaryContactCheckName();
        });        

        var addContactRow = function () {
            if (contactTemplateCount < contactLimit) {

                currAddCount = contactTemplateCount++;
                temp = "<div class='ctemp'><div class='template" + currAddCount + "'>" + temp + '</div></div><hr>';
                $(temp).appendTo('#divContactTemplate');

                $('.template' + currAddCount + ' input[type="text"]').val('');

                for (var i = 0; i < contactTemplateCount; i++) {
                    $(".template" + i + " input[type='text']," + ".template" + i + " input[type='checkbox']," + ".template" + i + " input[type='hidden']," + ".template" + i + " select").each(function () {
                        if ((typeof $(this).attr('name') != 'undefined')) {
                            $(this).attr('name', $(this).attr('name').replace(/\d+/, i));
                        }
                    });

                }
            }
            if (contactTemplateCount == contactLimit) {
                $('#btnAddContact').closest('div.row').hide();
            }            
        }

        var bindContactCheckbox = function () {
            $(".template" + currAddCount + " input[type='checkbox']").each(function () {

                if ((typeof $(this).attr('name') != 'undefined')) {
                    $(this).attr('name', $(this).attr('name').replace(/\d+/, currAddCount));
                }
                if ($(this).attr('id') == "ContactAddressSameAsBusinessAddress") {

                    if ($(this).is(":checked")) {
                        $(this).closest('.row').next('.contactAddressDifferent').hide();
                    }
                    else {
                        $(this).closest('.row').next('.contactAddressDifferent').show();
                    }
                }
            });
        }

        var primaryContactCheckName = function () {
            var primaryContactCount = $('.contactName').size();
            if (primaryContactCount > 1) {
                var count = 0;
                $('.contactName').each(function () {
                    if (count > 0) {
                        $(this).text("New Contact Name " + count);
                    }
                    count++;
                });
            }
        }

        primaryContactCheckName();
    });

</script>
