﻿
@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var prefix = Html.GetExpressionText(p => p.TermsAndConditions.TermsAndConditionsApplication);    
    
}


<div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelsTermsAndConditions" aria-expanded="false" aria-controls="panelsTermsAndConditions">
            <img class="status-flag" id="termConditionForm" src="~/Images/comp-register-all-status-flag-grey.png"> @UIResource.CommonTermsandConditions
        </a>
    </h4>
</div>
<div id="panelsTermsAndConditions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">

        @if (Model.IsInternal)
        {
            @Html.EditorFor(model => model.TermsAndConditions.TermsAndConditionsApplication, "TermsAndConditionsApplicationInternal", prefix, new { })        
        }
        else
        { 
            @Html.EditorFor(model => model.TermsAndConditions.TermsAndConditionsApplication, "TermsAndConditionsApplication", prefix, new { })        
        }

    </div>
</div>