﻿<!--common templates-->
<script type="text/ng-template" id="add-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x"
            data-toggle="modal" title="Add" ng-click="openModal()" ng-disabled="isView">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" ng-click="edit()"><i class="fa fa-pencil-square-o"></i> Edit</a>
</script>

<script type="text/ng-template" id="remove-btn.html">
    <a href="javascript:void(0)" ng-click="remove()"><i class="fa fa-trash-o"></i> Delete</a>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">{{confirmHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="successful-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" align="center">{{successHeader}}</h4>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="sucessMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="cancel()">Ok</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" @*style="color:red;"*@ align="center">{{failHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="message"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()"><i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="item-action.html">
    <div class="btn-group dropdown-menu-actions" ng-show="ShowActionGear">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="fa fa-cog" style="color:#03a9f4"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-processor-group-button item-name="itemName" item-ID="itemID" item-description="itemDescription"></edit-processor-group-button>
                </li>
                <li>
                    <remove-processor-group-button item-name="itemName" item-ID="itemID" item-description="itemDescription"></remove-processor-group-button>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="delivery-rate-group-action.html">
    <div class="btn-group dropdown-menu-actions" ng-show="ShowActionGear">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="fa fa-cog" style="color:#03a9f4"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <delivery-rate-group-edit-button item-name="deliveryRateGroupName" item-ID="deliveryRateGroupID"></delivery-rate-group-edit-button>
                    <delivery-rate-group-remove-button item-name="deliveryRateGroupName" item-ID="deliveryRateGroupID"></delivery-rate-group-remove-button>
                </li>
            </ul>
        </div>
    </div>
</script>


<!--processor group list -->
<script type="text/ng-template" id="processor-group-list-panel.html">
    <div class="panel panel-default" style="margin-left:10px;margin-right:10px; margin-top:5px;">
        <div class="panel-heading" role="tab" id="panelProcessorGroup-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelProcessorGroupList" aria-expanded="true" aria-controls="panelProcessorGroup-collapseOne" class="panel-arrow-expend">
                    Processor Groups
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
            </div>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelProcessorGroupList" role="tabpanel" aria-labelledby="panelProcessorGroup-headingOne">
            <div class="panel-body">
                <div style="height:360px;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                        <add-processor-group-button panel-name="Processor Group" count="count"></add-processor-group-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--delivery rate groups list-->
<script type="text/ng-template" id="delivery-rate-groups-list-panel.html">
    <div class="panel panel-default" style="margin-left:10px;margin-right:10px;">
        <div class="panel-heading" role="tab" id="paneldeliveryRateGroups-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelDeliveryRateGroupsList" aria-expanded="true" aria-controls="panelDeliveryRateGroups-collapseOne" class="panel-arrow-expend">
                    Delivery Rate Groups
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelDeliveryRateGroupsList" role="tabpanel" aria-labelledby="panelDeliveryRateGroups-headingOne">
            <div class="panel-body">
                <div style="height:260px;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                        <add-delivery-rate-button panel-name="Delivery Rate Group" count="count"></add-delivery-rate-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--list activity -->
<script type="text/ng-template" id="delivery-group-activity-panel.html">
    <div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
        <div class="panel-heading" role="tab" id="panelDeliveryGroupActivity-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelDeliveryGroupsActivity" aria-expanded="true" aria-controls="panelDeliveryGroupActivity-collapseOne" class="panel-arrow-expend">
                    Activities<span id="exportActivities" class="export" title="Export to Excel"><i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i></span>
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input id="searchActivity" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelDeliveryGroupsActivity" role="tabpanel" aria-labelledby="panelDeliveryGroupActivity-headingOne">
            <div class="panel-body">
                <div style="height:300px; overflow-y:auto;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



<!--processor group add/edit modal -->
<script type="text/ng-template" id="modal-processor-group.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">
                {{vm.title}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <input style="display:none;" ng-model="vm.ID" />
                <div class="col-md-10 form-group has-required">
                    <input type="text" class="form-control require-input require-name" data-name="material" maxlength="25" ng-model="vm.ProcessorGroupName" ng-disabled="vm.isView" placeholder="Name ..." />
                    <div class="required-validity">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 form-group has-required">
                    <input type="text" class="form-control require-input require-description" data-name="material" maxlength="100" ng-model="vm.ProcessorGroupDescription" ng-disabled="vm.isView" placeholder="Description ..." />
                    <div class="required-validity">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" data-dismiss="modal" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-ban fa-1x"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="submitContent()" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!--delivery rate groups add/edit modal -->
<script type="text/ng-template" id="modal-delivery-rate-group.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">
                {{vm.title}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-group has-required">
                    <label class="control-label" style="font-size:large;">Delivery Rate Group Name</label>
                    <input type="text" class="form-control require-input" data-name="material" maxlength="25" ng-model="vm.DeliveryRateGroupName" ng-disabled="vm.isView" placeholder="Delivery Rate Group Name ..." />
                    <div class="required-validity"></div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Processor Groups</h4>
            </div>
            <div class="row">
                <div class="col-xs-1 margin-left-37"> &nbsp; </div>
                <div class="col-xs-4 small text-center">
                    <div class="form-group form-group-select2">
                        <select style="width:200px;" id="processorGroupList_From" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select>
                    </div>
                    <select name="from[]" id="multiselect" class="form-control small" size="18" multiple="multiple" ng-disabled="vm.isView||true"></select>
                </div>

                <div class="col-xs-1 text-center">
                    @for (var i = 1; i < 12; i++)
                    {
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                &nbsp;
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a id="multiselect_rightSelected" ng-class="{ 'arrow-disabled' : vm.isView }">
                                <i class="fa fa-arrow-circle-o-right fa-2x fa-blue" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a id="multiselect_leftSelected" ng-class="{ 'arrow-disabled' : vm.isView }">
                                <i class="fa fa-arrow-circle-o-left fa-2x fa-blue" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 small text-center">
                    <div class="form-group form-group-select2">
                        <select style="width:200px;" id="processorGroupList_To" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select>
                    </div>
                    <select name="to[]" id="multiselect_to" class="form-control" size="18" multiple="multiple" ng-disabled="vm.isView||true"></select>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div id="SameSelectionOfDropdownList" style="display:none; text-align:center;margin-top:10px">You cannot select same Processor Group in both Dropdown list</div>
                <div id="SaveChangeBeforeSwitching" style="display:none; text-align:center;margin-top:10px">You must save your changes before switching Processor Groups</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" data-dismiss="modal" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-ban fa-1x"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="submitContent()" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>