﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security

@{
    ViewBag.Title = "Delivery Groups";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    <style>
        .required-validity {
            color: #dd191d;
        }

        .form-group.has-required .form-control-feedback {
            opacity: 0.15;
        }

        .rowClickable {
            cursor: pointer;
        }

        .table tbody > tr > td label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .arrow-disabled{
            pointer-events: none;
            opacity: .65; 
        }

        /*fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable { 
            border-collapse: collapse;
            width: 100% !important;
        } 

        .move-right-12px {
            padding-left: 12px !important;
        } 
        .move-right-20px {
            padding-left: 20px !important;
        }  
        .move-right-25px {
            padding-left: 25px !important;
        }  

        .margin-left-37{
            margin-left:37px;
        }

        .webui-popover hr {
	        margin-top: 10px !important;
	        margin-bottom: 10px !important;
        }
    </style>
}

<!--List page-->
<div class="tm-all staff-all-claims" ng-controller="deliveryGroupController" id="deliveryGroupController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Delivery Groups</h2>
        </div>
        <div class="col-xs-5 col-sm-6"></div>
    </div><!--/.row-->
    <div class="panel-container-other">
        <div class="row">
            <processor-group-list-panel url="@Url.Action("LoadVendorGroupList", "Rates", new { area = "System",category= TreadMarksConstants.ProcessorGroup  })"></processor-group-list-panel>
        </div>
        <div class="row">
            <delivery-groups-list-panel url="@Url.Action("LoadRateGroupsList", "Rates", new { area = "System" ,category= TreadMarksConstants.DeliveryGroup })"></delivery-groups-list-panel>
        </div>
        <div class="row">
            <delivery-groups-activity-panel url="@Url.Action("LoadCommonActivities", "Common", new { area = "System", activityType = TreadMarksConstants.AdminMenuActivity, activityArea = TreadMarksConstants.AdminActivityRateGroupDelivery })"></delivery-groups-activity-panel>
        </div>
        @Html.Partial("_DeliveryGroupTemplate")
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @Styles.Render("~/css/cube/cube-searchable-select.css")

    <script type="text/javascript">
        Global = {};
        Global.DeliveryGroups = {
            DeliveryGroupCategory: '@TreadMarksConstants.ProcessorGroup',
            CategoryID: '@ViewBag.CategoryID',
            AddNewProcessorGroupUrl: '@Url.Action("AddNewVendorGroup", "Rates", new { area = "System", category = TreadMarksConstants.ProcessorGroup })',
            UpdateProcessorGroupUrl: '@Url.Action("UpdateVendorGroup", "Rates", new { area = "System" })',
            RemoveProcessorGroupUrl: '@Url.Action("RemoveVendorGroup", "Rates", new { area = "System" })',
            RemoveDeliveryRateGroupUrl: '@Url.Action("RemoveRateGroup", "Rates", new { area = "System" })',
            VendorGroupUniqueNameCheckUrl: '@Url.Action("VendorGroupUniqueNameCheck", "Rates", new { area = "System", category = TreadMarksConstants.ProcessorGroup })',
            IsGroupMappingExistingCheckUrl: '@Url.Action("IsGroupMappingExisting", "Rates", new { area = "System" })',

            RateGroupUniqueNameCheckUrl: '@Url.Action("RateGroupUniqueNameCheck", "Rates", new { area = "System", category = TreadMarksConstants.DeliveryGroup })',
            AddNewDeliveryRateGroupUrl: '@Url.Action("AddNewRateGroup", "Rates", new { area = "System" })',
            UpdateDeliveryRateGroupUrl: '@Url.Action("UpdateRateGroup", "Rates", new { area = "System" })',
            @*GetVendorRateGroupsUrl: '@Url.Action("GetRateGroup", "Rates", new { area = "System" })',*@


            getVendorGroupsUrl: '@Url.Action("GetVendorGroups", "Rates", new { area = "System", category = TreadMarksConstants.ProcessorGroup })',
            getAssociatedVendorGroupsUrl: '@Url.Action("GetAssociatedVendorGroups", "Rates", new { area = "System" })',
            getVendorsUrl: '@Url.Action("GetVendors", "Rates", new { area = "System" })',
            getDefaultVendorsUrl: '@Url.Action("GetDefaultVendors", "Rates", new { area = "System", category = TreadMarksConstants.DeliveryGroup })',

            ExcelUrl: '@Html.Raw(@Url.Action("GetAllActivitiesExport", "Rates", new { area = "System", activityType = TreadMarksConstants.AdminMenuActivity, activityArea = TreadMarksConstants.AdminActivityRateGroupDelivery }))',

            ProcessorGroupPanelHeader: 'Processor Group',
            DeliveryRateGroupPanelHeader: 'Delivery Rate Group',
            ConfirmAddVendorGroupHtml: '<h4>Are you sure you want to add this new Processor Group?</h4>',
            ConfirmEditVendorGroupHtml: '<h4>Are you sure you want to <strong>save</strong> the changes to this Processor Group?</h4>',
            ConfirmRemoveVendorGroupHtml: '<h4>Are you sure you want to <strong>delete</strong> this Group <strong>Name</strong> \/ <strong>Description</strong> ?</h4>',
            ConfirmRemoveRateGroupHtml: '<h4>Are you sure you want to <strong>delete</strong> the Delivery Rate Group <strong>Name</strong> ?</h4>',
            RemoveVendorGroupFailHtml: '<h4><strong>Name</strong> \/ <strong>Description</strong> cannot be deleted because there are Processors / Rates assigned to this Group.</h4>',
            ConfirmAddRateGroupHtml: '<strong>Reg# - Legal name</strong> from <strong>Source Processor Group</strong> to <strong>Destination Processor Group</strong>, ',
            ConfirmHeader: 'Confirm',
            WarningHeader: 'Warning',
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                Authorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRateGroups)',
            },
        };

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>

    <script type="text/javascript" src="~/js/cube/raphael.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/morris.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/nouislider.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/cube-searchable-select.js"></script>
    <script type="text/javascript" src="~/js/multiselect.min.js"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/Rates/deliverygroup-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/lodash.min.js?v=@ViewBag.versionid"></script>
}
