﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.Security
@using CL.TMS.DataContracts.ViewModel.Common
@using Newtonsoft.Json
@using CL.TMS.UI.Common.Helper
@model List<CL.TMS.DataContracts.ViewModel.Common.BaseItemModel>


@{
    ViewBag.Title = "Rates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRatesAndWeights);
    var rateCategory = JsonConvert.SerializeObject(Model);
    var temp = HttpContext.Current.Request;
    var piRateViewModel = new BaseItemModel();
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    @*<link href="~/js/datepicker/bootstrap-datepicker.css?v=@ViewBag.versionid" rel="stylesheet" />*@
    @*<link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" rel="stylesheet" />*@

    @Styles.Render("~/css/datatable-tm")
    @Styles.Render("~/css/datetimepicker")
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/css/cube/cube-searchable-select.css")
    <style>
        #exportActivities {
            background: none;
            left: 95px;
            position: absolute;
            top: 11px;
            width: 25px;
        }
        .has-error {
            color: red;
            border: 1px solid;
            border-color: red;
        }
        .label-new {
            left: 125px;
            position: absolute;
            top: 11px;
            width: 50px;
        }

        .table.clickable tr {
            cursor: pointer;
        }

        .btn-add {
            margin-top: 10px !important;
        }

        .panel-body.transportation-incentive {
            height: 380px;
        }

        #rate-viewdetail-notes > div.panel-body {
            height: 475px;
        }

        .dataTables_wrapper {
            height: 300px !important;
        }

        .limited-width {
            white-space: nowrap;
            max-width: 200px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .table_scrollBody {
            max-height: 160px;
            position: relative;
            width: 100%;
        }

        .position-fixed-x {
            position: relative;
        }

        .position-fixed-y {
            position: relative;
        }

        .datepicker table tr td span {
            width: 100%;
        }

        .disableClick {
            pointer-events: none;
            /*visibility: hidden;*/
        }

        .ratecolor-yellow {
            background-color: #f7bc69;
        }

        .ratecolor-green {
            background-color: #c4dc85;
        }

        .ratecolor-blue {
            background-color: #61b3dd;
        }

        table > tbody > tr.ratecolor-green > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-blue > td {
            border-top: none;
        }

        table > tbody > tr.ratecolor-yellow > td {
            border-top: none;
        }

        .datepicker td, .datepicker th, .daterangepicker td, .daterangepicker th {
            text-transform: capitalize;
            font-size: 1.0em;
        }

        div.datepicker-months > table > thead > tr > th.datepicker-switch {
            pointer-events: none;
        }

        div.modal-content.ng-scope {
            min-width: 600px;
        }

        #internalNoteBody {
            height: 230px !important;
        }

        /*$('[id^=popover]').css('overflow-y','auto').css('overflow-x','hidden')*/
        [id^="popover"] {
            overflow-x:hidden;
            overflow-y:hidden;
        }
        div.popover>div.popover-content{
            padding-left: 12px !important;
        }

        /*OTSTM2-1243*/
        .disable-add-global-pi{
            background-color:#808080 !important;
            pointer-events:none !important;
        }
        .date-time-fixed{
            width:150px !important;
        }
    </style>
}
<!--List page-->
<div class="tm-all staff-all-claims" ng-controller="configurationRateController" id="configurationRateController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Fees and Incentives</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
        </div>
    </div><!--/.row-->
    <div class="row top-element" style="margin-top:90px"></div>
    <div class="row">
        @foreach (var rateCagegory in Model)
        {
            if (rateCagegory.ItemName == TreadMarksConstants.ProcessingIncentiveRates)
            {
                piRateViewModel = rateCagegory;
                <div class="col-md-12">
                    @if (piRateViewModel.SecurityResultType != "NoAccess")
                    {
                        <pi-rate-list-panel-view rate-url="@Url.Action("LoadPIRateList", "Rates", new { area = "System", category = piRateViewModel.ItemValue})"
                                                 category='@piRateViewModel.ItemValue'
                                                 header="@piRateViewModel.ItemName.Substring(0,piRateViewModel.ItemName.IndexOf("Rates")>-1 ? piRateViewModel.ItemName.IndexOf("Rates"):piRateViewModel.ItemName.Length)"
                                                 panel-name="@piRateViewModel.ItemName.Substring(0,piRateViewModel.ItemName.IndexOf("Rates")>-1 ? piRateViewModel.ItemName.IndexOf("Rates"):piRateViewModel.ItemName.Length)">
                        </pi-rate-list-panel-view>
                    }
                </div>
            }
            else if (rateCagegory.DisplayOrder % 2 == 1 && rateCagegory.SecurityResultType != "NoAccess")
            {
                <div class="col-md-6">
                    <rate-list-panel-view rate-url="@Url.Action("LoadRateList", "Rates", new { area = "System", category = rateCagegory.ItemValue})"
                                          category='@rateCagegory.ItemValue'
                                          header="@rateCagegory.ItemName.Substring(0, rateCagegory.ItemName.IndexOf("Rates")>-1 ? rateCagegory.ItemName.IndexOf("Rates"):rateCagegory.ItemName.Length)"
                                          panel-name="@rateCagegory.ItemName.Substring(0,rateCagegory.ItemName.IndexOf("Rates")>-1 ? rateCagegory.ItemName.IndexOf("Rates"):rateCagegory.ItemName.Length)">
                    </rate-list-panel-view>
                </div>
            }
            else if (rateCagegory.DisplayOrder % 2 == 0 && rateCagegory.SecurityResultType != "NoAccess")
            {
                <div class="col-md-6">
                    <rate-list-panel-view rate-url="@Url.Action("LoadRateList", "Rates", new { area = "System", category = rateCagegory.ItemValue})"
                                          category='@rateCagegory.ItemValue'
                                          header="@rateCagegory.ItemName.Substring(0,rateCagegory.ItemName.IndexOf("Rates")>-1 ? rateCagegory.ItemName.IndexOf("Rates"):rateCagegory.ItemName.Length)"
                                          panel-name="@rateCagegory.ItemName.Substring(0,rateCagegory.ItemName.IndexOf("Rates")>-1 ? rateCagegory.ItemName.IndexOf("Rates"):rateCagegory.ItemName.Length)">
                    </rate-list-panel-view>
                </div>
            }
        }
    </div>
    @if ((SiteSettings.Instance.ApplicationInstance == "PRO") && (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly))
    {
        <!-- Component: Activity -->
        <div class="row">
            <div class="col-md-12" ng-controller="activityController" id="activityPanel">
                <common-activity-panel snp-url="@Url.Action("LoadCommonActivities", "Common", new {area="System", activityArea = TreadMarksConstants.AdminActivityFeesIncentives , activityType = TreadMarksConstants.AdminMenuActivity, objectId = 0})"></common-activity-panel>
            </div>
        </div>
                    }
    @Html.Partial("_RateCommonTemplate")
    @Html.Partial("_ClaimInternalNotesTemplate")
    @Html.Partial("_ClaimExport")
    @if (SiteSettings.Instance.ApplicationInstance == "PRO")
    {
        @Html.Partial("_ClaimActivityPartial")
    }
</div>


@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.Rate = {
            LoadRateListUrl: '@Url.Action("LoadRateList", "Rates", new { area = "System" })',
            LoadRateDetailsByTransactionIDUrl: '@Url.Action("LoadRateDetailsByTransactionID", "Rates", new { area = "System" })',
            LoadTIRateDetailsUrl: '@Url.Action("LoadNewTransportationIncentiveRates", "Rates", new { area = "System" })',
            LoadNotesListUrl: '@Url.Action("LoadTransactionNotesList", "Rates", new { area = "System" })',

            IsFutureCollectorRateExists:'@Url.Action("IsFutureCollectorRateExists", "Rates", new { area = "System" })',

            InternalNotesExportUrl: '@Url.Action("ExportTransactionNotesList", "Rates", new { area = "System" })',
            AddNewRateUrl: '@Url.Action("AddNewRate", "Rates", new { area = "System" })',
            AddTIRateUrl: '@Url.Action("SaveNewTransportationIncentiveRates", "Rates", new { area = "System" })',
            AddNewRateSuccessHtml: '<h4><strong>Rate Effective Date: RateDate</strong>  <br/>for <strong>Category</strong> was successfully created.</h4>',
            AddNewRateFailHtml: 'Unable to add a new Rate',
            AddNewRateSuccessHeader: 'Rate Created',
            AddNewRateConfirmHtml: '<h4>Are you sure you want to <strong>add</strong> these new <strong>Rates</strong>?</h4>',
            AddNewNoteUrl: '@Url.Action("AddNotesHandler", "Rates", new { area = "System" })',

            EditRateUrl: '@Url.Action("EditSaveRate", "Rates", new { area = "System" })',
            EditTIRateUrl: '@Url.Action("UpdateTransportationIncentiveRates", "Rates", new { area = "System" })',
            EditRateConfirmHtml: '<h4>Are you sure you want to save the changes?</h4>',
            EditRateFailHeader: 'Unable to save the change',
            EditRateFailHtml: 'Invalid data',

            ResetConfirmHtml: "<h4>Resetting will clear the changes you've made. Are you sure you want to proceed?</h4>",

            RemoveTransactionUrl: '@Url.Action("RemoveFromList", "Rates", new { area = "System" })',
            RemoveTransactionSuccessHtml: '<h4><strong>Rate Transaction</strong> was successfully removed.</h4>',
            RemoveTransactionConfirmHtml: '<h4>Are you sure you want to <strong>remove</strong> these <strong>Rates</strong>?</h4>',
            RemoveTransactionFailHeader: 'Unable to Remove these Rate',
            RemoveTransactionFailHtml: 'Remove Rate Failure',
            RemoveTransactionSuccessHeader: 'Rate Transaction Remove Success',
            PageEditable: '@ViewBag.PageEditable'.toLowerCase(),
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                TireStewardshipFeesRates: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesTireStewardshipFees)',
                RemittancePenaltyRates: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesStewardRemittancePenalty)',
                CollectionAllowancesRates: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesCollectionAllowance)',
                TransportationIncentivesRate: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesTransportationIncentive)',
                ProcessingIncentivesRates: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesProcessingIncentive)',
                ManufacturingIncentivesRates: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesManufacturingIncentive)',
                @*EstimatedWeights: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentivesFeesAndIncentivesEstimatedWeights)',*@
                RatePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminFeesAndIncentives)',
            },
            RateCategory: {
            }
        };

        $.each(@Html.Raw(rateCategory),function(index,rate){
            if (rate instanceof Object) {
                Global.Rate.RateCategory[rate.ItemCode] = {rateCategoryID:rate.ItemValue,rateCategoryName:rate.ItemName};
            }
        });

        Global.Settings = {
            popover:{
                height:'auto',
                width:'auto',
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true,
                placement: function (){
                    return 'top';
                }
            },
        };

        Global.InternalNoteSettings = {
            currentOpenId: 0,
            InternalExportUrl: '',
        };

        Global.CommonActivity = {
            ObjectId: 0,
            ActivityType: @TreadMarksConstants.AdminMenuActivity,
            //ActivitiesLog: '',
            ActivitiesLog: {
                contactPerson:"", 
                active: "changed",
                fieldName:"", 
                defaultValue:"empty",
                thisvalue: "empty",
                panelName: "",
                sectionName: "",
                actLogStr: function () { return "" },
                hasAct: false
            },
            ExportActivityUrl: '@Html.Raw(Url.Action("GetAllActivitiesExport", "Common", new { area = "System", searchText = "CCC", sortColumn="AAA", sortDirection="BBB", activityArea = TreadMarksConstants.AdminActivityFeesIncentives, activityType = TreadMarksConstants.AdminMenuActivity, ClaimId = 0 }))',
            LogHistory:[],
            ActivityArea: '@TreadMarksConstants.AdminActivityFeesIncentives',
            Message: '',
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = GlobalBaseUrl+'@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript" src="~/Areas/System/Scripts/Rates/configurations-rate-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/moment.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/cube-searchable-select.js"></script>
    <script type="text/javascript" src="~/js/multiselect.min.js"></script>
    <script type="text/javascript" src="~/js/Shared/common-activities-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/recursive-diff-master/index.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/lodash.min.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/datepicker")
}