﻿@using CL.TMS.Security.Authorization
<!-- Component: Outbound -->
<div class="@((SecurityContextHelper.IsStaff()) ? "panel panel-default fixed-claim-header-margin-top-0" : "panel panel-default fixed-claim-header-margin-top-70")">
    <div class="panel-heading" role="tab" id="panelOutbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelOutbound-collapseOne" aria-expanded="true" aria-controls="panelOutbound-collapseOne">
                Outbound
                <common-server-export model="RPMClaimSummary"
                                      file-name="@(SecurityContextHelper.IsStaff() ? "StaffOutboundClaimsSummary" : "ParticipantOutboundClaimsSummary")" ng-if="claimDetailsLoaded"
                                      url='@Url.Action("ExportToExcelCommon", "Claims", new { area = "System" })'
                                      type="RPM" sub-type="Outbound" attr-anchor="120px">
                </common-server-export>
            </a>
        </h4>       
    </div>
    <div id="panelOutbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOutbound-headingOne">
        <div class="panel-body">
            <table class="table table-hover" id="tblOutbound" name="HaulerClaims-Outbound">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:right">Actual (t)</th>
                    </tr>
                </thead>    <tbody>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "RPM", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.SPSR, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Summary of Product Sales">SPS</a></td>
                        <td align="right">{{RPMClaimSummary.SPS | number:4}}</td>
                        </a>
                    </tr>
                    <tr>
                        <td>ADJ</td>
                        <td align="right">{{RPMClaimSummary.AdjustOut | number:4}}</td>
                    </tr>
                    <tr>
                        <th><strong>@UIResource.TotalOutbound</strong></th>
                        <th style="text-align:right"><strong>{{RPMClaimSummary.TotalOutbound | number:4}}</strong></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--/.panel-->
<!-- /Component -->
