﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Claims;

@{

}

<table id="tblclaimlist" class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>
            <th>Period<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th class="">Status<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th class="">Amount($)<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Submitted<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Cheque&nbsp;Due<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Cheque/EFT&nbsp;#<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Payment&nbsp;Date<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Assigned&nbsp;On<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
            <th>Submitted&nbsp;By<a class="sort" href="javascript:void(0);"><i class="fa fa-sort"></i>&nbsp;</a></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
