﻿@model CL.TMS.DataContracts.ViewModel.Common.ActiveInactiveViewModel
@using CL.TMS.Common.Enum
@using CL.TMS.Security

@{
    bool isParticipant = false;
    if (!CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
    {
        isParticipant = true;
    }

    //check security level
    var ActiveInactiveResource = CL.TMS.Configuration.ApplicationHelper.CheckSecurityForActiveInactive((ApplicationTypes)ViewData["Type"]);
    var isResourceReadOnly = ActiveInactiveResource == CL.TMS.Security.SecurityResultType.ReadOnly;
}

<div class="sub-header-status txt-r">
    @if ((Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved || Model.Status == ApplicationStatusEnum.Completed) && !isParticipant)
    {
        <div class="btn-group btn-toggle activeInactive fixed-application-header-active-status" @*style="display:none;" id="@((Model.Status == ApplicationStatusEnum.Approved || Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved || Model.Status == ApplicationStatusEnum.Completed) && !isParticipant ? "showApprovedItem" : "hideApprovedItem")"*@>

            <!--OTSTM2-550-->
            @if (Model.CurrentActiveHistory.ActiveState)
            {
                   
                <div data-toggle="tooltip" data-placement="bottom" class="ActiveToolTip" style="float:left">
                    <button id="activeGreenButton" class="btn btn-success active isResourceReadOnly" type="button" data-toggle="modal" data-target="#switchInactiveToActive" >Active</button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" class="InActiveToolTip" style="float:left">
                    <button id="inactiveRedButton" class="btn btn-default isResourceReadOnly" type="button" data-toggle="modal" data-target="#switchActiveToInactive" >Inactive</button>
                </div>
            }
            else
            {               
                <div data-toggle="tooltip" data-placement="bottom" class="ActiveToolTip" style="float:left">
                    <button id="activeGreenButton" class="btn btn-default isResourceReadOnly" type="button" data-toggle="modal" data-target="#switchInactiveToActive" >Active</button>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" class="InActiveToolTip" style="float:left">
                    <button id="inactiveRedButton" class="btn btn-danger isResourceReadOnly" type="button" data-toggle="modal" data-target="#switchActiveToInactive" >Inactive</button>
                </div>
            }
           
        </div>
     }
    
    <div class="btn-group btn-toggle fixed-application-header-active-status" id="showApprovedItem">
    </div>
</div>

<!-- Modal: Active to Inactive -->
@*<div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
            </div>
            <div class="modal-body">
                <div style="padding:0 10%;">
                    <p>@Html.Raw(UIResource.CommonActiveToInactiveStatus.ToString())</p>
                    <label for="">@UIResource.CommonEffectiveDate</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepickerToInactive">
                                    @Html.TextBoxFor(m => m.RegistrantInactive.ActiveStateChangeDate, new
                                    {
                                        @class = "form-control",
                                        @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                        @Value = (Model.RegistrantInactive.ActiveStateChangeDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.RegistrantInactive.ActiveStateChangeDate) : string.Empty),
                                        @readonly = "readonly",
                                        style = "background:white;"
                                    })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ApprovedDate)' />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>@UIResource.CommonReasons</label><br>
                            <div class="dropdown">
                                @Html.DropDownListFor(m => m.RegistrantInactive.Reason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                                            new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                                            new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                                            new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                                            new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                                            new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                                            new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                                            new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                                            new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                                            new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account"},
                                            new SelectListItem() {Text = "Other", Value="Other"}},
                                            "Select Reason",
                                            new { @class = "form-control", @id = "inactivedropdown" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.RegistrantInactive.OtherReason, new
                            {
                                @class = "form-control",
                                style = "display:none;",
                                @id = "OtherInActiveStatus",
                                @Value = string.IsNullOrEmpty(Model.RegistrantInactive.OtherReason) ? string.Empty : Model.RegistrantInactive.OtherReason
                            })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <label for="">New Registration # </label> (if applicable)
                            @Html.TextBoxFor(m => m.RegistrantInactive.Description, new { @class = "form-control", @id = "NewRegistrationNumber" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelInactivatebtn" > @UIResource.CommonCancel</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalDeactivatebtn" >@UIResource.CommonDeactivate</button>
            </div>
        </div>
    </div>
</div>*@
<!-- /Modal  -->
<!-- Modal: Inactive to Active Modal -->
@*<div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
            </div>
            <div class="modal-body">
                <div style="padding:0 10%;">
                    <p>@Html.Raw(UIResource.CommonInactiveToActiveStatusChange.ToString())</p>
                    <label for="">@UIResource.CommonEffectiveDate</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepickerToActive">
                                    @Html.TextBoxFor(m => m.RegistrantActive.ActiveStateChangeDate, new
                                                {
                                                    @class = "form-control",
                                                    @id = "RegistrantStatusChangeEffectiveDate",
                                                    @Value = (Model.RegistrantActive.ActiveStateChangeDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.RegistrantActive.ActiveStateChangeDate) : string.Empty),
                                                    @readonly = "readonly",
                                                    style = "background:white;"
                                                })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                    </span>
                                </div>
                                <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ApprovedDate)' />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>@UIResource.CommonReasons</label><br>
                            <div class="dropdown">
                                @Html.DropDownListFor(m => m.RegistrantActive.Reason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Other", Value= "Other"}},
                                            "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.RegistrantActive.OtherReason, new
                                       {
                                           @class = "form-control",
                                           style = "display:none;",
                                           @id = "OtherActiveStatus",
                                           @Value = string.IsNullOrEmpty(Model.RegistrantActive.OtherReason) ? string.Empty : Model.RegistrantActive.OtherReason
                                       })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelActivatebtn" >@UIResource.CommonCancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="modalActivateBtn" >@UIResource.CommonActivate</button>
            </div>
        </div>
    </div>
</div>*@
<!-- /Modal  -->

<script type="text/javascript">
    var ActiveInactiveSecurity = {
        IsReadOnly: '@isResourceReadOnly'
    }
    $(function () {
        $(".isResourceReadOnly").prop("disabled", "@isResourceReadOnly" == "True");
    });
</script>

<script src="/js/Shared/ActiveInactive.js"></script>

