﻿@model CL.TMS.DataContracts.ViewModel.Common.BankingInformationRegistrationModel

<div class="panel-heading" role="tab" id="panelBankingInformationHeading">
    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelBankingInformation" aria-expanded="false" aria-controls="panelBankingInformation">
            <img class="status-flag" id="flagBankInfo" src="~/Images/comp-register-all-status-flag-grey.png"> Banking Information
        </a>
    </h4>
</div>
@Html.EditorFor(model => model, "BankInformation")
