﻿@model CL.TMS.DataContracts.ViewModel.Common.Registration.IBusinessLocation
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData

@{
    //List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];
    //var prefix = @Html.GetExpressionText(p => p.BusinessLocation);     
    //string view = Convert.ToString(ViewData["view"]);    

    var partialViewData = (CL.TMS.DataContracts.ViewModel.Common.ApplicationPartialViewData.CommonPartialView)ViewData["BusinessLocation"];
    List<string> invalidFormFieldList = partialViewData.InvalidFormFieldList.ToList();
    var prefix = partialViewData.prefix;
    string view = Convert.ToString(partialViewData.view);    
}

<div class="panel-heading" role="tab" id="panelBusinessLocationHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelBusinessLocation" aria-expanded="false" aria-controls="panelBusinessLocation">
            @*<img class="status-flag" src="~/Images/comp-register-all-status-flag-green.png">*@
            <img id="flagBusinessLocation" src="/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark">
            @UIResource.CommonBusinessLocation
        </a>
    </h4>
</div>
    <div id="panelBusinessLocation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            @if (string.Compare(view, "Staff", 0) == 0)
            {
                @Html.EditorFor(model => model.BusinessLocation, "StaffBusinessLocation", (CommonPartialView)ViewData["BusinessLocation"])
            }
            else
            {
                @Html.EditorFor(model => model.BusinessLocation, "ParticipantBusinessLocation", (CommonPartialView)ViewData["BusinessLocation"])
            }
        </div>
    </div>


