﻿@model CL.TMS.DataContracts.ViewModel.Common.FileUpload.FileUploadModel

@{    
}

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/js/FileUpload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/js/FileUpload/css/jquery.fileupload-ui.css">

 <!-- The file upload form used as target for the file upload widget -->
<form id="fileupload">
    <label id="uploadDocumentLabel">@UIResource.SupportingDocUploadDocuments</label><br>
    <table id="filesToUploadGrid" class="table table-striped"></table>

    <div id="fileUploadDropzone" class="dropzone fileinput-button" style="min-height: 200px">
        <div class="dz-default dz-message">
        </div>
        <input id="fileUploadInput" type="file" name="files" multiple accept=".xls,.xlsx,.doc,.docx,.pdf,.jpeg,.jpg,.gif,.bmp,.tiff,.png">
    </div>
    <input type="hidden" id="transactionID" value=@Model.TransactionID />
    <input type="hidden" id="addFilesURL" value=@Model.AddFilesURL/>
    <input type="hidden" id="getFilesURL" value=@Model.GetFilesURL />    
    <input type="hidden" id="disable" value='@Model.Disable' />
    <input type="hidden" id="deleteFilesURL" value=@Model.DeleteFileURL />
    <input type="hidden" id="allowSelection" value=@Model.AllowSelection/>
    <input type="hidden" id="allowDownload" value=@Model.AllowDownload />
    <input type="hidden" id="allowDelete" value=@Model.AllowDelete/>
    <input type="hidden" id="currUploadFiles" value=@Model.CountOfUploadedDocuments.ToString() />
    <input type="hidden" id="fileUploadSectionName" value=@Model.FileUploadSectionName />
    @*<input type="hidden" id="disableEditDescription" value=@(ViewBag.disableEditDescription ?? false)/>*@

    <!-- /Modal  -->
    <!-- Modal: Confirm File Deletion -->
    <div class="modal fade" id="modalConfirmDeletionOfUploadedFile" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDeletionOfUploadedFile" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-90">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="modalConfirmDeletionOfUploadedFileCloseBtn"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.Close</span></button>
                    <h3 class="modal-title" id="modalApprove" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <input type="hidden" class="form-control" id="modalConfirmDeletionOfUploadedFileTargetId" />
                        <h4>@UIResource.FileUploadAreYouSure<br/>'<span id="confirmFileNameToDelete"></span>'?</h4>
                    </div>
                </div>
      
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="modalConfirmDeletionOfUploadedFileNoBtn" class="btn btn-danger btn-lg">
                                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                @UIResource.CommonWordNo
                            </button>
                            <button type="button" id="modalConfirmDeletionOfUploadedFileYesBtn" class="btn btn-success btn-lg">
                                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                @UIResource.CommonWordYes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script >    

    statuses = ['/Images/comp-register-all-status-flag-grey.png', '/Images/comp-register-all-status-flag-green.png'];
    $(function () {
        var disableDropZone = Boolean($('#disable').val());        
        if (disableDropZone) {
            $('#fileUploadDropzone').hide();
            $('#uploadDocumentLabel').hide();
        }

        $('#modalConfirmDeletionOfUploadedFileNoBtn').on('click', function (e) {
            $('#modalConfirmDeletionOfUploadedFile').modal('hide');
        });

        $('#modalConfirmDeletionOfUploadedFileCloseBtn').on('click', function (e) {
            $('#modalConfirmDeletionOfUploadedFile').modal('hide');
        });
        $("#fileUploadInput").prop("disabled", "@(Model.Disable)" == "True");

        $('#fileUploadInput').fileupload({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $("#addFilesURL").val(),
            filesContainer: $('table#filesToUploadGrid'),
            uploadTemplateId: null,
            downloadTemplateId: null,
            downloadTemplate: function (o) {
                var rows = $();
                $.each(o.files, function (index, file) {
                    var disableEditDescription = Boolean($('#disableEditDescription').val());
                    var disable = Boolean($('#disable').val());
                    var allowSelection = Boolean($('#allowSelection').val());
                    var allowDownload = Boolean($('#allowDownload').val());
                    var allowDelete = Boolean($('#allowDelete').val());
                    var isValid = Boolean(file.isValid);

                    var row = $('<tr class="template-download fade">' +
                        (allowSelection ? '<td style="width:2%"><input type="checkbox" class="upload-file-selection" checked/></td>' : '') +
                        '<td style="width:10%"><p class="upload-file-name"></p>' +
                         (file.error || !isValid ? '<div class="upload-file-error"><span class="label label-danger">Error</span>&nbsp;</div>' : '') +
                        '</td>' +
                        '<td style="width:30%" ><div><input type="text" style="width:80%" class="form-control upload-file-document-name" placeholder="Description" maxlength="512"/></div></td>' +
                        '<td style="width:20%"><span class="upload-file-size"></span></td>' +
                        //'<td style="width:20%"><span class="createdOn"></span></td>' +
                        (allowDownload ? '<td style="width:5%"><a target="_blank"><input type="button" title="Download" class="btn btn-success upload-file-download-btn" style="font-weight:bold" value="Download"/></a></td>' : '') +
                        (allowDelete ? '<td style="width:5%"><button type="button" class="btn btn-danger upload-file-delete-btn" data-toggle="modal" data-target="#modalConfirmDeletionOfUploadedFile" data-backdrop="static" data-keyboard="false"  title="Delete"><strong>X</strong></button></td>' : '') +
                        '</tr>');

                    var trimmedEncodedFileName = file.encodedFileName.replace('==', '').replace('=', '');
                    row.attr('id', 'uploadFileRow_' + trimmedEncodedFileName).attr("data-filename", file.name).attr('data-fileid', file.id).attr('data-fileuniquename', file.encodedFileName);

                    if (!isValid) {
                        row.addClass('has-error');
                        row.find('.upload-file-error').attr('id', 'uploadFileError_' + trimmedEncodedFileName).append(file.validationMessage);

                        if (allowSelection) {
                            var selection = row.find('.upload-file-selection');
                            selection.removeAttr('checked');
                            SetSelectionValidationMessage(selection);
                        }
                    }

                    if (disable) {
                        row.find('.upload-file-selection').attr('disabled', 'disabled');
                        row.find('.upload-file-delete-btn').attr('disabled', 'disabled');
                        row.find('input.upload-file-document-name').attr('disabled', 'disabled');
                        row.find(':input[value!="Download"]').attr('disabled', 'disabled');//Download button should remain enabled
                    }

                    if (file.error) {
                        row.find('.upload-file-name').attr('id', 'uploadFileName_' + trimmedEncodedFileName).text(file.name);
                        row.find('.upload-file-error').attr('id', 'uploadFileError_' + trimmedEncodedFileName).append(file.error);
                    } else {
                        row.find('.upload-file-selection').attr('id', 'uploadFileSelection_' + trimmedEncodedFileName);
                        row.find('.upload-file-name').attr('id', 'uploadFileName_' + trimmedEncodedFileName).text(file.name);
                        row.find('.upload-file-size').attr('id', 'uploadFileSize_' + trimmedEncodedFileName).text(o.formatFileSize(file.size));
                        //row.find('.createdOn').text(file.createdOn);
                        row.find('.upload-file-document-name').attr('id', 'uploadFileDocumentName_' + trimmedEncodedFileName).val(file.description);
                        //var fileDeleteUrl = $("#deleteFilesURL").val() + "?transactionID=" + file.transactionId + "&fileId=" + file.id + "&encodedFileName=" + file.encodedFileName;
                        //row.find('.upload-file-delete-btn').attr('id', 'uploadFileDeleteBtn' + file.id).attr('data-type', file.delete_type).attr('data-url', fileDeleteUrl).attr('data-filename', file.name);

                        row.find('.upload-file-delete-btn').attr('id', 'uploadFileDeleteBtn_' + trimmedEncodedFileName).attr('data-filename', file.name);
                        row.find('.upload-file-download-btn').attr('id', 'uploadFileDownloadBtn_' + trimmedEncodedFileName).parent("a").attr("href", file.thumbnail_url);
                    }
                    rows = rows.add(row);
                });
                return rows;
            },
            add: function (e, data) {
                data.formData = [{ name: "TransactionID", value: $("#transactionID").val() },
                    { name: "_fileUploadSectionName", value: $("#fileUploadSectionName").val() },
                    { name: "bBankInfo", value: $("#BankInfo").val() }]
                data.submit()
                    .success(function (result, textStatus, jqXHR) {
                        var currUploadCount = $('#currUploadFiles').val();
                        currUploadCount = parseInt(currUploadCount, 10) + 1;
                        $('#currUploadFiles').val(currUploadCount);
                        PanelGreenCheckSuppDoc();
                        var activitiesLog = GlobalSearch.UserName() + 'added'.strongMe() + this.originalFiles["0"].name + ' into the ' + 'Supporting Document'.strongMe() + 'panel.';
                        Global.CommonActivity.ActivitiesLog.actLogStr = function () { return activitiesLog; }
                        addActivityLog("Steward", null);
                    })
                    .error(function (jqXHR, textStatus, errorThrown) { })
                    .complete(function (result, textStatus, jqXHR) { });
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            completed: function (e, data) {
                $("#filesToUploadGrid").trigger('update', { data: 'addfile' });
                if (typeof data.result == 'string') {
                    alert(data.result);
                    console.log(data.result);
                }                

            },
            fileInput: $("#fileUploadInput"),
            dropZone: $("#fileUploadDropzone"),
            autoUpload: false,
            maxFileSize: 5000000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            sequentialUploads: true,
            singleFileUploads: false,
            disableImagePreview: true,
            disableAudioPreview: true
        });

        $('#filesToUploadGrid').on("keypress", '.upload-file-document-name', function (e) {
            if (e.keyCode == 13) {
                return false; // prevent the button click from happening
            }
        });

        $(document).on('drop dragover', function (e) {
            e.preventDefault();
        });

        $('#filesToUploadGrid').on('blur', '.upload-file-document-name', function () {
            var fileEncodedName = $(this).parents('tr').attr('data-fileuniquename');
            var description = $(this).val();
            AddUploadedFileDescription(fileEncodedName, description);
        });

        $('#modalConfirmDeletionOfUploadedFile').on('show.bs.modal', function (e) {
            $('#modalConfirmDeletionOfUploadedFileTargetId').val('');
            $('#modalConfirmDeletionOfUploadedFileTargetId').val(e.relatedTarget.id);

            $('#confirmFileNameToDelete').empty();
            var fileName = e.relatedTarget.getAttribute('data-filename');
            $('#confirmFileNameToDelete').html(fileName);
        });

        $('#modalConfirmDeletionOfUploadedFile').on("click", '#modalConfirmDeletionOfUploadedFileYesBtn', function (e) {

            var targetId = $('#modalConfirmDeletionOfUploadedFileTargetId').val();
            var target = $('#' + targetId);
            var targetParent = target.parents('tr');

            var transactionId = $('#transactionID').val();
            var fileUniqueName = targetParent.attr('data-fileuniquename');

            $('#' + targetId).attr('disabled', 'disabled');

            $.ajax({
                url: $('#deleteFilesURL').val(),
                method: "GET",
                data: [{ name: 'transactionId', value: transactionId }, { name: 'encodedFileName', value: fileUniqueName }, { name: "bBankInfo", value: $("#BankInfo").val() }],
                dataType: 'json',
                success: function () {
                    var currUploadCount = $('#currUploadFiles').val();
                    currUploadCount = parseInt(currUploadCount, 10) - 1;
                    $('#currUploadFiles').val(currUploadCount);
                    PanelGreenCheckSuppDoc();

                    targetParent.remove();
                    $("#filesToUploadGrid").trigger('update', { data: 'deletefile' });
                    //Global.CommonActivity.ActivitiesLog = GlobalSearch.UserName() + 'removed'.strongMe() + targetParent["0"].childNodes["0"].textContent + ' from the ' + 'Supporting Document'.strongMe() + 'panel.';
                    Global.CommonActivity.ActivitiesLog.actLogStr = function () { return GlobalSearch.UserName() + 'removed'.strongMe() + targetParent["0"].childNodes["0"].textContent + ' from ' + 'Supporting Document'.strongMe() + 'panel.'; }
                    addActivityLog("Steward", null);
                },
                fail: function (jqXHR, textStatus, error) {
                    $('#' + targetId).removeAttr('disabled');
                }
            });
            $('#modalConfirmDeletionOfUploadedFile').modal('hide');
        });

        $('#fileUploadInput').on('change', '.upload-file-selection', function () {
            var validationMessage = "Incorrect file";
            var fileEncodedName = $(this).parents('tr').attr('data-fileuniquename');

            $.ajax({
                url: "/Default/SetUploadedFileValidation",
                method: "POST",
                data: [{ name: "fileEncodedName", value: fileEncodedName }, { name: "isValid", value: $(this).is(':checked') }, { name: "message", value: ($(this).is(':checked') ? '' : validationMessage) }],
                dataType: "json"
            });

            SetSelectionValidationMessage($(this));
        });


        $('#tblSupportingDocuments input[type="radio"]').on('click', function () {
            PanelGreenCheckSuppDoc();
        });

        $('#btnSupDoc').on('click', function () {
            PanelGreenCheckSuppDoc();
        });

        //$('#fileUploadInput').on('change', function () {
        //    console.log('"#fileUploadInput").on("change")');
        //});

        GetUploadedFiles();
        //when page loads
        PanelGreenCheckSuppDoc();

        SubmitButtonSuppDoc();
    });

    function AddUploadedFileDescription(fileEncodedName, description) {
        if (fileEncodedName != "") {
            $.ajax({
                //url: "/Default/UpdateAttachmentDescription",
                url: "/System/FileUpload/UpdateAttachmentDescription",
                method: "POST",
                data: [{ name: "fileEncodedName", value: fileEncodedName }, { name: "description", value: description }],
                dataType: "json"
            });
        }
    }

    function SetSelectionValidationMessage(element) {
        if (!element.is(':checked')) {
            var fileName = element.parents('tr').attr('data-filename');
            var validationMessage = "Incorrect file";

            element.attr('data-uploadedFile-validation-message', validationMessage + ' (' + fileName + ')');
        }
        else {
            element.removeAttr('data-uploadedFile-validation-message');
        }
    }

    function GetUploadedFiles() {
        $('#fileUploadInput').addClass('fileupload-processing');
        $.ajax({
            url: $("#getFilesURL").val(),
            method: "GET",
            data: [{ name: "TransactionID", value: $("#transactionID").val() }, { name: "bBankInfo", value: $("#BankInfo").val() }],
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            PanelGreenCheckSuppDoc
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $('#fileUploadInput').fileupload('option', 'done')
                .call('#fileUploadInput', $.Event('done'), { result: result });
        });
    }

    function SubmitButtonSuppDoc() {

        //$('#disabledsubmitApplicationBtn').hide();
        //$('#submitApplicationBtn').show();

        $(".greenCheckmark").each(function () {
            if ($(this).attr("src") == statuses[1]) {//statuses[1]:flag-green.png; 
                $('#disabledsubmitApplicationBtn').hide();
                $('#submitApplicationBtn').show();
                $("#btnApprove").prop("disabled", false);//Enable #btnApprove
                //OTSTM2 - 303
                if (Global.Remittance) {
                    checkRequiredFields();
                    if (Global.Remittance.bSubmitBtnGreen)
                        $("#submitRemittanceClaimBtn").prop("disabled", false);//enable remittance submit btn
                }
            }
            else {//statuses[0]:flag-grey.png
                $('#disabledsubmitApplicationBtn').show();
                $('#submitApplicationBtn').hide();
                if (Global.Remittance) {
                    checkRequiredFields();
                }
                $("#btnApprove").prop("disabled", true);
                //OTSTM2 - 303
                $("#submitRemittanceClaimBtn").prop("disabled", true);//Disable #btnApprove
                return false;
            }
        });
    }

    function PanelGreenCheckSuppDoc() {
        //$('#panelSortYardDetails').removeClass('collapse');
        //$('#panelSortYardDetails').addClass('collapse-in');

        var fileExists = $('#currUploadFiles').val();
        var fileRequired = false;
        $('#flagSupportingDocuments').attr('src', statuses[0]);
        $("#fmSupportingDoc input[type=radio]").each(function () {
            //var fileExists = $('#filesToUploadGrid tr').length;
            var tr = $(this).parents('tr');
            if (tr.css('display') != "none") {
                var radioValue = $(this).val();
                if (radioValue == 'optionupload' && $(this).is(':checked')) {
                    fileRequired = true;
                }
            }
        });
        var isValid = (fileRequired && fileExists > 0) || !fileRequired;
        $('#flagSupportingDocuments').attr('src', isValid ? statuses[1] : statuses[0]);
        SubmitButtonSuppDoc();
    }

</script>



<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
@*<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>*@
<!-- blueimp Gallery script -->
@*<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>*@
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/js/FileUpload/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
@*<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>*@
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/FileUpload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/FileUpload/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/FileUpload/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/FileUpload/jquery.fileupload-image.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/FileUpload/jquery.fileupload-validate.js"></script>
<!-- The File Upload authenticationUser interface plugin -->
<script src="/js/FileUpload/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
@*<script src="/js/FileUpload/main.js"></script>*@


