﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];    
    var prefix = @Html.GetExpressionText(p => p.HaulerDetails);
    string view = Convert.ToString(ViewData["view"]);
}

<div class="panel-heading" role="tab" id="panelHaulerDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelHaulerDetails" aria-expanded="false" aria-controls="panelHaulerDetails">
            <img id="flagHaulerDetails" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommonHaulerDetails
        </a>
    </h4>
</div>
<div id="panelHaulerDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
    @if (string.Compare(view,"Staff", 0) == 0 )
    {
        @Html.EditorFor(model => model.HaulerDetails, "StaffHaulerDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList  })
    }
    else
    {
            @Html.EditorFor(model => model.HaulerDetails, "ParticipantHaulerDetails", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList })
    }
    </div>
</div>
