﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security;
@using CL.TMS.Security.Authorization;

@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];    
    string view = Convert.ToString(@ViewData["view"]);

    bool disableButton = (!Model.IsInternal && Model.Status == ApplicationStatusEnum.BackToApplicant);


    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSortYardDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="panel-heading" role="tab" id="panelSortYardDetailsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSortYardDetails" aria-expanded="false" aria-controls="panelSortYardDetails">
            <img id="flagSortYard" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommnSortYardDetails
        </a>
    </h4>
</div>
<div id="panelSortYardDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">

        <form id="fmSortYardDetails" method="get" action="">
            <input id="sorYardCount" name="invalidList" type="hidden" value='@Model.SortYardDetails.Count' />
            <div class="row">
                <div class="col-md-12">
                    <p>@UIResource.ParticipantSortYardAreaTiresClassified</p>
                </div>
            </div><!--/.row-->

            <div class="row margin-bottom--10">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            @UIResource.ParticipantSortYardMaxCapcity
                            <i class="fa fa-question-circle sortYardDetailsASYC" data-placement="auto" title=""></i>
                        </label>
                        <div id="sortYardDetailsASYC" style="display:none;">
                            <p>@UIResource.ParticipantSortYardMaxScrapTires</p>
                        </div>
                        <p class="form-control-static" id="SortYardMaxCapacity"></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numberYards">@UIResource.ParticipantTotalSortYard</label>
                        <p class="form-control-static" id="SortYardCount"></p>
                    </div>
                </div>
            </div>
            @if (string.Compare(view, "Staff", 0) == 0)
            {
                @Html.EditorFor(model => model.SortYardDetails, "StaffSortYardDetails", new { invalidFormFieldList = invalidFormFieldList })
            }
            else
            {
                @Html.EditorFor(model => model.SortYardDetails, "ParticipantSortYardDetails", new {  invalidFormFieldList = invalidFormFieldList })
            }
        </form>
        <!-- /.row -->
        @*<hr>*@
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    @*<button id="btnAddSort" type="button" @((!Model.IsInternal && Model.Status == ApplicationStatusEnum.BackToApplicant) ? "disabled='disabled'" : string.Empty) class="btn color-tm-green-bg">@UIResource.ParticipantSortYardPlus</button>*@
                    @*@HelperMethods.Button(new { id = "btnAddSort", @class = "btn color-tm-green-bg" }, (disableButton || isResourceReadOnly), UIResource.ParticipantSortYardPlus)*@

                    @if (SecurityContextHelper.IsStaff())
                    {
                        @HelperMethods.Button(new { id = "btnAddSort", @class = "btn color-tm-green-bg" }, (disableButton || isResourceReadOnly), UIResource.ParticipantSortYardPlus)
                    }
                    else
                    {
                        @HelperMethods.Button(new { id = "btnAddSort", @class = "btn color-tm-green-bg" }, (disableButton), UIResource.ParticipantSortYardPlus)
                    }
                </form>
            </div>
        </div><!-- /.row -->
    </div>
</div>
