﻿@model CL.TMS.DataContracts.ViewModel.Common.SupportingDocumentsRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Security.Authorization

@{
    bool isStaff = false;
    var user = TMSContext.TMSPrincipal;

    if (user.Identity.IsAuthenticated)
    {
        if (SecurityContextHelper.IsStaff())
        {
            isStaff = true;
        }
    }
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    bool isReadOnly = false;
    bool isBackToApplicant = false;
    
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "RequiredDocuments");
    
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.BackToApplicant:
                if (isStaff)
                {
                    isReadOnly = true;
                    break;
                }
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            default:
                isReadOnly = false;
                break;
        }
        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
 
}

<div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">

            @if (isStaff)
            {
                <img id="StaffFlagSupportingDocuments" class="status-flag" src="~/Images/comp-register-all-status-flag-grey.png"> 
            }
            else
            { 
                <img id="flagSupportingDocuments" src="/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark">            
            }

            @UIResource.CommonSupportingDocuments
        </a>
    </h4>
</div>
<div id="panelSupportingDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">
        <p>@UIResource.SupportingDocPleaseSelectMethod</p>
        <ul>
            <li>@UIResource.SupportingDocSendDoc</li>
            <li>@UIResource.SupportingDocFax.Replace("[CompanyFax]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Fax").Value)</li>
            <li>@UIResource.SupportingDocMailAddress.Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value)</li>
        </ul>
        @if (Model.ParticipantType == "Hauler")
            {
             <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
            <thead>
                <tr>
                    <th>
                        <div class="form-group has-required has-feedback">
                            @if (true == @ViewBag.allowFileDownload)
                            {
                                @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                            }
                            <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                            <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                        </div>
                    </th>
                    <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                    <th class="txt-c">@UIResource.SupportingDocMail</th>
                    <th class="txt-c">@UIResource.SupportingDocUpload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL <i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBLH" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                        <div id="supportingDocumentsAIMBLH" style="display:none;">
                            <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                            <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLIH" data-placement="auto" title="Commercial Liability Insurance"></i>
                        <div id="supportingDocumentsCLIH" style="display:none;">
                            <p>@UIResource.SupportingDocInsuranceCertificate</p>
                            <ul>
                                <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                <li>@UIResource.SupportingDocInsurancePink</li>
                                <li>@UIResource.SupportingDocLiability.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)</li>
                            </ul>
                            <p></p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocCVORAbstractLevelII
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVORH" data-placement="auto" title="CVOR Abstract Level II"></i>
                        <div id="supportingDocumentsCVORH" style="display:none;">
                            <p>@UIResource.SupportingDocCVOR</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCVOR" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCVOR == null || Model.SupportingDocumentsOptionCVOR == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocProcessorRelationshipLetter
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsPRLH" data-placement="auto" title="Processor Relationship Letter"></i>
                        <div id="supportingDocumentsPRLH" style="display:none;">
                            <p>@UIResource.SupportingDocPRLOTS</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsProcessorRelationshipLetter" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsProcessorRelationshipLetter == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsProcessorRelationshipLetter" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsProcessorRelationshipLetter == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsProcessorRelationshipLetter" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsProcessorRelationshipLetter == null || Model.SupportingDocumentsProcessorRelationshipLetter == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocHST<i class="fa fa-question-circle color-tm-gray supportingDocumentsHSTH" data-placement="auto" title="@UIResource.SupportingDocHST"></i>
                        <div id="supportingDocumentsHSTH" style="display:none;">
                            <p><strong>@UIResource.SupportdocHstNo</strong> @UIResource.SupportdocHstDesc</p>
                            <p><strong>@UIResource.SupportdocHstImp</strong> @UIResource.SupportdocHstImpDesc</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocWSIBCertificate<i class="fa fa-question-circle color-tm-gray supportingDocumentWSIBH" data-placement="auto" title="@UIResource.SupportingDocWSIBCertificate"></i>
                        <div id="supportingDocumentWSIBH" style="display:none;">
                            <p>@UIResource.Supportdocwsib</p>
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
                <tr>
                    <td>
                        @UIResource.SupportingDocVoidCheque @*<small>Dev. Note: We will only show Void Cheque once Participant is registered</small>*@
                        <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i>
                        <div id="supportingDocumentsVOCH" style="display:none;">
                            <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                        </div>
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>
            </tbody>
        </table>

            }
            else if (Model.ParticipantType == "Collector")
            {
            <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group has-required has-feedback">
                                @if (true == @ViewBag.allowFileDownload)
                                {
                                    @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                                }
                                <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                                <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                            </div>
                        </th>
                        <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                        <th class="txt-c">@UIResource.SupportingDocMail</th>
                        <th class="txt-c">@UIResource.SupportingDocUpload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL <i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBLC" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                            <div id="supportingDocumentsAIMBLC" style="display:none;">
                                <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                                <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLIC" data-placement="auto" title="Commercial Liability Insurance"></i>
                            <div id="supportingDocumentsCLIC" style="display:none;">
                                <p>@UIResource.SupportingDocInsuranceCertificate</p>
                                <ul>
                                    <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                    <li>@UIResource.SupportingDocInsurancePink</li>
                                    <li>@UIResource.SupportingDocLiability.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)</li>
                                </ul>
                                <p></p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocHST<i class="fa fa-question-circle color-tm-gray supportingDocumentsHSTC" data-placement="auto" title="@UIResource.SupportingDocHST"></i>
                            <div id="supportingDocumentsHSTC" style="display:none;">
                                <p><strong>@UIResource.SupportdocHstNo</strong> @UIResource.SupportdocHstDesc</p>
                                <p><strong>@UIResource.SupportdocHstImp</strong> @UIResource.SupportdocHstImpDesc</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocWSIBCertificate<i class="fa fa-question-circle color-tm-gray supportingDocumentsWSIBC" data-placement="auto" title="@UIResource.SupportingDocWSIBCertificate"></i>
                            <div id="supportingDocumentsWSIBC" style="display:none;">
                                <p>@UIResource.Supportdocwsib</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocVoidCheque @*<small>Dev. Note: We will only show Void Cheque once Participant is registered</small>*@
                            <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCHC" data-placement="auto" title="Void Cheque"></i>
                            <div id="supportingDocumentsVOCHC" style="display:none;">
                                <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                </tbody>
            </table>
        }
        @if (Model.ParticipantType == "Steward")
        {


        }
        else if (Model.ParticipantType == "Processor")
        {
            <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group has-required has-feedback">
                                @if (true == @ViewBag.allowFileDownload)
                                {
                                    @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                                }
                                <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                                <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                            </div>
                        </th>
                        <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                        <th class="txt-c">@UIResource.SupportingDocMail</th>
                        <th class="txt-c">@UIResource.SupportingDocUpload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL <i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBL" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                            <div id="supportingDocumentsAIMBL" style="display:none;">
                                <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                                <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLI" data-placement="auto" title="Commercial Liability Insurance"></i>
                            <div id="supportingDocumentsCLI" style="display:none;">
                                <p>@UIResource.SupportingDocInsuranceCertificate</p>
                                <ul>
                                    <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                    <li>@UIResource.SupportingDocInsurancePink</li>
                                    <li>@UIResource.SupportingDocLiability.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)</li>
                                </ul>
                                <p></p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocProcessorRelationshipLetterforProcessor <i class="fa fa-question-circle color-tm-gray supportingDocumentsCFP" data-placement="auto" title="@UIResource.SupportingDocProcessorRelationshipLetterforProcessor"></i>
                            <div id="supportingDocumentsCFP" style="display:none;">
                                <p>@UIResource.SupportCertificateforProcessorDesc</p>                              
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCFP" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCFP == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCFP" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCFP == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCFP" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCFP == null || Model.SupportingDocumentsOptionCFP == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>                 
                   
                    <tr>
                        <td>
                            @UIResource.SupportingDocHST<i class="fa fa-question-circle color-tm-gray supportingDocumentsHST" data-placement="auto" title="@UIResource.SupportingDocHST"></i>
                            <div id="supportingDocumentsHST" style="display:none;">
                                <p><strong>@UIResource.SupportdocHstNo</strong> @UIResource.SupportdocHstDesc</p>
                                <p><strong>@UIResource.SupportdocHstImp</strong> @UIResource.SupportdocHstImpDesc</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocWSIBCertificate<i class="fa fa-question-circle color-tm-gray supportingDocumentWSIB" data-placement="auto" title="@UIResource.SupportingDocWSIBCertificate"></i>
                            <div id="supportingDocumentWSIB" style="display:none;">
                                <p>@UIResource.Supportdocwsib</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocVoidCheque @*<small>Dev. Note: We will only show Void Cheque once Participant is registered</small>*@
                            <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i>
                            <div id="supportingDocumentsVOCH" style="display:none;">
                                <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                </tbody>
            </table>
        }
        @if (Model.ParticipantType == "RPM")
        {
            <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px;" data-toggle="modal" data-target="#myModal">
                <thead>
                    <tr>
                        <th>
                            <div class="form-group has-required has-feedback">
                                @if (true == @ViewBag.allowFileDownload)
                                {
                                    @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                                }
                                <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                                <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                            </div>
                        </th>
                        <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                        <th class="txt-c">@UIResource.SupportingDocMail</th>
                        <th class="txt-c">@UIResource.SupportingDocUpload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @UIResource.SupportingDocArticlesOfIncorporation<br> @UIResource.SupportingDocMBL <i class="fa fa-question-circle color-tm-gray supportingDocumentsAIMBL" data-placement="auto" title="Articles of Incorporation or Master Business Licence (MBL)"></i>
                            <div id="supportingDocumentsAIMBL" style="display:none;">
                                <p><strong>@UIResource.SupportingDocArticlesOfIncorporationWithoutOR</strong> @UIResource.SupportingDocCorpProfileReport</p>
                                <p><strong>@UIResource.SupportingDocMBL</strong> @UIResource.SupportindDocNonIncCorpComp</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionMBL" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionMBL == null || Model.SupportingDocumentsOptionMBL == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocCommercialLiabilityInsurance <i class="fa fa-question-circle color-tm-gray supportingDocumentsCLI" data-placement="auto" title="Commercial Liability Insurance"></i>
                            <div id="supportingDocumentsCLI" style="display:none;">
                                <p>@UIResource.SupportingDocInsuranceCertificate</p>
                                <ul>
                                    <li>@UIResource.SupportingDocCompanyNameDetails</li>
                                    <li>@UIResource.SupportingDocInsurancePink</li>
                                    <li>@UIResource.SupportingDocLiability.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value)</li>
                                </ul>
                                <p></p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCLI" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCLI == null || Model.SupportingDocumentsOptionCLI == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>


                    <tr>
                        <td>
                            @UIResource.SupportingDocHST<i class="fa fa-question-circle color-tm-gray supportingDocumentsHST" data-placement="auto" title="@UIResource.SupportingDocHST"></i>
                            <div id="supportingDocumentsHST" style="display:none;">
                                <p><strong>@UIResource.SupportdocHstNo</strong> @UIResource.SupportdocHstDesc</p>
                                <p><strong>@UIResource.SupportdocHstImp</strong> @UIResource.SupportdocHstImpDesc</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionHST == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionHST" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionHST == null || Model.SupportingDocumentsOptionHST == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocCertificateforApproval
                            <i class="fa fa-question-circle color-tm-gray supportingDocumentsCOA" data-placement="auto" title="Certificate of Approval"></i>
                            <div id="supportingDocumentsCOA" style="display:none;">
                                <p>@UIResource.SupportingDocCertificateforApprovaldesc</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsCertificateforApproval" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsCertificateforApproval == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsCertificateforApproval" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsCertificateforApproval == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsCertificateforApproval" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsCertificateforApproval == null || Model.SupportingDocumentsCertificateforApproval == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocWSIBCertificate<i class="fa fa-question-circle color-tm-gray supportingDocumentWSIB" data-placement="auto" title="@UIResource.SupportingDocWSIBCertificate"></i>
                            <div id="supportingDocumentWSIB" style="display:none;">
                                <p>@UIResource.Supportdocwsib</p>
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionWSIB" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionWSIB == null || Model.SupportingDocumentsOptionWSIB == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                    <tr>
                        <td>
                            @UIResource.SupportingDocVoidCheque @*<small>Dev. Note: We will only show Void Cheque once Participant is registered</small>*@
                            <i class="fa fa-question-circle color-tm-gray supportingDocumentsVOCH" data-placement="auto" title="Void Cheque"></i>
                            <div id="supportingDocumentsVOCH" style="display:none;">
                                <img src="http://www.nrc-cnrc.gc.ca/obj/images/direct_deposit-depot_direct/void_cheque.jpg" width="624" height="309">
                            </div>
                        </td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionfax" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionmail" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                        <td class="txt-c"><label><input type="radio" name="SupportingDocuments.SupportingDocumentsOptionCHQ" value="optionupload" @string.Format("{0}", Model.SupportingDocumentsOptionCHQ == null || Model.SupportingDocumentsOptionCHQ == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    </tr>
                </tbody>
            </table>
            
        }
      

        <div class="row">
            <div class="col-sm-12">
                @Html.Hidden("BankInfo", false)
                @Html.Partial("_FileUpload", new FileUploadModel { TransactionID = Model.ID.ToString(), AddFilesURL = "/System/FileUpload/UploadFiles", GetFilesURL = "/System/FileUpload/GetUploadedFiles", DeleteFileURL = "/System/FileUpload/DeleteUploadedFile", AllowSelection = false, AllowDownload = @ViewBag.allowFileDownload ?? false, AllowDelete = true, CountOfUploadedDocuments = Model.CountOfUploadedDocuments, FileUploadSectionName = Model.FileUploadSectionName})
            </div>
        </div>
        @*<small><em>Dev. Note: Show WSIB if user selects Yes in "Collector Details" panel</em></small><br>
        <small><em>Dev. Note: <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">jQuery File Upload</a></em></small>*@
    </div>
</div>


