﻿@model CL.TMS.DataContracts.ViewModel.Common.SupportingDocumentsRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.DataContracts.ViewModel.Common.FileUpload
@using CL.TMS.Security.Authorization
@{
    bool isStaff = false;
    var user = TMSContext.TMSPrincipal;

    if (user.Identity.IsAuthenticated)
    {
        if (SecurityContextHelper.IsStaff())
        {
            isStaff = true;
        }
    }
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];
    bool isReadOnly = false;
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "RequiredDocuments");
    //isReadOnly = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes) != CL.TMS.Security.SecurityResultType.EditSave;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.BackToApplicant:
                if (isStaff)
                {
                    isReadOnly = true;
                    break;
                }
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            default:
                isReadOnly = false;
                break;
        }

        //isReadOnly = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes) != CL.TMS.Security.SecurityResultType.EditSave;

        
        //var isParticipant = ViewData["IsParticipant"];
        var isParticipant = SecurityContextHelper.IsParticipant();

        if (isParticipant)
        {
            isReadOnly = true;
        }

    }
    //bool AllowDelete = (SecurityContextHelper.IsStaff()) ? false : true;
}

<div class="panel-heading" role="tab" id="panelSupportingDocumentsHeading">
    <h4 class="panel-title">
        <a class="panel-arrow-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelSupportingDocuments" aria-expanded="false" aria-controls="panelSupportingDocuments">

            @if (isStaff)
            {
                <img id="flagSupportingDocuments" class="greenCheckmark" src="~/Images/comp-register-all-status-flag-grey.png">
            }
            else
            {
                <img id="flagSupportingDocuments" src="/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark">
            }

            @UIResource.CommonSupportingDocuments
        </a>
    </h4>
</div>
<div id="panelSupportingDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="height: 0px;">
    <div class="panel-body">

        <ul style="display:none">
            <li>@UIResource.SupportingDocSendDoc</li>
            <li>@UIResource.SupportingDocFax.Replace("[CompanyFax]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Fax").Value)</li>
            <li>@UIResource.SupportingDocMailAddress.Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value)</li>
        </ul>

        <table id="tblSupportingDocuments" class="table table-hover" style="margin-right:5px;margin-top:10px; display:none" data-toggle="modal" data-target="#myModal">
            <thead>
                <tr>
                    <th>
                        <div class="form-group has-required has-feedback">
                            @if (true == @ViewBag.allowFileDownload)
                            {
                                @Html.CheckBox("cbRequiredDocuments",
                                !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())),
                                ExtensionMethods.ConditionalDisable(isReadOnly, new
                                {
                                    id = "cbRequiredDocuments",
                                    data_validate_field = "#SupportingDocuments",
                                    data_validate_message = "Invalid Required Documents",
                                    @class = "validation-checkbox no-validate",
                                    data_att_chkbox = string.Format("{0}.{1}",
                                        prefix, @Html.GetExpressionText(p => p.RequiredDocuments).ToString())
                                }))
                            }
                            <input type="hidden" name='SupportingDocuments.RequiredDocuments' />
                            <label class="control-label" for="inputSuccess2">@UIResource.SupportingDocRequiredDocuments</label>
                        </div>
                    </th>
                    <th class="txt-c">@UIResource.SupportingDocFaxName</th>
                    <th class="txt-c">@UIResource.SupportingDocMail</th>
                    <th class="txt-c">@UIResource.SupportingDocUpload</th>
                </tr>
            </thead>
            <tbody>
                <tr id="negativeAdj">
                    <td>
                        Due to negative adjustments, please supply supporting documentation.
                    </td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.negativeAdj" value="optionfax" @string.Format("{0}", Model.negativeAdj == "optionfax" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.negativeAdj" value="optionmail" @string.Format("{0}", Model.negativeAdj == "optionmail" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                    <td class="txt-c"><label><input type="radio" name="SupportingDocuments.negativeAdj" value="optionupload" @string.Format("{0}", Model.negativeAdj == null || Model.negativeAdj == "optionupload" ? "checked" : "") @(isReadOnly ? "disabled" : "")></label></td>
                </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12">                
                @*<label>@UIResource.SupportingDocUploadDocuments</label><br><br>*@
                @Html.Hidden("BankInfo", false)
                @Html.Partial("_FileUpload", new FileUploadModel
           {
               TransactionID = Model.ID.ToString(),
               AddFilesURL = "/System/FileUpload/UploadTSFClaimFiles",
               GetFilesURL = "/System/FileUpload/GetTSFClaimUploadedFiles",
               DeleteFileURL = "/System/FileUpload/DeleteTSFClaimUploadedFile",
               AllowSelection = false,
               AllowDownload = (!SecurityContextHelper.IsStaff() && ViewData["status"].ToString() != ApplicationStatusEnum.Open.ToString()) ? false : @ViewBag.allowFileDownload ?? false,
               AllowDelete = (!SecurityContextHelper.IsStaff() && ViewData["status"].ToString() != ApplicationStatusEnum.Open.ToString()) ? false : SecurityContextHelper.IsEditable(TreadMarksConstants.RemittanceTSFRemittanceSupportingDocuments),
               CountOfUploadedDocuments = Model.CountOfUploadedDocuments,
               FileUploadSectionName = Model.FileUploadSectionName,
               Disable = (!SecurityContextHelper.IsStaff() && ViewData["status"].ToString() != ApplicationStatusEnum.Open.ToString()) ? true : !SecurityContextHelper.IsEditable(TreadMarksConstants.RemittanceTSFRemittanceSupportingDocuments)
           },
                    new ViewDataDictionary() { { "disableEditDescription", !@ViewBag.AllowEdit }})
            </div>
        </div>        
    </div>
</div>