﻿@model CL.TMS.DataContracts.ViewModel.Common.Registration.ITermsAndConditions
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common.Enum
@{
    List<string> invalidFormFieldList = (List<string>)ViewData["invalidFormFieldList"];    
    var prefix = @Html.GetExpressionText(p => p.TermsAndConditions);
    string view = Convert.ToString(@ViewData["view"]);
}


<div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#panelsTermsAndConditions" aria-expanded="false" aria-controls="panelsTermsAndConditions">
            <img id="flagTermsAndConditions" src="~/Images/comp-register-all-status-flag-grey.png" class="greenCheckmark"> @UIResource.CommonTermsandConditions
        </a>
    </h4>
</div>
<div id="panelsTermsAndConditions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
        @if (string.Compare(view, "Staff", 0) == 0)
        {
            @Html.EditorFor(model => model.TermsAndConditions, "StaffTermsAndConditionsApplication", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList, Type = (ApplicationTypes)@ViewData["Type"] })    
        }
        else
        {
            @Html.EditorFor(model => model.TermsAndConditions, "ParticipantTermsAndConditionsApplication", new { prefix = prefix, invalidFormFieldList = invalidFormFieldList, Type = (ApplicationTypes)@ViewData["Type"] })    
        }
    </div>
</div>