﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface

@{
    var serverurl = ViewBag.serverURL;
}

<div>
    <!-- Modal: Active to Inactive -->
    <div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                </div>
                <div class="modal-body">
                    <div style="padding:0 10%;">
                        <p>@Html.Raw(UIResource.CommonActiveInactiveStatusChange.ToString())</p>
                        <label for="">@UIResource.CommonEffectiveDate</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickerToInactive">
                                        @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD" id="InActiveRegistrantStatusChangeEffectiveDate">*@
                                        @Html.TextBoxFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                   {
                                       @class = "form-control",
                                       @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                       @Value = (Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.RegistrantInActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                       @readonly = "readonly",
                                       style = "background:white;"
                                   })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@Model.RegistrantInActiveStatus.ApprovedDate' />
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label>@UIResource.CommonReasons</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.RegistrantInActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                                            new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                                            new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                                            new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                                            new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                                            new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                                            new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                                            new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                                            new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                                            new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account0"},
                                            new SelectListItem() {Text = "Other", Value="Other"}},
                                            "Select Reason",
                                            new { @class = "form-control", @id = "inactivedropdown" })
                                </div>
                            </div>

                        </div><!--/.row-->
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.RegistrantInActiveStatus.OtherReason, new
                           {
                               @class = "form-control",
                               style = "display:none;",
                               @id = "OtherInActiveStatus",
                               @Value = string.IsNullOrEmpty(Model.RegistrantInActiveStatus.OtherReason) ? string.Empty : Model.RegistrantInActiveStatus.OtherReason
                           })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <label for="">New Registration # </label> (if applicable)
                                @Html.TextBoxFor(m => m.RegistrantInActiveStatus.NewRegistrationNumber, new { @class = "form-control", @id = "NewRegistrationNumber" })
                            </div>
                        </div><!--/.row-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelInactivatebtn">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalDeactivatebtn">
                        @UIResource.CommonDeactivate
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
    <!-- Modal: Inactive to Active Modal -->
    <div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h2 class="modal-title" id="myModalLabel" align="center">@UIResource.CommonRegistrantStatusChange</h2>
                </div>
                <div class="modal-body">
                    <div style="padding:0 10%;">
                        <p>@Html.Raw(UIResource.CommonInactiveActiveStatusChange.ToString())</p>
                        <label for="">@UIResource.CommonEffectiveDate</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickerToActive">
                                        @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD" id="RegistrantStatusChangeEffectiveDate">*@
                                        @Html.TextBoxFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate, new
                                       {
                                           @class = "form-control",
                                           @id = "RegistrantStatusChangeEffectiveDate",
                                           @Value = (Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.RegistrantActiveStatus.RegistrantStatusChangeEffectiveDate) : string.Empty),
                                           @readonly = "readonly",
                                           style = "background:white;"
                                       })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                        </span>
                                    </div>
                                    <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@Model.RegistrantActiveStatus.ApprovedDate' />
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <label>@UIResource.CommonReasons</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.RegistrantActiveStatus.RegistrantStatusChangeReason, new SelectListItem[]{
                                            new SelectListItem() {Text = "Drop Item One", Value="Processor 1"},
                                            new SelectListItem() {Text = "Drop Item Two", Value="Processor 2"},
                                            new SelectListItem() {Text = "Drop Item Three", Value="Processor 3"},
                                            new SelectListItem() {Text = "Drop Item Four", Value="Processor 4"},
                                            new SelectListItem() {Text = "Drop Item Five", Value="Processor 5"},
                                            new SelectListItem() {Text = "Other", Value= "Other"}},
                                            "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                                </div>
                            </div>
                        </div><!--/.row-->
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.RegistrantActiveStatus.OtherReason, new
                               {
                                   @class = "form-control",
                                   style = "display:none;",
                                   @id = "OtherActiveStatus",
                                   @Value = string.IsNullOrEmpty(Model.RegistrantActiveStatus.OtherReason) ? string.Empty : Model.RegistrantActiveStatus.OtherReason
                               })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCancelActivatebtn">
                        @UIResource.CommonCancel
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="modalActivateBtn">
                        @UIResource.CommonActivate
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  -->
</div>
<script type="text/javascript" src="/js/tmapplicationactivateinactivate.js"></script>