﻿@*@model CL.TMS.DataContracts.ViewModel.Collector.CollectorRegistrationModel*@
@using CL.TMS.Common.Enum
@using CL.TMS.Security

<!-- Modal: Select Vendor Group Modal -->
<div class="modal fade comp-claims-summary-submitmodal" id="approveWithSelectedVendorGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabelVendorGroup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                <h3 class="modal-title" id="myModalLabelVendorGroup" align="center">
                    @UIResource.Confirm
                </h3>
            </div>
            <div class="modal-body">
                <div style="padding:0 10%;">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonApproveApplicationConfirm.ToString())</h4>
                        <br />
                        <h4><strong> Assign to Group:</strong></h4>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <select id="listOfVendorGroup" class="form-control isDisableWorkFlowBtn"> </select>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="modalCancelVendorGroupBtnCancel">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    @UIResource.CommonWordNo
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="modalApproveVendorGroupBtnYes">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    @UIResource.CommonWordYes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- /Modal  -->