﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common

@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link rel="stylesheet" href="/css/roles.css" />
    <style>
        .panel-body {
            height: 690px !important;
        }

        .dataTables_wrapper, .dataTables_scroll, .dataTables_scrollBody {
            height: 550px !important;
        }

        #search {
            visibility: visible;
            width: 190px;
        }

        #addNewRole {
            margin-top: 35px;
        }

        #viewmore {
            margin-top: 35px !important;
            display: block;
            float: left;
            color: #aaa;
        }

        .rowClickable {
            cursor: pointer;
        }

        .td-center {
            text-align: center;
        }

        .radio-button-not-allowed {
            cursor: not-allowed !important;
        }

        .webui-popover hr {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }

        /*OTSTM2-843 fix datatable white space when clicking hambourger icon(existing issue)*/
        table.dataTable {
            border-collapse: collapse;
            width: 100% !important;
        }

        /*OTSTM2-843 clicking more, make sure alignment*/
        .move-right-25px {
            padding-left: 25px !important;
        }

        .move-right-20px {
            padding-left: 20px !important;
        }

        .move-right-15px {
            padding-left: 15px !important;
        }

        div.comp-all-modal.ng-scope {
            min-width: 898px;
        }

        div.modal-content {
            min-width: 898px;
        }
    </style>
}


<div class="tm-all spotlight-all-search">
    <div id="fixedClaimHeader" class="row comp-variant-staff comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Roles</h2>
        </div>
    </div>
    <br />
    <div class="col-md-6" style="margin-top: 60px">
        <role-add-btn></role-add-btn>
    </div>
    <br />
    <div class="row" ng-controller="roleListController">
        <role-list-panel snp-url="@Url.Action("RoleListHandler", "User", new { area = "System" })"></role-list-panel>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")

    @Scripts.Render("~/bundles/roles-common")
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        Global = {};
        Global.Settings = {
            getUserNameByRoleNameUrl: '@Url.Action("GetUserNameByRoleName", "User", new { area = "System" })',
        };

        Global.Settings.Permission = {
            DisableAddRoleBtnAndActionGear: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminRolesAndPermissions) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    <!--ng-Template-->
    <script type="text/ng-template" id="roleListPanel.html">
        <div class="col-md-12">
            <div class="panel panel-default  margin-top-20">
                <div class="panel-heading" role="tab" id="panelSpotLightSearchManager-headingOne-roleList">
                    <h4 class="panel-title">
                        <a id="titleIcon" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="panel-arrow-expand" href="#panelRoleList" aria-controls="panelRoleList">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Roles</strong>
                        </a>
                    </h4>
                    <div class="col-xs-6 subcomp-search">
                        <input id="search" type="text" class="form-control" placeholder="Search..." ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                        <p id="foundBox" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                        <i id="removeIcon" class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                        <i id="searchIcon" class="glyphicon glyphicon-search"></i>
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="panelRoleList" role="tabpanel">
                    <div class="panel-body" ng-style="panelAfterMore">
                        <div class="row">
                            <div class="col-md-12">
                                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per" width="100%"></table>
                            </div>
                        </div>
                        <div class="row" style="height:20px"></div><div class="row" style="height:20px"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <a id="viewmore" href="javascript:void(0)" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="role-edit-btn.html">
        <a href="javascript:void(0)" ng-click="openFormForEdit()"><i class="fa fa-folder-open"></i> Edit</a>
    </script>

    <script type="text/ng-template" id="role-delete-btn.html">
        <a href="javascript:void(0)" ng-click="delete()"><i class="fa fa-trash-o" style="margin-left:2px;"></i> Delete</a>
    </script>

    <script type="text/ng-template" id="role-copy-btn.html">
        <a href="javascript:void(0)" ng-click="openFormForCopy()"><i class="fa fa-copy"></i> Copy</a>
    </script>

    <script type="text/ng-template" id="role-action.html">
        <div class="btn-group dropdown-menu-actions" ng-show="ShowActionGear">
            <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
                <i class="fa fa-cog" style="color:#03a9f4"></i>
            </a>
            <div class="popover-menu">
                <ul>
                    <li>
                        <role-edit-btn role-name="roleName"></role-edit-btn>
                    </li>
                    <li>
                        <role-copy-btn role-name="roleName"></role-copy-btn>
                    </li>
                    <li>
                        <role-delete-btn role-id="roleID" role-users="associatedUsers"></role-delete-btn>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="role-add-btn.html">
        <button id="addNewRole" type="button" class="btn btn-success pull-left btn-add margin-top--10"
                data-toggle="modal" title="Add Role" ng-click="add()" style="margin-left:-8px" ng-disabled="DisableAddRoleBtn">
            +
        </button>
    </script>

    <script type="text/ng-template" id="role-action-modal.html">
        <div class="comp-all-modal">
            <form name="roleForm" novalidate ng-submit="submitRole(roleForm.$valid)">
                <div class="modal-header" style="height: 68px;">
                    <div class="row">
                        <div class="col-md-8">                  
                            <h3 class="modal-title" id="rc-form-modal-title">{{isView ? 'Role' : isEdit ? 'Role' : isCopy ? 'New Role' : 'New Role'}}</h3>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label menu-name" style="">Name:</label>
                            <div class="col-sm-8">
                                <div class="form-group" ng-class="{ 'has-error' : (roleForm.$submitted && roleForm.$invalid) || (roleForm.roleName.$invalid && !roleForm.roleName.$pristine) }">
                                    <input type="text" class="form-control input-sm" ng-model="RoleName" id="role-name" ng-disabled="isView" name="roleName" required>
                                    <div ng-show="roleForm.$submitted || roleForm.roleName.$touched">
                                        <p class="help-block" ng-show="(roleForm.roleName.$error.required)" style="margin: 0;">Required</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="modal-body padding-25" style="height: 800px; overflow-y: scroll;">
                    <table style="width:100%;" class="table role-table">
                        <tr>
                            <th>MENU</th>
                            <th>SCREEN</th>
                            <th>PANEL</th>
                            <th>NO ACCESS</th>
                            <th>READ ONLY</th>
                            <th>EDIT/SAVE</th>
                            <th>CUSTOM</th>
                        </tr>

                        <tr ng-repeat="appResource in allRolePermissions_sorted track by $index">
                            @*Resource Level 0*@
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 0 && !appResource.HideRow">
                                <a class="tree-anchor" ng-click="menuClick(appResource)">
                                    <i ng-class="menuIcon(appResource)"></i>
                                </a>
                                <span>{{appResource.Menu}}</span>
                            </td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 0 && !appResource.HideRow"></td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 0 && !appResource.HideRow"></td>

                            @*Resource Level 1*@
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 1 && !appResource.HideRow"></td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 1 && !appResource.HideRow"><a class="tree-anchor" ng-click="screenClick(appResource)"><i ng-class="screenIcon(appResource)"></i></a><span>{{appResource.Screen}}</span></td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 1 && !appResource.HideRow"></td>

                            @*Resource Level 2*@
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 2 && !appResource.HideRow"></td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 2 && !appResource.HideRow"></td>
                            <td class="col-md-2" ng-if="appResource.ResourceLevel === 2 && !appResource.HideRow">{{appResource.Panel}}</td>

                            @*Radio*@
                            <td class="col-md-1" ng-if="!appResource.HideRow">
                                <div class="radio-cube no-access">
                                    <input id="optionsOneRadios{{$index}}" type="radio" value="{{appResource.IsNoAccess}}" ng-checked="appResource.IsNoAccess" name="radio_{{radioName(appResource)}}" ng-disabled="isView" ng-if="appResource.ShowNoAccessRadio" />
                                    <label for="optionsOneRadios{{$index}}" ng-class="{ 'radio-button-not-allowed' : isView }" ng-click="update_isNoAccess_radio($index)" ng-if="appResource.ShowNoAccessRadio"></label>
                                </div>
                            </td>
                            <td class="col-md-1" ng-if="!appResource.HideRow">
                                <div class="radio-cube read-only">
                                    <input id="optionsTwoRadios{{$index}}" type="radio" value="{{appResource.IsReadOnly}}" ng-checked="appResource.IsReadOnly" name="radio_{{radioName(appResource)}}" ng-disabled="isView" ng-if="appResource.ShowReadOnlyRadio" />
                                    <label for="optionsTwoRadios{{$index}}" ng-class="{ 'radio-button-not-allowed' : isView }" ng-click="update_isReadOnly_radio($index)" ng-if="appResource.ShowReadOnlyRadio"></label>
                                </div>
                            </td>
                            <td class="col-md-1" ng-if="!appResource.HideRow">
                                <div class="radio-cube edit-save">
                                    <input id="optionsThreeRadios{{$index}}" type="radio" value="{{appResource.IsEditSave}}" ng-checked="appResource.IsEditSave" name="radio_{{radioName(appResource)}}" ng-disabled="isView" ng-if="appResource.ShowEditSaveRadio" />
                                    <label for="optionsThreeRadios{{$index}}" ng-class="{ 'radio-button-not-allowed' : isView }" ng-click="update_isEditSave_radio($index)" ng-if="appResource.ShowEditSaveRadio"></label>
                                </div>
                            </td>
                            <td class="col-md-1" ng-if="!appResource.HideRow">
                                <div class="radio-cube is-custom">
                                    <input id="optionsFourRadios{{$index}}" type="radio" value="{{appResource.IsCustom}}" ng-checked="appResource.IsCustom" disabled ng-if="appResource.ShowCustomRadio" />
                                    <label for="optionsFourRadios{{$index}}" ng-class="{ 'radio-button-not-allowed' : isView }" ng-if="appResource.ShowCustomRadio"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" ng-if="!isView">
                                <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                                Cancel
                            </button>
                            <button type="button" class="btn btn-default cancel-btn btn-lg" ng-click="cancel()" ng-if="isView">
                                <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                                Close
                            </button>
                            <button class="btn btn-success btn-lg" type="submit" ng-if="isEdit && !isView">
                                <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                                Save
                            </button>
                            <button class="btn btn-success btn-lg" type="submit" ng-if="isCopy && !isView">
                                <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                                Save
                            </button>
                            <button class="btn btn-success btn-lg" type="submit" ng-if="!isEdit && !isCopy && !isView">
                                <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="Confirm.html">
        <div class="modal-content">
            <div class="modal-header" style="height: 60px;">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">                 
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <div style="text-align:center">
                    <h3 class="modal-title" id="modalInternalAdjustmentsConfirm">{{showOk ? "Warning" :"Confirm"}}</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>{{body}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" ng-if="showCancel">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="add()" ng-if="showSave && IsAdd">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="add()" ng-if="showCopy">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="edit()" ng-if="showSave && IsEdit">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="cancel()" ng-if="showOk">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="DeleteConfirm.html">
        <div class="modal-content">
            <div class="modal-header" style="height: 60px;">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div style="text-align:center;">
                    <h3 class="modal-title">Confirm</h3>
                </div>            
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>{{body}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" class="btn btn-success btn-lg" ng-click="delete()">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

}
