﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Security
@using CL.TMS.Common
@{
    SecurityResultType ClaimsAssignmentPagePermission = @ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsClaimsAssignment);
    string disabled = (ClaimsAssignmentPagePermission == SecurityResultType.EditSave) ? string.Empty : "disabled";
}

<table id="tblStaffAllClaimsList" class="table table-hover display truncate datatable-100-perc">
    <thead>
        <tr>
            <th>Reg.&nbsp;#</th>
            <th>Type</th>
            <th>Company</th>
            <th>Period</th>
            <th>Submitted</th>
            <th>Payment Due Date</th>
            <th>Total Claim Amount $</th>
            <th class="txt-c">Status</th>
            <th>Hold Status</th>
            <th>Assigned&nbsp;To</th>
            <th>Actions</th>
            <th>ClaimId</th>
            <th>AssignedToUserId</th>
        </tr>
    </thead>
    <tfoot class="column-search"> @*OTSTM2-904*@
        <tr>
            <th class="search-filter">Reg.&nbsp;#</th>
            <th class="search-filter">Type</th>
            <th class="search-filter">Company</th>
            <th class="search-filter">Period</th>
            <th class="search-filter">Submitted</th>
            <th class="search-filter">Payment Due Date</th>
            <th class="search-filter">Total Claim Amount $</th>
            <th class="txt-c search-filter">Status</th>
            <th class="search-filter">Hold Status</th>
            <th class="search-filter">Assigned&nbsp;To</th>          
            <th></th>
            <th>ClaimId</th>
            <th>AssignedToUserId</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>
<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>
@if ((ClaimsAssignmentPagePermission >= SecurityResultType.ReadOnly) &&
    (((SecurityContextHelper.CollectorClaimsWorkflow != null) && (SecurityContextHelper.CollectorClaimsWorkflow.Workflow == TreadMarksConstants.RepresentativeWorkflow))
    ||((SecurityContextHelper.HaulerClaimsWorkflow != null) && (SecurityContextHelper.HaulerClaimsWorkflow.Workflow == TreadMarksConstants.RepresentativeWorkflow))
    ||((SecurityContextHelper.ProcessorClaimsWorkflow != null) && (SecurityContextHelper.ProcessorClaimsWorkflow.Workflow == TreadMarksConstants.RepresentativeWorkflow))
    ||((SecurityContextHelper.RPMClaimsWorkflow != null) && (SecurityContextHelper.RPMClaimsWorkflow.Workflow == TreadMarksConstants.RepresentativeWorkflow))))
{
    <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAssingToMe" id="asgnToMeBtn" @disabled>Assign to Me</button>
    </div>
}