﻿@model CL.TMS.DataContracts.ViewModel.Steward.TSFRemittanceModel
@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@{
    ViewBag.InterNotesPermission = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes);
    ViewBag.Title = "ParticipantRemittanceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isReadOnly = false;


    if (Model != null)
    {
        switch (Model.Status)
        {
            case ClaimStatus.Submitted:
            case ClaimStatus.UnderReview:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }

    HtmlHelper.ClientValidationEnabled = false;
    var tokenId = ViewContext.RouteData.Values["id"];
    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;
    var TSFNegAdjSwitchDate = Convert.ToDateTime(CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value);
    bool bShowCreditPanel = false;
    if (Model.PeriodDate >= TSFNegAdjSwitchDate) { bShowCreditPanel = true; }

    bool isPeriodDisplay = Model.Status == ClaimStatus.Unknown && ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceRemittancePeriod) >= CL.TMS.Security.SecurityResultType.ReadOnly;
}

@section styles {
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
}

<style>
    .disable-click {
        pointer-events: none;
    }

    .panel-default > .panel-heading a.export, .panel-default > .panel-heading a.export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 110px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.payment-export, .panel-default > .panel-heading a.payment-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 97px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.internalnotes-export, .panel-default > .panel-heading a.internalnotes-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 134px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.status-export, .panel-default > .panel-heading a.status-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 66px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .panel-default > .panel-heading a.internal-adjustment-export, .panel-default > .panel-heading a.internal-adjustment-export:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 192px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .blocked {
        /*color: #c2c2c2 !important;*/ /* The important overrides the settings from bootstrap */
        cursor: no-drop !important;
    }

    .handcursor {
        cursor: pointer !important;
    }

    #activityExport {
        background: none;
        left: 95px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    .label-new {
        left: 125px;
        position: absolute;
        top: 11px;
        width: 50px;
    }

    .viewMoreActivity {
        margin-top: 20px;
        display: inline-block;
    }

    #tbSubtotal label {
        font-weight: normal !important;
    }

    /*fix datatable white space when clicking hambourger icon(existing issue)*/
    table.dataTable {
        border-collapse: collapse;
        width: 100% !important;
    }
</style>
@Styles.Render("~/css/jquery-webui-popover")
@Styles.Render("~/css/datetimepicker")


<!-- ///////////// HTML Top ///////////// -->

<div class="tm-all participants-all-claims">
    <span id="hfIsReadOnly" style="display:none">@isReadOnly</span>
    @Html.HiddenFor(m => m.CustomerID, new { ID = "hdncustomerID" })
    @Html.HiddenFor(m => m.RegistrationNumber, new { ID = "hdnregistrationNumber" })
    @Html.HiddenFor(m => m.SRemitsPerYears, new { ID = "SRemitsPerYears" })

    <input type="hidden" id="hdEditPermissionTSFRemittanceStatus" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceStatus).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdEditPermissionTSFRemittancePeriod" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceRemittancePeriod).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdEditPermissionTSFRemittanceTireCounts" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceTireCounts).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdEditPermissionTSFRemittanceCredit" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceCredit).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdEditPermissionTSFRemittancePayments" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittancePayments).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdEditPermissionTSFRemittanceSuppDocs" value="@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceSupportingDocuments).Equals(CL.TMS.Security.SecurityResultType.EditSave).ToString())" />
    <input type="hidden" id="hdHasSuppDocsAccess" value="@((ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceSupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly).ToString())" />

    <input type="hidden" id="hfPeriodStartDate" value="@ViewBag.PeriodStartDate" />
    <input type="hidden" id="tsfNegAdjSwitchDate" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFNegAdjSwitchDate").Value" />
    <input type="hidden" id="tsfMonthYearSelectionDate" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Settings.TSFMonthYearSelectionDate").Value" />
    <input type="hidden" name="TSFRemittance.ClaimID" value="@Model.ID" id="ClaimID" />
    <input type="hidden" name="TSFRemittance.DetailID" value="@Model.TSFRemittance.DetailID" id="ClaimDetailID" />
    <input type="hidden" id="hdCBRemittanceNilAutoApprove" value="@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Threshold.CBRemittanceNilAutoApprove").Value" />

    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">TSF Remittance Summary</h2>
            <claim-bread-crumb></claim-bread-crumb>
            @if (!string.IsNullOrEmpty(Model.PayPeriod))
            {
                string claimStatusClass = string.Empty;
                switch (Model.Status)
                {
                    case ClaimStatus.Open:
                        claimStatusClass = "color-tm-blue-bg";
                        break;
                    case ClaimStatus.UnderReview:
                        claimStatusClass = "color-tm-yellow-bg";
                        break;
                    case ClaimStatus.Submitted:
                        claimStatusClass = "color-tm-orange-bg";
                        break;
                    case ClaimStatus.Approved:
                        claimStatusClass = "color-tm-green-bg";
                        break;
                    default:
                        claimStatusClass = "color-tm-gray-bg";
                        break;
                }
                <div id="ReportPeriod"
                     class="sub-header-claim-period  @claimStatusClass"
                     style="width:78px; height:32px;line-height:2.1em; text-align:center; margin-top: -3px;"
                     data-toggle="tooltip"
                     data-placement="right"
                     title="@Model.Status">
                    @Model.PayPeriod
                </div>
            }
            <div class="@(Model.PayPeriod != null ? "fixed-claim-header-remittance-2x12x" : "fixed-claim-header-remittance-2x12x-withoutperiod")">
                <div data-placement="bottom"
                     title="@string.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(Model.RemitsPerYearSwitchDate))"
                     data-toggle="tooltip"
                     style="height:32px;"
                     class="btn-group btn-toggle" id="StewardSetting">
                    @if (Model.SRemitsPerYears == false)
                    {
                        <button id="activeGreenButton"
                                class="btn btn-xs active btn-danger fixed-claim-header-btn-group-anchor"
                                type="button"
                                style="width:36px; height:32px;line-height:2.1em;  margin-top: 2px;"
                                data-toggle="modal"
                                data-target="#modalGeneratorOn">
                            2x
                        </button>
                    }
                    else
                    {
                        <button id="inactiveRedButton"
                                class="btn btn-xs active btn-danger fixed-claim-header-btn-group-anchor"
                                type="button"
                                style="width:36px; height:32px;line-height:2.1em;  margin-top: 2px;"
                                data-toggle="modal"
                                data-target="#modalGeneratorOn">
                            12x
                        </button>
                    }
                </div>
            </div>
            <div class="color-tm-orange fixed-claim-header-remittance-status" id="divStatus" style="display:none;">@Model.Status</div><small></small>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="sub-header-status txt-r" id="@((Model.Status == ClaimStatus.Approved) ? "showApprovedItem1" : "hideApprovedItem1")">
                <div class="btn-group btn-toggle fixed-claim-header-active-status" data-toggle="tooltip" title="" data-placement="left" data-original-title='@(Model.ActivityApprovedDate != null ? string.Format("{0:yyyy-MM-dd}", Model.ActivityApprovedDate.Value) : string.Empty)'>
                    @if (Model.ActivityStatus == ActivityStatusEnum.Active)
                    {
                        <button class="btn btn-xs active color-tm-green-bg" data-toggle="modal">Active</button>
                    }
                    else
                    {
                        <button class="btn btn-xs active color-tm-red-bg" data-toggle="modal">Inactive</button>
                    }
                </div>
                <div class="btn-group btn-toggle" id="showApprovedItem">
                </div>
            </div>

            <div class="popoverParticipantInfo" data-placement="auto">

                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo-steward">@(Model.RegistrationNumber == "0" ? "" : Model.RegistrationNumber.ToString())</div>
                <div class="sub-header-companyname fixed-claim-header-companyname">@(Model.BusinessName == null ? "" : Model.BusinessName)</div>
                <div id="popoverParticipantInfo" style="display: none;">
                    <p>
                        <strong>Business Address</strong><br>
                        @(Model.Address.Address1 == null ? "" : Model.Address.Address1.ToString()), @(Model.Address.Address2 == null ? "" : Model.Address.Address2.ToString())<br>
                        @(Model.Address.City == null ? "" : Model.Address.City.ToString()), ON @(Model.Address.PostalCode == null ? "" : Model.Address.PostalCode.ToString())
                    </p>
                    <p>
                        <strong>Primary Contact</strong><br>
                        @(Model.PrimaryContact.FirstName == null ? "" : Model.PrimaryContact.FirstName.ToString()) @(Model.PrimaryContact.LastName == null ? "" : Model.PrimaryContact.LastName.ToString()) <br>
                        @(Model.PrimaryContact.Email == null ? "" : Model.PrimaryContact.Email.ToString())<br>
                        @(Model.PrimaryContact.PhoneNumber == null ? "" : Model.PrimaryContact.PhoneNumber.ToString())
                    </p>
                </div>
            </div>
            <div class="float-right txt-r" style="width:100%"></div>
        </div>
    </div>

    <div class="row" style="@(isPeriodDisplay ? "display: block; margin-top:70px" : "display:none; margin-top:0")">
        <div class="col-sm-5 col-sm-offset-7 txt-r">
            <label for="" style="font-weight:normal;">@UIResource.TSFChooseRemittancePeriod</label>
            <div class="form-group">
                <div class="input-group date" id="dpPeriodDate">@*"{0:MMM yyyy},"*@
                    @Html.TextBoxFor(m => m.PeriodDate, new { @class = "form-control txt-r fixed-claim-header-remittance-datepicker-input", @readonly = "readonly", placeholder = Model.PeriodDate,datedata=Model.PeriodDate })
                    <input type="hidden" id="set" class="set" />
                    <span class="input-group-addon" id="Calender">
                        <span class="glyphicon glyphicon-calendar" style="cursor:pointer;"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div style="@(isPeriodDisplay ? "margin-top: 0px" : "margin-top: 85px")">
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceStatus) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            @Html.Partial("_TSFStaffSummaryStatus", Model)
        }

        <div class="row">
            <div class="col-lg-8">
                @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceTireCounts) >= CL.TMS.Security.SecurityResultType.ReadOnly || (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceCredit) >= CL.TMS.Security.SecurityResultType.ReadOnly))
            {
            <!-- Component: Tire Counts -->
                    using (Html.BeginForm("AddRemittance", "TSFRemittances", FormMethod.Post, new { id = "fmRemittanceTireCount", style = "" }))
                    {
            <!-- Component: Remittance -->
                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceTireCounts) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            <div class="panel panel-default">
                                @Html.Partial("_TSFRemittanceTireCounts", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", @ViewBag.AllowEdit } })
                            </div><!-- /.panel -->
                        }
                        if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceCredit) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            if (Model.PeriodDate >= TSFNegAdjSwitchDate)
                            {
                                <div class="panel panel-default">
                                    @Html.Partial("_TSFRemittanceCredit", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", @ViewBag.AllowEdit } })
                                </div><!-- /.panel -->
                            }
                        }
                    }
                }
                @if (Model.ID != 0)
                {
                    if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalAdjustments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                    {
                        @Html.Partial("_TSFStaffInternalAdjustmentPartial")
                    }
                }

                <!-- Modal: Tire Counts Category Remove  -->
                <div class="modal fade" id="modalTireCountsRemove" tabindex="-1" role="dialog" aria-labelledby="modalTireCountsRemove" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-md margin-top-100">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h3 class="modal-title" id="modalTireCountsRemove" align="center">Confirm</h3>
                            </div>
                            <div class="modal-body">
                                <div class="txt-c" style="padding:10px;">
                                    <h4>Are you sure you would like to <strong>remove</strong> the category/class for <strong><label for="categeory" id="lblcategory"></label></strong>?</h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                    No
                                </button>
                                <button id="remove" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <!-- Payments -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Business Location -->
                        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittancePayments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                        {
                            using (Html.BeginForm("index", "TSFRemittance", FormMethod.Post, new { id = "fmPayments", style = "" }))
                            {
                                <div class="panel panel-default" id="TSFRemittanceStaffPaymentPanel">
                                    @Html.Partial("_TSFRemittanceStaffPayment", Model, new ViewDataDictionary() { { "view", "Participant" }, { "AllowEdit", ViewBag.AllowEdit } })
                                </div><!-- /.panel -->
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Component: Internal Notes -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                    {
                        @Html.Partial("_TSFInternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "ApplicationID", Model.ID } })
                    }
                </div><!--/.panel-->
            </div>
        </div>
        @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceSupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            using (Html.BeginForm("index", "TSFRemittances", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
            {
                <div class="panel panel-default">
                    @Html.Partial("_SupportingDocPartialRemittance", Model.SupportingDocuments, new ViewDataDictionary() { { "view", "Participant" }, { "status", @statusStr }, { "prefix", @Html.GetExpressionText(p => p.SupportingDocuments) }, { "AllowEdit", (@ViewBag.AllowEdit == null) ? false : @ViewBag.AllowEdit }, { "allowFileDownload", true }, { "InvalidFormFieldList", Model.InvalidFormFields }, })
                </div>
            }
        }

        <div class="row" id="btnSection">
            <div class="col-sm-12" style="text-align:right;">
                @switch (Model.Status)
            {
                case ClaimStatus.Open:

                    string target = "modalSubmitRemittance";
                    string targetZeroRemit = "modalSubmitRemittance";
                    if (Model.PeriodDate != null)
                    {
                        if (DateTime.Now.AddMonths(-1) <= Model.PeriodDate.Value)
                        {
                            target = "modalSubmitRemittanceError";
                            targetZeroRemit = "modalSubmitRemittanceError";
                        }
                        if ((Model.PenaltiesManually != null) || (Model.PeriodDate.Value.AddMonths(2).AddDays(3) < (Model.PayReceiptDate != null ? Model.PayReceiptDate : DateTime.UtcNow) && Model.PeriodDate.Value.Year != 2009))
                        {
                            target = "modalSubmitRemittanceWarning";
                        }
                    }
                    if (Model.LineItems != null && Model.LineItems.Count > 0)
                    {
                <button id="submitRemittanceClaimBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#@target">Submit</button>
                        }
                        else
                        {

                <button id="submitRemittanceClaimBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#@targetZeroRemit">Submit $0 Remittance </button>
                        }

                        break;

                    case ClaimStatus.UnderReview:
                        if (Model.AssignToUser == CL.TMS.Security.Authorization.SecurityContextHelper.CurrentUser.Id && (SecurityContextHelper.StewardClaimsWorkflow != null) && (SecurityContextHelper.StewardClaimsWorkflow.Workflow == TreadMarksConstants.TSFClerkWorkflow))
                        {
                            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modalRemittanceParticipant" disabled="@(!@ViewBag.AllowEdit)" data-info="test"><i class="fa fa-chevron-left"></i> Participant </button>
                            <button id="btnApprove" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalRemittanceApprove" disabled="@(!@ViewBag.AllowEdit)">Approve <i class="fa fa-chevron-right"></i></button>
                        }
                        break;

                    case ClaimStatus.Submitted:
                        //OTSTM2-1007 Quick Win! dont show Submit $0 button when status is already Submitted

                        break;
                    case ClaimStatus.Approved:
                        if (Model.BalanceDue == 0 && Model.TotalTSFDue == 0 && (SecurityContextHelper.StewardClaimsWorkflow != null) && (SecurityContextHelper.StewardClaimsWorkflow.Workflow == TreadMarksConstants.TSFClerkWorkflow))
                        {
                            <button id="btnUnderReviewModal" type="button" class="btn color-tm-orange-bg" data-toggle="modal" data-target="#modalRemittanceUnderReview" disabled="@(!@ViewBag.AllowEdit)"><i class="fa fa-chevron-left"></i> Under Review</button>
                        }
                        break;
                }

            </div>
        </div>

        <br>
        <!--Activity Panel-->
        @if (Model.ID != 0 && ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceActivities) >= CL.TMS.Security.SecurityResultType.ReadOnly)
        {
            <div class="row">
                <div class="col-md-12" ng-controller="remittanceActivityController" id="remittanceActivityPanel">
                    <tsfclaim-activity-panel snp-url="@Url.Action("LoadAllActivities", "TSFRemittances", new {area = "Steward", ClaimId = @Model.ID })"></tsfclaim-activity-panel>
                    @Html.Partial("_TSFClaimActivityPartial")
                </div>
            </div>
        }

        <br>

        <!-- Modal: Remove Internal Adjustment -->
        <div class="modal fade comp-claims-summary-submitmodal" id="modalRemoveInternalAdjustment" tabindex="-1" role="dialog" aria-labelledby="modalRemoveInternalAdjustment" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInactivateUser" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px">
                            <h4 class="txt-c">Are you sure you want to remove <strong>Internal Adjustment</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button id="btnRemoveInternalAdjust" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Internal Adjustments  -->
        <script type="text/ng-template" id="internalAdjustModal.html">
            <div class="modal-content">
                <form id="internalAdjustForm" name="internaladjustForm" novalidate ng-submit="confirm(returnCurrentChooseType(selectedItem))">

                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalInternalAdj" align="center" ng-show="modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjEdit" align="center" ng-show="!modalResult.isAdd && !isReadOnly"> Adjustment</h3>
                        <h3 class="modal-title" id="modalInternalAdjView" align="center" ng-show="!modalResult.isAdd && isReadOnly"> Adjustment</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:0 20px;">
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <h4>Choose Type</h4>
                                    <select class="form-control" id="internaladj-selector"
                                            ng-options="item.name for item in items"
                                            ng-model="selectedItem" ng-disabled="chooseTypeIsDisable"></select>
                                </div>
                            </div>
                            <div id="internaladj-payment" class="internaladj-options" ng-if="selectedItem.id=='1'">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="Overall" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Overall
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="AuditAssessment" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Audit Assessment
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio-internaladj-option-3-1" value="AuditPenalty" ng-model="modalResult.paymentType" ng-disabled="isReadOnly||disableForReadOnlyStaff">
                                                Audit Penalty
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-5 txt-r">
                                        <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_amount')}">
                                            <br>
                                            <label for="">Amount ($)</label>
                                            <input type="number" class="form-control txt-r" placeholder="0.00" ng-model="modalResult.amount" ng-disabled="isReadOnly||disableForReadOnlyStaff" name="amount" decimal-required="2">
                                            <div ng-show="internaladjustForm.$submitted || internaladjustForm.amount.$touched">
                                                <p class="help-block" ng-show="(internaladjustForm.amount.$error.isDecimalRequired) || (internaladjustForm.amount.$error.number)">Invalid Input</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span style="color: #a94442" ng-show="internaladjustForm.$submitted && allZeroesOrEmpty(modalResult.amount)">Payment should not be equal to 0</span>
                            </div>
                            <hr>
                            <div id="internaladj-internalNote" ng-if="!isReadOnly">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : getErrorRule(selectedItem, '_internalNote') }">
                                        <h4 class="panel-title">Internal Note</h4>
                                        <textarea class="form-control" rows="3" name="note" ng-model="modalResult.internalNote" required></textarea>
                                        <div ng-show="internaladjustForm.$submitted || internaladjustForm.internalNote.$touched">
                                            <p class="help-block" ng-show="getErrorRule(selectedItem, '_internalNote')">Required</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isReadOnly">
                                <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" panel-arrow="tsfclaim-internal-adjustment-notes"></manage-internal-notes>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-show="!isReadOnly">
                            <i class="fa fa-ban fa-1x"></i>
                            Cancel
                        </button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="cancel()" ng-show="isReadOnly">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                        <button type="submit" class="btn btn-success btn-lg" ng-show="!isReadOnly" ng-disabled="disableForReadOnlyStaff">
                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </script>
        <!-- Modal: Internal Adjustments: Confirm  -->
        <script type="text/ng-template" id="internalAdjustConfirmModal.html">


            <div class="modal-content">
                <div class="modal-header modal-header-le">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="modalInternalAdjustmentsConfirm" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>Are you sure you would like to make the <strong>Internal Adjustment</strong>?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                    <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                </div>
            </div>

        </script>

        <!-- Modal: Negative warning  -->
        <div class="modal fade margin-top-100" id="modalQtyGreaterWarning" tabindex="-1" role="dialog" aria-labelledby="modalQtyGreaterWarning" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalQtyGreaterWarning" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-c" style="padding:10px;">
                            Negative Adj.  must be less than the Qty.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                    <label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: First time pnalty  -->
        <div class="modal fade margin-top-100" id="modalFirstTImePenalty" tabindex="-1" role="dialog" aria-labelledby="modalFirstTImePenalty" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalFirstTImePenalty" align="center">Warning</h3>
                    </div>
                    <div class="modal-body" align="center">
                        First time penalty.
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                    <label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button id="btnFirstTImePenalty" type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Submit Error  -->
        <div class="modal fade margin-top-100" id="modalSubmitRemittanceError" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceError" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalSubmitRemittanceError" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-l" style="padding:10px 60px;">
                            You can not submit remittance for the current open month.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                    <label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal">
                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Submit Warning  -->
        <div class="modal fade margin-top-100" id="modalSubmitRemittanceWarning" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceWarning" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalSubmitRemittanceWarning" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-l" style="padding:10px 60px;">
                            Your Remittance has passed Due Date, Penalty will be applied.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                    <label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-target="#modalSubmitRemittance" data-toggle="modal">
                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Submit One  -->
        <div class="modal fade margin-top-100" id="modalSubmitRemittance" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittance" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalSubmitRemittance" align="center">@UIResource.Confirm</h3>@*Submit TSF Remittance*@
                    </div>
                    <div class="modal-body">
                        <div class="txt-l" style="padding:10px 60px;">
                            @Html.Raw(UIResource.TSFRemittanceCertify.ToString().Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value))
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="checkbox margin-top-5 txt-l" style="margin-left:20px;">
                                    <label>
                                        <input type="checkbox" id="chkterms"> <strong>I agree to the above statements.</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                    @UIResource.CommonWordNo
                                </button>
                                <button type="button" id="btnsubmit" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalSubmitRemittanceTwo">
                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                    @UIResource.CommonWordYes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Submit Two  -->
        <div class="modal fade margin-top-100" id="modalSubmitRemittanceTwo" tabindex="-1" role="dialog" aria-labelledby="modalSubmitRemittanceTwo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalSubmitRemittanceTwo" align="center">@UIResource.TSFRemittanceSubmitted</h3>
                    </div>
                    <div class="modal-body">

                        <div class="txt-l" style="padding:20px 40px 10px 60px;">
                            @if (Model.LineItems == null || Model.LineItems.Count == 0)
                            {
                                <p><strong>Thank you, We have successfully received your TSF submission.</strong></p>
                            }
                            else
                            {
                                @Html.Raw(UIResource.TSFRemittanceSubmittedMsg.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Name").Value).Replace("[CompanyAddressLine1]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine1").Value).Replace("[CompanyAddressLine2]", !string.IsNullOrWhiteSpace(@CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value) ? ", " + @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.AddressLine2").Value : "").Replace("[CompanyCity]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.City").Value).Replace("[CompanyProvince]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Province").Value).Replace("[CompanyPostalCode]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.PostalCode").Value).Replace("[CompanyEmail]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key == "Company.Email").Value))
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnOk" type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal: Back to Participant  -->
        <div style="display: none;" class="modal fade margin-top-100" id="modalRemittanceParticipant" tabindex="-1" role="dialog" aria-labelledby="modalRemittanceParticipant" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalRemittanceParticipant" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-c" style="padding:30px 60px;">
                            <h4 class="margin-top-20">Do you want to send TSF Remittance back to <strong>@ViewBag.RegNo, @ViewBag.assignToMeCompanyName</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                    No
                                </button>
                                <button type="button" id="btnParticipantsubmit" class="btn btn-success btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Approve  -->
        <div style="display: none;" class="modal fade margin-top-100" id="modalRemittanceApprove" tabindex="-1" role="dialog" aria-labelledby="modalRemittanceApprove" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalRemittanceApprove" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-c" style="padding:30px 60px;">
                            <h4 class="margin-top-20">Are you sure you want to approve <strong>TSF Remittance</strong>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                    No
                                </button>
                                <button type="button" id="btnApprovesubmit" class="btn btn-success btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: UnderReview  -->
        <div style="display: none;" class="modal fade margin-top-100" id="modalRemittanceUnderReview" tabindex="-1" role="dialog" aria-labelledby="modalRemittanceUnderReview" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalRemittanceUnderReview" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="txt-c" style="padding:30px 60px;">
                            <h4 class="margin-top-20">Are you sure you want to put this <strong>TSF Remittance</strong> back to Under Review status?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                                    No
                                </button>
                                <button type="button" id="btnUnderReview" class="btn btn-success btn-lg" data-dismiss="modal">
                                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade margin-top-100" id="modalCustomerSettingAlert" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCustomerSettingAlert" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalCustomerSettingAlertTitle" align="center">Warning</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c" id="modalCustomerSettingAlertBody"></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modalCustomerSettingAlertOkBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal: Delete  -->
        <div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-le">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="modalDelete" align="center">Confirm</h3>
                    </div>
                    <div class="modal-body">
                        <div style="padding:20px">
                            <h4 class="txt-c">Are you sure you want to <strong>Delete</strong> remittance for<br> Reg. # <span id="assignRegNo3Del" class="assignRegNo"><strong>@{@Model.RegistrationNumber}</strong> </span>, Period: <span id="ReassignPeriod1Del" class="assignPeriod"><strong>@{@Model.PayPeriod}</strong></span></>?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                            <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                            No
                        </button>
                        <button type="button" id="btn-delete-remittance" class="btn btn-success workflow btn-lg" name="del-button" data-delete-url="-1" data-status="Submitted" data-dismiss="modal" data-toggle="modal" data-target="#modalAddiPadsToRegConfirm">
                            <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>


        @Html.Partial("_TSFClaimInternalNotesTemplate")
        @Html.Partial("_TSFRemittanceLoadConformModal", new ViewDataDictionary() { { "view", "Staff" } })
        @Html.Partial("_TSFClaimSummaryBreadCrumb")
    </div>
</div>

@section scripts{

    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/staff-index.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.ExportUrl = {
            TireCountsExportUrl: '@Url.Action("ExportToExcelForTireCounts", "TSFRemittances", new { id = @Model.ID})',
            PaymentsExportUrl: '@Url.Action("ExportToExcelForPayments", "TSFRemittances", new{remittancesId = Model.ID})',
            StatusExportUrl: '@Url.Action("ExportToExcelForStatus", "TSFRemittances", new { remittancesId = Model.ID })',
            CreditExportUrl: '@Url.Action("ExportToExcelForCredit", "TSFRemittances", new { id = Model.ID })',
        };
        Global.Remittance = {
            InternalNotePermission: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalNotes)',
            DisableInternalAdjustmentsBtn: JSON.parse('@(ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.RemittanceTSFRemittanceInternalAdjustments) != CL.TMS.Security.SecurityResultType.EditSave)'.toLocaleLowerCase()),

            AllowEdit: '@ViewBag.AllowEdit',
            bShowCreditPanel: '@bShowCreditPanel' == 'True',
            IsCreatedByStaff: '@ViewBag.IsCreatedByStaff' == 'True',
            bSubmitBtnGreen: false,
            bResetDTpicker: true,
            ClaimId: @Model.ID,
            GetTSFRemittanceModelUrl: '@Url.Action("GetTSFRemittanceModel", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID })',
            ClaimsStatus: '@Model.Status',
            InternalAdjustmentHandleUrl: '@Url.Action("GetListHandlerInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID })',
            SubmitInternalAdjustmentUrl: '@Url.Action("AddInternalAdjustment", "TSFRemittances", new {area= "Steward", ClaimId = @Model.ID })',
            RemoveInternalAdjustmentUrl: '@Url.Action("RemoveInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID })',
            GetInternalAdjustmentUrl: '@Url.Action("GetInternalAdjustment", "TSFRemittances", new { area = "Steward" })',
            EditInternalAdjustmentUrl: '@Url.Action("EditInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID })',
            InternalAdjustmentExportUrl: '@Html.Raw(@Url.Action("ExportToExcelInternalAdjustment", "TSFRemittances", new { area = "Steward", ClaimId = @Model.ID, searchText = "----", sortColumn = "AAA", sortDirection = "BBB" }))',
            DeleteRemittanceUrl: '@Url.Action("DeleteTSFClaim", "TSFRemittances")',
            IsDeleteVisibleUrl: '@Url.Action("IsDeleteVisible", "TSFRemittances")',
            ActiveStatus: '@Model.ActivityStatus',
            ActivityApprovedDate: '@(Model.ActivityApprovedDate.Value.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture))',
            SRemitsPerYear: JSON.parse('@Model.SRemitsPerYears'.toLocaleLowerCase()),//False:2X
        };
        Global.ParticipantClaimsSummary = {
            LoadClaimPeriods: '@Url.Action("LoadTSFRemittancesPeriodBreadCrumb", "TSFRemittances", new { area= "Steward" })',
            BreadCrumbUrl: '/Steward/TSFRemittances/StaffIndex/',
            CustomerId:'@Model.CustomerID',
            TSFClaimID:'@Model.TSFClaimID'
        };
        Global.InternalNoteSettings = {
            ID: '@ViewBag.ClaimsId',
            Resources: {},
            UserId: '@ViewBag.UserId',
            UserName: '@ViewBag.UserName',
            viewMoreId: '#viewmore',
            removeIconId: '.remove-icon',
            searchId: '#search',
            exportId: '#export',
            foundId: '#found',
            //notesLength: '72',
            LoadInternalAdjustmentNotesUrl: '@Url.Action("GetInternalNotesInternalAdjustment", "TSFRemittances", new { area = "Steward" })',
            AddInternalAdjustmentNotesUrl: '@Url.Action("AddNotesHandlerInternalAdjustment", "TSFRemittances", new { area = "Steward" })',
            ExportToExcelInternalNotes: '@Url.Action("ExportToExcelInternalNotes", "TSFRemittances", new { area = "Steward", id = @Model.ID })',
            ExportToExcelInternalAdjustmentNotes: '@Url.Action("ExportToExcelInternalAdjustmentNotes", "TSFRemittances", new { area = "Steward" })',
        };      
    </script>
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    @Scripts.Render("~/bundles/jquerydatatable")
    <script type="text/javascript" src="~/js/Claims/common-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-staff-claim-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-staff-internal-adjustment-list.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/Steward/Scripts/Remittances/tsf-common-lib.js?v=@ViewBag.versionid"></script>
}