﻿@{
    ViewBag.Title = "Processor Claims List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
<style>
    .panel-default > .panel-heading a.export,
    .panel-default > .panel-heading a.export:hover {
        background: none;
        left: 100px;
        position: absolute;
        top: 11px;
        width: 25px;
    }

    /*OTSTM2-988 keep panel search textbox visible all the time*/
    #search{
        visibility:visible;
        width: 190px;       
    }   
</style>
}


<!-- ///////////// HTML Top ///////////// -->
<div class="tm-all participants-all-claims">
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Claims</h2>
        </div>
        <div class="col-xs-5 col-sm-6">
            <div class="popoverParticipantInfo-noneed" data-placement="auto">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@ViewBag.RegistrationNumber</div>
                <div class="sub-header-companyname fixed-claim-header-companyname">@ViewBag.BusinessName</div>
            </div>
        </div>
    </div><!--/.row-->
    <!-- /Component -->
    <!-- Component: All Claims -->
    <div class="panel panel-default" style="margin-top:85px">
        <div class="panel-heading" role="tab" id="panelAllClaimsHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelAllClaims" aria-expanded="true" aria-controls="panelAllClaims" class="panel-arrow-expand">
                    All Claims
                </a>
                <a id="export" class="export export-claimindex" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input id="search" type="text" class="form-control" placeholder="Search">
                <div id="found" class="subcomp-search-found">&nbsp;</div>
                <i class="glyphicon glyphicon-remove remove-icon"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="panelAllClaims" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAllClaimsHeading">
            <div class="panel-body">
                <div class="table-responsive">
                    @Html.Partial("_ParticipantClaimsList")
                </div>
            </div>
        </div>
    </div><!--/.panel-->

</div><!--/.participants-all-claims-->
<!-- ///////////// HTML Bottom ///////////// -->

@section scripts{

    @Scripts.Render("~/bundles/jquerydatatable")

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.ParticipantIndex = {
            Resources: {},

        };
    </script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
    @Scripts.Render("~/bundles/claimlist")
    <script type="text/javascript">
        $(function () {
            $('#tblclaimlist').createDataTable({
                viewMoreId: '#viewmore',
                totalRecordsId: '#totalRecords',
                searchId: '#search',
                exportId: '#export',
                foundId: '#found',
                removeIconId: '.remove-icon',
                exportUrl: '@Url.Action("AllClaimsExportToExcel", "Claims", new { area = "System", searchText = "----", sortColumn = "AAA", sortDirection = "BBB",
                       searchTextPeriod  = "-st-period", searchTextStatus = "-st-status", searchTextAmount = "-st-amount", searchTextSubmitted = "-st-submitted",
                       searchTextChequeDue = "-st-chequedue", searchTextChequeEFT = "-st-chequeeft", searchTextPaymentDate = "-st-paymentdate",
                       searchTextAssignedOn = "-st-assignedon", searchTextSubmittedBy = "-st-submittedby"})', //OTSTM2-988
                ajaxHandler: '@Url.Action("GetAllClaimsListHandler", "Claims", new { area = "System"})',
                rowUrl: '@Url.Action("ClaimSummary", "Claims")'
            });
        })

    </script>

}