﻿<script type="text/ng-template" id="add-new-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x"
            data-toggle="modal" title="Add New Announcement" ng-click="!isReadOnly && newAnnouncement()" ng-disabled="isReadOnly"
            id="addNewBtn" table-id="tablieid">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && editDetails()"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
</script>

<script type="text/ng-template" id="remove-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && remove()"><i class="glyphicon fa fa-trash-o"></i>&nbsp;Delete</a>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalConfirmRate" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" style="color:red;" align="center">Warning</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4><strong>{{message}}</strong></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                OK
            </button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="messagePopover.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" style="border:1px solid transparent" note-message-hover-popover>
            <i data-name="notes" class="fa fa-comment color-tm-grey"></i>
        </a>
        <div class="popover-menu">
            Message
        </div>
    </div>
</script>

<!--List Panel-->
<!--processor incentive list view template-->
<script type="text/ng-template" id="announcement-list-panel-template.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelAnnouncementList-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#panelAnnouncementList" aria-expanded="true" aria-controls="panelAnnouncementList-collapseOne" class="panel-arrow-expend">
                    Announcements
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelAnnouncementList" role="tabpanel" aria-labelledby="panelAnnouncementList-headingOne">
            <div class="panel-body transportation-incentive" scroll-panel-fix-btn>
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable" style="cursor:pointer;"></table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:22px;margin-right:6px;">
                <div class="col-md-6 viewMoreActivity">
                    <a id="viewmore" href="javascript:void(0)" style="margin-left:20px;margin-top:10px;float:left;color:#aaa;" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                </div>
                <div class="col-md-6">
                    <add-new></add-new>
                </div>
            </div>
        </div>
    </div>
</script>

<!--list panel action gear-->
<script type="text/ng-template" id="list-panel-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-btn announcementID="announcementNumber" type="Edit"></edit-btn>
                </li>
                <li>
                    <remove-btn announcementID="announcementNumber"></remove-btn>
                </li>
            </ul>
        </div>
    </div>
</script>

<!--Modal Windows-->
<!--modal announcement Add/Edit/View template-->
<script type="text/ng-template" id="modal-announcement-details-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">
                Announcement
            </h3>
        </div>
        <div class="modal-body">
            <!--subject-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon control-label" style="font-size:large;">Subject:</label>
                            <input type="text" class="form-control"
                                   maxlength="80"
                                   placeholder="Subject here"
                                   ng-model="vm.subject"
                                   valid-number
                                   name="vm-subject"
                                   ng-disabled="isView">
                        </div>
                        <div class="valid-info" id="vm-subject" style="display:none;">Required</div>
                    </div>
                </div>
            </div>
            <!--(Effective Start/End Date) col-sm-5 -->
            <div class="row">
                <div class="col-sm-6 form-inline" ng-if="!isView">
                    <label class="control-label" style="font-size:large;" for="announcementStartDate">Start Date:</label>
                    <div class="input-group date" id="announcementStartDate">
                        <input class="form-control"
                               id="announceStartDate"
                               type="text"
                               valid-number
                               name="vm-startDate"
                               ng-model="vm.startDate">
                        <span class="input-group-addon startDTSpan">
                            <span class="glyphicon glyphicon-calendar startDTSpan"></span>
                        </span>
                    </div>
                    <div class="valid-info" id="vm-startDate" style="display:none;">Required</div>
                </div>
                <div class="col-md-6 " ng-if="isView">
                    <label class="control-label" style="font-size:large;">Start Date: {{vm.startDate}}</label>
                </div>
                <div class="col-sm-6 form-inline text-right" ng-if="!isView">
                    <label class="control-label" style="font-size:large;" for="announcementEndDate">End Date:</label>
                    <div class="input-group date" id="announcementEndDate">
                        <input class="form-control"
                               id="announceEndDate"
                               type="text"
                               valid-number
                               name="vm-endDate"
                               ng-model="vm.endDate">
                        <span class="input-group-addon ">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="valid-info" id="vm-endDate" style="display:none;">Required</div>
                    <div id="vm-overDate" class="valid-info" style="margin-right:10px;display:none;">The End Date should be greater or equal to Start Date</div>
                </div>
                <div class="col-md-6 text-right" ng-if="isView">
                    <label class="control-label" style="font-size:large;">End Date: {{vm.endDate}}</label>
                </div>    
                <input class="hidden" ng-model="vm.id" />
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <summernote id="announcementDescription" ng-model="vm.description" on-init="init()" height="210" placeholder=""
                                editable="editable" editor="editor" style="margin-right: 25px;">
                    </summernote>
                    <div class="valid-info" id="vm-description" style="display:none; margin-top:-15px;">Required</div>
                </div>
            </div>

            <div class="row" style="font-size:large; margin-left:1px;">
                <input type="checkbox" ng-model="vm.steward" ng-change="optionCheck()" ng-disabled="isView"/>
                <label for="vm.steward">Steward&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <input type="checkbox" ng-model="vm.collector" ng-change="optionCheck()" ng-disabled="isView"/>
                <label for="vm.collector">Collector&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <input type="checkbox" ng-model="vm.hauler" ng-change="optionCheck()" ng-disabled="isView" />
                <label for="vm.collector">Hauler&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <input type="checkbox" ng-model="vm.processor" ng-change="optionCheck()" ng-disabled="isView"/>
                <label for="vm.processor">Processor&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <input type="checkbox" ng-model="vm.rpm" ng-change="optionCheck()" ng-disabled="isView"/>
                <label for="vm.rpm">RPM&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <input type="checkbox" ng-model="vm.staff" ng-change="optionCheck()" ng-disabled="isView"/>
                <label for="vm.staff">Staff</label>
            </div>
            <div class="valid-info" id="vm-optionCheck" style="display:none;">At least one checkbox must be checked</div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12">
                        <!--View/Edit/Add can combine as one modal-->
                        <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                            <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                            Close
                        </button>
                        <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                            <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                            Cancel
                        </button>
                        <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="save()" ng-if="!isView" ng-disabled="disableSaveBtn">
                            <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

