﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {

    @Styles.Render("~/css/cube/summernote.css")
    @Styles.Render("~/css/cube/cube-searchable-select.css")
    <style>
        .note-toolbar.panel-heading {
            color: #333;
            background-color: #f5f5f5!important;
            border-color: #ddd!important;
            border:solid 1px;
            border-top-left-radius: 3px!important;
            border-top-right-radius: 3px!important;
        }
        .note-btn.btn.btn-default:hover {
            background-color:#607d8b;
        }
        .panel-default > .panel-heading a,
        .panel-default > .panel-heading a.panel-arrow-expand {
            background:none ;          
        }
         .panel-default > .panel-heading a:hover,
            .panel-default > .panel-heading a.panel-arrow-expand:hover {
                      background:none ;
                        background-color:whitesmoke;
        }
        .panel-default > .panel-heading a.collapsed,
        .panel-default > .panel-heading a.panel-arrow-collapse {
                background:none ;
              
        }
        .panel-default > .panel-heading a.collapsed:hover,
        .panel-default > .panel-heading a.panel-arrow-collapse:hover {
            background:none ;            
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
             background-color:  whitesmoke;    
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #5897fb;
            color: white;
        }
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="companyBrandingController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-9 col-sm-9">
            <h2 class="fixed-claim-header-title">Company Branding - Terms & Conditions</h2>
        </div>
        <div class="col-xs-3 col-sm-3">
            <!--Application Type Drop-down-list-->
            <div class="container" id="dropdownContainer" style="width:262px;float:right;  margin:10px 26px 0px 0px;">
                <div id="claimTypeList" class="form-group form-group-select2" style="width:260px; margin-left:-16px">
                    <select id="allClaimTypeList" style="width:260px; " class="select2-hidden-accessible">
                        @foreach (var item in ViewBag.ApplicationList)
                        {
                        <option value="@item.ItemValue">@item.ItemName</option>
                        }
                    </select>
                    <script type="text/javascript">
                        $(function ($) {
                            //nice select boxes
                            $('#allClaimTypeList').select2();
                            var options = {};
                            options.ui = {
                                showPopover: true,
                                showErrors: true,
                                showProgressBar: false
                            };
                            options.rules = {
                                activated: {
                                    wordTwoCharacterClasses: true,
                                    wordRepetitions: true
                                }
                            };
                            options.common = {
                                debug: true,
                                usernameField: "#popoverName"
                            };
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-body" id="termsAndConditionsContents" style="display:none; margin-top:90px;">
        <h3>
            <span id="applicationName" style="border-bottom:2px solid #b0bec5;"></span>
        </h3>
        <div class="col-md-12" ng-controller="summernoteCallbacksCtrl">
            <summernote id="tncNote" ng-model="vm.content" on-init="init()" height="210" placeholder="Please input the Terms & Conditions here..."
                        editable="editable" editor="editor" style="margin-right: 25px;">
            </summernote>
            <div class="valid-info">
                <span style="color:red;"></span>
            </div>
        </div>
        <table class="table table-condensed">
            <tr>
                <td>
                    <internal-notes load-url="{{loadUrl}}"
                                    add-url="{{addUrl}}"
                                    export-url="{{exportUrl}}"
                                    application-type-id="{{vm.applicationTypeID}}"
                                    reloaddata="{{freshnote}}"
                                    panel-arrow="viewdetail-notes"
                                    is-view="{{isView}}">
                    </internal-notes>
                </td>
            </tr>
        </table>
        <button ng-click="submitContent()" ng-disabled="isView" type="submit" class="btn btn-success save-btn pull-right margin-top--10 btn-lg" style="margin-right:5px;">
            <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
            Save
        </button>
        <button ng-disabled="isView" ng-click="cancel()" type="button" class="btn btn-danger cancel-btn pull-right margin-top--10 btn-lg" style="margin-right:5px; margin-left:5px">
            <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
            Cancel
        </button>
    </div>
    @Html.Partial("_TermConditionTemplate")
    @Html.Partial("_ClaimInternalNotesTemplate")
    @Html.Partial("_SummernoteTemplate")
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.CompanyBranding = {
            LoadTermConditionDetailsByIDUrl: '@Url.Action("LoadTermConditionByID", "CompanyBranding", new { area = "System" })',
            SaveTermConditionUrl: '@Url.Action("SaveTermCondition", "CompanyBranding", new { area = "System" })',

            Header: 'AAA Term and Condition', //Create/Update
            ConfirmHtml: '<h4>Are you sure you want to save the AAA Terms & Conditions?</h4>',
            SuccessHeader: 'AAA Terms & Conditions',
            SuccessHtml: '<h4>Save successful!</h4>',

            FailHeader: 'Unable to save the data',
            FailHtml: "AAA save failure",
            TnCContentRequire: "Terms and Conditions contents are required",
            LoadNotesUrl: '@Url.Action("LoadNotes", "CompanyBranding", new { area = "System" })',
            AddNoteUrl: '@Url.Action("AddNotes", "CompanyBranding", new { area = "System" })',
            ExportNotesUrl: '@Url.Action("ExportNotes", "CompanyBranding", new { area = "System" })',

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                TermsAndConditions: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminCompanyBrandingTermsAndConditions)',
            },
        };
        Global.InternalNoteSettings = {
            currentOpenId: 0,
            InternalExportUrl: '',
        };
        Global.Settings = {
            popover: {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: '',
                delay: { show: 300, hide: 800 },
                padding: true
            },
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/js/cube/summernote.js")
    <script type="text/javascript" src="~/js/Shared/summernote-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/cube-searchable-select.js"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/CompanyBranding/company-branding-app.js?v=@ViewBag.versionid"></script>
}