﻿@using CL.TMS.Resources

<script type="text/ng-template" id="claimActivityPanel.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelSpotLightSearchManager-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="panel-arrow-expand" href="#panelClaimActivity">
                    Activities
                </a>
            </h4>
            <h4 class="panel-title">
                <a id="exportActivities" class="export" title="Export to Excel" href="@Url.Action("GetAllActivitiesExport", new {})">
                    <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                </a>
            </h4>
            <h4 title="New items have been added to this panel since you loaded the page.">
                <span class="label label-default label-new" ng-show="hasNew">New</span>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input id="searchActivity" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div class="panel-collapse collapse in" id="panelClaimActivity" role="tabpanel">
            <div class="panel-body" ng-style="panelAfterMore">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per" width="100%"></table>
                        <div class="row">
                            <div class="col-md-12 viewMoreActivity">
                                <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.panel-->
</script>

