﻿@{
    string sDisabled = ((bool)(ViewBag.InterNotesPermission == CL.TMS.Security.SecurityResultType.EditSave)) ? string.Empty : "disabled";
}

<style>
    table.internal-note-table td { /*OTSTM2-845*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div > .arrow { /*OTSTM2-845*/ /*OTSTM2-158 comment out*/
        /*top:initial !important;*/
    }

    /*textarea {
        resize: vertical;
    }*/
</style>

<div style="display:none"><canvas id="myCanvas" width="578" height="200"></canvas></div>@*OTSTM2-845 added for getTextWidth(text, font) *@

<script type="text/ng-template" id="claim-internal-notes.html">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelNotes-headingOne">

            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" @*href="#panelNotes-collapseOne"*@ href="#{{panelArrow}}" aria-expanded="true" aria-controls="panelNotes-collapseOne" class="panel-arrow-expand">
                    Internal Notes
                </a>
            </h4>
            <h4 class="panel-title">
                <internal-notes-export search-text='{{searchNote}}' sort-reverse='{{sortReverse}}' sort-column='{{sortType}}' url='{{exportUrl}}' file-name="InternalNotes">
                </internal-notes-export>
            </h4>

            <div class="col-xs-6 subcomp-search">
                <input type="text" class="form-control" placeholder="Search" style="{{searchStyle}}" ng-model="searchNote" id="search" ng-blur="blur()" ng-keyup="search()" ng-class="{in: searchNote}">
                <div class="subcomp-search-found" ng-show="searchNote" style="display: block" id="found">Found {{internalNoteLength}}</div>
                <i class="glyphicon glyphicon-remove remove-icon" style="display: inline" ng-show="searchNote" ng-click="removeIcon($event)"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div id="{{panelArrow}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelNotes-headingOne">
            <div class="panel-body">
                @*@if ((bool)(ViewBag.InterNotesPermission == CL.TMS.Security.SecurityResultType.EditSave))*@
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="textAreaModel" @sDisabled></textarea>
                </div>
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#" title="Add Internal Note" ng-click="add()" @sDisabled>+</button>
                <br>
                <br>
                <div class="internal-wrap">
                    <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right: 5px;">
                        <thead>
                            <tr>
                                <td style="width: 175px">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedOn'; sortReverse = !sortReverse">
                                        Date
                                        <span ng-show="sortType == 'AddedOn' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedOn' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td id="{{panelArrow}}-notes-width" style="width:75%">
                                    <a href="javascript:void(0);" ng-click="sortType = 'Note'; sortReverse = !sortReverse">
                                        Note
                                        <span ng-show="sortType == 'Note' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Note' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td style="width: 175px">
                                    <a href="javascript:void(0);" ng-click="sortType = 'AddedBy'; sortReverse = !sortReverse" id="tdAddedBy">
                                        Added by
                                        <span ng-show="sortType == 'AddedBy' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'AddedBy' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div style="height: 200px; overflow-y: auto; margin-top: -10px" id="internalNoteBody">
                        <table class="table table-hover internal-note-table" style="margin-right: 5px;">
                            <tbody>
                                <tr ng-repeat="note in filtered = (allInternalNotes | orderBy:sortType:sortReverse | filter:searchNote| limitTo:quantity)">
                                    <td style="width: 175px">{{note.AddedOn | date:'yyyy-MM-dd hh:mm a'}}</td>
                                    <td ng-if="checkNoteSize(note.Note)" width="75%" style="cursor: pointer" class="internal-note{{$index}}">
                                        <span internal-note-hover-popover data-note="{{note.Note}}">{{stripNotes(note.Note)}}</span>
                                    </td>
                                    <td ng-if="!checkNoteSize(note.Note)" width="75%" class="internal-note{{$index}}">
                                        <span>{{note.Note}}</span>
                                    </td>
                                    <td style="width: 175px">{{note.AddedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:void(0);" ng-click="quantity = allInternalNotes.length; showMore = !showMore" ng-show="showMore && allInternalNotes.length > quantity" id="internal-viewmore">More</a>
                </div>
            </div>
        </div>
    </div><!--/.panel-->
    <!-- /Component -->
</script>