﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    SecurityResultType ClaimsClaimsAssignment = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsClaimsAssignment);
    SecurityResultType ClaimsClaimsAllClaims = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ClaimsClaimsAllClaims);
    bool bNoAccessToClaimsList = (SecurityContextHelper.CurrentVendor != null) ? (ClaimsClaimsAllClaims == SecurityResultType.NoAccess) : (ClaimsClaimsAssignment == SecurityResultType.NoAccess);

    string disabled = (bNoAccessToClaimsList) ? "disabled" : string.Empty;
    string url = (bNoAccessToClaimsList) ? string.Empty : Url.Action("Index", "Claims", new { area = "System" });
}
<script type="text/ng-template" id="claimSummaryBreadCrumb.html">

    <div class="btn-group fixed-claim-header-period-btn-group">
        <a class="btn btn-warning" href="@url" @disabled ><i class="fa fa-chevron-left"></i> Claims</a>
        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="period in ClaimPeriods">
                <a href="{{period.Url}}"><i class="fa fa-folder-open-o"></i> {{period.shortName}}</a>
            </li>
            <li><a href="#" ng-click="moreOnClick($event)">View All</a></li>
        </ul>
    </div>    
</script>
