﻿
    <table id="tblClaimTransactionAdjusList" class="table table-hover display truncate datatable-100-perc narrow-width" transactionadj-page-readonly="{{readOnlyRestriction}}">
        <thead>
            <tr>
                <th>Type</th>
                <th>Trans.&nbsp;#</th>
                <th>Date</th>
                <th>Started&nbsp;By</th>
                <th>Adj.&nbsp;Date</th>
                <th>Status</th>
                <th>TransactionAdjustmentId</th>
                <th>CreatedVendorId</th>
                <th>IsAdjustByStaff</th>
            </tr>
        </thead>
        <tbody transaction-adjustment-handler id="adjustmentBody"></tbody>
    </table>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
<div id="loading"></div>