﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security
@{
    ViewBag.Title = "Account Thresholds";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    <style>
        hr.local-hr-line {
            margin-top: 0px;
            margin-bottom: 5px;
            border-top: 3px solid #e5e5e5;
        }

        .button_line {
            border-bottom: 2px solid #b0bec5;
        }

        div.popover > div.popover-content {
            padding-left: 12px !important;
        }

        .has-error {
            color: red;
            border: 1px solid;
            border-color: red;
        }

        .field-message {
            color: red;
        }

    </style>
}

@using (Html.BeginForm("AccountThresholdsFrom", "SystemThresholds", FormMethod.Post, new { @class = "ng-pristine ng-valid", @name = "SysThresholdForm" }))
{
    <div class="tm-all" ng-controller="accountThresholdsController" ng-cloak>
        <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
            <div class="col-xs-7 col-sm-6">
                <h2 class="fixed-claim-header-title">Account Thresholds</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-top:70px;">
                    <div class="panel-body">
                        <!--Steward Remittances-->
                        <div class="row">
                            <div class="col-md-12">
                                <h3><span class="button_line">Steward Remittances</span></h3>
                            </div>
                        </div><!--/h3 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-model="vm.items.CBRemittanceNilAutoApprove.value" />
                                        <strong>Automatically approve</strong> Remittances that do not contain any data (NIL)
                                    </label>
                                </div>
                            </div>
                        </div><!--/1 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-change="isChecked('RemittanceVarianceAlert',vm.items.CBRemittanceVarianceAlert.value)"
                                               ng-model="vm.items.CBRemittanceVarianceAlert.value" />
                                        <strong>Flag Remittances</strong> with a variance of
                                        <input class="form-control"
                                               name="RemittanceVarianceAlert"
                                               varianceNeedPercentInteger="{{percentInteger(SysThresholdForm.RemittanceVarianceAlert.$viewValue, 'RemittanceVarianceAlert', 'varianceNeedPercentInteger')}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.RemittanceVarianceAlert.$invalid && !SysThresholdForm.RemittanceVarianceAlert.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBRemittanceVarianceAlert.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="%"
                                               required
                                               ng-model="vm.items.RemittanceVarianceAlert.value" />
                                        % or greater when compared to the last submitted Remittance.
                                    </label>
                                    <div class="field-message" ng-messages="SysThresholdForm.RemittanceVarianceAlert.$error" ng-if="SysThresholdForm.RemittanceVarianceAlert.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                        <div ng-message="varianceNeedPercentInteger"><span>{{valueBetweenZeroHundred}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/2 .row-->
                        <!--Collector Claims-->
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    <span class="button_line">Collector Claims</span>
                                    <i class="fa fa-question-circle " item-id="CollectorClaims" data-placement="auto" title="" data-target="webuiPopover0"></i>
                                </h3>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBCollectorAutoApprove"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('CollectorAutoApproveAmount',vm.items.CBCollectorAutoApprove.value)"
                                               ng-model="vm.items.CBCollectorAutoApprove.value" />
                                        <strong>Automatically approve</strong> Claims greater than or equal to zero and less than or equal to $
                                        <input class="form-control"
                                               name="CollectorAutoApproveAmount"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBCollectorAutoApprove.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.CollectorAutoApproveAmount.value" />
                                    </label>                      
                                    <div class="field-message" ng-messages="SysThresholdForm.CollectorAutoApproveAmount.$error" ng-if="SysThresholdForm.CollectorAutoApproveAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/1 .row Auto Approve-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBCollectorApprover1Reqd"
                                               CollectorCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CBCollectorApprover2Reqd, 'CBCollectorApprover1Reqd', 'CBCollectorApprover2Reqd','CollectorCustomValidationRequireCB')}}"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('CollectorApprover1ReqdAmount',vm.items.CBCollectorApprover1Reqd.value)"
                                               ng-model="vm.items.CBCollectorApprover1Reqd.value" />
                                        <strong>Require 'Approver 1' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="CollectorApprover1ReqdAmount"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.CollectorApprover1ReqdAmount.$invalid && !SysThresholdForm.CollectorApprover1ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBCollectorApprover1Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.CollectorApprover1ReqdAmount.value" />
                                    </label>
                           
                                    <div class="field-message" ng-messages="SysThresholdForm.CollectorApprover1ReqdAmount.$error" ng-if="SysThresholdForm.CollectorApprover1ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/2 .row Approver 1-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBCollectorApprover2Reqd"
                                               CollectorCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CBCollectorApprover2Reqd, 'CBCollectorApprover1Reqd', 'CBCollectorApprover2Reqd','CollectorCustomValidationRequireCB')}}"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('CollectorApprover2ReqdAmount',vm.items.CBCollectorApprover2Reqd.value)"
                                               ng-model="vm.items.CBCollectorApprover2Reqd.value" />
                                        <strong>Require 'Approver 2' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="CollectorApprover2ReqdAmount"
                                               CollectorCustomValidationEqualOrGreater="{{CollectorCustomValidationEqualOrGreater(SysThresholdForm.CBCollectorApprover2Reqd, SysThresholdForm.CollectorApprover2ReqdAmount, SysThresholdForm.CBCollectorApprover1Reqd, SysThresholdForm.CollectorApprover1ReqdAmount, SysThresholdForm.CBCollectorAutoApprove, SysThresholdForm.CollectorAutoApproveAmount)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.CollectorApprover2ReqdAmount.$invalid && !SysThresholdForm.CollectorApprover2ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBCollectorApprover2Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.CollectorApprover2ReqdAmount.value" />
                                    </label>
                                    <div class="field-message" ng-messages="SysThresholdForm.CollectorApprover2ReqdAmount.$error" ng-if="SysThresholdForm.CollectorApprover2ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/3 .row Approver 2-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-change="isChecked('CollectorNegativeClaimApprover',vm.items.CBCollectorNegativeClaimReqd.value)"
                                               ng-model="vm.items.CBCollectorNegativeClaimReqd.value" />
                                        <strong>Require&nbsp;&nbsp;</strong>
                                        <select class="form-control"
                                                ng-disabled="isView || !vm.items.CBCollectorNegativeClaimReqd.value"
                                                ng-model="vm.items.CollectorNegativeClaimApprover.value">
                                            <option value="Approver1">Approver 1</option>
                                            <option value="Approver2">Approver 2</option>
                                        </select>
                                        <strong>&nbsp;&nbsp;approval for claims with negative total claim amounts.</strong>
                                    </label>
                                    <div class="form-controls valid-info">
                                        <span style="color:red;"></span>
                                    </div>
                                </div>
                            </div>
                        </div><!--/4 .row negative amount-->
                        <div class="field-message" ng-messages="SysThresholdForm.$error" ng-if="SysThresholdForm.CBCollectorApprover1Reqd.$dirty || SysThresholdForm.CBCollectorApprover2Reqd.$dirty || SysThresholdForm.CollectorApprover1ReqdAmount.$dirty || SysThresholdForm.CollectorApprover2ReqdAmount.$dirty" multiple>
                            <div ng-message="CollectorCustomValidationRequireCB"><span>{{customValidationRequireCB}}</span></div>
                            <div ng-message="CollectorCustomValidationEqualOrGreater"><span>{{CollectorvalueMustEqualOrGreaterThan}}</span></div>
                        </div>
                        <!--Hauler Claims-->
                        <div class="row">
                            <div class="col-md-12">
                                <h3><span class="button_line">Hauler Claims</span></h3>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBHaulerApprover1Reqd"
                                               HaulerCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBHaulerApprover1Reqd, SysThresholdForm.CBHaulerApprover2Reqd, 'CBHaulerApprover1Reqd', 'CBHaulerApprover2Reqd', 'HaulerCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('HaulerApprover1ReqdAmount',vm.items.CBHaulerApprover1Reqd.value)"
                                               ng-model="vm.items.CBHaulerApprover1Reqd.value" />
                                        <strong>Require 'Approver 1' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="HaulerApprover1ReqdAmount"
                                               HaulerCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.HaulerApprover1ReqdAmount, vm.items.HaulerApprover2ReqdAmount,'HaulerApprover1ReqdAmount','HaulerApprover2ReqdAmount', 'HaulerCustomValidationEqualOrGreater', SysThresholdForm.CBHaulerApprover1Reqd.$viewValue && SysThresholdForm.CBHaulerApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.HaulerApprover1ReqdAmount.$invalid && !SysThresholdForm.HaulerApprover1ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBHaulerApprover1Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               value="{{vm.items.HaulerApprover1ReqdAmount.value}}"
                                               ng-model="vm.items.HaulerApprover1ReqdAmount.value" />
                                    </label>
                             
                                    <div class="field-message" ng-messages="SysThresholdForm.HaulerApprover1ReqdAmount.$error" ng-if="SysThresholdForm.HaulerApprover1ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/1 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBHaulerApprover2Reqd"
                                               HaulerCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBHaulerApprover1Reqd, SysThresholdForm.CBHaulerApprover2Reqd, 'CBHaulerApprover1Reqd', 'CBHaulerApprover2Reqd','HaulerCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('HaulerApprover2ReqdAmount',vm.items.CBHaulerApprover2Reqd.value)"
                                               ng-model="vm.items.CBHaulerApprover2Reqd.value" />
                                        <strong>Require 'Approver 2' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="HaulerApprover2ReqdAmount"
                                               HaulerCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.HaulerApprover1ReqdAmount, vm.items.HaulerApprover2ReqdAmount,'HaulerApprover1ReqdAmount','HaulerApprover2ReqdAmount', 'HaulerCustomValidationEqualOrGreater', SysThresholdForm.CBHaulerApprover1Reqd.$viewValue && SysThresholdForm.CBHaulerApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.HaulerApprover2ReqdAmount.$invalid && !SysThresholdForm.HaulerApprover2ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBHaulerApprover2Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               value="{{vm.items.HaulerApprover2ReqdAmount.value}}"
                                               ng-model="vm.items.HaulerApprover2ReqdAmount.value" />
                                    </label>
                              
                                    <div class="field-message" ng-messages="SysThresholdForm.HaulerApprover2ReqdAmount.$error" ng-if="SysThresholdForm.HaulerApprover2ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/2 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-change="isChecked('HaulerNegativeClaimApprover',vm.items.CBHaulerNegativeClaimReqd.value)"
                                               ng-model="vm.items.CBHaulerNegativeClaimReqd.value" />
                                        <strong>Require&nbsp;&nbsp;</strong>
                                        <select class="form-control"
                                                ng-disabled="isView || !vm.items.CBHaulerNegativeClaimReqd.value"
                                                ng-model="vm.items.HaulerNegativeClaimApprover.value">
                                            <option value="Approver1">Approver 1</option>
                                            <option value="Approver2">Approver 2</option>
                                        </select>
                                        <strong>&nbsp;&nbsp;approval for claims with negative total claim amounts.</strong>
                                    </label>
                                    <div class="form-controls valid-info">
                                        <span style="color:red;"></span>
                                    </div>
                                </div>
                            </div>
                        </div><!--/3 .row-->
                        <div class="field-message" ng-messages="SysThresholdForm.$error" ng-if="SysThresholdForm.CBHaulerApprover1Reqd.$dirty || SysThresholdForm.CBHaulerApprover2Reqd.$dirty || SysThresholdForm.HaulerApprover1ReqdAmount.$dirty || SysThresholdForm.HaulerApprover2ReqdAmount.$dirty" multiple>
                            <div ng-message="HaulerCustomValidationRequireCB"><span>{{customValidationRequireCB}}</span></div>
                            <div ng-message="HaulerCustomValidationEqualOrGreater"><span>{{valueMustEqualOrGreaterThan}}</span></div>
                        </div>
                        <!--Processor Claims-->
                        <div class="row">
                            <div class="col-md-12">
                                <h3><span class="button_line">Processor Claims</span></h3>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBProcessorApprover1Reqd"
                                               ProcessorCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBProcessorApprover1Reqd, SysThresholdForm.CBProcessorApprover2Reqd, 'CBProcessorApprover1Reqd', 'CBProcessorApprover2Reqd', 'ProcessorCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('ProcessorApprover1ReqdAmount',vm.items.CBProcessorApprover1Reqd.value)"
                                               ng-model="vm.items.CBProcessorApprover1Reqd.value" />
                                        <strong>Require 'Approver 1' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="ProcessorApprover1ReqdAmount"
                                               ProcessorCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.ProcessorApprover1ReqdAmount, vm.items.ProcessorApprover2ReqdAmount,'ProcessorApprover1ReqdAmount','ProcessorApprover2ReqdAmount','ProcessorCustomValidationEqualOrGreater', SysThresholdForm.CBProcessorApprover1Reqd.$viewValue && SysThresholdForm.CBProcessorApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.ProcessorApprover1ReqdAmount.$invalid && !SysThresholdForm.ProcessorApprover1ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBProcessorApprover1Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.ProcessorApprover1ReqdAmount.value" />
                                    </label>
                           
                                    <div class="field-message" ng-messages="SysThresholdForm.ProcessorApprover1ReqdAmount.$error" ng-if="SysThresholdForm.ProcessorApprover1ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/1 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBProcessorApprover2Reqd"
                                               ProcessorCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBProcessorApprover1Reqd, SysThresholdForm.CBProcessorApprover2Reqd, 'CBProcessorApprover1Reqd', 'CBProcessorApprover2Reqd', 'ProcessorCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('ProcessorApprover2ReqdAmount',vm.items.CBProcessorApprover2Reqd.value)"
                                               ng-model="vm.items.CBProcessorApprover2Reqd.value" />
                                        <strong>Require 'Approver 2' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="ProcessorApprover2ReqdAmount"
                                               ProcessorCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.ProcessorApprover1ReqdAmount, vm.items.ProcessorApprover2ReqdAmount,'ProcessorApprover1ReqdAmount','ProcessorApprover2ReqdAmount','ProcessorCustomValidationEqualOrGreater', SysThresholdForm.CBProcessorApprover1Reqd.$viewValue && SysThresholdForm.CBProcessorApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.ProcessorApprover2ReqdAmount.$invalid && !SysThresholdForm.ProcessorApprover2ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBProcessorApprover2Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.ProcessorApprover2ReqdAmount.value" />
                                    </label>
                         
                                    <div class="field-message" ng-messages="SysThresholdForm.ProcessorApprover2ReqdAmount.$error" ng-if="SysThresholdForm.ProcessorApprover2ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>

                                </div>
                            </div>
                        </div><!--/2 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-change="isChecked('ProcessorNegativeClaimApprover',vm.items.CBProcessorNegativeClaimReqd.value)"
                                               ng-model="vm.items.CBProcessorNegativeClaimReqd.value" />
                                        <strong>Require&nbsp;&nbsp;</strong>
                                        <select class="form-control"
                                                ng-disabled="isView || !vm.items.CBProcessorNegativeClaimReqd.value"
                                                ng-model="vm.items.ProcessorNegativeClaimApprover.value">
                                            <option value="Approver1">Approver 1</option>
                                            <option value="Approver2">Approver 2</option>
                                        </select>
                                        <strong>&nbsp;&nbsp;approval for claims with negative total claim amounts.</strong>
                                    </label>
                          
                                </div>
                            </div>
                        </div><!--/3 .row-->
                        <div class="field-message" ng-messages="SysThresholdForm.$error" ng-if="SysThresholdForm.CBProcessorApprover1Reqd.$dirty || SysThresholdForm.CBProcessorApprover2Reqd.$dirty || SysThresholdForm.ProcessorApprover1ReqdAmount.$dirty || SysThresholdForm.ProcessorApprover2ReqdAmount.$dirty" multiple>
                            <div ng-message="ProcessorCustomValidationRequireCB"><span>{{customValidationRequireCB}}</span></div>
                            <div ng-message="ProcessorCustomValidationEqualOrGreater"><span>{{valueMustEqualOrGreaterThan}}</span></div>
                        </div>
                        <!--Recycled Product manufacturer Claims-->
                        <div class="row">
                            <div class="col-md-12">
                                <h3><span class="button_line">Recycled Product Manufacturer Claims</span></h3>
                            </div>
                        </div><!--/.row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBRPMApprover1Reqd"
                                               RPMCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBRPMApprover1Reqd, SysThresholdForm.CBRPMApprover2Reqd, 'CBRPMApprover1Reqd', 'CBRPMApprover2Reqd', 'RPMCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('RPMApprover1ReqdAmount',vm.items.CBRPMApprover1Reqd.value)"
                                               ng-model="vm.items.CBRPMApprover1Reqd.value">
                                        <strong>Require 'Approver 1' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="RPMApprover1ReqdAmount"
                                               RPMCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.RPMApprover1ReqdAmount, vm.items.RPMApprover2ReqdAmount,'RPMApprover1ReqdAmount','RPMApprover2ReqdAmount','RPMCustomValidationEqualOrGreater', SysThresholdForm.CBRPMApprover1Reqd.$viewValue && SysThresholdForm.CBRPMApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.RPMApprover1ReqdAmount.$invalid && !SysThresholdForm.RPMApprover1ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBRPMApprover1Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.RPMApprover1ReqdAmount.value" />
                                    </label>
                              
                                    <div class="field-message" ng-messages="SysThresholdForm.RPMApprover1ReqdAmount.$error" ng-if="SysThresholdForm.RPMApprover1ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/1 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               name="CBRPMApprover2Reqd"
                                               RPMCustomValidationRequireCB="{{RequireCB(SysThresholdForm.CBRPMApprover1Reqd, SysThresholdForm.CBRPMApprover2Reqd, 'CBRPMApprover1Reqd', 'CBRPMApprover2Reqd', 'RPMCustomValidationRequireCB')}}"
                                               ng-disabled="isView"
                                               ng-change="isChecked('RPMApprover2ReqdAmount',vm.items.CBRPMApprover2Reqd.value)"
                                               ng-model="vm.items.CBRPMApprover2Reqd.value">
                                        <strong>Require 'Approver 2' approval</strong> for Claims greater than or equal to $
                                        <input class="form-control"
                                               name="RPMApprover2ReqdAmount"
                                               RPMCustomValidationEqualOrGreater="{{valueMustEqualOrGreater(vm.items.RPMApprover1ReqdAmount, vm.items.RPMApprover2ReqdAmount,'RPMApprover1ReqdAmount','RPMApprover2ReqdAmount','RPMCustomValidationEqualOrGreater', SysThresholdForm.CBRPMApprover1Reqd.$viewValue && SysThresholdForm.CBRPMApprover2Reqd.$viewValue)}}"
                                               ng-class="{ 'has-error' : SysThresholdForm.RPMApprover2ReqdAmount.$invalid && !SysThresholdForm.RPMApprover2ReqdAmount.$pristine }"
                                               maxlength="7"
                                               size="7"
                                               ng-disabled="isView || !vm.items.CBRPMApprover2Reqd.value"
                                               placeholder=""
                                               type="text"
                                               valid-number
                                               decimal-size="{{vm.decimailsize}}"
                                               theprefex="none"
                                               required
                                               ng-model="vm.items.RPMApprover2ReqdAmount.value" />
                                    </label>
                              
                                    <div class="field-message" ng-messages="SysThresholdForm.RPMApprover2ReqdAmount.$error" ng-if="SysThresholdForm.RPMApprover2ReqdAmount.$dirty">
                                        <div ng-message="required"><span>{{valueRequire}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/2 .row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        <input type="checkbox"
                                               ng-disabled="isView"
                                               ng-change="isChecked('RPMNegativeClaimApprover',vm.items.CBRPMNegativeClaimReqd.value)"
                                               ng-model="vm.items.CBRPMNegativeClaimReqd.value" />
                                        <strong>Require&nbsp;&nbsp;</strong>
                                        <select class="form-control"
                                                ng-disabled="isView || !vm.items.CBRPMNegativeClaimReqd.value"
                                                ng-model="vm.items.RPMNegativeClaimApprover.value">
                                            <option value="Approver1">Approver 1</option>
                                            <option value="Approver2">Approver 2</option>
                                        </select>
                                        <strong>&nbsp;&nbsp;approval for claims with negative total claim amounts.</strong>
                                    </label>
                                    <div class="form-controls valid-info">
                                        <span style="color:red;"></span>
                                    </div>
                                </div>
                            </div>
                        </div><!--/3 .row-->
                        <div class="field-message" ng-messages="SysThresholdForm.$error" ng-if="SysThresholdForm.CBRPMApprover1Reqd.$dirty || SysThresholdForm.CBRPMApprover2Reqd.$dirty || SysThresholdForm.RPMApprover1ReqdAmount.$dirty || SysThresholdForm.RPMApprover2ReqdAmount.$dirty" multiple>
                            <div ng-message="RPMCustomValidationRequireCB"><span>{{customValidationRequireCB}}</span></div>
                            <div ng-message="RPMCustomValidationEqualOrGreater"><span>{{valueMustEqualOrGreaterThan}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Internal Notes-->
        <div class="row">
            <div class="col-md-12">
                <internal-notes load-url="{{loadUrl}}"
                                add-url="{{addUrl}}"
                                export-url="{{exportUrl}}"
                                export-name="Account-Threshold"
                                application-type-id="{{vm.applicationTypeID}}"
                                reloaddata="{{freshnote}}"
                                panel-arrow="viewdetail-notes"
                                is-view="{{isView}}">
                </internal-notes>
            </div>
        </div>
        <!--Buttons-->
        <div class="row">
            <button ng-click="submitContent()" ng-disabled="isView" type="button" class="btn btn-success save-btn pull-right margin-top--10 btn-lg" style="margin-right:5px;">
                <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                Save
            </button>
            <button ng-click="cancelBtn()" ng-disabled="isView" type="button" class="btn btn-danger cancel-btn pull-right margin-top--10 btn-lg" style="margin-right:5px; margin-left:5px">
                <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                Cancel
            </button>
        </div>
    </div>
}

@Html.Partial("_AccountThresholdsTemplate")

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.AccountThresholds = {
            LoadDetailsUrl: '@Url.Action("LoadAccountThresholds", "SystemThresholds", new { area = "System" })',
            SaveDetailsUrl: '@Url.Action("SaveAccountThredholds", "SystemThresholds", new { area = "System" })',

            Header: 'Account Thresholds Setting',
            ConfirmHeader: 'Confirm',
            ConfirmHtml: '<h4>Are you sure you want to <strong>save</strong> the changes?</h4>',
            SuccessHeader: 'Account Thresholds Setting',
            SuccessHtml: '<h4>Save successful!</h4>',
            CancelHeader: 'Cancel',
            CancelHtml: '<h4>Are you sure you want to <strong>cancel</strong> the changes?</h4>',

            FailHeader: 'Unable to save the data',
            FailHtml: "Account Thresholds Setting save failure",
            LoadNotesUrl: '@Url.Action("LoadNotes", "SystemThresholds", new { area = "System" })',
            AddNoteUrl: '@Url.Action("AddNote", "SystemThresholds", new { area = "System" })',
            ExportNotesUrl: '@Url.Action("ExportNotes", "SystemThresholds", new { area = "System" })',

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                AccountThresholds: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminSystemThresholds)',
            },
        };
        Global.InternalNoteSettings = {
            currentOpenId: 0,
            InternalExportUrl: '',
        };
        Global.Settings = {
            popover: {
                trigger: 'hover',
                multi: true,
                closeable: true,
                style: 'center',
                width: '300',
                delay: { show: 300, hide: 800 },
                padding: true,
            },
            collectorClaimsContent: 'Any Collector Claims which are not automatically approved require approval from Supervisor or higher.'
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    <script type="text/javascript" src="~/Areas/System/Scripts/SystemThresholds/system-thresholds-app.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Scripts/angular-messages.min.js?v=@ViewBag.versionid"></script>
}