﻿<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInternalAdjustments-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInternalAdjustments-collapseOne" aria-expanded="true" aria-controls="panelInternalAdjustments-collapseOne" class="panel-arrow-expand">
                Internal Adjustments
            </a>
            <a id="exportInternalAdj" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="internalAdjustSearch" type="text" class="form-control" placeholder="Search">
            <div id="internalAdjustFound" class="subcomp-search-found">&nbsp;</div>
            <i class="glyphicon glyphicon-remove remove-icon" id="internalAdjustRemove"></i>
            <i class="glyphicon glyphicon-search" id="internalAdjustSearchBtn"></i>
        </div>
    </div>
    <div id="panelInternalAdjustments-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInternalAdjustments-headingOne">
        <div class="panel-body">
            @Html.Partial("_ProcessorStaffInternalAdjustmentList")
        </div>
    </div>
</div>