﻿@using CL.TMS.Security.Authorization

<div class="@((SecurityContextHelper.IsStaff()) ? "panel panel-default fixed-claim-header-margin-top-0" : "panel panel-default fixed-claim-header-margin-top-70")">
    <div class="panel-heading" role="tab" id="panelOutbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelOutbound-collapseOne" aria-expanded="true" aria-controls="panelOutbound-collapseOne">
                Outbound
                <common-server-export model="ProcessorClaimSummary"
                                      file-name="@(SecurityContextHelper.IsStaff() ? "StaffOutboundClaimsSummary" : "ParticipantOutboundClaimsSummary")" ng-if="dataloaded"
                                      url='@Url.Action("ExportToExcelCommon", "Claims", new { area = "System" })'
                                      type="Processor" sub-type="Outbound" attr-anchor="110px">
                </common-server-export>
            </a>
        </h4>
    </div>
    <div id="panelOutbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelOutbound-headingOne">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:right;">Actual (t)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Processor", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.SPS, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Summary of Product Sales">SPS</a></td>
                        <td align="right">{{ProcessorClaimSummary.SPS | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Processor", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.PIT, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Processor Inventory Transfer">PIT</a></td>
                        <td align="right">{{ProcessorClaimSummary.PITOut | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Processor", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.DOR, direction = 2 })" data-toggle="tooltip" data-placement="right" title="Disposition of Residuals">DOR</a></td>
                        <td align="right">{{ProcessorClaimSummary.DOR | number:4}}</td>
                    </tr>
                    <tr>
                        <td data-toggle="modal">ADJ</td>
                        <td align="right">{{ProcessorClaimSummary.AdjustOut | number:4}}</td>
                    </tr>
                    <tr>
                        <td>@UIResource.TotalOutbound</td>
                        <td align="right">{{ProcessorClaimSummary.TotalOutbound | number:4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--/.panel-->