﻿<table id="tblProcessorInternalAdjusList" class="table table-hover display truncate datatable-100-perc narrow-width" data-page-readonly="{{ProcessorClaimSummary.ClaimCommonModel.ClaimSummarySecurity.PageReadonlyForStaff}}">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Notes</th>@*OTSTM2-670*@
            <th>Added&nbsp;By</th>
            <th>Actions</th>
            <th class="display-none">InternalAdjustmentId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<div class="row">
    <div class="col-md-6">
        <a id="tblProcessorInternalAdjusList_viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
    </div>
    <div class="col-md-6 txt-r">
        <button type="button" class="btn btn-success btn-add margin-top--20" ng-click="processorInternalAdjustments()" ng-disabled="DisableInternalAdjustmentsBtn">+</button>
    </div>
</div>
