﻿<script type="text/ng-template" id="documentUploader.html">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Upload Documents</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="template-download fade in" ng-repeat="doc in uploadList">
                        <td style="width:25%"><p class="name">{{doc.name}}</p></td>
                        <td style="width:40%"><input type="text" style="width:100%" class="form-control document-name" ng-model="doc.description" placeholder="Description" maxlength="512"></td>
                        <td style="width:20%" class="txt-r"><span class="size">{{doc.size/1000}} KB</span></td>
                        <td style="width:15%" class="txt-c"><span class="btn btn-danger delete" ng-click="delete(doc)"><strong>X</strong></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-class="dropZoneStyle()" style="min-height: 200px">
                <input ng-file-select="onFileSelect($files)" type="file" title="Drop files to upload (or click)" accept=".pdf, doc, docx, xls, xlsx, txt, image/*" style="position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=100)'; font-size: 43px; direction: ltr; cursor: pointer; height: 100%;">
            </div>
        </div>
    </div> 
    
    <div ng-show="isRequiredError()">
        <div class="row"><div class="col-md-12">&nbsp;</div></div>

        <div class="row">
            <div class="col-md-12">
                <span style="color: #a94442">Required</span>
            </div>
        </div>        
    </div>      
</script>
