﻿
    <!-- Modal: Void  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalVoid" tabindex="-1" role="dialog" aria-labelledby="modalVoid" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalVoid" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>void</strong><br> transaction <strong><span id="modalVoidTypeText"></span> # <span id="modalVoidTransNumText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success workflow btn-lg" data-action="void" data-dismiss="modal" id="btnVoidYes" data-transid="">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Accept  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalAccept" tabindex="-1" role="dialog" aria-labelledby="modalAccept" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalAccept" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>accept</strong><br> transaction <strong><span id="modalAcceptTypeText"></span> # <span id="modalAcceptTransNumText"></span></strong>?</h4>
                    <p id="acceptConfirmNote"  class="txt-c">Please be advised that this will recalculate relevant claim(s) and may affect inventory and payments.</p>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" id="btnAcceptTransaction" class="btn btn-success workflow btn-lg" data-action="accept" data-dismiss="modal" data-transid="">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Reject  -->
<div class="modal fade comp-claims-summary-submitmodal margin-top-100" id="modalReject" tabindex="-1" role="dialog" aria-labelledby="modalReject" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalReject" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div style="padding:20px">
                    <h4 class="txt-c">Are you sure you would like to <strong>reject</strong><br> transaction <strong><span id="modalRejectTypeText"></span> # <span id="modalRejectTransNumText"></span></strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <input class="confirmActionID" type="hidden" value=''>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success workflow btn-lg" data-action="reject" data-dismiss="modal" id="btnRejectTransaction" data-transid="">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
