﻿@using CL.TMS.Resources

<script type="text/ng-template" id="cancelConfirm.html">
    <div class="comp-all-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to Cancel?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</script>