﻿@using CL.TMS.Resources

<script type="text/ng-template" id="participant-info-view.html">
    <div class="row" ng-if="info.validInfo">
        <div class="col-sm-4 txt-r">
            <p>
                <span><strong>{{info.participantLabel}}</strong></span>
                <span ng-show="info.showMapMarker" class="sample-popover-map" ng-click="viewMapDetail()"><i class="fa fa-map-marker cursor-pointer"></i></span>
                <span ng-show="info.displayParticipantNumber"><br>{{info.participantNumber}}</span>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                {{info.companyName}}<br>
                {{info.address1}} {{info.address2}}<br>
                {{info.city}}, {{info.province}} {{info.postalCode}}<br>
                <span ng-show="info.country.length > 0">{{info.country}}<br></span>
                <span class="form-control-static">{{info.phoneNumber}}</span>
            </p>
        </div>
    </div>

    <div class="row" ng-if="!info.validInfo">
        <div class="col-sm-4 txt-r">
            <p>
                <span><strong>{{info.participantLabel}}</strong></span>
            </p>
        </div>
        <div class="col-sm-8"><span class="label label-warning">info not available</span></div>
    </div>
</script>

<script type="text/ng-template" id="geo-map-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Map</h3>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <dynamic-geo-map postal='{{postal}}' gps='{{gps}}'></dynamic-geo-map>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="mobile-geo-map-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">Map</h3>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <dynamic-geo-map-multipin postal='{{postal}}' gps='{{gps}}'></dynamic-geo-map-multipin>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="padding-bottom: 5px;">
            @*<div class="row">
                <div class="col-md-8">
                    <div style="min-width:160px; text-align: left; float:left" title="Green" data-latitude="{{(gps | findInArrayFilter : 'locationName' : 'Registered address').latitude}}" data-longitude="{{(gps | findInArrayFilter : 'locationName' : 'Registered address').longitude}}">
                        <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" height="25px" />
                        Registered Address
                    </div>
                    <div style="min-width:160px; text-align: left; float:left" title="Red" data-latitude="{{(gps | findInArrayFilter : 'locationName' : 'QR scan').latitude}}" data-longitude="{{(gps | findInArrayFilter : 'locationName' : 'QR scan').longitude}}">
                        <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" height="25px" />
                        Outbound QR Code
                    </div>
                    <div style="min-width:160px; text-align: left; float:left" title="Purple" data-latitude="{{(gps | findInArrayFilter : 'locationName' : 'Inbound signature').latitude}}" data-longitude="{{(gps | findInArrayFilter : 'locationName' : 'Inbound signature').longitude}}">
                        <img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png" height="25px" />
                        Inbound signature
                    </div>
                    <div style="min-width:160px; text-align: left; float:left" title="Blue" data-latitude="{{(gps | findInArrayFilter : 'locationName' : 'Transaction start').latitude}}" data-longitude="{{(gps | findInArrayFilter : 'locationName' : 'Transaction start').longitude}}">
                        <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" height="25px" />
                        Transaction Start
                    </div>
                    <div style="min-width:160px; text-align: left; float:left" title="Orange" ng-class="" data-latitude="{{(gps | findInArrayFilter : 'locationName' : 'Outbound signature').latitude}}" data-longitude="{{(gps | findInArrayFilter : 'locationName' : 'Outbound signature').longitude}}">
                        <img src="http://maps.google.com/mapfiles/ms/icons/orange-dot.png" height="25px" />
                        Outbound Signature
                    </div>
                    <div style="float:left" title=""></div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>
            </div>*@
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-md-8">
                    <div ng-repeat="item in gps" style="min-width:160px; padding-bottom: 5px; text-align: left; float:left; text-transform: capitalize " @*title="{{item.iconName.replace('.png' , '') | stringOperation}}"*@ data-latitude="{{item.latitude}}" data-longitude="{{item.longitude}}">
                        <img ng-src="http://maps.google.com/mapfiles/ms/icons/{{item.iconName}}" height="25px" />
                        {{item.locationName}}
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="cancel()">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="mobile-gps-header.html">
    <div class="row margin-top--20">
        <div class="col-sm-3 txt-c">
            <date-display-bold-view label="{{'Transaction Start'}}" date="vm.transactionCreatedDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-bold-view>
        </div>
        <div class="col-sm-3 txt-c">
            <date-display-bold-view label="{{'Transaction End'}}" date="vm.transactionEndDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-bold-view>
        </div>
        <div class="col-sm-3 txt-c">
            <date-display-bold-view label="{{'Sync'}}" date="vm.mobileSyncDate" format="{{'yyyy-MM-dd hh:mm a'}}"></date-display-bold-view>
        </div>
        <div class="col-sm-3 txt-c color-tm-blue">
            <div>
                <label>GPS</label>
            </div>
            <div>
                <i class="fa fa-map-marker cursor-pointer margin-top--3" ng-click="viewMapDetail()"></i>
            </div>
        </div>
    </div>
</script>
