﻿@using CL.TMS.Resources

<script type="text/ng-template" id="adjustment-toggle.html">
    <div class="row">
        <div class="col-md-12">
            <label>Preview Current Detail&nbsp;<input type="checkbox" ng-model="preview" /></label>
        </div>
    </div>
</script>