﻿@using CL.TMS.Resources

<script type="text/ng-template" id="unit-weight.html">
    <div class="col-md-3">
        <div class="form-group" cl-show-errors>
            <label>Total TDP Weight ({{weighTypeLabel(vm.unitType)}})</label><br>
            <input type="text" name="totalTDPWeight" ng-model="vm.totalTDPWeight" class="form-control" required valid-scale-weight>
            <div class="btn-group float-right margin-top--1">
                <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(3, vm.unitType)" ng-model="vm.unitType" uib-btn-radio="3">t</label>
                <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(2, vm.unitType)" ng-model="vm.unitType" uib-btn-radio="2">kg</label>
                <label ng-disabled="isDisabled()" ng-class="weighTypeStyle(1, vm.unitType)" ng-model="vm.unitType" uib-btn-radio="1">lbs</label>
            </div><br />
            <span class="help-block" ng-if="form.totalTDPWeight.$error">Required</span>
        </div>
    </div>
</script>