﻿@using CL.TMS.Resources

<script type="text/ng-template" id="creation-status-message.html">
    <div class="alert alert-danger" ng-show="statusModel.errorType == 'invalid-vendor-context'">
        <button type="button" class="close" ng-click="hide()"><span>&times;</span></button>
        <strong>Session Error!</strong> Unable to add this transaction. 
    </div> 
    
    <div class="alert alert-danger" ng-show="statusModel.errorType == 'save-error'">
        <button type="button" class="close" ng-click="hide()"><span>&times;</span></button>
        <strong>Error!</strong> Unable to add this transaction. If problem persists, please contact support.
    </div>   
</script>