﻿@using CL.TMS.Resources

<script type="text/ng-template" id="unregisteredCompany.html">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <label for="companyName">{{companyLabelText}}</label>
                <input type="text" name="companyName" ng-model="companyInfo.companyName" class="form-control" placeholder="" ng-required="companyInfoRequired" ng-minlength="2">
                <span class="help-block" ng-if="form.companyName.$error.required">Required</span>
                <span class="help-block" ng-if="form.companyName.$error.minlength">Minimum 2 characters required</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" cl-show-errors>
                <label for="phoneNumber">Phone</label>
                <input type="text" name="phoneNumber" ng-model="companyInfo.phoneNumber" class="form-control" placeholder="" ng-required="companyInfoRequired" validate-phone-number="{{companyInfo.country}}">
                <span class="help-block" ng-if="form.phoneNumber.$error.required">Required</span>
                <span class="help-block" ng-if="form.phoneNumber.$error.validFormat">Expected format ###-###-####</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <label for="addressLine1">Address Line 1</label>
                <input type="text" name="addressLine1" ng-model="companyInfo.address1" class="form-control" placeholder="" ng-required="companyInfoRequired">
                <span class="help-block" ng-if="form.addressLine1.$error">Required</span>
            </div>            
        </div>
        <div class="col-md-3">
            <div class="form-group" cl-show-errors>
                <label for="city">City</label>
                <input type="text" name="city" ng-model="companyInfo.city" class="form-control" placeholder="" ng-required="companyInfoRequired">
                <span class="help-block" ng-if="form.city.$error">Required</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" cl-show-errors>
                <label for="province">Province / State</label>
                <input type="text" name="province" ng-model="companyInfo.province" class="form-control" placeholder="" ng-required="companyInfoRequired && (companyInfo.country == 'Canada' || companyInfo.country == 'USA')">
                <span class="help-block" ng-if="form.province.$error">Required</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" cl-show-errors>
                <label for="addressLine2">Address Line 2</label>
                <input type="text" name="addressLine2" ng-model="companyInfo.address2" class="form-control" placeholder="Suite, Unit, Bldg., etc.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" cl-show-errors>
                <label for="postalCode">Postal / Zip</label>
                <input type="text" name="postalCode" ng-model="companyInfo.postalCode" class="form-control" placeholder="" ng-required="companyInfoRequired && (companyInfo.country == 'Canada' || companyInfo.country == 'USA')" validate-postal-code="{{companyInfo.country}}">
                <span class="help-block" ng-if="form.postalCode.$error.required">Required</span>
                <span class="help-block" ng-if="form.postalCode.$error.validFormat">@MessageResource.ValidationMsgInvalidPostalCode</span>
            </div>
        </div>
        <div class="col-md-3" ng-if="countryList.length > 0">
            <div class="form-group" cl-show-errors>
                <label for="country">Country</label>
                <select class="form-control" name="country" ng-model="companyInfo.country" ng-change="countryChange()" required ng-options="country for country in countryList">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.country.$error">Required</span>
            </div>
        </div>
    </div>
</script>