﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-used-tire-sale-detail-view.html">
    <label>Used Tire Sale</label>

    <div class="row">
        <div class="col-md-12">
            <tire-type-count-view tire-type-list="usedTireSaleDetail.tireTypeList"></tire-type-count-view>
        </div>
    </div>

    <div class="row" ng-show="usedTireSaleDetail.calculationSummary">
        <div class="col-md-2">
            Amount ($) <i class="fa fa-search-plus color-tm-blue" dor-amount-calculation-detail-view item-list="usedTireSaleDetail.calculationSummary.itemList"></i><br />
            -{{usedTireSaleDetail.calculationSummary.amount | number:2}}
        </div>
    </div>
</script>