﻿<script type="text/ng-template" id="supportingDocumentSelector.html">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Supporting Documents</th>
                <th class="txt-c">Fax</th>
                <th class="txt-c">Mail</th>
                <th class="txt-c">Upload</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in list | filter: doc.required = true">
                <td>{{doc.documentName}}</td>
                <td class="txt-c"><label><input type="radio" name="SupportingDocument-{{doc.uniqueId}}" ng-model="doc.documentFormat" value="1"></label></td>
                <td class="txt-c"><label><input type="radio" name="SupportingDocument-{{doc.uniqueId}}" ng-model="doc.documentFormat" value="2"></label></td>
                <td class="txt-c"><label><input type="radio" name="SupportingDocument-{{doc.uniqueId}}" ng-model="doc.documentFormat" value="3" checked></label></td>
            </tr>
        </tbody>
    </table>
</script>