﻿@using CL.TMS.Resources

<script type="text/ng-template" id="pit-product-detail-view.html">
    <div class="row">
        <div class="col-md-6">
            <label>Product Type</label>
            <p>{{productDetail.shortName}}</p>
        </div>
        <div class="col-md-6">
            <div ng-show="direction == 2">
                <label>Rate&nbsp;($/t)</label><br>
                <p>{{productDetail.rate | number:2}}</p>
                <label>Amount ($)</label><br>
                <p>{{productDetail.amount| number:2}}</p>
            </div>
            <div ng-show="direction != 2">&nbsp;</div>
        </div>       
    </div> 
</script>