﻿@using CL.TMS.Resources

<script type="text/ng-template" id="supporting-document-attachment-adjust.html">  
    <div class="row">
        <div class="col-md-7">
            <img ng-if="loaded" id="SupportingDocumentZoom" src="/img/image-unavailable.png" initialize-smooth-zoom zoom-width="450" zoom-height="300" img-src="currentSupportingDocument.src" />
        </div>
        <div class="col-md-5">
            <div ng-repeat="item in list" ng-click="viewSupportingDocument(item)" ng-class="docStyle(item)">
                <img ng-src="{{item.src}}" />
            </div>
        </div>
        <div class="col-md-5 margin-bottom--10">
            <div>
                <hr>
                <label>Filename</label>
                <p>{{currentSupportingDocument.fileName}}</p>

                <label>Description</label>
                <p><input type="text" style="width:100%" class="form-control document-name" ng-model="currentSupportingDocument.description" placeholder="Description" maxlength="512"></p>

                <a class="btn btn-success" href="{{currentSupportingDocument.actualSrc}}" target="_blank"><strong>Download</strong></a>
                &nbsp;<label><input type="checkbox" ng-model="currentSupportingDocument.isRemoved" />&nbsp;Remove</label>
            </div>
        </div>
    </div>
</script>