﻿@using CL.TMS.Resources

<script type="text/ng-template" id="paper-scale-ticket-view.html">
    <div class="row">
        <div class="col-md-6">            
            <label>Scale Ticket #</label>
            <p>{{scaleTicketModel.tickets[0].ticketNumber}}</p>
        </div>
        <div class="col-md-6">            
            <label>Scale Weight ({{unit}})</label>
            <p>{{scaleTicketModel.netWeight |  number : 4}}</p>
        </div>        
    </div> 
</script>