﻿@using CL.TMS.Resources

<script type="text/ng-template" id="form-number.html">
    <div class="form-group" cl-show-errors>
        <label ng-if="isTCR()" for="formNumber">TCR #</label>
        <label ng-if="isDOT()" for="formNumber">DOT #</label>
        <label ng-if="isSTC()" for="formNumber">STC #</label>
        <label ng-if="isUCR()" for="formNumber">UCR #</label>
        <label ng-if="isHIT()" for="formNumber">HIT #</label>
        <label ng-if="isRTR()" for="formNumber">RTR #</label>
        <label ng-if="isPTR()" for="formNumber">PTR #</label>
        <label ng-if="isPIT()" for="formNumber">PIT #</label>

        <input type="text" name="formNumber" ng-model="formNumber" class="form-control" placeholder="" ng-change="resetFormNumberDuplicationError()" ng-blur="checkDuplication()" numbers-only="11" required validate-form-number="{{formType}}">

        <div ng-if="isTCR()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 1</span>  
        </div>  
        <div ng-if="isDOT()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 2</span>
        </div>
        <div ng-if="isSTC()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 5</span>
        </div>
        <div ng-if="isUCR()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 6</span>
        </div>
        <div ng-if="isHIT()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 3</span>
        </div>
        <div ng-if="isRTR()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 4</span>
        </div>
        <div ng-if="isPTR()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 7</span>
        </div> 
        <div ng-if="isPIT()">
            <span class="help-block" ng-if="form.formNumber.$error.validFormat">Should be at least eight digits starting with 8</span>
        </div>     
        
        <div ng-if="form.formNumber.$error.duplication">
            <span class="help-block" ng-if="!duplicationInSameClaim">Number already exists in other claim(s)</span>
            <span class="help-block" ng-if="duplicationInSameClaim">Number already exists in this claim</span>
        </div>    
    </div>
</script>
