﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-handler-workflow.html">
    <div class="modal-footer" ng-if="(vm.currentMode == 'adjust' && vm.adjModel && !vm.adjModel.preview) || (vm.currentMode == 'view' && !vm.displayOriginal)">
        <div ng-if="tireTypeCountInvalid()">
            <div class="row alert alert-danger"><div class="col-md-12 text-center">Error. Atleast one tire type should have value >= 1</div></div>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>

        <div ng-if="(vm.adjustmentReviewAllowed || vm.adjustmentRecallAllowed || vm.adjustmentRejectAllowed) && vm.currentMode === 'view'">
            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" rows="3" name="adjustmentNote" ng-model="vm.adjustmentNote" required></textarea>
                </div>
            </div>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>        

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger btn-lg" ng-click="cancel()" ng-if="vm.currentMode == 'adjust' || (!THSvr.isReviewToolBarExists() && (vm.adjustmentReviewAllowed || vm.adjustmentRecallAllowed || vm.adjustmentRejectAllowed))">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    @UIResource.Cancel
                </button>

                <button type="button" class="btn btn-success btn-lg" ng-click="submitAdjustment()" ng-if="vm.currentMode == 'adjust'">
                    @UIResource.Adjust
                </button>

                <button type="button" class="btn btn-danger btn-lg" ng-click="submitReview(false)" ng-disabled="vm.adjustmentNote == null || vm.adjustmentNote.length <= 0" ng-if="vm.currentMode === 'view' && vm.adjustmentReviewAllowed">
                    Reject
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="submitReview(true)" ng-disabled="vm.adjustmentNote == null || vm.adjustmentNote.length <= 0" ng-if="vm.currentMode === 'view' && vm.adjustmentReviewAllowed">
                    Accept
                </button>

                <button type="button" class="btn btn-success btn-lg" ng-click="submitRecall()" ng-disabled="vm.adjustmentNote == null || vm.adjustmentNote.length <= 0" ng-if="vm.currentMode === 'view' && vm.adjustmentRecallAllowed">
                    Recall
                </button>

                <button type="button" class="btn btn-success" ng-click="rejectAdjustment()" ng-disabled="vm.adjustmentNote == null || vm.adjustmentNote.length <= 0" ng-if="vm.currentMode === 'view' && vm.adjustmentRejectAllowed">
                    Reject Adjustment
                </button>
            </div>
        </div>
    </div>
</script>
