﻿@using CL.TMS.Resources

<script type="text/ng-template" id="transaction-review-toolbar.html">
    <div class="comp-transaction-review" drag-me>
        <div class="comp-transaction-review-hdr">
            <div class="area-l">
                {{currentTransaction.processingStatus}}<br />
                {{ds.getClaimPeriodName()}}
            </div>
            <div class="area-c">                
                <span ng-if="!isListEmpty()">{{currentTransaction.typeCode}} {{currentTransaction.friendlyNumber}}<br />{{getIndex(list, currentTransaction) + 1}} of {{list.length}}</span>
                <span ng-if="isListEmpty()">No Record(s) Found<br /></span>
            </div>
            <div class="area-r">
                <span ng-if="!isListEmpty()">ADJUSTED: {{ ds.isActiveAdjustmentExists() ? 'Y' : 'N' }}<br />@ViewBag.RegistrationNumber</span>
            </div>
        </div>
        
        <div>
            <div class="comp-transaction-review-filter">
                <select class="form-control" ng-model="reviewToolbarSetting.transactionFormat" ng-disabled="inAdjustMode()">
                    <option value="Both">Both</option>
                    <option value="Paper">Paper</option>
                    <option value="Mobile">Mobile</option>
                </select>

                <select class="form-control" ng-model="reviewToolbarSetting.processingStatus" ng-disabled="inAdjustMode()">
                    <option value="All">All</option>
                    <option value="Unreviewed">Unreviewed</option>
                    <option value="Approved">Approved</option>
                    <option value="Invalidated">Invalidated</option>
                    <option value="Adjusted">Adjusted</option>
                </select>

                <select ng-if="ds.getVendorType() == 'Hauler'" class="form-control" ng-model="reviewToolbarSetting.transactionType" ng-disabled="inAdjustMode()">
                    <option value="All">All</option>
                    <optgroup label="Inbound">
                        <option value="TCR">TCR</option>
                        <option value="DOT">DOT</option>
                        <option value="UCR">UCR</option>
                        <option value="HIT">HIT</option>
                        <option value="STC">STC</option>
                    </optgroup>
                    <optgroup label="Outbound">
                        <option value="-PTR">PTR</option>
                        <option value="-HIT">HIT</option>
                        <option value="-RTR">RTR</option>
                    </optgroup>
                </select>

                <select ng-if="ds.getVendorType() == 'Collector'" class="form-control" ng-model="reviewToolbarSetting.transactionType" ng-disabled="inAdjustMode()">
                    <option value="All">All</option>
                    <optgroup label="Outbound">
                        <option value="-TCR">TCR</option>
                        <option value="-DOT">DOT</option>
                    </optgroup>                    
                </select>

                <select ng-if="ds.getVendorType() == 'Processor'" class="form-control" ng-model="reviewToolbarSetting.transactionType" ng-disabled="inAdjustMode()">
                    <option value="All">All</option>
                    <optgroup label="Inbound">
                        <option value="PTR">PTR</option>
                        <option value="PIT">PIT</option>
                    </optgroup>
                    <optgroup label="Outbound">
                        <option value="-SPS">SPS</option>
                        <option value="-PIT">PIT</option>
                        <option value="-DOR">DOR</option>
                    </optgroup>
                </select>

                <select ng-if="ds.getVendorType() == 'RPM'" class="form-control" ng-model="reviewToolbarSetting.transactionType" ng-disabled="inAdjustMode()">
                    <option value="All">All</option>
                    <optgroup label="Inbound">
                        <option value="SPS">SIR</option>                        
                    </optgroup>
                    <optgroup label="Outbound">
                        <option value="-SPSR">SPS</option>
                    </optgroup>
                </select>
            </div>

            <div class="comp-transaction-review-actions">
                <div class="btn-group comp-transaction-review-btn-lastnext">
                    <a class="btn btn-default" href="#" ng-click="previous()" ng-disabled="disablePrevious()"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn btn-default" href="#" ng-click="next()" ng-disabled="disableNext()"><i class="fa fa-chevron-right"></i></a>
                </div>  

                <div class="btn-group comp-transaction-review-btn-approve">
                    <a class="btn btn-default" href="#" ng-click="updateStatus('approve', 'previous')" ng-disabled="disableApprove() || disablePrevious()"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn btn-default" href="#" ng-click="updateStatus('approve', '')" ng-disabled="disableApprove()">Approve</a>
                    <a class="btn btn-default" href="#" ng-click="updateStatus('approve', 'next')" ng-disabled="disableApprove() || disableNext()"><i class="fa fa-chevron-right"></i></a>
                </div>

                <div class="btn-group comp-transaction-review-btn-reject">
                    <a class="btn btn-default" href="#" ng-click="updateStatus('invalidate', 'previous')" ng-disabled="disableInvalidate() || disablePrevious()"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn btn-default" href="#" ng-click="updateStatus('invalidate', '')" ng-disabled="disableInvalidate()">Invalid</a>
                    <a class="btn btn-default" href="#" ng-click="updateStatus('invalidate', 'next')" ng-disabled="disableInvalidate() || disableNext()"><i class="fa fa-chevron-right"></i></a>
                </div>

                <div class="btn-group comp-transaction-review-btn-adjust">
                    <a class="btn btn-default" href="#" ng-click="adjust()" ng-disabled="disableAdjust()">Adjust</a>
                </div>        
            </div>
        </div>
    </div>
</script>
