﻿<!--List Panel-->
<!--panel recovery estimated weights list view template-->
<script type="text/ng-template" id="recovery-estimated-weight-list-panel-template.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelRateList-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#{{chevronId}}" aria-expanded="true" aria-controls="panelRateList-collapseOne" class="panel-arrow-expend">
                    {{header}} <!--Panel Header-->
                </a>
            </h4>
        </div>        
        <div class="panel-collapse collapse in ang-datatable" id="{{chevronId}}" role="tabpanel" aria-labelledby="panelRecoverableMaterial-headingOne">
            <div class="panel-body">
                <div style="height:300px;overflow-y:auto;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                        <add-new-weight category="{{category}}" panel-name="{{panelName}}"></add-new-weight>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!--panel supply estimated weights list view template-->
<script type="text/ng-template" id="supply-estimated-weight-list-panel-template.html">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelRateList-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-tireoriginreport="#accordion" href="#{{chevronId}}" aria-expanded="true" aria-controls="panelRateList-collapseOne" class="panel-arrow-expend">
                    {{header}} <!--Panel Header-->
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="{{chevronId}}" role="tabpanel" aria-labelledby="panelRecoverableMaterial-headingOne">
            <div class="panel-body">
                <div id="supplyEstimatedWeightsTable">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>  
                    <input type="hidden" id="tableIDKeeping" table-id="tablieid"/>                 
                </div>
            </div>
        </div>
    </div>
</script>

<!--modal supply estimate weights details Add/Edit/View template-->
<script type="text/ng-template" id="modal-supply-estimate-weights-detail-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                {{isView ? 'Product Supply Details' : isEdit ? 'Product Supply Details' :'Product Supply Details'}}
            </h3>
        </div>
        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;border-width: 2px;">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1" style="width: 12.499999995%">
                    <label id="shortName" style="font-size:50px; font-weight:bold">{{supplyEstimatedWeightVM.ShortName}}</label>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10" style="width: 79.1666664%">
                    <div>
                        <input type="text" class="form-control require-input product-name" placeholder="Name" ng-disabled="isView" ng-model="supplyEstimatedWeightVM.ProductName" maxlength="100" />
                    </div>
                    <div>
                        <input type="text" class="form-control require-input product-description" placeholder="Description" ng-disabled="isView" ng-model="supplyEstimatedWeightVM.ProductDescription" maxlength="100" style="margin-top:5px" />
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="required-validity product-name" style="position:absolute;top:5px"></div>
                    <div class="required-validity product-description" style="position:absolute;top:45px"></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" style="text-align:center;">
                <i class="fa fa-balance-scale fa-6" aria-hidden="true"></i>
            </div>
            <div class="row" style="position:relative; top:-140px">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="input-number-min"
                           type="number"
                           min="{{supplyEstimatedWeightVM.RangeMin}}"
                           max="{{supplyEstimatedWeightVM.RangeMax}}"
                           step="1" class="form-control"
                           ng-model="supplyEstimatedWeightVM.Min"
                           ng-disabled="isView"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           style="position:absolute; right:76px" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input id="input-number-max"
                           type="number"
                           min="{{supplyEstimatedWeightVM.RangeMin}}"
                           max="{{supplyEstimatedWeightVM.RangeMax}}"
                           step="1" class="form-control"
                           ng-model="supplyEstimatedWeightVM.Max"
                           ng-disabled="isView"
                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           style="position:absolute;left:54px" />
                </div>
            </div>
            <div class="row" style="position:relative; top:-96px">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size:18px;font-weight:600; position:absolute;right:75px">MIN (kg)</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size:18px;font-weight:600; position:absolute;left:52px">MAX (kg)</label>
                </div>
            </div>
            <div class="row" style="width:60%; margin:auto; margin-top:60px; margin-bottom:20px">
                <div id="supplyEstimatedWeightSlider" ng-disabled="isView" style="height:8px"></div>
            </div>
            <div class="row" style="position:relative; top:-36px">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label id="rangeMin" style="font-size:18px;font-weight:600; position:absolute;right:275px; color:#E8E8E8">{{supplyEstimatedWeightVM.RangeMin}}</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label id="rangeMax" style="font-size:18px;font-weight:600; position:absolute;left:280px; color:#E8E8E8">{{supplyEstimatedWeightVM.RangeMax}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <!--View/Edit/Add can combine as one modal-->
                    <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                        <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="editSaveSupplyEstimatedWeight()" ng-if="!isView && isEdit" ng-disabled="disableSaveBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>                  
                </div>
            </div>
        </div>
    </div>
</script>

<!--modal recovery estimate weights details Add/Edit/View template-->
<script type="text/ng-template" id="modal-recovery-estimate-weights-detail-template.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center" id="rc-form-modal-title">
                {{isView ? 'Recovery Estimated Weights (Kg)' : isEdit ? 'Recovery Estimated Weights (Kg)' :'Recovery Estimated Weights (Kg)'}}
            </h3>
        </div>
        <div class="modal-body">
            <!--(Effective Date)-->
            <div class="row form-inline">
                <div class="col-sm-8" ng-if="!isView">
                    <label class="control-label" style="font-size:large;">Effective Date:</label>
                    <div class="input-group date col-sm-5" id="recoveryEffectiveStartDate">
                        <input class="form-control" id="effectiveStartDate" type="text" ng-model="weightVM.EffectiveDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span ng-show="!isValid.effectiveStartDate" class="text-danger">Required</span>
                </div>
                <div class="col-md-8" ng-if="isView">
                    <label class="control-label" style="font-size:large;">Effective Date: {{weightVM.EffectiveDate}}</label>
                </div>
                <input class="hidden" ng-model="weightVM.EffectiveStartDate" />
                <input class="hidden" ng-model="weightVM.WeightTransactionID" />
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <table style="width:100%;">
                        <tbody>
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>PLT</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>MT</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>AG/LS</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>IND</strong></td>
                                <td width="11%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.PLT" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.PLT}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.MT" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.MT}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control  text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.AGLS" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.AGLS}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.IND" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.IND}}</span></td>
                                <td width="11%;"></td>
                            </tr>
                            <tr style="height:35px;" class="ratecolor-yellow">
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>SOTR</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>MOTR</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>LOTR</strong></td>
                                <td width="11%;"></td>
                                <td class="text-center" width="11%;" style="vertical-align:bottom;"><strong>GOTR</strong></td>
                                <td width="11%;"></td>
                            </tr>
                            <tr class="ratecolor-yellow">
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.SOTR" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.SOTR}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.MOTR" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.MOTR}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.LOTR" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.LOTR}}</span></td>
                                <td width="11%;"></td>
                                <td ng-if="!isView" width="11%;"><input type="text" class="form-control text-center" valid-weight-number theprefex="non-dollar" decimalsize="{{weightVM.DecimalSize}}" ng-model="weightVM.RecoveryEstimatedWeights.GOTR" /></td>
                                <td ng-if="isView" width="11%;" class="text-center"><span class="form-control">{{weightVM.RecoveryEstimatedWeights.GOTR}}</span></td>
                                <td width="11%;"></td>
                            </tr>
                            <tr style="height:5px;" class="ratecolor-yellow"><td colspan="9">&nbsp;</td></tr>
                            <tr><td colspan="9">&nbsp;</td></tr>
                        </tbody>
                    </table>
                    <div ng-if="!isView">
                        <h4 class="panel-title">Internal Notes</h4>
                        <textarea maxlength="5000" rows="3" style="width:100%; resize:vertical" class="form-control textNote" required ng-model="weightVM.Note"></textarea>
                        <span ng-show="isValid.noteIsRequire && !isValid.note" class="text-danger">Required</span>
                    </div>
                    <div ng-if="isView">
                        <manage-internal-notes load-url="{{loadUrl}}" add-url="{{addUrl}}" export-url="{{exportUrl}}" parent-id="{{weightTransactionID}}" panel-arrow="weight-viewdetail-notes"></manage-internal-notes>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <!--View/Edit/Add can combine as one modal-->
                    <button type="button" ng-if="isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-if="!isView" ng-click="cancel()" data-dismiss="modal">
                        <i class="glyphicon fa icon-ban glyphicon-ban fa-ban"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="editSaveWeight()" ng-if="!isView && isEdit" ng-disabled="disableSaveBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                    <button class="btn btn-success submit-btn btn-lg" type="submit" ng-click="submitNewWeight()" ng-if="!isView && !isEdit" ng-disabled="disableAddRateBtn">
                        <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="weight-confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="modalConfirmRate" align="center">Confirm</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="weight-fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" style="color:red;" align="center">Warning</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4><strong>{{message}}</strong></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="messagePopover.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" style="border:1px solid transparent" note-message-hover-popover>
            <i data-name="notes" class="fa fa-comment color-tm-grey"></i>
        </a>
        <div class="popover-menu">
            Message
        </div>

    </div>
</script>

<!--list panel action gear-->
<script type="text/ng-template" id="supply-estimated-weight-list-panel-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-supply-estimated-weight itemID="itemNumber" category="{{category}}" type="Edit" panel-name="panelName" short-name="shortName"></edit-supply-estimated-weight>
                </li>             
            </ul>
        </div>
    </div>
</script>

<!--list panel action gear-->
<script type="text/ng-template" id="recovery-estimated-weight-list-panel-action.html">
    <div class="btn-group dropdown-menu-actions">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-weight weightTransactionID="weightTransactionNumber" category="{{category}}" type="Edit" panel-name="panelName"></edit-weight>
                </li>
                <li>
                    <remove-transaction weightTransactionID="weightTransactionNumber" category="{{category}}"></remove-transaction>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="weight-add-new-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x"
            data-toggle="modal" title="Add New Weight" ng-click="!isReadOnly && weightDetails()" ng-disabled="isReadOnly"
            id="addNewWeightBtn{{category}}" table-id="tablieid">
        +
    </button>
</script>

<script type="text/ng-template" id="weight-edit-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && editDetails()"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
</script>

<script type="text/ng-template" id="weight-remove-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && remove()"><i class="glyphicon fa fa-trash-o"></i>&nbsp;Delete</a>
</script>

<script type="text/ng-template" id="supply-estimated-weight-edit-btn.html">
    <a href="javascript:void(0)" ng-style="anchorCss" ng-click="!isReadOnly && editDetails()"><i class="glyphicon fa fa-pencil-square-o"></i>Edit</a>
</script>




