﻿<!--common templates-->
<script type="text/ng-template" id="add-btn.html">
    <button type="button" class="btn btn-success btn-add margin-top--10 float-right position-fixed-x"
            data-toggle="modal" title="Add" ng-click="openModal()" ng-disabled="isView">
        +
    </button>
</script>

<script type="text/ng-template" id="edit-btn.html">
    <a href="javascript:void(0)" ng-click="edit()"><i class="fa fa-pencil-square-o"></i> Edit</a>
</script>

<script type="text/ng-template" id="confirm-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">{{confirmHeader}}</h3>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="confirmMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                No
            </button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                Yes
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="successful-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" align="center">{{successHeader}}</h4>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <html-message message="sucessMessage"></html-message>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="cancel()">Ok</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="fail-modal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" style="color:red;" align="center">{{failHeader}}</h4>
        </div>
        <div class="modal-body">
            <div class="txt-c" style="padding:10px;">
                <h4><strong>{{message}}</strong></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="cancel()">Close</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="item-action.html">
    <div class="btn-group dropdown-menu-actions" ng-show="ShowActionGear">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="fa fa-cog" style="color:#03a9f4"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-button item-name="itemName" item-ID="itemID" item-description="itemDescription" item-color="itemColor"></edit-button>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="item-action-composition.html">
    <div class="btn-group dropdown-menu-actions" ng-show="ShowActionGear">
        <a href="javascript:void(0)" data-trigger="focus" tabindex="124" data-toggle="popover" data-original-title="" title="" tablerowpopover>
            <i class="fa fa-cog" style="color:#03a9f4"></i>
        </a>
        <div class="popover-menu">
            <ul>
                <li>
                    <edit-button-composition item-name="itemName" item-ID="itemID" item-short-name="itemShortName"></edit-button-composition>
                </li>
            </ul>
        </div>
    </div>
</script>


<!--list recoverable material-->
<script type="text/ng-template" id="list-panel-recoverable-material.html">
    <div class="panel panel-default" style="margin-left:10px;margin-right:10px; margin-top:5px;">
        <div class="panel-heading" role="tab" id="panelRecoverableMaterial-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelRecoverableMaterialList" aria-expanded="true" aria-controls="panelRecoverableMaterial-collapseOne" class="panel-arrow-expend">
                    Recoverable Materials
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
            </div>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelRecoverableMaterialList" role="tabpanel" aria-labelledby="panelRecoverableMaterial-headingOne">
            <div class="panel-body">
                <div style="height:300px;overflow-y:auto;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                        <add-button panel-name="Recoverable Material"></add-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--list-material composition-->
<script type="text/ng-template" id="list-panel-material-composition.html">   
    <div class="panel panel-default" style="margin-left:10px;margin-right:10px;">
        <div class="panel-heading" role="tab" id="panelMaterialComposition-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelMaterialCompositionList" aria-expanded="true" aria-controls="panelMaterialComposition-collapseOne" class="panel-arrow-expend">
                    Product Compositions
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelMaterialCompositionList" role="tabpanel" aria-labelledby="panelMaterialComposition-headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!--list activity -->
<script type="text/ng-template" id="product-composition-activity-panel.html">
    <div class="panel panel-default" style="margin-left:10px; margin-right:10px;">
        <div class="panel-heading" role="tab" id="panelProductCompositionActivity-headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#panelProductCompositionActivity" aria-expanded="true" aria-controls="panelProductCompositionActivity-collapseOne" class="panel-arrow-expend">
                    Activities<span id="exportActivities" class="export" title="Export to Excel"><i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i></span>
                </a>
            </h4>
            <div class="col-xs-6 subcomp-search">
                <input id="searchActivity" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                <p id="found" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div class="panel-collapse collapse in ang-datatable" id="panelProductCompositionActivity" role="tabpanel" aria-labelledby="panelMaterialComposition-headingOne">
            <div class="panel-body">
                <div style="height:300px; overflow-y:auto;">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per narrow-width clickable"></table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 viewMoreActivity">
                        <a id="viewmore" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!--slider style-->
<style>
    #red {
        margin-left: -2px;
        margin-right: 26px;
        width: 8px;
        display: inline-block;
        height: 215px;
    }

    #green {
        margin-left: 27px;
        margin-right: 16px;
        width: 8px;
        display: inline-block;
        height: 215px;
    }

    #blue {
        margin-left: 40px;
        width: 8px;
        display: inline-block;
        height: 215px;
    }

    .rminput {
        border-radius: 3px;
        background-clip: padding-box;
        border-color: #e7ebee;
        border-width: 2px;
        box-shadow: none;
        height: 34px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        text-align: center;
    }

    .rminput[disabled] {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

    .colorpicker {
        height: 240px;
        width: 310px;
        margin: 0 auto;
        padding: 10px;
    }

    .composition-sliders {
        height: 170px;
        width: 8px;
        /*margin-left: 55px;*/
        /*// padding: 10px;*/
    }

    #colorTitle {
        margin-left: 40px;
        margin-top: 50px;
        display: inline-block;
        vertical-align: top;
        font-size: large;
    }

    #result {
        margin-left: 180px;
        margin-top: -120px;
        height: 110px;
        width: 110px;
        display: inline-block;
        vertical-align: top;
        color: rgb(127, 127, 127);
        background: rgb(127, 127, 127);
        border: 1px none #fff;
        box-shadow: 0 0 10px;
    }

    #red .noUi-connect {
        background: #c0392b;
    }

    #green .noUi-connect {
        background: #27ae60;
    }

    #blue .noUi-connect {
        background: #2980b9;
    }

    .noUi-target .noUi-handle {
        border-radius: 50%;
        transition: box-shadow .2s,transform .2s,-webkit-transform .2s;
    }

    .noUi-target.noUi-vertical .noUi-handle {
        width: 22px;
        height: 22px;
        left: -8px;
        top: -10px;
    }

    .noUi-target.noUi-vertical .noUi-handle:focus {
        outline: none !important;
    }

    .noUi-target .noUi-handle:after, .noUi-target .noUi-handle:before {
        content: none;
        width: 0;
        height: 0;
    }
</style>

<!--recoverable material add/edit modal -->
<script type="text/ng-template" id="modal-recoverable-material.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">
                {{vm.title}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <input style="display:none;" ng-model="vm.ID" />
                <div class="col-md-8 form-group has-required">
                    <label class="control-label" style="font-size:large;">Recoverable Material</label>
                    <input type="text" class="form-control require-input" data-name="material" maxlength="15" ng-model="vm.MaterialName" ng-disabled="vm.isView" placeholder="Material Name ..." />
                    <div class="required-validity">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 form-group has-required">
                    <textarea class="form-control  require-input" data-name="description" ng-model="vm.MaterialDescription" placeholder="Material Description ..." rows="15" cols="40" style="resize:vertical" ng-disabled="vm.isView"></textarea>
                    <div class="required-validity">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="colorpicker" style="margin-top: 8px;">
                        <div class="sliders" id="red"></div>
                        <div class="sliders" id="green"></div>
                        <div class="sliders" id="blue"></div>
                        <div id="colorTitle">Chart Colour</div>
                        <div id="result"></div>
                    </div>
                    <div class="row" style="margin-left:35px; margin-top:3px;">
                        <input type="number" class="keypress rminput" valid-number maxlength="3" max="255" min="0" data-id="0" style="width:65px;" ng-disabled="vm.isView" ng-model="red" />
                        <input type="number" class="keypress rminput" valid-number maxlength="3" max="255" min="0" data-id="1" style="width:65px;" ng-disabled="vm.isView" ng-model="green" />
                        <input type="number" class="keypress rminput" valid-number maxlength="3" max="255" min="0" data-id="2" style="width:65px;" ng-disabled="vm.isView" ng-model="blue" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" data-dismiss="modal" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-ban fa-1x"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="submitContent()" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<!--material composition add/edit modal -->
<script type="text/ng-template" id="modal-material-composition.html">
    <div class="modal-content">
        <div class="modal-header" style="height: 70px;">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" align="center">
                {{vm.title}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">                   
                    <label class="control-label" style="font-size:large;"><strong>{{vm.ItemName}}<br />{{vm.ItemShortName}}</strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7" style="overflow-x: auto;">
                    <table class="table display truncate datatable-100-per" style="border-collapse: collapse;">
                        <tr>
                            <td ng-repeat="item in vm.recoverableMaterials" align="center">
                                <div>&nbsp;</div>
                                <div class="row" style="width:128px;margin-top:35px;">
                                    <div class="composition-sliders"></div>
                                    <div style="margin-top:18px;">
                                        <input type="number" class="keypress form-control" valid-number maxlength="3" max="100" min="0" data-id="{{$index}}" style="width:65px;" ng-disabled="vm.isView" ng-model="persent" />                                       
                                    </div>
                                    <div class="bold" style="margin-top:18px;">
                                        {{item.materialName}}                                       
                                    </div>
                                    <div>
                                        &nbsp;<span class="required-validity" style="display:none;">Invalid Input</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div  style="margin-top:-10px;">&nbsp;<span style="display:none;" id="less100" class="required-validity">Product Composition must be 100% prior to saving.</span></div>
                </div>
                <div class="col-md-5">
                    <table class="table display truncate datatable-100-per" style="margin-left: -15px; border-collapse: collapse;">
                        <tr>
                            <td align="center">
                                <div>&nbsp;</div>
                                <div id="composition-piechart" style="height:300px;width:300px; margin-left:20px;margin-top:10px;"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-12">
                    <button type="button" ng-if="vm.isView" data-dismiss="modal" ng-click="cancel()" class="btn btn-default margin-top--10 btn-lg">
                        <i class="glyphicon fa fa-times-circle-o" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="button" class="btn btn-danger cancel-btn btn-lg" ng-click="cancel()" data-dismiss="modal" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-ban fa-1x"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success save-btn btn-lg" type="submit" ng-click="editSave()" ng-disabled="vm.isView" ng-if="!vm.isView">
                        <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>