﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security

@{
    ViewBag.Title = "Product Compositions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles
{
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link href="~/css/cube/nouislider.css?v=@ViewBag.versionid" rel="stylesheet" />
    <link href="~/css/cube/morris.css?v=@ViewBag.versionid" rel="stylesheet" />
    @Styles.Render("~/css/datatable-tm")
    <style>
        .required-validity {
            color: #dd191d;
        }
        .form-group.has-required .form-control-feedback {
            opacity: 0.15;
        }
        .rowClickable {
            cursor: pointer;
        }
    </style>
}

<!--List page-->
<div class="tm-all staff-all-claims" ng-controller="productCompositionController" id="productCompositionController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">Product Compositions</h2>
        </div>
        <div class="col-xs-5 col-sm-6"></div>
    </div><!--/.row-->   
    <div class="panel-container-other">
        <div class="row">
            <recoverable-material-list-panel url="@Url.Action("RecoverableMaterialList", "ProductCompositions", new { area = "System" })"></recoverable-material-list-panel>
        </div>
        <div class="row">
            <material-composition-list-panel url="@Url.Action("MaterialCompositionList", "ProductCompositions", new { area = "System" })"></material-composition-list-panel>
        </div>
        <div class="row">
            <product-composition-activity-panel url="@Url.Action("LoadCommonActivities", "Common", new { area = "System", activityType = TreadMarksConstants.AdminMenuActivity, activityArea = TreadMarksConstants.AdminActivityProductCompositions })"></product-composition-activity-panel>
        </div>
        @Html.Partial("_ProductCompositionsTemplate")
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
    <script type="text/javascript">
        Global = {};
        Global.ProductCompositions = {
            InitColor: "rgb(140,197,71)",
            SaveRMUrl: '@Url.Action("SaveRecoverableMaterial", "ProductCompositions", new { area = "System" })',
            SaveMCUrl: '@Url.Action("SaveMaterialCompositions", "ProductCompositions", new { area = "System" })',
            UniqueNameUrl: '@Url.Action("UniqueName", "ProductCompositions", new { area = "System" })',
            ExcelUrl: '@Html.Raw(@Url.Action("GetAllActivitiesExport", "Common", new { area = "System", activityType = TreadMarksConstants.AdminMenuActivity, activityArea = TreadMarksConstants.AdminActivityProductCompositions }))',

            PanelHeader: 'AAA',
            ModalMaterialHeader: 'AAA Recoverable Material',
            ModalCompositionHeader:'AAA BBB Material Compositons', //view/edit <tire full name and shortname>
            ConfirmAddMaterialHtml: '<h4>Are you sure you want to add this new Material?</h4>',
            ConfirmEditMaterialHtml: '<h4>Are you sure you want to save the changes?</h4>',
            ConfirmHeader: 'Confirm',
            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                Authorize: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminProductCompositions)',
            },
        };

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>

    <script type="text/javascript" src="~/js/cube/raphael.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/morris.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/cube/nouislider.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/ProductCompositions/product-compositions.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/Shared/common-claim-internal-notes-lib.js?v=@ViewBag.versionid"></script>
    <script type="text/javascript" src="~/js/loading-spin.js?v=@ViewBag.versionid"></script>
}
