﻿@using CL.TMS.Resources

<script type="text/ng-template" id="sir-paper-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div> 

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <invoice-number-collector form="transForm" invoice-number="vm.adjModel.invoiceNumber"></invoice-number-collector>
                </div>
                <div class="col-sm-6">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <scale-ticket-collector form="transForm" scale-ticket="vm.adjModel.scaleTicket" mandatory="{{'false'}}"></scale-ticket-collector>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <hr class="margin-top-5">

            <div class="row">
                <div class="col-md-12">
                    <sir-product-detail-collector form="transForm" product-detail="vm.adjModel.productDetail" product-list="vm.adjModel.productList" scale-ticket="vm.adjModel.scaleTicket" adjust="{{'true'}}"></sir-product-detail-collector>
                </div>
            </div>
            <hr> 

            <div class="row">
                <div class="col-md-12">
                    <label>Received from</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                        </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
                <div class="col-sm-6">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail" unit="{{'TON'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
            <hr class="margin-top-5">

            <div class="row">
                <div class="col-md-6">
                    <label>Product Type</label>
                    <p>{{vm.original.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <span ng-show="vm.original.productDetail.meshRangeStart && vm.original.productDetail.meshRangeEnd">
                        <label>Mesh Range</label>
                        <p>{{vm.original.productDetail.meshRangeStart}} to {{vm.original.productDetail.meshRangeEnd}}</p>
                    </span>
                    <span ng-show="vm.original.productDetail.isFreeOfSteel">
                        <br />
                        <label><input type="checkbox" ng-disabled="true" name="isFreeOfSteel" ng-model="vm.original.productDetail.isFreeOfSteel"> Free of Steel</label>
                    </span>
                    <span ng-show="vm.original.productDetail.productDescription">
                        <label>Description</label>
                        <p>{{vm.original.productDetail.productDescription}}</p>
                    </span>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <label>Received from</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                        </div>
                        <div class="col-md-6">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>
    </div>
</script>

<script type="text/ng-template" id="sir-mobile-adjustment.html">
    <div class="alert alert-warning">Not Supported</div>
</script>
