﻿@using CL.TMS.Resources

<script type="text/ng-template" id="dor-paper-view.html">
    <div>
        <div ng-show="vm.adjustmentDetail">
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-detail-view adjustment-detail="vm.adjustmentDetail" display-original="vm.displayOriginal"></adjustment-detail-view>
                </div>
            </div>
            <hr>
        </div>

        <div ng-if="vm.displayOriginal">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.original.scaleTicketDetail" unit="{{'t'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-material-type-collector material-type-id="vm.original.materialTypeId" disable="{{'true'}}"></dor-material-type-collector>
                    <br />

                    <div ng-if="vm.original.materialTypeId == 4">
                        <dor-tire-rim-detail-view tire-rim-detail="vm.original.tireRimDetail"></dor-tire-rim-detail-view>
                    </div>

                    <div ng-show="vm.original.materialTypeId == 5">
                        <dor-used-tire-sale-detail-view used-tire-sale-detail="vm.original.usedTireSaleDetail"></dor-used-tire-sale-detail-view>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-disposition-reason-collector material-type-id="vm.original.materialTypeId" disposition-reason-id="vm.original.dispositionReasonId" read-only="{{'true'}}"></dor-disposition-reason-collector>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <participant-info-view info="vm.original.inboundParticipant"></participant-info-view>
                </div>
                <div class="col-sm-6">
                    <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div> 
        
        <div ng-if="!vm.displayOriginal">
            <div class="row">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-md-6">
                    <paper-scale-ticket-view scale-ticket-model="vm.adjusted.scaleTicketDetail" unit="{{'t'}}"></paper-scale-ticket-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.adjusted.invoiceNumber}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-material-type-collector material-type-id="vm.adjusted.materialTypeId" disable="{{'true'}}"></dor-material-type-collector>
                    <br />

                    <div ng-if="vm.adjusted.materialTypeId == 4">
                        <dor-tire-rim-detail-view tire-rim-detail="vm.adjusted.tireRimDetail"></dor-tire-rim-detail-view>
                    </div>

                    <div ng-show="vm.adjusted.materialTypeId == 5">
                        <dor-used-tire-sale-detail-view used-tire-sale-detail="vm.adjusted.usedTireSaleDetail"></dor-used-tire-sale-detail-view>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <dor-disposition-reason-collector material-type-id="vm.adjusted.materialTypeId" disposition-reason-id="vm.adjusted.dispositionReasonId" read-only="{{'true'}}"></dor-disposition-reason-collector>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <participant-info-view info="vm.adjusted.inboundParticipant"></participant-info-view>
                </div>
                <div class="col-sm-6">
                    <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                </div>
            </div>

            <div ng-show="vm.adjusted.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.adjusted.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>       

        @if (@ViewBag.AllowInternalNote)
        {
            <hr />
            <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
        }
    </div>   
</script>

<script type="text/ng-template" id="dor-mobile-view.html">  
    <div>
        <div class="alert alert-warning">Not Supported</div>
    </div>      
</script>



