﻿@using CL.TMS.Resources

<script type="text/ng-template" id="spsr-paper-view.html">
    <div>
        <div ng-show="vm.adjustmentDetail">
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-detail-view adjustment-detail="vm.adjustmentDetail" display-original="vm.displayOriginal"></adjustment-detail-view>
                </div>
            </div>
            <hr>
        </div>

        <div ng-if="vm.displayOriginal">
            <div class="row margin-top--20">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label>Invoice #</label><br />
                    <p class="margin-top--3">{{vm.original.invoiceNumber}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Percentage (%)</label><br />
                    <p class="margin-top--3">{{vm.original.productDetail.recyclablePercentage | number:2}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Total TDP Weight (t)</label><br />
                    <p class="margin-top--3">{{vm.original.productDetail.totalTDPWeight | number:4}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <label>Product Type</label><br>
                    <p>{{vm.original.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <label>Product Code</label><br>
                    {{vm.original.productDetail.productCode}}
                </div>
                <div class="col-md-6">
                    <label>Product Sold Description</label><br>
                    <p>{{vm.original.productDetail.productDescription}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <label>Rate&nbsp;($/t)</label><br>
                    <p>{{vm.original.productDetail.rate | number:2}}</p>
                </div>
                <div class="col-md-3">
                    <label>Amount ($)</label><br>
                    <p>{{vm.original.productDetail.amount | number:2}}</p>
                </div>
                <div class="col-md-3" ng-if="vm.isStaff">
                    <label>Retail Price($)</label><br>
                    <p>{{vm.original.productDetail.retailPrice | number:2}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6"><participant-info-view info="vm.original.inboundParticipant"></participant-info-view></div>
                <div class="col-md-6"><participant-info-view info="vm.outboundParticipant"></participant-info-view></div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>

        <div ng-if="!vm.displayOriginal">
            <div class="row margin-top--20">
                <div class="col-sm-3">
                    <date-display-view label="{{'Invoice Date'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label>Invoice #</label><br />
                    <p class="margin-top--3">{{vm.adjusted.invoiceNumber}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Percentage (%)</label><br />
                    <p class="margin-top--3">{{vm.adjusted.productDetail.recyclablePercentage | number:2}}</p>
                </div>
                <div class="col-sm-3">
                    <label>Total TDP Weight (t)</label><br />
                    <p class="margin-top--3">{{vm.adjusted.productDetail.totalTDPWeight | number:4}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <label>Product Type</label><br>
                    <p>{{vm.adjusted.productDetail.shortName}}</p>
                </div>
                <div class="col-md-3">
                    <label>Product Code</label><br>
                    {{vm.adjusted.productDetail.productCode}}
                </div>
                <div class="col-md-6">
                    <label>Product Sold Description</label><br>
                    <p>{{vm.adjusted.productDetail.productDescription}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <label>Rate&nbsp;($/t)</label><br>
                    <p>{{vm.adjusted.productDetail.rate | number:2}}</p>
                </div>
                <div class="col-md-3">
                    <label>Amount ($)</label><br>
                    <p>{{vm.adjusted.productDetail.amount | number:2}}</p>
                </div>
                <div class="col-md-3" ng-if="vm.isStaff">
                    <label>Retail Price($)</label><br>
                    <p>{{vm.original.productDetail.retailPrice | number:2}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6"><participant-info-view info="vm.adjusted.inboundParticipant"></participant-info-view></div>
                <div class="col-md-6"><participant-info-view info="vm.outboundParticipant"></participant-info-view></div>
            </div>

            <div ng-show="vm.adjusted.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.adjusted.supportingDocumentDetail"></supporting-document-view>
            </div>
        </div>

        @if (@ViewBag.AllowInternalNote)
        {
            <hr />
            <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
        }
    </div>
</script>

<script type="text/ng-template" id="spsr-mobile-view.html">
    <div class="alert alert-warning">Not Supported</div>
</script>
