﻿@using CL.TMS.Resources

<script type="text/ng-template" id="rtr-paper-adjustment.html">
    <div>
        <div>
            <div class="row margin-top--20">
                <div class="col-sm-12">
                    <adjustment-toggle preview="vm.adjModel.preview"></adjustment-toggle>
                </div>
            </div>
            <hr>
        </div>

        <div ng-show="!vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-2">
                    <date-display-view label="{{'Date Sold'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Market Location</label>
                    <p class="margin-top--3">{{vm.tireMarketInfo.location}}</p>
                </div>
                <div class="col-md-3">
                    <label for="">Type of used tire market</label>
                    <div class="radio" style="margin-top:0">
                        <label><input type="radio" value="1" ng-model="vm.tireMarketInfo.type" disabled> For Sale</label>&nbsp;
                        <label><input type="radio" value="2" ng-model="vm.tireMarketInfo.type" disabled> Retread</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="">Bill of Lading</label>
                    <p class="margin-top--3">{{vm.tireMarketInfo.billofLoading}}</p>
                </div>
                <div class="col-sm-2">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.invoiceNumber}}</p>
                </div>
            </div>
            <hr>

            <unregistered-company-collector form="transForm" company-info="vm.adjModel.companyInfo" company-label-text="{{'Buyer Name'}}" country-list="vm.adjModel.countryList"></unregistered-company-collector>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <tire-type-count form="transForm" tire-type-list="vm.adjModel.tireTypeList" adjust="{{'true'}}"></tire-type-count>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <supporting-document-selector list="vm.adjModel.supportingDocumentList"></supporting-document-selector>
                </div>
            </div>

            <div ng-show="vm.adjModel.attachmentList.length > 0">
                <supporting-document-attachment-adjust list="vm.adjModel.attachmentList"></supporting-document-attachment-adjust>
            </div>

            <document-uploader transaction-id="{{vm.adjModel.transactionGuid}}" upload-list="vm.adjModel.uploadDocumentList" is-required="documentUploadRequired"></document-uploader>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <internal-note-collector form="transForm" internal-note="vm.adjModel.adjustmentNote" adjust="{{'true'}}" label="{{'Adjustment Note'}}"></internal-note-collector>
                </div>
            </div>
        </div>

        <div ng-show="vm.adjModel.preview">
            <div class="row">
                <div class="col-sm-2">
                    <date-display-view label="{{'Date Sold'}}" date="vm.transactionDate" format="{{'yyyy-MM-dd'}}"></date-display-view>
                </div>
                <div class="col-sm-3">
                    <label for="">Market Location</label>
                    <p class="margin-top--3">{{vm.tireMarketInfo.location}}</p>
                </div>
                <div class="col-md-3">
                    <label for="">Type of used tire market</label>
                    <div class="radio" style="margin-top:0">
                        <label><input type="radio" value="1" ng-model="vm.tireMarketInfo.type" disabled> For Sale</label>&nbsp;
                        <label><input type="radio" value="2" ng-model="vm.tireMarketInfo.type" disabled> Retread</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="">Bill of Lading</label>
                    <p class="margin-top--3">{{vm.tireMarketInfo.billofLoading}}</p>
                </div>
                <div class="col-sm-2">
                    <label for="">Invoice #</label>
                    <p class="margin-top--3">{{vm.invoiceNumber}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <participant-info-view info="vm.original.inboundParticipant"></participant-info-view>
                </div>
                <div class="col-md-6">
                    <participant-info-view info="vm.outboundParticipant"></participant-info-view>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <tire-type-count-view tire-type-list="vm.original.tireTypeList"></tire-type-count-view>
                </div>
            </div>

            <div ng-show="vm.original.supportingDocumentDetail.display">
                <hr>
                <supporting-document-view supporting-document-detail="vm.original.supportingDocumentDetail"></supporting-document-view>
            </div>

            @if (@ViewBag.AllowInternalNote)
            {
                <hr />
                <manage-internal-note internal-note-model="vm.internalNote"></manage-internal-note>
            }
        </div>        
    </div>
</script>

<script type="text/ng-template" id="rtr-mobile-adjustment.html">
    <div>
        <div class="alert alert-warning">Not Supported</div>
    </div>
</script>
