﻿@model CL.TMS.DataContracts.DomainEntities.Vendor
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;            
    if(Model != null)
    {
        if(Model.InvalidFormFieldList != null)
        {
            isInvalid =   Model.InvalidFormFieldList as List<string>;
        }
        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }                             
    }
    var prefix_businesslocationVendor = @ViewData["data_businesslocationVendor"];        
}

<div class="row margin-bottom--10">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" >
                @Html.CheckBox("cbBusinessName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix_businesslocationVendor, @Html.GetPropertyName(p => p.BusinessName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { id = "cbBusinessName", data_validate_field = "#businessLegalNameInput", data_validate_message = "Invalid Business Name", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}./{1}", prefix_businesslocationVendor, @Html.GetPropertyName(p => p.BusinessName).ToString()) }))
                @UIResource.ParticipantBusinessLocationLegalBusinessName
                <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationLBN" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationLegalBusinessNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.BusinessName, new { id = Html.GetPropertyName(m => m.BusinessName).ToString(), maxlength = "65", @class = "form-control", placeholder = "Enter Name" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label">
                @Html.CheckBox("cbOperatingName", 
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix_businesslocationVendor, @Html.GetPropertyName(p => p.OperatingName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { id = "cbOperatingName", data_validate_field = "#operatingNameInput", data_validate_message = "Invalid Business Operation Name", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix_businesslocationVendor, @Html.GetPropertyName(p => p.OperatingName).ToString()) }))
                @UIResource.ParticipantBusinessLocationPlaceHolderEnterBOName
                <i class="fa fa-question-circle businessLocationBON" data-placement="auto" title=""></i>
            </label>
            <div id="businessLocationBON" style="display:none;">
                <p>@UIResource.ParticipantBusinessLocationBusinessOperatingNameHelpInfo</p>
            </div>
            @Html.TextBoxFor(m => m.OperatingName, new { id = Html.GetPropertyName(m => m.OperatingName).ToString(), @class = "form-control", maxlength = "65", placeholder = "Enter Business Operating Name" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="exampleInput">
                @Html.CheckBox("cbFranchiseName", !isInvalid.Contains(Html.GetPropertyName(p => p.FranchiseName).ToString()))
                Franchise Name
                <i class="fa fa-question-circle businessLocationLBN" data-placement="auto" title=""></i>
            </label>
            @Html.TextBoxFor(m => m.FranchiseName, new { @class = "form-control", placeholder = "Enter Franchise Name" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>*@
</div>
