﻿@model CL.TMS.DataContracts.DomainEntities.Contact
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface

@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = @ViewData["data_ContactInformationContact"];
}


<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label>
                @Html.CheckBox("cbPrimaryContactName", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Name).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.Name", data_validate_message = "Invalid Primary Contact Name", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Name).ToString()) }))                                
                <span class="contactName">@UIResource.PrimaryContactName</span>
            </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control dynamic-required", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbPosition", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Position).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.Position", data_validate_message = "Invalid Position", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Position).ToString()) }))

            @UIResource.CommonPersonPosition</label>
            @Html.TextBoxFor(m => m.Position, new { @class = "form-control dynamic-required", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">
                @Html.CheckBox("cbPhoneNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PhoneNumber).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.PhoneNumber", data_validate_message = "Invalid Phone Number", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PhoneNumber).ToString()) }))            
            @UIResource.CommonPersonPhoneNumber</label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control dynamic-regex-phone", maxlength = "50", placeholder = "" }, isReadOnly)
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group has-required has-feedback">
            <label class="control-label" >
                @Html.CheckBox("cbExtension", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Ext).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.Ext", data_validate_message = "Invalid Ext", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Ext).ToString()) }))            
            @UIResource.CommonPersonPhoneNumberExt</label>
            @Html.TextBoxFor(m => m.Ext, new { @class = "form-control", maxlength="50", placeholder = "" }, isReadOnly)
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">            
                @Html.CheckBox("cbAlternatePhoneNumber", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.AlternatePhoneNumber).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.AlternatePhoneNumber", data_validate_message = "Invalid Mobile", @class = "validation-checkbo no-validatex", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.AlternatePhoneNumber).ToString()) }))                        
            @UIResource.CommonPersonMobileNumber</label>
            @Html.TextBoxFor(m => m.AlternatePhoneNumber, new { @class = "form-control dynamic-regex-phone", maxlength = "50", placeholder = "" }, isReadOnly)
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">
            
                @Html.CheckBox("cbEmail", !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Email).ToString())),
                                  ExtensionMethods.ConditionalDisable(isReadOnly, new { data_validate_field = "#ContactInformation[0].ContactInformationContact.Email", data_validate_message = "Invalid Email", @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Email).ToString()) }))

            
            @UIResource.Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control dynamic-regex-email dynamic-required", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
