﻿@model CL.TMS.DataContracts.DomainEntities.Contact
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface


@{
    var isInvalid = new List<string>();
    if (Model != null)
    {
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
    }

    //var prefix = @ViewData["data_businessLocationAddress"];
    var isBackToApplicant = Model.ValidStatus == ApplicationStatusEnum.BackToApplicant;
    var prefix = @ViewData["data_ContactInformationContact"];    
}


<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label "><span class="contactName">@UIResource.PrimaryContactName</span></label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control dynamic-required dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Name).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">@UIResource.CommonPersonPosition</label>
            @*<input type="text" class="form-control" id="inputWarning2">*@
            @Html.TextBoxFor(m => m.Position, new { @class = "form-control  dynamic-required dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Position).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumber </label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.PhoneNumber).ToString())))
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonPhoneNumberExt</label>
            @Html.TextBoxFor(m => m.Ext, new { @class = "form-control dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Ext).ToString())))
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">@UIResource.CommonPersonMobileNumber</label>
            @Html.TextBoxFor(m => m.AlternatePhoneNumber, new { @class = "form-control dynamic-regex-phone dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.AlternatePhoneNumber).ToString())))
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control  dynamic-required dynamic-regex-email dynamic-inInvalidList", placeholder = "" }, isBackToApplicant && !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.Email).ToString())))
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->

