﻿@model CL.TMS.DataContracts.DomainEntities.Vendor
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
<div class="row">
    <div class="col-md-3">
        <label>@UIResource.ParticipantHaulerDetailsBusinessStartDate</label><br>
        <div class="form-group">
            <div class="input-group date" id="datetimepicker5">
                @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD">*@
                @Html.TextBoxFor(m => m.BusinessStartDate, new { @class = "form-control", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback color-tm-gray-light-light" style="right:60px;"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantHaulerDetailsOntarioBusinessNumber</label>
            @Html.TextBoxFor(m => m.BusinessNumber, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">@UIResource.ParticipantHaulerDetailsHSTRegistrationNumber</label>
            <div class="row">
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.CommercialLiabHSTNumber, new { @class = "form-control", placeholder = "" })
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="margin-right:20px;margin-top:-25px;"></span>
                </div>
                <div class="col-md-5">
                    <div class="form-group margin-top-5">
                        <label>
                       
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label for="inputWarning2"><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler Commercial Liability Insurance" checked=""> @UIResource.SupportingDocCommercialLiabilityInsurance</label>
            @Html.TextBoxFor(m => m.CommercialLiabInsurerName, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler Commercial Liability Insurance Expiration Date" checked="">@UIResource.CommonWordExpiryDate</label><br>
        <div class="form-group">
            <div class="input-group date" id="datetimepicker6">
                @*<input type="text" class="form-control" data-date-format="YYYY/MM/DD">*@
                @Html.TextBoxFor(m => m.CommercialLiabInsurerExpDate, new { @class = "form-control", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback color-tm-gray-light-light" style="right:60px;"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <label><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler GVWR details" checked=""> @UIResource.ParticipantHaulerDetailsWillYouBeOperating</label>
        <div class="form-group has-required has-feedback">
            @*<div class="radio">
                <label>
                    <input type="radio" name="optionsRadiosGVWR" id="optionsRadiosGVWR1" value="option1">
                    No
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadiosGVWR" id="optionsRadiosGVWR2" value="option2">
                    Yes <small>(Dev. Note: if Y open CVOR input below)</small>
                </label>
            </div>*@
            @Html.RadioButtonFor(model => model.HIsGVWR, false)<label>@UIResource.CommonWordNo</label><br />
            @Html.RadioButtonFor(model => model.HIsGVWR, true) <label>@UIResource.Yes <small>@UIResource.CollectorDetailsCVOR</small></label>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-5">
        <div class="form-group has-required has-feedback">
            <label for="inputWarning2"><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler CVOR Number" checked=""> @UIResource.ParticipantCVORNumber</label>
            <i class="fa fa-question-circle color-tm-gray supportingDocumentsCVOR" data-placement="auto" title="CVOR Abstract Level II"></i>
            <div id="supportingDocumentsCVOR" style="display:none;">
                <p>@UIResource.ParticipantHaulerDetailsCVOR </p>
            </div>
            @Html.TextBoxFor(m => m.CVORNumber, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler CVOR Number Expiration Date" checked=""> @UIResource.CommonWordExpiryDate</label><br>
        <div class="form-group">
            <div class="input-group date" id="datetimepicker7">
                @Html.TextBoxFor(m => m.CVORExpiryDate, new { @class = "form-control", placeholder = "" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback color-tm-gray-light-light" style="right:60px;"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler Employees Details" checked=""> @UIResource.ParticipantHaulerDetailsDoYouHaveMoreEmployees</label>
            @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, false)<label>@UIResource.ParticipantHaulerDetailsRadioBtn1</label><br />
            @Html.RadioButtonFor(model => model.HasMoreThanOneEmp, true) <label>@UIResource.Yes <small>@UIResource.CollectorDetailsWSIB</small></label>
        </div>
        <div class="form-group has-required has-feedback">
            <label for="inputWarning2"><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid Hauler WSIB Number" checked=""> @UIResource.ParticipantHaulerDetailsWSIBNumber</label>
            @*<input type="text" class="form-control" id="inputWarning2" placeholder="7 digit account number">*@
            @Html.TextBoxFor(m => m.WSIBNumber, new { @class = "form-control", placeholder = "7 digit account number" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->

<script type="text/javascript">
    $(function () {
        $('#datetimepicker5').datetimepicker({
            format: "dd MM yyyy",
            minView: 2, startView: 2
        });
        $('#datetimepicker6').datetimepicker({
            format: "dd MM yyyy",
            minView: 2, startView: 2
        });
        $('#datetimepicker7').datetimepicker({
            format: "dd MM yyyy",
            minView: 2, startView: 2
        });
    });
</script>