﻿@model CL.TMS.DataContracts.DomainEntities.Address
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">Sort Yard 1 Address Line 1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputSuccess2">Sort Yard 1 Address Line 2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Suite, Unit, Bldg., etc." })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">City</label>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">Province / State</label>
            @Html.TextBoxFor(m => m.Province, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputSuccess2">Postal / Zip</label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "" })
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-3">
        <label>Country</label><br>
        <div class="form-group has-required has-feedback">
            <div class="dropdown">
                @*<button data-toggle="dropdown" id="BusinessLocation_BusinessLocationAddress_Country" type="button" class="btn btn-default dropdown-toggle">*@


                @Html.DropDownListFor(m => m.Country, new SelectListItem[]{
                        new SelectListItem() {Text = "Canada", Value="Canada"},
                        new SelectListItem() {Text = "USA", Value="USA"},
                        new SelectListItem() {Text = "Other", Value="Other"}}, "Select Country", new { @class = "form-control" })


                @*<div class="glyphicon glyphicon-ok form-control-feedback"></div>
                        <span class="caret"></span>
                    </button>*@


            </div>
        </div>
    </div>
</div>
