﻿@model CL.TMS.DataContracts.ViewModel.Steward.StewardTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Common
@using CL.TMS.Security
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;

    //var prefixtiredetailsItemType = ViewData["data_tiredetailsItemType"];
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;

    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.BackToApplicant:
                if (!isInvalid.Contains(data_att_chkbox))
                {
                    isReadOnly = true;
                }
                break;
            default:
                isReadOnly = false;
                break;
        }
    }

    if (isReadOnly)
    {
        check = "checked:checked";
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsStewardApplicationTireDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="form-group has-required has-feedback">
    <div class="row">
        <div class="col-md-12 sectionname" data-sectionname="Types of Tires Handled">
            <p data-toggle="collapse" data-target="#typeOfTiresHandled" aria-expanded="true" aria-controls="typeOfTiresHandled" style="cursor:pointer;">
                <label class="control-label" for="typeOfTiresHandled">
                    @Html.CheckBox("cbTypesHandled", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItem")),
                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        data_validate_field = "",
                        data_validate_message = "Invalid Tire Details",
                        @class = "validation-checkbox no-validate",
                        data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem")
                    }))
                    @UIResource.ParticipantTireDetailsTypeTypesofTiresHandled
                </label>
            </p>
            <em>@UIResource.ParticipantTireDetailsSelectALLtires</em>
        </div>
    </div><!--/.row-->
    @*<div class="form-group has-required has-feedback">*@
    <div class="row sectionname" id="item_checkbox" data-sectionname="Types of Tires Handled">
        @{
            /*
                //TODO: Need to refactor and make it database driven. Probably add a new column called LongDescription in Items Table
                */

            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMTSteward).ToString()},
                {"AGLS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"OTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresOTR).ToString()},
                {"OTRS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresOTRS).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'>";
            string startingHTML = "<div class='col-md-4'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
            if (@Model != null)
            {
                foreach (var item in Model.TireDetailsItemType)
                {
                    if (item.Name == "Solid & Resilient Tires")
                    {
                        item.ShortName = "OTRS";
                    }
                    if (count % 3 == 0 && count != 0)
                    {
                        @Html.Raw(startingCheckBox);
                        <label>
                            @{
                                if (item.isChecked)
                                {
                                    <input type="checkbox"
                                           value="@(item.ID.ToString())"
                                           id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                           name='@data_att_chkbox'
                                           data-tiredetails="tire_val"
                                           data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))'
                                           checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                           data-fieldname='@item.ShortName.Trim()' />
                                }
                                else
                                {
                                    <input type="checkbox"
                                           value="@(item.ID.ToString())"
                                           id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                           name='@data_att_chkbox'
                                           data-tiredetails="tire_val"
                                           data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                           data-fieldname='@item.ShortName.Trim()' />
                                }
                            }

                            @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                            @{
                                string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                                <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                                <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                                    @{
                                        if (details.ContainsKey(itemShortNameReformat))
                                        {
                                            @Html.Raw(details[itemShortNameReformat]);
                                        }
                                    }
                                </div>
                            }
                        </label>
                        @Html.Raw(endingHTML);
                        @Html.Raw(endingHTML);
                        @Html.Raw(startingHTML);
                    }
                    else
                    {
                        @Html.Raw(startingCheckBox);
                        <label>
                            @{
                                if (item.isChecked)
                                {
                                    <input type="checkbox"
                                            value="@(item.ID.ToString())"
                                            id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                            name='@data_att_chkbox'
                                            data-tiredetails="tire_val"
                                            data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))'
                                            checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                            data-fieldname='@item.ShortName.Trim()' />
                                }
                                else
                                {
                                    <input type="checkbox"
                                            value="@(item.ID.ToString())"
                                            id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                            name='@data_att_chkbox'
                                            data-tiredetails="tire_val"
                                            data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                            data-fieldname='@item.ShortName.Trim()' />
                                }
                            }

                            @if (item.ShortName == "OTRS")
                            {
                                item.ShortName = "OTR";
                            }
                            @if (item.Name == "Solid & Resilient Tires")
                            {
                                item.ShortName = "OTRS";
                            }
                            @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                            @{
                                string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                                <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                                <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                                    @{
                                        if (details.ContainsKey(itemShortNameReformat))
                                        {
                                            @Html.Raw(details[itemShortNameReformat]);
                                        }
                                    }
                                </div>
                            }
                        </label>
                        @Html.Raw(endingHTML);
                    }
                    count++;
                }
            }
            @Html.Raw(endingHTML);
        }
    </div>
</div>
