﻿@model CL.TMS.DataContracts.ViewModel.Collector.CollectorTireDetailsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security
@using CL.TMS.Common
@using CL.TMS.Security.Authorization;

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    bool isBackToApplicant = false;
    var prefix = ViewData["prefix"];
    string data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem");
    string check = string.Empty;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

        isBackToApplicant = Model.Status == ApplicationStatusEnum.BackToApplicant;
    }
    if (isReadOnly)
    {
        check = "checked:checked";
    }

    var isParticipant = ViewData["IsParticipant"];
    if ((bool)isParticipant)
    {
        isReadOnly = true;
    }

    var userResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsCollectorApplicationTireDetails);
    var isResourceReadOnly = userResource == SecurityResultType.ReadOnly;
}

<div class="form-group has-required has-feedback">
    <div class="row" >
        <div class="col-md-12 sectionname" data-sectionname="Types of Tires Handled">
            <p data-toggle="collapse" data-target="#typeOfTiresHandled" aria-expanded="true" aria-controls="typeOfTiresHandled" style="cursor:pointer;">
                <label class="control-label" for="typeOfTiresHandled">
                    @Html.CheckBox("cbTypesHandled", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "TireItem")),
                    ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                    {
                        data_validate_field = "",
                        data_validate_message = "Invalid Tire Details",
                        @class = "validation-checkbox no-validate",
                        data_att_chkbox = string.Format("{0}.{1}", prefix, "TireItem")
                    }))
                    @UIResource.ParticipantTireDetailsTypeTypesofTiresHandled
                </label>
            </p>
            <em>@UIResource.ParticipantTireDetailsSelectALLtires</em>
        </div>
    </div><!--/.row-->

    <div class="row sectionname" id="item_checkbox" data-sectionname="Types of Tires Handled">
        @{
            /*
                //TODO: Need to refactor and make it database driven. Probably add a new column called LongDescription in Items Table
            */
            Dictionary<string, string> details = new Dictionary<string, string>()
            {
                {"PLT", @Html.Raw( UIResource.ParticipantTireDetailsALLtiresPLT).ToString()},
                {"MT", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMT).ToString()},
                {"AGLS", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresAGLS).ToString()},
                {"IND", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresIND).ToString()},
                {"SOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresSOTR).ToString()},
                {"MOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresMOTR).ToString()},
                {"LOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresLOTR).ToString()},
                {"GOTR", @Html.Raw(UIResource.ParticipantTireDetailsALLtiresGOTR).ToString()}
            };

            int count = 1;
            string startingCheckBox = "<div class='checkbox'>";
            string startingHTML = "<div class='col-md-4'>";
            string endingHTML = "</div>";

            @Html.Raw(startingHTML);
            if (@Model != null)
            {
                foreach (var item in Model.TireDetailsItemType)
                {
                    if (count % 3 == 0 && count != 0)
                    {
                        @Html.Raw(startingCheckBox);
                        <label>
                            @{
                                if (item.isChecked)
                                {
                                    <input type="checkbox"
                                           value="@(item.ID.ToString())"
                                           id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                           name='@data_att_chkbox'
                                           data-tiredetails="tire_val"
                                           data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))'
                                           checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                           data-fieldname='@item.ShortName.Trim()' />
                                }
                                else
                                {
                                    <input type="checkbox"
                                           value="@(item.ID.ToString())"
                                           id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                           name='@data_att_chkbox'
                                           data-tiredetails="tire_val"
                                           data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                           data-fieldname='@item.ShortName.Trim()' />
                                }
                            }

                            @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                            @{
                                string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                                <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                                <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                                    @{
                                        if (details.ContainsKey(itemShortNameReformat))
                                        {
                                            @Html.Raw(details[itemShortNameReformat]);
                                        }
                                    }
                                </div>
                            }
                        </label>
                        @Html.Raw(endingHTML);
                                        @Html.Raw(endingHTML);
                                        @Html.Raw(startingHTML);
                    }
                    else
                    {
                                            @Html.Raw(startingCheckBox);
                                            <label>
                                                @{
                                                    if (item.isChecked)
                                                    {
                                                        <input type="checkbox"
                                                               value="@(item.ID.ToString())"
                                                               id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                                               name='@data_att_chkbox'
                                                               data-tiredetails="tire_val"
                                                               data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))'
                                                               checked="checked" @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                                               data-fieldname='@item.ShortName.Trim()' />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox"
                                                               value="@(item.ID.ToString())"
                                                               id='@(string.Format("chb_{0}",item.ID.ToString()))'
                                                               name='@data_att_chkbox'
                                                               data-tiredetails="tire_val"
                                                               data-myattri='@(string.Format("{0}-{1}",item.ShortName.Trim(), item.Name.Trim()))' @(isReadOnly || isResourceReadOnly ? "disabled" : "")
                                                               data-fieldname='@item.ShortName.Trim()' />
                                                    }
                                                }
                                                @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                                                @{
                                                    string itemShortNameReformat = item.ShortName.Replace("/", "-").Trim();
                                                    <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", itemShortNameReformat)" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                                                    <div id="@string.Format("{0}{1}", "tiredetailsPopover", itemShortNameReformat )" style="display:none;">
                                                        @{
                                                            if (details.ContainsKey(itemShortNameReformat))
                                                            {
                                                                @Html.Raw(details[itemShortNameReformat]);
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </label>
                                            @Html.Raw(endingHTML);
                    }
                    count++;
                }
            }

                                                            @Html.Raw(endingHTML);
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 sectionname" data-sectionname="Used Tires in Storage">
        <label>

            @if (isInvalid.Contains(string.Format("{0}.{1}", prefix, "PLT")))
            {
                @Html.CheckBox("cbUsedTiresInStorage", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "PLT")),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    data_validate_field = "",
                    data_validate_message = "Invalid Used Tires in Storage",
                    @class = "validation-checkbox no-validate",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")
                }))
            }
            else
            if (isInvalid.Contains(string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")))
            {
                @Html.CheckBox("cbUsedTiresInStorage", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    data_validate_field = "",
                    data_validate_message = "Invalid Used Tires in Storage",
                    @class = "validation-checkbox no-validate",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")
                }))
            }
            else
            {
                @Html.CheckBox("cbUsedTiresInStorage", !isInvalid.Contains(string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")),
                ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                {
                    data_validate_field = "",
                    data_validate_message = "Invalid Used Tires in Storage",
                    @class = "validation-checkbox no-validate",
                    data_att_chkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage")

                }))
            }
            Used Tires in Storage
        </label>
        <p class="help-block1"><em>Enter the number of units for each type of tires you have in storage at the date of this application.</em></p>
    </div>
</div><!--/.row-->
<div class="row sectionname" id="usedtires" data-sectionname= "Used Tires in Storage">
    <div class="col-md-2" id="usedtires">
        <div class="form-group control-label has-required has-feedback" >
            <label data-toggle="tooltip" data-placement="right" title="Passenger &amp; Light Truck Tires">PLT <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.PLT, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           placeholder = "",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "PLT"           
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Medium Truck Tires">MT <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.MT, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "MT"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Agricultural Drive &amp; Logger Skidder Tires">AGLS <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.AGLS, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "AGLS"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Small &amp; Large Industrial Tires">IND <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.IND, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "IND"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Small OTR Tires">SOTR <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.SOTR, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "SOTR"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Medium OTR Tires">MOTR <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.MOTR, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "MOTR"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Large OTR Tires">LOTR <i class="fa fa-question-circle" style="margin-left:13px"></i></label>
            @Html.TextBoxFor(m => m.LOTR, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "LOTR"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group control-label has-required has-feedback">
            <label data-toggle="tooltip" data-placement="top" title="Giant OTR Tires">GOTR <i class="fa fa-question-circle"></i></label>
            @Html.TextBoxFor(m => m.GOTR, new
       {
           @class = "form-control only-numbers",
           maxlength = "5",
           data_validation_checkbox = string.Format("{0}.{1}", prefix, "cbUsedTiresInStorage"),
           data_fieldname = "GOTR"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>

</div><!--/.row-->