﻿@model CL.TMS.DataContracts.ViewModel.Hauler.TermsAndConditionsRegistrationModel
@using CL.TMS.Common.Enum
@using CL.TMS.Security.Authorization;
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security

@{
    var isInvalid = (List<string>)ViewData["invalidFormFieldList"];//new List<string>();
    bool isReadOnly = false;
    if (Model != null)
    {
        //if (Model.InvalidFormFieldList != null)
        //{
        //    isInvalid = Model.InvalidFormFieldList as List<string>;
        //}

        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.OffHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:
            case ApplicationStatusEnum.Denied:
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }
    }
    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    if (Model.Status == ApplicationStatusEnum.BackToApplicant)
    {
        var isBackToApplicant = Model.Status;
    }

    var isParticipant = ViewData["IsParticipant"];
    if (Convert.ToBoolean(isParticipant))
    {
        isReadOnly = true;
    }

    //check security level
    var TermsAndConditionsResource = CL.TMS.Configuration.ApplicationHelper.CheckUserSecurityForTermsAndConditions((ApplicationTypes)ViewData["Type"]);
    var isResourceReadOnly = TermsAndConditionsResource == CL.TMS.Security.SecurityResultType.ReadOnly;
}

<div class="row">
    <div class="col-md-12">
        <p>@UIResource.TermsAndConditionsApplicationNameAndPositionauthority</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="exampleInput">
                @Html.CheckBox("cbSigningAuthorityFirstName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityFirstName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 id = "cbSigningAuthority",
                                 @class = "validation-checkbox no-validate",
                                 data_fieldname = "First Name",
                                 data_sectionname = "Person with signing authority",
                                 data_validate_message = "Invalid Signing Authority First Name",
                                 data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityFirstName).ToString())
                             }))
                @UIResource.CommonPersonFirstName
            </label>
            @Html.TextBoxFor(model => model.SigningAuthorityFirstName, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "First Name",
           data_sectionname = "Person with signing authority"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="exampleInput">
                @Html.CheckBox("cbSigningAuthorityLastName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityLastName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 @class = "validation-checkbox no-validate",
                                 data_fieldname = "Last Name",
                                 data_sectionname = "Person with signing authority",
                                 data_validate_message = "Invalid Signing Authority Last Name",
                                 data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityLastName).ToString())
                             }))
                @UIResource.CommonPersonLastName
            </label>
            @Html.TextBoxFor(model => model.SigningAuthorityLastName, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "Last Name",
           data_sectionname = "Person with signing authority"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="inputWarning2">
                @Html.CheckBox("cbSigningAuthorityPosition",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityPosition).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 @class = "validation-checkbox no-validate",
                                 data_fieldname = "Position",
                                 data_sectionname = "Person with signing authority",
                                 data_validate_message = "Invalid Signing Authority Position",
                                 data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.SigningAuthorityPosition).ToString())
                             }))

                @UIResource.CommonPersonPosition
            </label>
            @Html.TextBoxFor(model => model.SigningAuthorityPosition, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "Position",
           data_sectionname = "Person with signing authority"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <p>@UIResource.TermsAndConditionsApplicationNameAndPhoneNumbeWhoCompleted</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByFirstName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByFirstName).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          @class = "validation-checkbox no-validate",
                                          data_validate_message = "Invalid Form 'Completed By' First Name",
                                          data_fieldname = "First Name",
                                          data_sectionname = "Person who completed the form",
                                          data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByFirstName).ToString())
                                      }))
                @UIResource.CommonPersonFirstName
            </label>
            @Html.TextBoxFor(model => model.FormCompletedByFirstName, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "First Name",
           data_sectionname = "Person who completed the form"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByLastName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByLastName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                             {
                                 @class = "validation-checkbox no-validate",
                                 data_validate_message = "Invalid Form 'Completed By' Last Name",
                                 data_fieldname = "Last Name",
                                 data_sectionname = "Person who completed the form",
                                 data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByLastName).ToString())
                             }))
                @UIResource.CommonPersonLastName
            </label>
            @Html.TextBoxFor(model => model.FormCompletedByLastName, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "Last Name",
           data_sectionname = "Person who completed the form"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByPhone",
                             !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByPhone).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          @class = "validation-checkbox no-validate",
                                          data_validate_message = "Invalid Form 'Completed By' Phone Number",
                                          data_fieldname = "Phone Number",
                                          data_sectionname = "Person who completed the form",
                                          data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.FormCompletedByPhone).ToString())
                                      }))
                @UIResource.CommonWordPhoneNumber
            </label>
            @Html.TextBoxFor(model => model.FormCompletedByPhone, new
       {
           @class = "form-control",
           maxlength = "50",
           placeholder = "",
           data_fieldname = "Phone Number",
           data_sectionname = "Person who completed the form"
       }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>

</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <label>@UIResource.TermsAndConditionsApplicationAcknowledgementOfTerms</label>
        <div class="termsandconditions">
            @Html.HiddenFor(x => x.TermsAndConditionsID)
            @Html.Raw(Model.TermAndConditionContent)
            @*@if (Model.ParticipantType == "Hauler")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionHauler);

                }
                else if (Model.ParticipantType == "Collector")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionCollector);
                }
                @if (Model.ParticipantType == "Steward")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionSteward);

                }
                else if (Model.ParticipantType == "Processor")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionProcessor);
                }
                @if (Model.ParticipantType == "RPM")
                {
                    @Html.Raw(@UIResource.TermsAndConditionsDescriptionRPM);

                }*@
        </div><!--/.termsandconditions-->
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <label>@UIResource.TermsAndConditionsApplicationELECTRONICSIGNATURE</label>

        <div class="termsandconditions-signature has-feedback has-required">
            <label class="control-label">
                @Html.CheckBox("cbAgreementAcceptedByFullName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.AgreementAcceptedByFullName).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new
                                      {
                                          @class = "validation-checkbox no-validate",
                                          data_fieldname = "ELECTRONIC SIGNATURE",
                                          data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetExpressionText(p => p.AgreementAcceptedByFullName).ToString()),
                                          data_validate_message = "Invalid Form 'Full Name'",
                                      }))
                @UIResource.TermsAndConditionsApplicationEnterYourFullName
            </label>
            @Html.TextBoxFor(model => model.AgreementAcceptedByFullName, new
           {
               @class = "form-control",
               data_signature = "true",
               maxlength = "50",
               placeholder = "",
               data_fieldname = "ELECTRONIC SIGNATURE"
           }, isReadOnly || isResourceReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="checkbox checked termsandconditions-checkbox">
            <label>
                @Html.CheckBox("AgreementAcceptedCheck", Model.AgreementAcceptedCheck.HasValue ? Model.AgreementAcceptedCheck.Value : false, ExtensionMethods.ConditionalDisable(isReadOnly || isResourceReadOnly, new { data_fieldname = "Agreement Accepted" }))
            </label>
            <label class="no-cursor">

                @if (Model.ParticipantType == "Hauler")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityTo.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value)
                }
                else if (Model.ParticipantType == "Collector")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToCollector.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value)
                }
                @if (Model.ParticipantType == "Steward")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToSteward.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value)
                }
                else if (Model.ParticipantType == "Processor")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToProcessor.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value)
                }
                @if (Model.ParticipantType == "RPM")
                {
                    @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityToRPM.Replace("[CompanyName]", @CL.TMS.Configuration.AppSettings.Instance.AllSettings.FirstOrDefault(c => c.Key.Trim() == "Company.Name").Value)
                }
            </label>
        </div>
    </div>
</div><!--/.row-->