﻿@model CL.TMS.DataContracts.DomainEntities.Application
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface


@{
    var isInvalid = new List<string>();
    bool isReadOnly = false;            
    if (Model != null)
    {        
        if (Model.InvalidFormFieldList != null)
        {
            isInvalid = Model.InvalidFormFieldList as List<string>;
        }
        switch (Model.ValidStatus)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:                
                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }          
    }

    var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
}



<div class="row">
    <div class="col-md-12">
        <p class="help-block">@UIResource.TermsAndConditionsApplicationNameAndPositionauthority</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="exampleInput">
                @Html.CheckBox("cbSigningAuthorityFirstName", 
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityFirstName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { id = "cbSigningAuthority", @class = "validation-checkbox no-validate", data_validate_message = "Invalid Signing Authority First Name", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityFirstName).ToString()) }))
                @UIResource.CommonPersonFirstName</label>
            @Html.TextBoxFor(model => model.SigningAuthorityFirstName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="exampleInput">
                @Html.CheckBox("cbSigningAuthorityLastName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityLastName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_validate_message = "Invalid Signing Authority Last Name", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityLastName).ToString()) }))
            @UIResource.CommonPersonLastName</label>
            @Html.TextBoxFor(model => model.SigningAuthorityLastName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label for="inputWarning2">
                @Html.CheckBox("cbSigningAuthorityPosition",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityPosition).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_validate_message = "Invalid Signing Authority Position", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.SigningAuthorityPosition).ToString()) }))
            
            @UIResource.CommonPersonPosition</label>
            @Html.TextBoxFor(model => model.SigningAuthorityPosition, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <p class="help-block">@UIResource.TermsAndConditionsApplicationNameAndPhoneNumbeWhoCompleted</p>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByFirstName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByFirstName).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_validate_message = "Invalid Form 'Completed By' First Name", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByFirstName).ToString()) }))            
            @UIResource.CommonPersonFirstName</label>
            @Html.TextBoxFor(model => model.FormCompletedByFirstName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByLastName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByLastName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_validate_message = "Invalid Form 'Completed By' Last Name", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByLastName).ToString()) }))            
            @UIResource.CommonPersonLastName</label>
            @Html.TextBoxFor(model => model.FormCompletedByLastName, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            <label class="control-label" for="inputWarning2">
                @Html.CheckBox("cbFormCompletedByPhone",
                             !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByPhone).ToString())),
                                      ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_validate_message = "Invalid Form 'Completed By' Phone Number", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.FormCompletedByPhone).ToString()) }))            
            @UIResource.CommonWordPhoneNumber</label>
            @Html.TextBoxFor(model => model.FormCompletedByPhone, new { @class = "form-control", maxlength = "50", placeholder = "" }, isReadOnly)
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4">
        <div class="form-group has-required has-feedback">
            @*<label class="control-label" for="inputWarning2">Completed Date &amp; Time</label>
            <p>@Html.LabelFor(m => m.CompletedDate)</p>*@
        </div>
    </div>
</div><!--/.row-->
<hr>
<div class="row">
    <div class="col-md-12">
        <label>@UIResource.TermsAndConditionsApplicationAcknowledgementOfTerms</label>
        <div class="termsandconditions">
            <p>
                RECITALS:<br>
                A.  OTS has been designated as the industry funding organization under the Act to be responsible for the collection and environmentally responsible recycling of Used Tires;<br>
                B.  The Hauler wishes to operate as a hauler of Used Tires and become entitled to retrieve Used Tires from Registered Collectors at no charge, and to deliver such Used Tires to Registered Processor at no charge, in accordance with the Plan;<br>
                C.  The Hauler has been approved by OTS as an approved hauler in accordance with the Plan; and<br>
                D.  The purpose of this Agreement is to set out the terms and conditions under which the Hauler will operate as an approved hauler under the Plan.<br>
                NOW THEREFORE the parties agree as follows, as of the date set out above:<br><br>

                ARTICLE 1<br>
                DEFINITIONS<br>
                1.1  Definitions. In addition to the words and phrases defined in the recitals or elsewhere in this Agreement, as used in this Agreement, in any schedule hereto, in any amendment hereof, and in any documents to be executed and delivered pursuant to this Agreement, the following words and phrases have the following meanings, respectively:<br>
                (a)  “Act” means the Waste Diversion Act, 2002, S.O. 2002 c.6 as amended from time to time;<br>
                (b)  “Act of Default” has the meaning given in Section 7.1;<br>
                (c)  “Agreement” means this Agreement, including the schedules to this Agreement, as it or they may be amended or supplemented from time to time, and the expressions “hereof”, “herein”, “hereto”, “hereunder”, “hereby” and similar expressions refer to this Agreement and not to any particular section of other portion of this Agreement;<br>
                (d)  “Applicable Laws” has the meaning given in Section 2.1(r);<br>
                (e)  “Approved Purpose” means a purpose for the use of recycled tires which is found on the list of Approved Purposes for Recycled Tires maintained by OTS and published on OTS’s web site from time to time;<br>
                (f)  “Arbitration Guidelines” has the meaning given in Section 13.3;<br>
                (g)  “Audit” has the meaning given in Section 4.2;<br>
                (h)  “Change Notice” has the meaning given in Section 13.6;<br>
                (i)  “Culled Used Tires” has the meaning given in Section 2.4;<br>
                (j)  “Effective Date” “ has the meaning given to that term in the listing of parties to this Agreement;<br>
                (k)  “Environmental Laws” means any and all applicable laws, statutes, regulations, treatise, orders, judgements, decrees, official directives and all authorizations of any department or body of any federal, provincial, regional or municipal government of any agency thereof relating to the protection of the environment, including in particular, but without limiting the generality of the foregoing, the manufacture, use, storage, disposal and transportation of any Hazardous Substance;<br>
                (l)  “Exemption Order” means a written confirmation issued by OTS that certain Used Tires, tire parts or processed rubber which would otherwise be Non-Eligible Material, are eligible for the claiming of certain financial incentives, on the terms set out therein;<br>
                (m)  “False Statement” has the meaning given in Section 7.1(d);<br>
                (n)  “Guidelines” means any directives, forms, procedure manuals, administrative guidance, or other document regarding the implementation of the Plan published by OTS from time to time on its web site;<br>
                (o)  “Hauler” has the meaning given to that term in the listing of parties to this Agreement;<br>
                (p)  “Hazardous Substance” includes any contaminant, pollutant, dangerous substance, liquid waste, industrial waste, hauled liquid waste, toxic substance, hazardous waste, hazardous material, or hazardous substance as defined in or pursuant to any law, judgement, decree, order, injunction, rule, statute or regulation of any court, arbitrator or federal, provincial, state, municipal, county or regional government or governmental authority, domestic or foreign, or any department, commission, bureau, board, administrative agency or regulatory body of any of the foregoing to which the Hauler is subject;<br>
                (q)  “Inventory Statement” means any report submitted by the Hauler with regard to the inventory of Used Tires and/or parts thereof held on the Hauler’s premises and/or in the Haulers’s inventory, as at a certain date;<br>
                (r)  “Mediation Guidelines” has the meaning given in Section 13.3;<br>
                (s)  “Minister” means the Minister of the Environment for Ontario;<br>
                (t)  “Non-Eligible Material” means:<br>
                (i)  Used Tires, tire parts or processed rubber held in Hauler’s inventory prior to September 1st, 2009, unless the subject of an Exemption Order issued by OTS; and/or<br>
                (ii)  Used Tires or parts thereof originating outside Ontario or obtained by the Hauler directly or indirectly from any source outside Ontario; and/or<br>
                (iii)  any material, article or item that is not a Used Tire or part thereof;<br>
                (u)  “OTS” has the meaning given to that term in the listing of parties to this Agreement;;<br>
                (v)  “Party” means a party to this Agreement and any reference to a Party includes its successors and permitted assigns; and Parties means every Party;<br>
                (w)  “Plan” means the Used Tires Program Plan submitted by OTS on 27 February 2009 and approved by Waste Diversion Ontario and the Minister of Environment, as amended;<br>
                (x)  “Processor Delivery” means delivery by the Hauler of eligible Used Tires to a Registered Processor, in accordance with the Plan and this Agreement;<br>
                (y)  “Program Participant” means any collector, hauler, or processor which has registered and entered into an agreement with OTS to provide services under the Plan;<br>
                (z)  “Registered Collector” means an entity that has registered and remained in good standing with OTS and entered into a Collector Agreement with OTS;<br>
                (aa)  “Registered Processor” means a business that processes Used Tires into material that can be further processed in order to recover specific components within the same organization or sent to downstream processors for use as a raw material in another process, and which has registered and remains in good standing with OTS and entered into a Processor Agreement with OTS;<br>
                (bb)  “Registration System” means the electronic database maintained by OTS in which registration and other information regarding Haulers is kept;<br>
                (cc)  “Rejection Notice” has the meaning given in Section 13.6;<br>
                (dd)  “Repayment Amounts” has the meaning given in Section 7.2;<br>
                (ee)  “Report” means any report or submission made by the Hauler from time to time regarding Used Tires;<br>
                (ff)  “Subcontractor” has the meaning given in Section 2.3;<br>
                (gg)  “Subcontracted Obligations” has the meaning given in Section 2.3;<br>
                (hh)  “Transportation Incentives” means those certain financial incentives from time to time determined and payable by OTS, to a person designated by OTS from time to time;<br>
                (ii)  “Used Tires” means used tires or parts of tires that that have not been refurbished for road use, or that, for any reason, are not suitable for their intended purpose; for greater clarity, “Used Tires” refers only to the tire body (or parts thereof), and does not include rims or any other component which is not an integral part of the tire body;<br>
                (jj)  “Used Tire Pickup” means the retrieval of eligible Used Tires from Registered Collectors by the Hauler, in accordance with the Plan and this Agreement; and<br>
                (kk)  “WDO” means Waste Diversion Ontario.<br>
                1.2  Interpretation. Unless otherwise specified, all references to currency herein shall be to lawful money of Canada. Headings, table of contents, and Article and Section names and divisions are for convenience of reference only and shall not affect the meaning or interpretation of the Agreement. Any accounting terms not specifically defined shall have the meanings ascribed to them in accordance with Canadian generally accepted accounting principles. Unless the context requires otherwise, words importing the singular include the plural and vice versa and words importing gender include all genders. The words “hereto”, “herein”, “hereof”, “hereunder”, “this Agreement” and similar expressions mean and refer to this Agreement. All references to laws or statutes include all related rules, regulations, interpretations, amendments and successor provisions. All references to any document, instrument or agreement include any amendments, waivers and other modifications, extensions or renewals. The words “includes” or “including” shall mean “includes without limitation” or “including without limitation”, respectively.<br>
                1.3  Agreements as Covenants. Each agreement and obligation of any of the Parties hereto in this Agreement even though not expressed as a covenant, is considered for all purposes to be a covenant.<br><br>
                ARTICLE 2<br>
                RESPONSIBILITIES OF HAULER<br>
                2.1  Responsibilities of Hauler. In addition to the other obligations of the Hauler set out in this Agreement, the Hauler hereby agrees to:<br>
                (a)  abide by the requirements set out in this Agreement and its schedules, the Plan, and all Guidelines applicable to Hauler;<br>
                (b)  use the system of Guidelines and paper-based or electronic manifests and documents created by OTS to accurately, correctly, and completely record and report all transactions involving Used Tires, as the system is modified by OTS from time to time in its sole discretion;<br>
                (c)  retain in good order and legible or accessible condition all records required under any Guideline or which relate to Haulers’s transfer or use of Used Tires, any Report made by Hauler hereunder, and/or Hauler’s activities to comply with the terms of this Agreement and the Plan, for a minimum of three years after such transfer, Report or activity;<br>
                (d)  retrieve Used Tires from registered Collectors, and deliver all Used Tires which are not culled by the Hauler to registered Processors, as directed by OTS;<br>
                (e)  store all Used Tires with all requirements of Applicable Law, including without limitation all requirements of the Ontario Ministry of the Environment and the Ontario Office of the Fire Marshal;<br>
                (f)  update any registration information provided to OTS in the Registration System within 10 business days after the information is changed;<br>
                (g)  fully and properly complete required manifests and other documents in preparation for transportation of Used Tires, in the manner directed by OTS from time to time;<br>
                (h)  within five days after receiving the request from OTS, provide an Inventory Statement regarding Used Tires on the Hauler’s premises and/or in the Hauler’s inventory at the time of the request, in such format as OTS shall direct;<br>
                (i)  submit to periodic inspections of the Hauler’s premises and equipment by OTS or OTS’s designated representative, at intervals which are reasonable in the sole judgement of OTS;<br>
                (j)  submit to a mandatory yard count of all Used Tires in the Hauler’s possession or on the Hauler’s premises or trucks or other vehicles as and when directed by OTS or OTS’s designated representative(s); it is expressly agreed by the Hauler that OTS is not required to provide the Hauler with any advance notice of any such yard count;<br>
                (k)  submit to an inspection and inventory count of the Used Tires in any of its trucks or other vehicles being used to transport Used Tires under this Agreement by OTS or OTS’s designated representative(s) including field agents, whether such truck or other vehicle is stationary or in the process of transporting Used Tires; it is expressly agreed by the Hauler that OTS is not required to provide the Hauler with any advance notice of any such inspection or inventory count;<br>
                (l)  use equipment, supplies and service provided by OTS only for their intended purposes and in an efficient manner;<br>
                (m)  file all required documents and reports in the manner directed by OTS from time to time;<br>
                (n)  respond in a timely manner to all requests by OTS for information relating to Used Tires;<br>
                (o)  comply, abide by and carry into effect, as may be required, the objectives of, and the obligations imposed upon the Hauler contained in and set out in this Agreement, all applicable Guidelines, and the Plan;<br>
                (p)  conduct itself in a professional and business-like manner in dealings with Registered Collectors, Registered Processors, members of the public and OTS;<br>
                (q)  not use any trade-mark, trade name, or logo owned by OTS in any way not specifically authorized by OTS in writing, to provide samples of any proposed use to OTS for written approval which must be received before use begins, and to comply in all respects with any Guideline in effect from time to time regarding the use of OTS’s trade-marks;<br>
                (r)  comply at all times with all laws issued by any government or governmental authority of Canada or any province of Canada, or any municipal, regional or other authority, including, without limitation, any governmental department, commission, bureau, board or administrative agency (“Applicable Laws”), which affect or govern the conduct and operation of the Hauler, its business, and its performance under this Agreement; for greater clarity, the Applicable Laws include, without limitation, all laws relating to taxation, transportation and motor vehicles, employment standards and compensation of workers, and the Environmental Laws;<br>
                (s)  obtain and maintain all permits, certificates, licences and other qualifications required under any Applicable Law;<br>
                (t)  provide notice to OTS of any fines or regulatory orders relating to the Hauler’s business made against it in the previous five years; and<br>
                (u)  provide notice to OTS within 24 hours after any fine or regulatory order relating to the substance of this Agreement made against it after the date hereof.<br>
                2.2  Conflict Between Plan, Agreement, and Guidelines. To the extent any provision of the Plan may conflict with a term or terms of this Agreement or any Guideline, other than those dealing with the amount or payment of any incentive, then the Plan shall prevail. For greater clarity, in the event of any conflict between the Plan and any Guideline dealing with the amount or payment of any incentive, such Guideline shall prevail.<br>
                2.3  Subcontractors. The Hauler agrees that if any third party (a “Subcontractor”) performs all or part of any of Hauler’s obligations hereunder (“Subcontracted Obligations”) at any time, while this Agreement is in effect:<br>
                (a)  Hauler shall be solely responsible for ensuring that a Subcontractor complies fully with all requirements set out in this Agreement, the Plan, and any Guidelines which are applicable to Subcontractor or any Subcontracted Obligations;<br>
                (b)  Any act or omission by Subcontractor which would constitute a default if performed by the Hauler shall constitute an actual default by the Hauler; and<br>
                (c)  Hauler may not engage as a Subcontractor any person having any unresolved default(s) of which Hauler is aware under any agreement with OTS; if Collector does engage such a person as a Subcontractor, the Collector shall become jointly and severally liable with such person for all amounts owed to OTS with respect to the default(s). For greater clarity, in addition to the actual knowledge of Hauler from time to time, Hauler shall be deemed to have awareness of any unresolved default included in any list published by OTS from time to time of persons in default of obligations to OTS.<br>
                2.4  Culled Tires.<br>
                (a)  Hauler may transfer, divert or use Used Tires for lawful purposes other than transporting them to Registered Processors (such Used Tires referred to as “Culled Used Tires”), subject to the requirements set out in this Section 2.4.<br>
                (b)  Hauler agrees that all dealings in connection with Culled Used Tires, including without limitation the selection, use, or sale of Culled Used Tires, shall be at Hauler’s own risk absolutely.<br>
                (c)  Hauler shall provide detailed information to OTS regarding the final destinations and end-uses of Culled Used Tires transferred, diverted, used, or otherwise dealt by the Hauler, in the form required by OTS from time to time.<br>
                (d)  No Transportation Incentives shall be paid in respect of any Culled Used Tires, and Hauler agrees that it shall not misrepresent any Culled Used Tires in any Report as being eligible for or having actually been subject to Processor Delivery under the Plan, and that submission of such a Report with respect to Culled Used Tires shall constitute a False Statement.<br>
                (e)  Hauler shall not sell, transfer or dispose of Culled Used Tires for any final purpose which is not an Approved Purpose, and which the Hauler can demonstrate as such to OTS’s satisfaction, acting reasonably.<br>
                2.5  Non-Eligible Material.<br>
                (a)  Except where OTS has issued an Exemption Order with respect thereto, no Transportation Incentives shall be paid in respect of any Non-Eligible Material, and Hauler agrees that it shall not provide Used Tire Pickup or Processor Delivery to any Non-Eligible Material, or represent to any person including any Registered Collector or Registered Processor that Used Tire Pickup or Processor Delivery is available with respect to any Non-eligible Material, or misrepresent any Non-Eligible Material in any Report as being eligible for or actually having been subject to Used Tire Pickup or Processor Delivery. Hauler agrees that submission of such a Report with respect to Non-Eligible Material shall constitute a False Statement.<br>
                (b)  Hauler agrees that all its dealings in connection with Non-Eligible Material, including without limitation the selection, use, or sale of Non-Eligible Material, shall be at Hauler’s own risk absolutely.<br>
                (c)  Upon request by OTS, Hauler shall provide detailed information to OTS regarding the final destinations and end-uses of Non-Eligible Material transferred, diverted, used, or otherwise dealt by the Hauler, in the form required by OTS from time to time.<br><br>
                ARTICLE 3<br>
                REPRESENTATIONS AND WARRANTIES OF HAULER<br>
                3.1  Representations and Warranties. The Hauler represents and warrants that:<br>
                (a)  it is duly constituted and is validly existing and in good standing under the laws of its home jurisdiction, and has the necessary corporate or other powers, authority and capacity to own its property and assets and to carry on the business as presently conducted and contemplated by the terms of this Agreement;<br>
                (b)  all information provided by it to OTS pursuant to this Agreement, including in all documents required by virtue of the Hauler’s registration with OTS or by virtue of the requirements of law, are true and accurate;<br>
                (c)  the registration of the Hauler with OTS as an approved Hauler, the provision of all required information to OTS, and the entering into of this Agreement by Hauler and the performance of its obligation hereunder have been duly authorized by all necessary corporate action.<br>
                (d)  it is not a non-resident of Canada within the meaning of Section 116 of the Income Tax Act;<br>
                (e)  it holds all permits, licences, consents and authorities issued by all government or governmental authorities of Canada or any province of Canada, or any municipal, regional or other authority, including, without limitation, any governmental department, commission, bureau, board or administrative agency which are necessary and/or desirable in connection with the conduct and operation of the Hauler’s business and is not in breach of or in default of any term or condition thereof;<br>
                (f)  all Inventory Statements provided to OTS are true and accurate as of the date of the inventory; and<br>
                (g)  all Reports, documentation and other instruments provided to OTS by the Hauler are complete and correct.<br>
                3.2  Statements. All statements contained in any Reports, documents or other instruments delivered by or on behalf of the Hauler to OTS <br>shall be deemed to be representations and warranties of the Hauler of the facts therein contained.<br>
                3.3  Reliance. The Hauler acknowledges and agrees that OTS has entered into this Agreement relying on the warranties, representations and other terms and conditions set out in this Agreement notwithstanding independent searches or investigations that may have been undertaken by or on behalf of OTS and that no information which is now known or should be known or which may hereinafter become known to OTS or its officers, directors or professional advisors shall limit or extinguish any right of indemnification contained herein or otherwise limit, restrict, negate or constitute a waiver of any of the rights or remedies of OTS hereunder.<br><br>
                ARTICLE 4<br>
                AUDITS AND INSPECTION<br>
                4.1  Inspection. The Hauler agrees to permit OTS or its agents to inspect the Hauler’s business site upon reasonable notice, during normal business hours, from time to time.<br>
                4.2  Audit. The Hauler agrees that OTS may, from time to time, audit any records of the Hauler maintained in support of the Hauler’s claims, and further, may examine and review, and audit records relating to the Hauler’s compliance with the terms of this Agreement, the Plan and all Applicable Laws, and in the course of doing so may review or inspect the Hauler’s operations to determine the Hauler’s compliance (hereinafter referred to as the “Audit”).<br>
                4.3  Yard Count. The Hauler agrees that OTS or its OTS’s designated representative(s) may, from time to time and without advance notice to the Hauler, attend at the Hauler’s premises, to perform a spot audit yard count of all Used Tires in the Hauler’s possession or located on the Hauler’s premises, including Used Tires and other materials located in any vehicles, including without limitation vehicles of a Registered Collector or Registered Processor or any other person, which are at Hauler’s premises, and may also at this time review any records which OTS may review in the course of an Audit as described in Section 4.2.<br>
                4.4  Provision of Records. The Hauler shall provide OTS’s auditor with any and all records requested and shall cooperate with the Audit at no expense to OTS. It is agreed that OTS shall bear the cost of performing the Audit except in circumstances where the auditor determines that the Hauler has not complied with the terms of this Agreement and the Plan in which case OTS’ reasonable costs of the Audit, including any follow-up review or inspection undertaken as a result of a finding of non-compliance, shall be paid by the Hauler within 30 days of demand therefor being transmitted from OTS to the Hauler. In the event the Hauler fails to pay OTS’ reasonable costs of the Audit as aforesaid, such costs of the Audit shall be treated as Repayment Amounts and subject to set-off in accordance with Section 7.3.<br><br>
                ARTICLE 5<br>
                OBLIGATIONS OF OTS<br>
                5.1  Used Tire Pickup and Processor Delivery. OTS shall allow and/or facilitate Used Tire Pickup and Processor Delivery by Hauler.<br>
                5.2  Information and Support. OTS shall provide promotional and informational material and telephone support to Hauler, as OTS deems necessary.<br>
                5.3  Transportation Incentive. With respect to Used Tires retrieved from a Registered Collector by Hauler and subsequently delivered to a Registered Processor, OTS shall pay a Transportation Incentive, at such rate, to such person, and upon such schedule determined by OTS in its sole discretion from time to time, all as may be published by OTS in one or more Guidelines from time to time.<br><br>
                ARTICLE 6<br>
                OPERATIONAL MATTERS<br>
                6.1  Observation Following Default. Notwithstanding any other provision of this Agreement, if the Hauler commits an Act of Default, then until the resolution of such Act of Default and for a period of [two years] thereafter, OTS may in its sole discretion require that Hauler advise it, no less than [48 hours] in advance, of the time and location all deliveries of Used Tires to Registered Processors, and permit an OTS representative to observe any aspect of such delivery.<br>
                6.2  No Additional Fees. Hauler shall not charge any additional fee to Collectors for the retrieval of Used Tires in accordance with the Plan. Hauler acknowledges and agrees that OTS will advise Collectors of the requirement of this section, and that OTS will establish mechanisms to enable Collectors to advise OTS of any breach of the requirements of this section.<br>
                6.3  Load Size. The minimum standard load size for retrieval of Used Tires in Southern Ontario is 50 Used Tires; the minimum standard load size for retrieval of Used Tires in Northern Ontario is 75 Used Tires.<br>
                6.4  Agreements Between Hauler, Registered Collectors, and/or Registered Processors. Notwithstanding any other provision of this agreement, Hauler may in its own right enter into any number of contracts with Registered Collectors and/or Registered Processors:<br>
                (a)  regarding the pickup from such Registered Collector(s) and/or delivery to such Registered Processor(s) of tires which are not Used Tires as defined in the Plan, or delivery schedules which are different from those contemplated hereunder; such contracts may provide for fees charged by or to Hauler with respect to the services described in such contracts; and/or<br>
                (b)  containing additional terms as between Hauler and such Registered Collector(s) and/or Registered Processor(s) regarding Used Tire Pickup and/or Processor Delivery; such contracts may provide for payments made by or to the Hauler.<br>
                6.5  Third Party Monies. The Hauler shall not collect monies on behalf of OTS from any other person but in the event that such does occur notwithstanding the requirements of this section, those monies shall be held for the benefit of, and remitted (without deduction or set-off), forthwith to OTS.<br><br>
                ARTICLE 7<br>
                HAULER DEFAULT<br>
                7.1  Events of Default. The occurrence of any of the following while this Agreement is in effect shall constitute an “Act of Default” by the Hauler under this Agreement:<br>
                (a)  If the Hauler fails to make payment of any amount required in this Agreement, including any Repayment Amount, when such payment becomes due and payable, and fails to pay such amount in full within five days of written demand therefor being sent by OTS;<br>
                (b)  If Hauler breaches or fails to perform, observe or comply with any provision of this Agreement, the Plan, or any Guideline, and does not rectify such breach or failure to OTS’s reasonable satisfaction within 15 days of written notice of the breach or failure being sent by OTS;<br>
                (c)  If Hauler defaults in the due observance or performance of any covenant, undertaking, obligation or agreement given to OTS at any time, whether contained in this Agreement, the Plan, or any Guideline, or not, and Hauler does not rectify such default to OTS’s reasonable satisfaction within 15 days of written notice of the breach or failure being sent by OTS;<br>
                (d)  If Hauler fails to submit any document or Report required under this Agreement or any Guideline, or to maintain records as required under this Agreement or any Guideline;<br>
                (e)  If any Report, representation, warranty, certificate, submission, or statement made by Hauler to OTS is in any respect untrue, erroneous, incomplete, inaccurate, misleading, or not able to be supported by Hauler’s records in an Audit or the results of a yard count pursuant to Section 4.3, all in OTS’s sole determination (each a “False Statement”);<br>
                (f)  If Hauler commits any default or breach under any other agreement between Hauler and OTS;<br>
                (g)  If Hauler engages a Subcontractor who has an unresolved default contrary to Section 2.3(c);<br>
                (h)  If Hauler conspires or colludes with or assists any other person in making any False Statement to OTS or obtain under false pretenses the payment of any amount from OTS;<br>
                (i)  If Hauler fails to comply with any applicable law affecting the Hauler’s operation;<br>
                (j)  If Hauler is convicted of an offense under the Environmental Protection Act (Ontario);<br>
                (k)  If Hauler becomes insolvent or bankrupt or subject to the Bankruptcy and Insolvency Act (Canada) or the Companies Creditors Arrangement Act (Canada), or goes into winding-up or liquidation, either voluntarily or under an order of a court of competent jurisdiction, or makes a general assignment for the benefit of its creditors or otherwise acknowledges itself insolvent;<br>
                (l)  If any execution, sequestration, extent, or any other process of any court becomes enforceable against Hauler or if a distress or analogous process is levied on the property and assets of the Hauler; or<br>
                (m)  any proceedings shall be commenced for the winding-up, dissolution or liquidation of the Hauler or under which the Hauler could lose its corporate status, such proceedings not being bona fide opposed by the Hauler within five days of the date of commencement or service on the Hauler.<br>
                7.2  Repayment of Payments Based on False Statements. Hauler acknowledges and agrees that:<br>
                (a)  if any Transportation Incentives are paid to Hauler as a result of or in connection with any False Statement of the Hauler or any other person, in OTS’s sole determination, Hauler shall forthwith upon demand repay the full amount of such payments to OTS, together with an amount equal to 10 per cent thereof as a reasonable pre-estimate of OTS’s liquidated damages and administrative expenses arising therefrom; and<br>
                (b)  if any payment or incentive of any kind, including without limitation any Transportation Incentive, is paid by OTS to any third party as a result of or in connection with any False Statement of the Hauler, in OTS’s sole determination, Hauler shall forthwith upon demand reimburse OTS for the full amount of such payments, together with an amount equal to 10 per cent thereof as a reasonable pre-estimate of OTS’s liquidated damages and administrative expenses arising therefrom.<br>
                Amounts payable by Hauler in accordance with this Article are collectively “Repayment Amounts”. OTS may, its sole discretion, waive all or a portion of any Repayment Amount.<br>
                7.3  Set-off. Hauler agrees that OTS may set off Repayment Amounts owing by Hauler to OTS against any future payments of Transportation Incentives with respect to Used Tire Pickup or Processor Delivery by Hauler, or any other amount of any kind to Hauler under this Agreement or any other agreement between Hauler and OTS. If such future payment amounts are insufficient to recoup Repayment Amounts owed by Hauler to OTS, Hauler agrees that such Repayment Amounts are recoverable from Hauler as liquidated damages.<br>
                7.4  Consequences of Default. Immediately following any Act of Default, OTS may, in its sole and absolute discretion, do any, some or all of the following by written notice to the Hauler:<br>
                (a)  suspend payment of all incentives and other amounts hereunder, with immediate effect, until the Act of Default is resolved to OTS’s satisfaction;<br>
                (b)  require Hauler to pay any Repayment Amount arising in connection with an Act of Default;<br>
                (c)  terminate this Agreement, with immediate effect;<br>
                (c)(d)  include the Hauler on a published list of persons having unresolved defaults under agreements with OTS, until the Act of Default is resolved to OTS’s satisfaction; or<br>
                (d)(e)  exclude Hauler from future participation in the Used Tires Program in any capacity, on a temporary or permanent basis.<br><br>
                ARTICLE 8<br>
                TERM &amp; TERMINATION<br>
                8.1  Term. This Agreement shall commence on the Effective Date and continue thereafter until terminated as provided for herein.
                8.2  Termination by OTS. OTS may immediately terminate this Agreement by written notice to the Hauler, in addition to any other remedies available at law or in equity, in any of the following events:<br>
                (a)  if the Hauler commits an Act of Default;<br>
                (b)  if the Plan is terminated by the Minister or any other governmental authority, or the program agreement between OTS and WDO is terminated, provided that prior notice of such termination is communicated to the Hauler as soon as it is available;<br>
                (c)  if the Hauler transfers by sale, assignment, bequest, inheritance, by operation of law or other disposition, or shares issued by subscription or allotment, or shares cancelled or redeemed, so as to result in a change in the effective voting or other control of the Hauler from the person or persons holding control on the date of execution of this Agreement without the written consent of OTS, such consent not to be unreasonably withheld; or<br>
                (d)  in the event any other legal proceeding involving the Hauler is instituted that in the reasonable opinion of OTS materially impairs the ability of the Hauler to discharge its obligations hereunder.<br>
                8.3  Termination for Convenience. Either Party may terminate this Agreement for convenience upon 90 days’ written notice to the other Party.<br>
                8.4  Reports Following Termination. Following Termination, Hauler agrees that it will submit any Reports required hereunder with respect to any Used Tire Pickup or Processor Delivery occurring before the Termination of this Agreement.<br>
                8.5  Incentive Payment Following Termination.<br>
                (a)  In the event of termination by OTS where Hauler has committed an Act of Default, OTS may in its sole and absolute discretion cancel all payments of Transportation Incentives which are pending as of the date on which notice of termination is given or which may arise at any time thereafter.<br>
                (b)  Upon termination of this Agreement, provided that payment has not been cancelled by OTS in accordance with Section 8.5(a), OTS shall continue to pay Transportation Incentives with respect to services performed before the termination of this Agreement (notwithstanding that claims for such services may be submitted to OTS after or termination of this Agreement).<br><br>
                ARTICLE 9<br>
                INDEMNITY &amp; INSURANCE<br>
                9.1  Indemnity. The Hauler covenants and agrees with OTS to indemnify and hold harmless OTS, its directors, officers, employees and agents against all costs, charges, expenses, legal fees and any other losses or claims which OTS may hereinafter suffer, sustain or may incur or be compelled to pay as a result of any performance or non-performance by Hauler of its obligations hereunder, or any claim, action or proceeding which is brought, prosecuted or threatened against OTS, its directors, officers, employees and agents for any act, deed or omission of the Hauler related in any way to Culled Used Tires or arising from the breach of this Agreement, the Plan, or any applicable law.<br>
                9.2  Release. The Hauler, for itself, its successors and assigns, agrees to release OTS and its officers, directors, employees and agents from all manners of action, causes of action, claims, demands, losses, damages, charges, expenses and the like, of any nature whatsoever which the Hauler ever had, now has or hereafter can, shall or may have against OTS and its officers, directors, employees and agents related in any way to Culled Used Tires or arising out of or in connection with this Agreement provided that all acts, deeds or omissions or the alleged acts, deeds or omissions in respect of which any action, cause of action, claim, demand, loss, damage, charge, expense and the like is based or performed in good faith, and when not performed or omitted to be performed fraudulently or in bad faith by OTS, its directors, officers, employees or agents.<br>
                9.3  Insurance. Hauler shall maintain comprehensive “occurrence” general liability insurance, including personal injury liability, property damage, contractual liability insurance and employer’s liability coverage, with minimum limits of liability of $2,000,000, containing a severability of interests and cross-liability clause, and deliver to OTS on request a certificate thereof with OTS named as an additional insured thereon.<br><br>
                ARTICLE 10<br>
                NO OTS LIABILITY FOR USED TIRES<br>
                10.1  Exclusion of Liability. Hauler acknowledges and agrees that at no time shall OTS take possession of any Used Tires and that OTS shall not, in any event, be liable under any theory of liability to Hauler, the previous owner(s) or user(s) of any Used Tires or any other party or parties for any damages, losses, expenses, liabilities and/or other amounts of any nature or kind whatsoever, including without limitation, any direct, indirect, incidental, special, consequential, exemplary and/or punitive damages, arising out of or related to any loss, improper use, improper culling, improper disposal or environmental degradation resulting, proceeding or connected in any way to Used Tires.<br><br>
                ARTICLE 11<br>
                PUBLICATION OF INFORMATION<br>
                11.1  Publication of Information. The Hauler understands that its name, main contact information, and the registration number assigned to it by OTS, as well as information regarding the Hauler’s operation, may be published by OTS on OTS’s website or other publically-accessible websites. OTS will take commercially reasonable and appropriate precautions to maintain the confidentiality of information in its database, but will not be liable to the Hauler, or anyone claiming by, through or under it, for any losses, claims and damages arising out of negligent disclosure of any confidential information.<br>
                11.111.2  Release of Information Following Act of Default. The Hauler agrees that, in the event the Hauler commits an Act of Default, OTS may publish its name and registration number on a list of persons with unresolved defaults, as described in Section 7.4(d), and may release details of the Act of Default to any Program Participant who may be affected thereby.<br><br>
                ARTICLE 12<br>
                MODIFICATIONS TO PLAN &amp; INCENTIVE STRUCTURE<br>
                12.1  Modifications to Plan. The parties agree and understand that the Plan may be revised from time to time without the input or consent of the Hauler, and the Hauler shall be bound by each revised version of the same as each revision may be issued, as though each was set out herein and formed a contractual obligation upon the Hauler and the Hauler covenants and agrees to abide by, comply with and satisfy such revised Plan.<br>
                12.2  Notice. In the event of the Plan or any part of it being cancelled or altered, then OTS shall issue notice to that effect.<br>
                12.3  Modification of Incentives. The incentives payable and the payment schedule implemented by OTS may be modified from time to time. All changes will be posed on OTS’s internet web site no less than 60 days before the effective date of such change.<br><br>
                ARTICLE 13<br>
                GENERAL<br>
                13.1  Assignment. The parties hereby agree that the Hauler’s rights under this Agreement are not assignable or transferable, in any manner, without the prior written consent of OTS, which consent may not be unreasonably withheld.<br>
                13.2  Agreement Binding. This Agreement shall enure to the benefit of and be binding on the parties, their heirs, legal personal representatives, successors and permitted assigns.<br>
                13.3  Dispute Resolution. The parties agree that in the event of a dispute between them with respect to the terms or performance of this Agreement then such dispute shall first be subject to Mediation under Appendix 12 in the Plan, “Mediation Guidelines”, and if such dispute is not able to be resolved through mediation, then it shall be subject to arbitration under Appendix 13 in the Plan, “Arbitration Guidelines”.<br>
                13.4  Notices. Any notice, determination, consent, request or other communication from one party to the other or others or other documents required or which may be given under this Agreement may be delivered or transmitted by means of electronic communication with confirmation of transmission, personal service, facsimile with confirmation of transmission or by prepaid first class postage to the party at the addresses, in the case of the Hauler at the address on the registration form completed by the Hauler and in the case of OTS at the address noted at the top of page 1 of this Agreement, to the attention of the “Executive Director”. Such notifications shall be deemed to have been received on the third day after posting and on the first day after the date of electronic or facsimile transmission, in each case which is not a Saturday, Sunday or public holiday in Ontario. In the event of a postal disruption, notices must be given by personal delivery, e-mail or by a signed back facsimile and all notices delivered by post within one week prior to the postal disruption must be confirmed by a signed back facsimile to be effective.<br>
                13.5  Independent Contractors. The Parties hereto are and shall at all times in the performance of this Agreement be independent contractors and neither Party shall have the authority to assume or create any obligations expressed or implied, in the name of the other Party, nor to contractually bind the other Party in any manner whatsoever.<br>
                13.6  Amendment. OTS retains the right to revise or amend this Agreement. OTS will give notice to the Hauler of such change (the “Change Notice”). Unless the Hauler gives notice to OTS (the “Rejection Notice”) within 45 days of receipt of the Change Notice that the Hauler does not accept the revisions or amendments in the Change Notice, this Agreement, as amended, remains in effect and is binding. If the Hauler gives a Rejection Notice to OTS, this Agreement shall be terminated 30 days after the delivery by the Hauler of the Rejection Notice and the Approved Collection Site will forgo its approval status and not be compensated under the OTS program.<br>
                13.7  Waiver. No failure by any of the parties to insist on strict performance of any covenant, agreement, term or condition (the “provision”) of this Agreement, or to exercise any right or remedy consequent on the breach of any provision, and no acceptance of partial payment during the continuance of any such breach, shall constitute a waiver of any such breach or provision. No waiver of any breach shall affect or alter this Agreement, but each and every provision of this Agreement shall continue in full force and effect with respect to any other then existing or subsequent breach of such provision.<br>
                13.8  Severability. If any provision of this Agreement or the application of the provision to any circumstances shall be held to be invalid or unenforceable, then the remaining provisions of this Agreement or the application of them to other circumstances shall not be affected by the invalidity or unenforceability and shall be valid and enforceable to the fullest extent permitted by law.<br>
                13.9  Entire Agreement. This Agreement constitutes the entire agreement among the parties with respect to its subject matter and supersedes all prior and contemporaneous agreements, understandings, negotiations and discussions, whether oral or written, of the parties. There are no warranties, representations or other agreements among the parties in connection with the subject matter of this Agreement, except as specifically set forth in it. Except as specifically provided herein, no supplement, modification, waiver or termination of this Agreement shall be binding unless executed in writing by the parties to be bound by it.<br>
                13.10  Remedies. No remedy herein conferred upon or reserved in favour of any party hereto shall exclude any other remedy herein or existing at law or in equity or by statute, but each shall be cumulative and in addition to every other remedy given hereunder or now or hereinafter existing.<br>
                13.11  Force Majeure. Neither party shall be liable for delay or failure in performance resulting from acts beyond the control of such party, including but not limited to Acts of God, acts of war, riot, fire, flood or other disaster, acts of government, strike, lockout or communication line or power failure.<br>
                13.12  Governing Law. This Agreement shall be construed and enforced in accordance with, and the rights of the parties shall be governed by, the laws in force in the Province of Ontario.<br>
                13.13  Headings. The headings used throughout this Agreement are solely for convenience of the parties and are not to be used as an aid in the interpretation of this Agreement.<br>
                13.14  Time of Essence. Time shall be of the essence of this Agreement and every part of it.<br>
                13.15  Survival. All provisions of this Agreement which are expressed or which by their nature are intended to survive termination of this Agreement shall survive termination, and continue to bind the parties.<br>
                13.16  Electronic Commerce. Any execution or amendment of this agreement which is conducted electronically by any of the parties is made in accordance with and governed by the Electronic Commerce Act, 2000, (Ontario). If this Agreement is executed on behalf of any party electronically, the natural person who selects the “Agree” button at the bottom of the “Agreement Ratification” page on OTS’s web site on behalf of the executing party certifies that by selecting the “Agree” button, the natural person represents and warrants that he or she is at least eighteen years of age, and has been duly appointed with the authority to bind the executing party.<br>
            </p>
        </div><!--/.termsandconditions-->
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-4 col-md-offset-2">

            <label>@UIResource.TermsAndConditionsApplicationELECTRONICSIGNATURE</label>
            <div class="termsandconditions-signature has-feedback has-required">

                <label class="control-label">
                    @Html.CheckBox("cbAgreementAcceptedByFullName",
                    !isInvalid.Contains(string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.AgreementAcceptedByFullName).ToString())),
                             ExtensionMethods.ConditionalDisable(isReadOnly, new { @class = "validation-checkbox no-validate", data_att_chkbox = string.Format("{0}.{1}", prefix, @Html.GetPropertyName(p => p.AgreementAcceptedByFullName).ToString()) }))
                   @UIResource.TermsAndConditionsApplicationEnterYourFullName
                </label>
                @Html.TextBoxFor(model => model.AgreementAcceptedByFullName, new { @class = "form-control", data_signature = "true", maxlength = "50", placeholder = "" }, isReadOnly)
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="checkbox checked termsandconditions-checkbox">
            <label>
                @Html.CheckBox("AgreementAcceptedCheck", Model.AgreementAcceptedCheck.HasValue ? Model.AgreementAcceptedCheck.Value : false, ExtensionMethods.ConditionalDisable(isReadOnly, new { }))
            </label>
            <label class="no-cursor">
                @UIResource.TermsAndConditionsApplicationIHaveTheAuthorityTo
            </label>
        </div>
    </div>
</div><!--/.row-->