﻿@model List<CL.TMS.DataContracts.DomainEntities.Item>

    <div class="row" id="item_checkbox">
    @{
        /*
                //TODO: Need to refactor and make it database driven. Probably add a new column called LongDescription in Items Table
                */

        Dictionary<string, string> details = new Dictionary<string, string>()
               {
                   {"PLT", "<p>The Passenger and Light Truck tires weight an estimate of <strong>10kg</strong>.</p>" +
                       "<p><strong>Passenger Tires</strong> are designed for use on passenger cars, light trucks, small " +
                       "Rvs and multipurpose passenger vehicles (MPVs), including sport utility vehicles (SUVs) and crossover " +
                       "utility vehicles (CUVs) and to comply with Canadian Motor Vehicle Safety Standards (CMVSS No. 109).</p> " +
                       "<p><strong>Light Truck Tire</strong> category is tires designed for use on consumer or commercial light trucks, " +
                       "under 10,000lbs. Gross Vehicle Weight, and comply with CMVSS No. 119.</p> " +
                       "<p>There are marked indicators located on the sidewall of a Passenger and Light Truck tire. The indicators are as follows: " +
                       "</p><p><strong>(P)</strong> Indicates Passenger " +
                       "</p><p><strong>(LT)</strong> indicates Light Truck " +
                       "</p><p><strong>(T)</strong> Indicates temporary tire (spare tire) " +
                       "</p><p>On road Passenger and Light truck tires (PLT) also include but is not limited to;" +
                       "</p><ul>" +
                       "<li>Small Recreational vehicles (RV), ST trailer, Motorcycles, Motorcycle Side Cars, Mopeds, Motor Bikes, Mini-cycles, Golf Carts and ATV’s</li>" +
                       "<li>Temporary Spare Tires</li>" +
                       "<li>Free-Rolling Farm tires includes free rolling farm and implement tires up to 16” rim size used on farm equipment.</li>" +
                       "<li>Pneumatic Forklift, Small Utility, Bobcat/Skid Steer, Small Industrial, with a rim diameter of 16”rim size and under.</li>" +
                       "<li>Solid resilient industrial forklift tires with a rim diameter less than or equal to 8”</li>" +
                       "</ul>" +
                       "<p></p>"},
                    {"MT","<p>The Agricultural Drive and Lodger Skidder tires weight an estimate of <strong>60kg</strong>.</p> " +
                          "<p>Agricultural Drive and Lodger Skidder tires includes drive wheel tires used on tractors and combines and tree harvesting equipment with a rim side up to 16.5”.</p>" +
                          "<p>There are marked indicators located on the sidewall on the tires. The indicators are as follows:<br>" +
                          "<strong>(R)<br>" +
                          "(HF)<br>" +
                          "(LS)</strong></p>"},

                    {"AGLS","<p>The Agricultural Drive and Lodger Skidder tires weight an estimate of <strong>60kg</strong>.</p>" +
                            "<p>Agricultural Drive and Lodger Skidder tires includes drive wheel tires used on tractors and combines and tree harvesting equipment with a rim side up to 16.5”.</p>" +
                            "<p>There are marked indicators located on the sidewall on the tires. The indicators are as follows:<br>" +
                            "<strong>(R)<br>" +
                            "(HF)<br>" +
                            "(LS)</strong></p>"
                    },
                    {"IND","<p>The Industrial tires weight an estimate of <strong>40kg</strong>.</p>" +
                           "<p>Industrial Tires are designed for pneumatic Forklift Tires, BobCat/Skid Steer Tires measuring greater than 16” and over.</p>"
                    },
                    {"SOTR","<p>The Small Off the Road tires weight an estimate of <strong>120kg</strong>.</p>" +
                            "<p>Small Off the Road Tires are designed for small equipment vehicles. The SOTR tires rim diameter ranges from 1300R24 to 23.5R25.</p>"
                    },
                    {"MOTR","<p>The Medium Off the Road tires weight an estimate of <strong>580kg</strong>.</p>" +
                            "<p>Medium Off the Road Tires are designed for Medium equipment vehicles. The MOTR tires rim diameter ranges from 23.5R25 to 33”.</p>"
                    },
                    {"LOTR","<p>The Large Off the Road tires weight an estimate of <strong>740kg</strong>.</p>" +
                            "<p>Large Off the Road Tires are designed for Large equipment vehicles. The LOTR tires rim diameter ranges from 33” and up to including 39”</p>"
                    },
                    {"GOTR","<p>The Giant Off the Road tires weight an estimate of <strong>1560kg</strong>.</p>" +
                            "<p>Giant Off the Road Tires are designed for Giant equipment vehicles. The GOTR tires rim diameter over 39”</p>"
                    }
               };

        int count = 0;
        string startingCheckBox = "<div class='checkbox'>";
        string startingHTML = "<div class='col-md-4'>";
        string endingHTML = "</div>";

        @Html.Raw(startingHTML);
        if (@Model != null)
        {
            foreach (var item in Model)
            {
                if (count % 3 == 0 && count != 0)
                {
                    @Html.Raw(startingCheckBox);
                    <label>

                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@(string.Format("chb_{0}", item.Name.Trim()))' data-myattri='@(string.Format("{0}",item.ShortName.Trim()))' />
                   
                        @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                        <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", item.ShortName.Trim())" data-placement="auto" title='@string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())'></i>
                        <div id="@string.Format("{0}{1}", "tiredetailsPopover", item.ShortName.Trim())" style="display:none;">
                            @{
                                if(details.ContainsKey(item.ShortName.Trim()))
                                {
                                    @Html.Raw(details[item.ShortName.Trim()]);
                                }
                            }
                        </div>
                    </label>
                    @Html.Raw(endingHTML);
                    @Html.Raw(endingHTML);
                    @Html.Raw(startingHTML);
                    }
                    else
                    {
                    @Html.Raw(startingCheckBox);
                    <label>
                    @{
                        <input type="checkbox" value="@(item.ID.ToString())" id='@(string.Format("chb_{0}",item.ID.ToString()))' name='@(string.Format("chb_{0}", item.Name.Trim()))' data-myattri='@(string.Format("{0}",item.ShortName.Trim()))' />
                    }
                    @string.Format("{0} ({1})", item.Name.Trim(), item.ShortName.Trim())
                    <i class="@string.Format("{0}{1}", "fa fa-question-circle tiredetailsPopover", item.ShortName.Trim())" data-placement="auto" title='@string.Format("{0}", item.Name.Trim())'></i>
                    <div id="@string.Format("{0}{1}", "tiredetailsPopover", item.ShortName.Trim())" style="display:none;">
                    @{
                        if (details.ContainsKey(item.ShortName.Trim()))
                        {
                        @Html.Raw(details[item.ShortName.Trim()]);
                        }
                        }
                    </div>
                    </label>
                    @Html.Raw(endingHTML);
                }
                count++;
              }
          }

        @Html.Raw(endingHTML);
}
</div>