﻿@model CL.TMS.DataContracts.DomainEntities.Vendor
@using CL.TMS.Common.Enum
@using CL.TMS.Common
@using CL.TMS.UI.Common.UserInterface
<div class="row">
    <div class="col-md-6">
        <div class="form-group has-required has-feedback col-md-10">
            <label for="processorrelationship"><input type="checkbox" class="validation-checkbox" data-validate-message="Invalid relationship with existing OTS Processor" checked=""> @UIResource.ParticipantTireDetailsDoYouHaveReleation</label>
            <div class="radio">
                @Html.RadioButtonFor(model => model.HHasRelatioshipWithProcessor, false)<label>@UIResource.Yes</label><br />
                @Html.RadioButtonFor(model => model.HHasRelatioshipWithProcessor, true) <label>@UIResource.ParticipantTireDetailsRadioBtnYes</label>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="ProcessDiv">
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>@UIResource.CommonWordProcessor</label><br>
                <div class="dropdown">
                    @Html.DropDownListFor(m => m.HRelatedProcessor, new SelectListItem[]{
                    new SelectListItem() {Text = "Processor 1", Value="1"},
                    new SelectListItem() {Text = "Processor 2", Value="2"},
                    new SelectListItem() {Text = "Processor 3", Value="3"},
                    new SelectListItem() {Text = "Processor 4", Value="4"},
                    new SelectListItem() {Text = "Processor 5", Value="5"}},
                    "Select Processor", new { @class = "form-control" })  
                </div>                
            </div>
        </div><!--/.row-->
    </div>
</div>