﻿
@{
    ViewBag.Title = "AdminEmptyPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool loadTopMenu = ViewBag.loadTopMenu;
}

@if (!loadTopMenu)
{
    <h2 id="emptyPageTitleId">Welcome to New TreadMarks system - Admin Section</h2>
}
else
{
    <h2 id="emptyPageTitleId">Loading...</h2>
}
<input type="hidden" id="refresh" value="no">
<script>
    $(document).ready(function (e) {
        var $input = $('#refresh');

        $input.val() == 'yes' ? location.reload(true) : $input.val('yes');

        try {
            if (JSON.parse('@loadTopMenu.ToString().ToLower()')) {
                var navBtns = $('#sidebar-nav > ul > li[data-uac!="Custom NoAccess"]');
                if (navBtns.first().length === 0) {
                    $('#emptyPageTitleId').text('Welcome to New TreadMarks system');
                } else { //OTSTM2-974 add logic for submenus
                    if (navBtns.first()[0].firstElementChild.getAttribute('href') != "#" && navBtns.first()[0].firstElementChild.getAttribute('href') != "") {
                        window.location.href = navBtns.first()[0].firstElementChild.getAttribute('href');
                    }
                    else {
                        var subNavBtns = $('#sidebar-nav > ul > li[data-uac!="Custom NoAccess"] > ul > li');
                        if (subNavBtns.first().length === 0) {
                            $('#emptyPageTitleId').text('Welcome to New TreadMarks system');
                        }
                        else {
                            window.location.href = subNavBtns.first()[0].firstElementChild.getAttribute('href');
                        }
                    }
                }
            }
        }
        catch (err) {
            console.log('err.message:', err.message);
        }
    });
</script>

