﻿body {
    font-family: 'Montserrat', Arial,sans-serif;
    font-size:1em;
}

.table {
    border-collapse:collapse;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-weight: bold;
}

.header th {
    padding: 5px 10px;
}

.table tr td {
    padding: 5px;

}

.row {
}
.row-alt {
    background-color:#CCCCCC;
    opacity:0.8;
}

.row-edit {
    display: none;
}

.pager {
    border: 1px solid #666;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    min-width: 20px;
}
.pager-panel {
    display:inline-block;
    vertical-align:middle;
}