﻿<div class="panel panel-default margin-top-20">
    <div class="panel-heading" role="tab" id="panelTransactions-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelTransactions-collapseOne" aria-expanded="true" aria-controls="panelTransactions-collapseOne" class="panel-arrow-expand">
                <span id="transactionListName">All DOT Transactions</span>  <i id="export" class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                @*<button type="button" class="btn btn-danger btn-xs comp-all-transactions-newrefresh-inline"> 14 New <i class="fa fa-refresh color-tm-gray" title="Refresh"></i></button>*@
            </a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="search" type="text" class="form-control" placeholder="Search">
            <div id="found" class="subcomp-search-found"></div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
        </div>
    </div>
    <div id="panelTransactions-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelTransactions-headingOne">
        <div class="panel-body">
            <div class="table-responsive">
                @Html.Partial("_HaulerStaffTransactionsList")
            </div>
        </div>
    </div>
</div>