﻿@using CL.TMS.Resources

<script type="text/ng-template" id="rtrTireMarket.html">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" cl-show-errors>
                <label>Market Location</label>
                <select class="form-control" name="marketLocation" ng-model="tireMarket.location" ng-change="tireMarketLocationChange()">
                    <option value="Canada: Ontario">Canada: Ontario</option>
                    <option value="Canada: Not Ontario">Canada: Not Ontario</option>
                    <option value="USA">USA</option>
                    <option value="Other">Other Country</option>
                </select>
            </div>
            <div class="form-group" cl-show-errors ng-if="tireMarket.location == 'Other'">
                <select class="form-control" name="marketLocationOther" ng-model="tireMarket.locationOther" required ng-options="country for country in countryList | filter: filterOutCanadaAndUSA">
                    <option value="">Please Select</option>
                </select>
                <span class="help-block" ng-if="form.marketLocationOther.$error">Should select other market location</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" cl-show-errors>
                <label>Type of used tire market</label>
                <div class="radio" style="margin-top:0">
                    <label><input type="radio" name="tireMarketType" ng-model="tireMarket.type" value="1"> For Sale</label>
                    &nbsp;
                    <label><input type="radio" name="tireMarketType" ng-model="tireMarket.type" value="2"> Retread</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" cl-show-errors ng-show="tireMarket.location == 'USA'">
                <label>Bill of Lading</label>
                <input type="text" name="billofLoading" ng-model="tireMarket.billofLoading" class="form-control" ng-required="tireMarket.location == 'USA'">
                <span class="help-block" ng-if="form.billofLoading.$error">Required</span>
            </div>
            <span ng-if="tireMarket.location != 'USA'">&nbsp;</span>
        </div>
    </div>   
</script>