﻿@using CL.TMS.Resources

<script type="text/ng-template" id="stcEventNumber.html">
    <div class="form-group" cl-show-errors>
        <label>Event #</label>
        <input type="text" name="eventNumber" ng-model="eventNumber" class="form-control" placeholder="" numbers-only required validate-event-number ng-disabled="adjustFlag == 'isAdjust'"> @*OTSTM2-1214 adjustFlag*@
        <span class="help-block" ng-if="form.eventNumber.$error">Should be at least five digits</span>
        <!--OTSTM2-1214-->
        <span class="event-number-validity" ng-if="eventNumberValidationCondition == 'NotExisting'">Event number does not exist.</span>
        <span class="event-number-validity" ng-if="eventNumberValidationCondition == 'IsInUse'">Event number is already in use.</span>
        <span class="event-number-validity" ng-if="eventNumberValidationCondition == 'NotInDateRange'">Event number does not exist.</span>
        <span class="event-number-validity" ng-show="dateValidation">Unable to validate. Select the date</span> <!--OTSTM2-1215-->
    </div>
</script>