﻿@model CL.TMS.DataContracts.ViewModel.Hauler.HaulerRegistrationModel
@using CL.TMS.Common
@using CL.TMS.Common.Enum
@using CL.TMS.UI.Common.UserInterface
@using CL.TMS.Security.Authorization;
@using CL.TMS.Configuration
@using System.Security.Claims

@{
    ViewBag.Title = "StaffIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isReadOnly = false;
    if (Model != null)
    {
        switch (Model.Status)
        {
            case ApplicationStatusEnum.Submitted:
            case ApplicationStatusEnum.Assigned:
            case ApplicationStatusEnum.OnHold:
            case ApplicationStatusEnum.Approved:
            case ApplicationStatusEnum.BankInformationSubmitted:
            case ApplicationStatusEnum.BankInformationApproved:
            case ApplicationStatusEnum.Completed:

                isReadOnly = false;
                break;
            default:
                isReadOnly = true;
                break;
        }

    }

    if (SecurityContextHelper.IsParticipant())
    {
        isReadOnly = true;
    }
    var invalidList = Model != null ? Model.InvalidFormFields as IList<string> : new List<string>();

    string invalidListStr = string.Join(",", invalidList.ToArray());
    invalidListStr = "\"" + invalidListStr.Replace(",", "\",\"") + "\"";
    var localtime = Convert.ToDateTime(Model.SubmittedDate).ToLocalTime();

    var statusStr = Model != null ? Model.Status.ToString() : String.Empty;

    //since I am using jQuery validation plugin; settings client validation to false
    HtmlHelper.ClientValidationEnabled = false;
    var guidStr = HttpContext.Current.Request.QueryString["id"];
    var dateTimeFormat = TreadMarksConstants.DateFormatJavascriptDateTimePicker;

    bool isParticipant = false;
    if (!CL.TMS.Security.Authorization.SecurityContextHelper.IsStaff())
    {
        isParticipant = true;
    }

    var IsBankingResource = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationBankingInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly;

    var ResendWelcomeLetter = ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationResendWelcomeLetter);
    var IsResendWelcomeLetterReadonly = ResendWelcomeLetter == CL.TMS.Security.SecurityResultType.ReadOnly;

    var user = HttpContext.Current.User as ClaimsPrincipal;
    var rolePermissionsClaims = user.Claims.Where(c => c.Type == TreadMarksConstants.RolePermissions && c.Value.StartsWith("Applications_Hauler")).ToList();
    var IsAnyPanelEditSave = ApplicationHelper.IsAnyPanelEditSave(rolePermissionsClaims);
    var IsAllPanelEditSave = ApplicationHelper.IsAllPanelEditSave(rolePermissionsClaims);

    var IsHaulerAutoSaveDisabled = ApplicationHelper.IsHaulerAutoSaveDisabled(rolePermissionsClaims);

    //Save Btn
    var IsDisableSaveBtn = !IsAnyPanelEditSave;
    var IsDisableCancelBtn = !IsAnyPanelEditSave;

    //routing check doesnt apply for open status application
    //at least one panel should be edit save
    //==========check if application is assigned to the applicant ==================
    var currentUser = SecurityContextHelper.CurrentUser;

    var IsDisableWorkFlowBtn = true;
    var HideWorkFlow = true;
    if (Model.AssignToUserId == currentUser.Id)
    {
        HideWorkFlow = false;
        var IsHaulerRouting = SecurityContextHelper.HaulerApplicationsWorkflow != null ? SecurityContextHelper.HaulerApplicationsWorkflow.Routing : false;
        IsDisableWorkFlowBtn = !IsHaulerRouting || !IsAllPanelEditSave;
    }

    //OTSTM2-865/902
    var ActiveInactiveResource = CL.TMS.Configuration.ApplicationHelper.CheckSecurityForActiveInactive(ApplicationTypes.Hauler);
    var isResourceReadOnly = ActiveInactiveResource == CL.TMS.Security.SecurityResultType.ReadOnly;
    var IsApprovedApplication = statusStr == ApplicationStatusEnum.Approved.ToString() || statusStr == ApplicationStatusEnum.BankInformationSubmitted.ToString() || statusStr == ApplicationStatusEnum.BankInformationApproved.ToString();
}

@Styles.Render("~/css/jquery-webui-popover")

@section styles {
    @Styles.Render("~/css/datetimepicker")
    <link href="~/css/cube/datatable_styles.css?v=@ViewBag.versionid" rel="stylesheet" />

    <style>
        a.sort {
            color: #000;
        }

        .sort {
            padding: 0 5px;
        }

        .subcomp-search input:focus {
            visibility: visible;
        }

        table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
            text-align: center;
        }

        /*.panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 140px;
            position: absolute;
            top: 11px;
            width: 25px;
        }*/

        .panel-default > .panel-heading a.export,
        .panel-default > .panel-heading a.export:hover {
            background: none;
            left: 120px;
            position: absolute;
            top: 11px;
            width: 25px;
            margin-left: 10px;
        }

        /*OTSTM2-550*/
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>

}

@section pageHeader
{
    <!-- Component: Transactions Header -->
    <div id="fixedClaimHeader" class="row comp-claims-header fixed-claim-header">
        <div class="col-xs-7 col-sm-6">
            <h2 class="fixed-claim-header-title">
                Hauler Application
            </h2>
        </div>
        <div class="col-xs-5 col-sm-6">
            @{
                if (SecurityContextHelper.IsStaff() && ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationActiveInactive) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    @Html.Partial("_ActiveInactivePartial", Model.ActiveInactive, new ViewDataDictionary() { { "Type", ApplicationTypes.Hauler } });
                }
            }
            <div class="btn-group btn-toggle" id="showApprovedItem"></div>
            <div class="popoverParticipantInfo" data-placement="auto">
                <div class="sub-header-registrantinfo fixed-claim-header-registrantinfo">@(Model.RegistrationNumber == 0 ? "" : Model.RegistrationNumber.ToString())</div>
                <div class="@(IsApprovedApplication ? "sub-header-companyname fixed-claim-header-companyname" : "sub-header-companyname fixed-claim-header-companyname-unregistered" )">@(Model.BusinessLocation == null ? "" : Model.BusinessLocation.OperatingName)</div>
                <div id="popoverParticipantInfo" style="display: none;">
                    <p>
                        <strong>Business Address</strong><br>
                        @(Model.BusinessLocation.BusinessAddress.AddressLine1 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine1.ToString()), @(Model.BusinessLocation.BusinessAddress.AddressLine2 == null ? "" : Model.BusinessLocation.BusinessAddress.AddressLine2.ToString())<br>
                        @(Model.BusinessLocation.BusinessAddress.City == null ? "" : Model.BusinessLocation.BusinessAddress.City.ToString()), ON @(Model.BusinessLocation.BusinessAddress.Postal == null ? "" : Model.BusinessLocation.BusinessAddress.Postal.ToString())
                    </p>
                    <p>
                        <strong>Primary Contact</strong><br>
                        @(Model.ContactInformationList[0].ContactInformation.FirstName == null ? "" : Model.ContactInformationList[0].ContactInformation.FirstName.ToString()) @(Model.ContactInformationList[0].ContactInformation.LastName == null ? "" : Model.ContactInformationList[0].ContactInformation.LastName.ToString()) <br>
                        @(Model.ContactInformationList[0].ContactInformation.Email == null ? "" : Model.ContactInformationList[0].ContactInformation.Email.ToString())<br>
                        @(Model.ContactInformationList[0].ContactInformation.PhoneNumber == null ? "" : Model.ContactInformationList[0].ContactInformation.PhoneNumber.ToString())
                    </p>
                </div>
            </div>
        </div>
    </div>
  
}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { id = "ApplicationHaulerID" }))
{
    <input id="hfIsPdf" value="true" type="hidden" />
    <input id="invalidList" name="invalidList" type="hidden" />
    <input id="applicationId" name="applicationId" type="hidden" value='@Model.ID' />
    <input id="ID" type="hidden" value='@Model.ID' name="ID">
    <input id="status" type="hidden" value='@Model.Status' name="status" />
    <input type=hidden id="VendorID" class="VendorID" value='@Model.VendorID' name="VendorID">
    <input type="hidden" id="RegistrationNumber" class="RegistrationNumber" value='@Model.RegistrationNumber' name="RegistrationNumber" />
    @Html.HiddenFor(model => model.Status)
    <div class="panel-container-application">
        <div class="tm-all staff-all-application">

            <!-- Component: Submission Information -->
            @if (!isParticipant)
            {
                if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSubmissionInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default panel-margin-bottom-20" @*style="margin-top:70px"*@>
                                @Html.ApplicationSubmissionInfo(
                                    localtime,
                                    Model.BusinessLocation.OperatingName,
                                    string.Format("{0} {1}", @Model.TermsAndConditions.FormCompletedByFirstName, @Model.TermsAndConditions.FormCompletedByLastName),
                                    Model.BusinessLocation.BusinessAddress.AddressLine1,
                                    Model.BusinessLocation.Email,
                                    Model.UserIPAddress,
                                    Model.GetClientStatus(),
                                    (Model.Status == ApplicationStatusEnum.Approved
                                    || Model.Status == ApplicationStatusEnum.Resend
                                    || Model.Status == ApplicationStatusEnum.BankInformationSubmitted
                                    || Model.Status == ApplicationStatusEnum.BankInformationApproved
                                    || Model.Status == ApplicationStatusEnum.Completed) ? Model.CreatedDate.ToString(TreadMarksConstants.DateFormat) : string.Empty //OTSTM2-529
                                    )
                            </div><!--/.panel-->
                        </div>
                    </div>
                }

                if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationInternalNotes) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    <div class="row">
                        <!-- Component: Internal Notes -->
                        <div class="col-md-12">
                            <div class="panel panel-default panel-margin-bottom-20">
                                @{
                                    switch (Model.Status)
                                    {
                                        case ApplicationStatusEnum.Approved:
                                        case ApplicationStatusEnum.BankInformationSubmitted:
                                        case ApplicationStatusEnum.BankInformationApproved:
                                        case ApplicationStatusEnum.Completed:
                                            @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "VendorID", Model.VendorID }, { "isVendor", true }, { "isCustomer", false }, { "Type", ApplicationTypes.Hauler }, { "versionid", ViewBag.versionid } })
                                            break;
                                        default:
                                            @Html.Partial("_InternalNotesPartial", new ViewDataDictionary() { { "view", "Staff" }, { "ApplicationID", Model.ID }, { "isVendor", false }, { "isCustomer", false }, { "Type", ApplicationTypes.Hauler }, { "versionid", ViewBag.versionid } })
                                            break;
                                    }
                                }
                            </div><!--/.panel-->
                        </div>
                    </div>
                }
            }
            <form></form> <!--this is the dummy one-->
            <div class="panel-group comp-register-all-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Panel Group -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationBusinessLocation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmBusinessLocation", style = "" }))
                    {
                        <!-- Component: Business Location -->
                            <div class="panel panel-default panel-margin-bottom-20" @*style="@(SecurityContextHelper.IsStaff() ? "margin-top: 0" : "margin-top: 85px")"*@>
                                @{
                                    var BusinessPartialData = ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.BusinessLocation), "Staff", Model.InvalidFormFields, isParticipant, Model.Status, ApplicationTypes.Hauler);
                                }

                                @Html.CustomPartial("_BusinessLocationPartial", Model, BusinessPartialData, "BusinessLocation")

                            </div>
                      
                                        }
                                    }
                    <!-- end form -->

                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationContactInformation) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmContactInfo", style = "" }))
                    {
                        <!-- Component: Contact Information -->
                            <div class="panel panel-default panel-margin-bottom-20">
                                @{
                                    var ContactInfoPartialData =
                                        CL.TMS.Configuration.ApplicationHelper.ToCommonPartialView(Html.GetExpressionText(p => p.ContactInformationList), "Staff", Model.InvalidFormFields, isParticipant, Model.Status, ApplicationTypes.Hauler);
                                }

                                @Html.CustomPartial("_ContactPartial", Model, ContactInfoPartialData, "ContactInformation")

                            </div>
                      
                                        }
                                    }


                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSortYardDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    <!-- Component: Sort Yard Details -->
                        <div class="panel panel-default panel-margin-bottom-20">
                            @Html.Partial("_SortYardDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                        </div>
                  
                    }



                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationTireDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTireDetails", style = "" }))
                    {
                        <!-- Component: Tire Details -->
                            <div class="panel panel-default panel-margin-bottom-20">
                                @Html.Partial("_TireDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                            </div>
                      
                        }
                    }

                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationHaulerDetails) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "", FormMethod.Post, new { id = "fmHaulerDetails", style = "" }))
                    {
                        <!-- Component: Hauler Details -->
                            <div class="panel panel-default panel-margin-bottom-20">
                                @Html.Partial("_HaulerDetailsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                            </div>
                      
                        }
                    }

                    @if (IsBankingResource && (Model.Status == ApplicationStatusEnum.BankInformationSubmitted || Model.Status == ApplicationStatusEnum.BankInformationApproved))
                    {

                        if (Model.BankingInformation.ReviewStatus == BankInfoReviewStatus.Submitted.ToString() || Model.BankingInformation.ReviewStatus == BankInfoReviewStatus.Approved.ToString())
                        {
                            using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "frmBankingInformation", style = "" }))
                            {
                                <div class="panel panel-default panel-margin-bottom-20">
                                    @Html.Partial("_BankingInfoPartial", Model.BankingInformation, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant } })
                                </div>
                          
                            }
                        }
                    }

                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationSupportingDocuments) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                  
                        using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmSupportingDoc", style = "" }))
                        {
                    <!-- Component: Supporting Documents -->
                            <div class="panel panel-default panel-margin-bottom-20">
                                @{
                                    var supportingDocumentPartialData = ApplicationHelper.ToSupportingDocumentPartialView("Staff", statusStr, Model.InvalidFormFields,
                                                                            (isParticipant ? false : true),
                                                                            (isParticipant ? false : ((SecurityContextHelper.IsStaff())) ? false : true),
                                                                            Html.GetExpressionText(p => p.SupportingDocuments), isParticipant);
                                }

                                @Html.CustomPartial("_SupportingDocPartialHauler", Model.SupportingDocuments, supportingDocumentPartialData, "SupportingDocument")

                            </div>
                    
                  
                                        }
                                    }

                    @if (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationTermsAndConditions) >= CL.TMS.Security.SecurityResultType.ReadOnly)
                {
                    using (Html.BeginForm("index", "Registration", FormMethod.Post, new { id = "fmTermsAndConditions", style = "" }))
                    {
                        <!-- Component: Terms and Conditions -->
                            <div class="panel panel-default panel-margin-bottom-20">
                                @Html.Partial("_TermsConditionsPartial", Model, new ViewDataDictionary() { { "view", "Staff" }, { "InvalidFormFieldList", Model.InvalidFormFields }, { "IsParticipant", isParticipant }, { "Type", ApplicationTypes.Hauler } })
                            </div>
                      
                        }
                    }

                </div>
                <!-- /Panel Group -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="help-block">
                            <em> Note that to complete the registration application, <strong>you need to have the authority to bind your corporation / business or have been granted to the authority to bind your corporation / business.</strong> Fields marked with <i class="glyphicon glyphicon-ok"></i> are mandatory.</em>
                        </p>
                    </div>
                </div>

                <hr>
                <div id="staffWorkflowBtns" class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        @{

                            switch (Model.Status)
                            {
                                case ApplicationStatusEnum.OffHold:
                                case ApplicationStatusEnum.Assigned:
                                    if (!HideWorkFlow)
                                    {
                                        <button id="applicationBtn" type="button" data-toggle="modal" data-target="#modalApplicant" class="btn btn-info isDisableWorkFlowBtn" ><i class="fa fa-chevron-left"></i> Applicant</button>
                                        <button id="denyBtn" type="button" data-toggle="modal" data-target="#modalDeny" class="btn btn-danger isDisableWorkFlowBtn" ><i class="fa fa-chevron-left"></i> Deny</button>
                                        <button id="onHoldBtn" type="button" data-toggle="modal" data-target="#modalOnhold" class="btn btn-warning isDisableWorkFlowBtn" >On-hold </button>
                                        <button id="approveBtn" type="button" data-toggle="modal" data-target="#modalApproveApplication" class="btn btn-success isDisableWorkFlowBtn" >Approve <i class="fa fa-chevron-right"></i></button>
                                    }
                                    break;
                                case ApplicationStatusEnum.OnHold:
                                    if (!HideWorkFlow)
                                    {
                                        <button id="unHoldBtn" type="button" data-toggle="modal" data-target="#modalOffhold" class="btn btn-warning isDisableWorkFlowBtn" >Off-hold</button>
                                    }
                                    break;
                                case ApplicationStatusEnum.Approved:
                                case ApplicationStatusEnum.BankInformationSubmitted:
                                case ApplicationStatusEnum.BankInformationApproved:
                                case ApplicationStatusEnum.Completed:
                                    if (!isParticipant)
                                    {
                                        if (ResendWelcomeLetter >= CL.TMS.Security.SecurityResultType.ReadOnly)
                                        {
                                            <button id="resendBtn" type="button" data-toggle="modal" data-target="#modalResend" class="btn btn-success" ><i class="fa fa-chevron-left"></i> Re-send Welcome Letter</button>
                                        }
                                        <button id="cancelBtn" type="button" data-toggle="modal" data-target="#modalCancelApplication" class="btn btn-danger" >
                                            <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                                            @UIResource.CommonCancel
                                        </button>
                                        <button id="saveBtn" type="button" data-toggle="modal" data-target="#modalSaveApplication" class="btn btn-success" >
                                            <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                                            Save
                                        </button>
                                    }
                                    break;
                            }
                        }

                    </div>
                </div>
                <br>

            </div>
            <br><br>
        </div>
    </div>
    <!-- Modal: Deny Application  -->
    <div class="modal fade" id="modalDeny" tabindex="-1" role="dialog" aria-labelledby="modalDeny" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonDenyApplicationConfirm.ToString())</h4>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 txt-l">
                                <h5><strong>@UIResource.CommonReasons</strong></h5>
                                <ul id="denyReasonsList"></ul>
                                <h5><strong>@UIResource.CommonAdditionalReasons</strong></h5>
                                <textarea id="modelDenyAdditionalReasonInput" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div><!--/row-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalDenyDenyApplicationBtn" data-status="Denied" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Send Back to Applicant  -->
    <div class="modal fade" id="modalApplicant" tabindex="-1" role="dialog" aria-labelledby="modalApplicant" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonSendBacktoApplicantConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="BackToApplicant" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                    <input id="hdnExplicitSave" type="button" style="display:none" />
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Place Application on Hold  -->
    <div class="modal fade" id="modalOnhold" tabindex="-1" role="dialog" aria-labelledby="modalOnhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationonHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="OnHold" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Place Application Off Hold  -->
    <div class="modal fade" id="modalOffhold" tabindex="-1" role="dialog" aria-labelledby="modalOffhold" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonPlaceApplicationOffHoldConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="OffHold" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Assign Application  -->
    <div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="modalAssign" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonAssignApplicationConfirm.ToString())</h4>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 txt-l">
                                <h5><strong>@UIResource.CommonChooseStaff</strong></h5>
                                <select id="listOfStaff" class="form-control isDisableWorkFlowBtn" ></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalAssignAssignBtn" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="Assigned" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Approve Application  -->
    <div class="modal fade" id="modalApproveApplication" tabindex="-1" role="dialog" aria-labelledby="modalApproveApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonApproveApplicationConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalApproveApproveBtn" class="btn btn-success workflow isDisableWorkFlowBtn btn-lg" data-status="Approved" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Active to Inactive -->
    <div class="modal fade comp-claims-summary-submitmodal" id="switchActiveToInactive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" id="myModalLabel" align="center">
                        @UIResource.Confirm
                    </h3>
                </div>
                <div class="modal-body">
                    <div style="padding:0 10%;">
                        <p>@Html.Raw(UIResource.CommonActiveInactiveStatusChange.ToString())</p>
                        <label for="">@UIResource.CommonEffectiveDate</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickerToInactive">
                                        @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.ActiveStateChangeDate, new
                                    {
                                        @class = "form-control",
                                        @id = "InActiveRegistrantStatusChangeEffectiveDate",
                                        @Value = (Model.ActiveInactive.RegistrantInactive.ActiveStateChangeDate != DateTime.MinValue ? string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.RegistrantInactive.ActiveStateChangeDate) : string.Empty),
                                        @readonly = "readonly",
                                        style = "background:white;"
                                    })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <input type="hidden" class="RegistrantInActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.ApprovedDate)' />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>@UIResource.CommonReasons</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.ActiveInactive.RegistrantInactive.Reason, new SelectListItem[]{
                new SelectListItem() {Text = "Change in Ownership", Value="Change in Ownership"},
                new SelectListItem() {Text = "Change in Legal Name/HST", Value="Change in Legal Name/HST"},
                new SelectListItem() {Text = "Suspension - Operations", Value="Suspension - Operations"},
                new SelectListItem() {Text = "Suspension - Audit", Value="Suspension - Audit"},
                new SelectListItem() {Text = "Documents Pending", Value="Documents Pending"},
                new SelectListItem() {Text = "Out of Business", Value="Out of Business"},
                new SelectListItem() {Text = "Opted out of the Program", Value="Opted out of the Program"},
                new SelectListItem() {Text = "Termination - Operation", Value="Termination - Operation"},
                new SelectListItem() {Text = "Termination - Audit", Value="Termination - Audit"},
                new SelectListItem() {Text = "Duplicate Registration Account", Value="Duplicate Registration Account"},
                new SelectListItem() {Text = "Other", Value="Other"}},
                "Select Reason",
                new { @class = "form-control", @id = "inactivedropdown" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.OtherReason, new
                            {
                                @class = "form-control",
                                style = "display:none;",
                                @id = "OtherInActiveStatus",
                                @Value = string.IsNullOrEmpty(Model.ActiveInactive.RegistrantInactive.OtherReason) ? string.Empty : Model.ActiveInactive.RegistrantInactive.OtherReason
                            })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <label for="">New Registration # </label> (if applicable)
                                @Html.TextBoxFor(m => m.ActiveInactive.RegistrantInactive.Description, new { @class = "form-control", @id = "NewRegistrationNumber" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="modalCancelInactivatebtn" >
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="modalDeactivatebtn" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Inactive to Active Modal -->
    <div class="modal fade comp-claims-summary-submitmodal" id="switchInactiveToActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" id="myModalLabel" align="center">
                        @UIResource.Confirm
                    </h3>
                </div>
                <div class="modal-body">
                    <div style="padding:0 10%;">
                        <p>@Html.Raw(UIResource.CommonInactiveActiveStatusChange.ToString())</p>
                        <label for="">@UIResource.CommonEffectiveDate</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepickerToActive">
                                        @Html.TextBoxFor(m => m.ActiveInactive.RegistrantActive.ActiveStateChangeDate, new
                                    {
                                        @class = "form-control",
                                        @id = "RegistrantStatusChangeEffectiveDate",
                                        @Value = (Model.ActiveInactive.RegistrantActive.ActiveStateChangeDate != DateTime.MinValue ? String.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.RegistrantActive.ActiveStateChangeDate) : string.Empty),
                                        @readonly = "readonly",
                                        style = "background:white;"
                                    })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" id="dateCal"></span>
                                        </span>
                                    </div>
                                    <input type="hidden" class="RegistrantActiveStatusApprovedDate" value='@string.Format("{0:yyyy-MM-dd}", Model.ActiveInactive.ApprovedDate)' />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>@UIResource.CommonReasons</label><br>
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.ActiveInactive.RegistrantActive.Reason, new SelectListItem[]{
                new SelectListItem() {Text = "Other", Value= "Other"}},
                "Select Reason", new { @class = "form-control", @id = "activedropdown" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.ActiveInactive.RegistrantActive.OtherReason, new
                            {
                                @class = "form-control",
                                style = "display:none;",
                                @id = "OtherActiveStatus",
                                @Value = string.IsNullOrEmpty(Model.ActiveInactive.RegistrantActive.OtherReason) ? string.Empty : Model.ActiveInactive.RegistrantActive.OtherReason
                            })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="modalCancelActivatebtn">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="modalActivateBtn">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Resend welcome email Application  -->
    <div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="modalResend" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonResendWelcomeEmailConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalResendYesBtn" class="btn btn-success btn-lg" data-dismiss="modal"> 
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Update Application  -->
    <div class="modal fade" id="modalSaveApplication" tabindex="-1" role="dialog" aria-labelledby="modalSaveApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(UIResource.CommonSaveChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalSaveDBYesBtn" class="btn btn-success btn-lg" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Refresh on Cancel Application  -->
    <div class="modal fade" id="modalCancelApplication" tabindex="-1" role="dialog" aria-labelledby="modalCancelApplication" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>@*@UIResource.CommonCancelChanges*@
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>@Html.Raw(@UIResource.CommonCancelChangesConfirm.ToString())</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalCancelYesBtn" class="btn btn-success workflow btn-lg" data-status="Approved" data-dismiss="modal" >
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!--Save Modal Fail-->
    <div class="modal fade" id="modalSaveError" tabindex="-1" role="dialog" aria-labelledby="modalSaveError" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4 id="save-error-text">Changes can't be saved due to limited access on the page.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--approve validate warning-->
    <div class="modal fade" id="modalApproveValidateWarning" tabindex="-1" role="dialog" aria-labelledby="modalSaveError" aria-hidden="true">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">Warning</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4>Validation error: One or more fields are not valid.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <!-- Modal: Remove Contact Confirmation  -->
    <div class="modal fade" id="modalRemoveContactConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalRemoveContactConfirmation" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>@*Remove Contact Information*@
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4 id="contactRemovingMsg"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalRemoveContactYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Modal: Remove Sort Yard Confirmation  -->
    <div class="modal fade" id="modalRemoveSortYardConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalRemoveSortYardConfirmation" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md margin-top-100">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">@UIResource.CommonClose</span></button>
                    <h3 class="modal-title" align="center">@UIResource.Confirm</h3>
                </div>
                <div class="modal-body">
                    <div class="txt-c" style="padding:10px;">
                        <h4 id="sortYardRemovingMsg"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                        @UIResource.CommonWordNo
                    </button>
                    <button type="button" id="modalRemoveSortYardYesBtn" class="btn btn-success btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                        @UIResource.CommonWordYes
                    </button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jquery-webui-popover")

    <script type="text/javascript">
        //list of Resources text needed
        Global = {};
        Global.CommonActivity = {
            @*ObjectId: @iobjectId,
            ActivityType: @activityType,
            ActivitiesLog: {
                contactPerson:"", // GlobalSearch.UserName(),
                active: "changed",
                fieldName:"", // $(thisObj).data("fieldname") ? $(thisObj).data("fieldname") : "",
                defaultValue:"empty",
                thisvalue: "empty",
                panelName: "",
                sectionName: "",//$(thisObj).data("sectionname") ? $(thisObj).data("sectionname") : "",
                actLogStr: function () { return "" },
                hasAct: false
            },
            ApplicationStatus: '@statusStr',
            ExportActivityUrl: '@Html.Raw(Url.Action("GetAllActivitiesExport", "Common", new { area = "System", searchText = "CCC", sortColumn="AAA", sortDirection="BBB", activityArea = TreadMarksConstants.Collector, activityType = activityType, ClaimId = iobjectId }))',
            LogHistory:[],
            ActivityArea: '@TreadMarksConstants.Hauler',*@
            Message: '',
        };
        Global.StaffIndex = {
            ExportToPdfUrl: '@Url.Action("GeneratePDF", "Registration", new { id = @ViewBag.Id })',
            Resources: {
                DateTimeFormat: '@dateTimeFormat',
                TireDetailsDialog: '@MessageResource.TireDetailsDialog',
                ValidationMsgInvalidBusinessName: '@MessageResource.ValidationMsgInvalidBusinessName',
                ValidationMsgInvalidOperatingName: '@MessageResource.ValidationMsgInvalidOperatingName',
                ValidationMsgInvalidAddressLine1: '@MessageResource.ValidationMsgInvalidAddressLine1',
                ValidationMsgInvalidCity: '@MessageResource.ValidationMsgInvalidCity',
                ValidationMsgInvalidProvinceState: '@MessageResource.ValidationMsgInvalidProvinceState',

                ValidationMsgInvalidAddressLine2: '@MessageResource.ValidationMsgInvalidAddressLine2',
                ValidationMsgInvalidPostalCode: '@MessageResource.ValidationMsgInvalidPostalCode',
                ValidationMsgInvalidCountry: '@MessageResource.ValidationMsgInvalidCountry',
                ValidationMsgInvalidExt: '@MessageResource.ValidationMsgInvalidExt',
                ValidationMsgInvalidEmail: '@MessageResource.ValidationMsgInvalidEmail',

                ValidationMsgInvalidPrimaryContactName: '@MessageResource.ValidationMsgInvalidPrimaryContactName',
                ValidationMsgInvalidPosition: '@MessageResource.ValidationMsgInvalidPosition',
                ValidationMsgInvalidPhone: '@MessageResource.ValidationMsgInvalidPhone',
                ValidationMsgExpectedFormat: '@MessageResource.ValidationMsgExpectedFormat',
                ValidationMsgInvalidCapacity: '@MessageResource.ValidationMsgInvalidCapacity',

                ValidationMsgInvalidCertificateOfApproval: '@MessageResource.ValidationMsgInvalidCertificateOfApproval',
                ValidationMsgInvalidBusinessStartDate: '@MessageResource.ValidationMsgInvalidBusinessStartDate',
                ValidationMsgInvalidOntarioBusinessNumber: '@MessageResource.ValidationMsgInvalidOntarioBusinessNumber',
                ValidationMsgInvalidHSTRegistrationNumber: '@MessageResource.ValidationMsgInvalidHSTRegistrationNumber',
                ValidationMsgInvalidComercialLiabilityInsurance: '@MessageResource.ValidationMsgInvalidComercialLiabilityInsurance',

                ValidationMsgInvalidExpiryDate: '@MessageResource.ValidationMsgInvalidExpiryDate',
                ValidationMsgInvalidCVORNumber: '@MessageResource.ValidationMsgInvalidCVORNumber',
                ValidationMsgInvalidWSIPNumber: '@MessageResource.ValidationMsgInvalidWSIPNumber',
                ValidationMsgInvalidFirstName: '@MessageResource.ValidationMsgInvalidFirstName',
                ValidationMsgInvalidLastName: '@MessageResource.ValidationMsgInvalidLastName',

                ValidationMsgInvalidFullName: '@MessageResource.ValidationMsgInvalidFullName',
                ValidationMsgMustBeCheckedForSubmission: '@MessageResource.ValidationMsgMustBeCheckedForSubmission',
                ValidationMsgInvalidTireType: '@MessageResource.ValidationMsgInvalidTireType',
                ValidationMsgInvalidProcessor: '@MessageResource.ValidationMsgInvalidProcessor',
                ValidationMsgHIsGVWR: '@MessageResource.ValidationMsgHIsGVWR',
                ValidationMsgHasMoreThanOneEmp: '@MessageResource.ValidationMsgHasMoreThanOneEmp',
                ValidationMsgHasRelatioshipWithProcessor: '@MessageResource.ValidationMsgHasRelatioshipWithProcessor',
            },
            Model: {
                InvalidFormFields: [ @Html.Raw(invalidListStr)],
                Status: '@statusStr',
                IsReadOnly: '@isReadOnly'
            },
            Settings: {
                status: '@Model.StatusString',
                vendorID: '@Model.VendorID',
                ApplicationStatus: {
                    Approved: '@ApplicationStatusEnum.Approved.ToString()',
                    Submitted: '@ApplicationStatusEnum.Submitted.ToString()',
                    Assigned: '@ApplicationStatusEnum.Assigned.ToString()',
                    OnHold: '@ApplicationStatusEnum.OnHold.ToString()',
                    BankInformationSubmitted: '@ApplicationStatusEnum.BankInformationSubmitted.ToString()',
                    BankInformationApproved: '@ApplicationStatusEnum.BankInformationApproved.ToString()',
                    Completed: '@ApplicationStatusEnum.Completed.ToString()'
                },
                afterApproveRedirectUrl: '@Url.Action("RegistrationIndex", "Registration")',
                IsApprovedApplication: '@statusStr' == '@ApplicationStatusEnum.Approved.ToString()' || '@statusStr' == '@ApplicationStatusEnum.BankInformationSubmitted.ToString()' || '@statusStr' == '@ApplicationStatusEnum.BankInformationApproved.ToString()', //OTSTM2-50
            },
            Security: {
                IsAnyNoAccess: '@ApplicationHelper.IsAnyPanelNoAccess(rolePermissionsClaims)',
                IsAnyPanelEditSave: '@ApplicationHelper.IsAnyPanelEditSave(rolePermissionsClaims)',
                IsHaulerAutoSaveDisabled: '@ApplicationHelper.IsHaulerAutoSaveDisabled(rolePermissionsClaims)',
                HaulerDetailsCalendarReadonly: '@(isReadOnly || ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.ApplicationsHaulerApplicationHaulerDetails) == CL.TMS.Security.SecurityResultType.ReadOnly)'
            },
        };
        Global.Transaction = {
            ClaimId: '@((ViewBag.ClaimsId != null) ? @ViewBag.ClaimsId : -1)',//pass application id here, if exists.
            ActivitiesLog: '',
        };
        $(function () {
            $(".isDisableWorkFlowBtn").prop("disabled", "@(IsDisableWorkFlowBtn)" == "True");

            $("#resendBtn").prop("disabled", "@(IsResendWelcomeLetterReadonly)" == "True");
            $("#modalResendYesBtn").prop("disabled", "@(IsResendWelcomeLetterReadonly)" == "True");

            $("#saveBtn").prop("disabled", "@(IsDisableSaveBtn)" == "True");
            $("#modalSaveDBYesBtn").prop("disabled", "@(IsDisableSaveBtn)" == "True");
            $("#cancelBtn").prop("disabled", "@(IsDisableCancelBtn)" == "True");
            $("#modalCancelYesBtn").prop("disabled", "@(IsDisableCancelBtn)" == "True");

            $("#modalCancelInactivatebtn").prop("disabled", "@(isResourceReadOnly)" == "True");
            $("#modalDeactivatebtn").prop("disabled", "@(isResourceReadOnly)" == "True");
            $("#modalCancelActivatebtn").prop("disabled", "@(isResourceReadOnly)" == "True");
            $("#modalActivateBtn").prop("disabled", "@(isResourceReadOnly)" == "True");
        });
    </script>

    @Scripts.Render("~/bundles/applicationcommon")
    @Scripts.Render("~/bundles/applicationjquerycommon")
    @Scripts.Render("~/bundles/haulerapplicationstaff")

    @Scripts.Render("~/bundles/angular-datatables-scroller")
    @Scripts.Render("~/bundles/angulardatatable")
}
