﻿@using System.Data
@using CL.TMS.Common
@using CL.TMS.DataContracts.ViewModel.Transaction;

@{
    string viewBagHeaderName = ViewBag.HeaderName ?? "SIR Transactions";

    if (viewBagHeaderName.Contains("SIR Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>Invoice Date</th>
                    <th>SIR #</th>
                    <th>Rev.Stat.</th>
                    <th>Adj.</th>
                    <th>Processor #</th>

                    <th>Business Name</th>
                    <th>Invoice#</th>
                    <th>Product Type</th>
                    <th>Mesh Range</th>
                    <th>Actual (t)</th>
                    <th>Actions</th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
    else if (viewBagHeaderName.Contains("SPS Transactions"))
    {
        <table id="tblTransactionlist" class="table table-hover display truncate datatable-100-perc">
            <thead>
                <tr>
                    <th>Invoice Date</th>
                    <th>SPS #</th>
                    <th class="">Rev. Stat.</th>
                    <th class="">Adj.</th>
                    <th class="">Business Name</th>

                    <th>Destination</th>
                    <th>Product Type</th>
                    <th>Product Code</th>
                    <th>Desctiption</th>
                    <th>%</th>

                    <th>Actual(t)</th>
                    <th>Rate($/t)</th>
                    <th>Amount($)</th>
                    <th>Actions</th>
                    <th></th>

                    <th></th>
                </tr>
            </thead>
            <tbody transaction-handler></tbody>
        </table>
    }
}

<br />
<a id="viewmore" href="javascript:void(0)" class="viewmore" style="display:inline-block">More</a>
<div id="loading"></div>