﻿@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@using CL.TMS.Security

@{
    ViewBag.Title = "Email Content";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {

    @Styles.Render("~/css/cube/summernote.css")
    @Styles.Render("~/css/cube/cube-searchable-select.css")
    <style>
        .input-group-addon {
            background-color: #e7ebee;
        }

        .onoffswitch {
            position: relative;
            width: 103px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid #CCCCCC;
            border-radius: 20px;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "Enabled";
            padding-left: 10px;
            background-color: #8DC648;
            color: #FFFFFF;
        }
        .onoffswitch-inner[disabled]:before {
            content: "Enabled";     
            opacity: .65;   
        } 
        .onoffswitch-inner:after {
            content: "Enabled";
            padding-right: 10px;
            background-color: #EEEEEE;
            color: #CCCCCC;
            text-align: right;
        }

        .onoffswitch-switch {
            display: block;
            width: 18px;
            margin: 6px;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 69px;
            border: 2px solid #999999;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
        }

        .note-toolbar.panel-heading {
            color: #333;
            background-color: #f5f5f5!important;
            border-color: #ddd!important;
            border:solid 1px;
            border-top-left-radius: 3px!important;
            border-top-right-radius: 3px!important;
        }
        .note-btn.btn.btn-default:hover {
            background-color:#607d8b;
        }
        .panel-default > .panel-heading a,
        .panel-default > .panel-heading a.panel-arrow-expand {
            background:none ;          
        }
         .panel-default > .panel-heading a:hover,
            .panel-default > .panel-heading a.panel-arrow-expand:hover {
                      background:none ;
                        background-color:whitesmoke;
        }
        .panel-default > .panel-heading a.collapsed,
        .panel-default > .panel-heading a.panel-arrow-collapse {
                background:none ;              
        }
        .panel-default > .panel-heading a.collapsed:hover,
        .panel-default > .panel-heading a.panel-arrow-collapse:hover {
            background:none ;            
        }
        .select2-container--default .select2-results__option[aria-selected=true] {
             background-color:  whitesmoke;    
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #5897fb;
            color: white;
        }
    </style>
}

<div class="tm-all staff-all-claims" ng-controller="emailSettingsContentController">
    <div id="fixedClaimHeader" class="row comp-claims-header comp-variant-staff fixed-claim-header">
        <div class="col-xs-12 col-sm-12">
            <h2 class="fixed-claim-header-title">Email Content</h2>
            <div class="form-group form-group-select2" style="margin-left:13px;margin-top:-5px;">
                <select style="width:360px;" id="sel2" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                    @foreach (var item in ViewBag.EmailDisplayNameList)
                    {
                        if (item.ItemName != "Welcome Letter - Primary Contact")
                        {
                            <option value="@item.ItemValue">@item.ItemName</option>
                        }
                    }
                </select>
            </div>
            <script>
                $(function ($) {

                    //nice select boxes
                    $('#sel2').select2();
                    var options = {};
                    options.ui = {
                        showPopover: true,
                        showErrors: true,
                        showProgressBar: false
                    };
                    options.rules = {
                        activated: {
                            wordTwoCharacterClasses: true,
                            wordRepetitions: true
                        }
                    };
                    options.common = {
                        debug: true,
                        usernameField: "#popoverName"
                    };

                    //$("#sel2").val(23);
                });
            </script>
        </div>
    </div>

    <div class="panel panel-default panel-body" id="emailContents" style="margin-top:90px;">
        <div class="col-md-12" style="margin-left:-8px">
            <form role="form" name="emailForm">
                <div class="form-group">
                    <div class="col-md-7">
                        <div class="form-group has-required">
                            <div class="input-group">
                                <span class="input-group-addon">Subject</span>
                                <input type="text" class="form-control" maxlength="80" id="txtSubject" name="txtSubject" placeholder="Subject here" ng-model="vm.Subject" ng-disabled="isView" required>
                            </div>
                            <span style="color:red" ng-cloak ng-show="(emailForm.txtSubject.$dirty && emailForm.txtSubject.$invalid)">
                                <span ng-show="emailForm.txtSubject.$error.required">Required</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5" >
                        <div class="col-md-9" id="divButtonLabel">
                            <div class="input-group">
                                <span class="input-group-addon">Button Label</span>
                                <input type="text" class="form-control" maxlength="25" id="txtButtonLabel" name="txtButtonLabel" placeholder="Button Label here" ng-model="vm.ButtonLabel" ng-disabled="isView" required>
                            </div>
                            <span style="color:red" ng-cloak ng-show="(emailForm.txtButtonLabel.$dirty && emailForm.txtButtonLabel.$invalid)">
                                <span ng-show="emailForm.txtButtonLabel.$error.required">Required</span>
                            </span>
                        </div>
                        <div class="col-md-9" id="divButtonLabelEmpty" ng-if="vm.ButtonLabel == null"></div>
                        <div class="col-md-3" >
                            <div class="onoffswitch onoffswitch-success">
                                <input type="checkbox" name="cbEnabled" class="onoffswitch-checkbox" id="cbEnabled" ng-model="vm.IsEnabled" ng-disabled="isView">
                                <label class="onoffswitch-label" for="cbEnabled" ng-style="isView ? {'cursor':'not-allowed'} : {'cursor':'pointer'}">
                                    <span class="onoffswitch-inner" ng-disabled="isView" ></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12" ng-controller="summernoteCallbacksCtrl" style="margin-top:15px;">
            <summernote id="snEmailEditor" ng-model="vm.Body" on-init="init()" height="540" placeholder="Please input the email contents here ..."
                        editable="editable" editor="editor" style="margin-right: 25px;">
            </summernote>
            <div class="valid-info">
                <span style="color:red;"></span>
            </div>
        </div>
        <button ng-click="submitContent()" ng-disabled="isView" type="submit" class="btn btn-success save-btn pull-right margin-top--10 btn-lg" style="margin-right:5px;">
            <i class="glyphicon fa icon-floppy-o glyphicon-floppy-o fa-floppy-o" style="padding-right:0px"></i>
            Save
        </button>
        <button ng-disabled="isView" ng-click="cancelChange()" type="button" class="btn btn-danger cancel-btn pull-right margin-top--10 btn-lg" style="margin-right:5px;">
            <i class="glyphicon fa icon-ban glyphicon-ban fa-ban" style="padding-right:0px"></i>
            Cancel
        </button>
        <button data-toggle="modal"  ng-click="preview()" type="button" class="btn btn-primary preview-btn pull-right margin-top--10 btn-lg" style="margin-right:5px; ">@*border-bottom:2px;*@
            <i class="glyphicon fa icon-eye glyphicon-eye fa-eye" style="padding-right:0px"></i>
            Preview
        </button>
    </div>

    @Html.Partial("_SummernoteTemplate")

    <script type="text/ng-template" id="confirm-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center" style="color:white !important;">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you want to <strong>save</strong> the changes?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="cancel-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" align="center"  style="color:white !important;">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you want to <strong>cancel</strong> the changes?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" ng-click="confirm()">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="successful-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4>Save successful</h4>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>The changes have been <strong>saved</strong> successfully.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="fail-modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" style="color:red;" align="center">Warning</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Unable to <strong>save</strong> the changes.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="cancel()">
                    <i class="glyphicon fa fa-check-circle-o" aria-hidden="true"></i>
                    Ok
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="preview-modal.html">
        <div class="modal fade ng-scope" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="ng-pristine ng-valid"></form>
                    </div>
                </div>
            </div>
        </div>
    </script>
 
    <div class="modal fade ng-scope" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div id="previewEmail" class="initial"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        Global = {};
        Global.EmailSettingsContent = {
            GetEmailByIDUrl: '@Url.Action("GetEmailByID", "EmailSettings", new { area = "System" })',
            GetPreviewEmailByIDUrl: '@Url.Action("GetPreviewEmailByID", "EmailSettings", new { area = "System" })',
            SaveEmailContentUrl: '@Url.Action("SaveEmailContent", "EmailSettings", new { area = "System" })',

            ConfirmHtml: '<h4>Are you sure you want to <strong>save</strong> the changes?</h4>',
            CancelHtml: '<h4>Are you sure you want to <strong>cancel</strong> the changes?</h4>',
         
            SuccessHtml: '<h4>Save successful!</h4>',

            FailHeader: 'Unable to save the data',
            FailHtml: "[Message] save failure",
            TnCContentRequire: "Terms and Conditions contents are required",
            LoadNotesUrl: '@Url.Action("LoadNotes", "CompanyBranding", new { area = "System" })',
            AddNoteUrl: '@Url.Action("AddNotes", "CompanyBranding", new { area = "System" })',
            ExportNotesUrl: '@Url.Action("ExportNotes", "CompanyBranding", new { area = "System" })',

            Security: {
                Constants: {
                    ReadOnly: '@SecurityResultType.ReadOnly',
                    EditSave: '@SecurityResultType.EditSave',
                    NoAccess: '@SecurityResultType.NoAccess',
                },
                EmailSettingsContent: '@ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.AdminEmailSettings)',
            },
        };
        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
    @Scripts.Render("~/js/cube/summernote.js")
    <script type="text/javascript" src="~/js/Shared/summernote-lib.js"></script>
    <script type="text/javascript" src="~/js/Shared/cube-searchable-select.js"></script>
    <script type="text/javascript" src="~/Areas/System/Scripts/EmailSettings/email-settings-app.js?v=@ViewBag.versionid"></script>


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>*@
    <script type="text/javascript">
        $('form').on('submit', function (e) {
            if ($("#selectedEmail").val().length == 0) {
                $("#requiredValidation").show();
                return false;
            }
        })

        //handle browser click back button
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.href = '@Url.Action("AdminLoginPage", "Account", new { area = "" })';
        }
    </script>
}

