﻿
<!-- Component: Transaction Adjustments -->
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelAdjustments-headingOne">
        
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelAdjustments-collapseStatus" aria-expanded="true" aria-controls="panelAdjustments-collapseStatus" class="panel-arrow-expand">
                Transaction Adjustments
            </a>
            <a id="exportTransactionAdj" class="export" title="Export to CSV" href="@Url.Action("ExportToExcel", new {})"><i class="fa fa-file-text-o fa-fw uiaction-export"></i></a>
        </h4>
        <div class="col-xs-6 subcomp-search">
            <input id="transactionAdjustSearch" type="text" class="form-control" placeholder="Search">
            <div id="transactionAdjustFound" class="subcomp-search-found">&nbsp;</div>
            <i class="glyphicon glyphicon-remove remove-icon" id="transactionAdjustRemove"></i>
            <i class="glyphicon glyphicon-search"></i>
        </div>

    </div>
    <div id="panelAdjustments-collapseStatus" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelAdjustments-headingOne">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_HaulerTransactionAdjusList")                    
                </div>
            </div><!--/.row-->
            <br/>
            <div class="col-md-6 col-md-offset-6 txt-r margin-top--20">
                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalTransactionAdjustmentOpen" ng-disabled="HaulerClaimSummary.ClaimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant">+</button>
            </div>
        </div>
    </div>
</div><!--/.panel-->
<!-- /Component -->

<!-- Modal: Transaction Adjustment  -->
<div class="modal fade" id="modalTransactionAdjustmentOpen" tabindex="-1" role="dialog" aria-labelledby="modalTransactionAdjustmentOpen" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransactionAdjustmentOpen" align="center">Transaction Adjustment</h3>
            </div>
            <div class="modal-body">
                <div style="padding:10px;">
                    <div class="row modal-transactionadj-open margin-top-10 txt-l">
                        <div class="col-sm-6 col-sm-offset-1">
                            <label>Transaction #</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            You can only adjust the transactions for this claim period.
                            <small><br><br>Dev. Note: The user will search exsisting tranactions within thec current claim period.</small>
                        </div>
                    </div><!--/.row-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalPTRPaperFormAdjust">
                    Open
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Transaction Adjustments: PTR Paper Form -->
<div class="comp-all-modal modal fade" id="modalPTRPaperFormAdjust" tabindex="-1" role="dialog" aria-labelledby="modalPTRPaperFormAdjust" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-le">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="pos-l">
                    <h3 class="modal-title" id="modalPTRPaperFormAdjust">
                        PTR #<br>
                        <span>166373464</span>
                    </h3>
                </div>
                <div class="pos-c"></div>
                <div class="pos-r">
                    3000180<br>
                    <span>Paper Form</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-previewtransaction">
                    <div class="row margin-top--20">
                        <div class="col-sm-1">
                            <label for="">Date Delivered</label><p class="margin-top--3">2015-3-12</p>
                        </div>                    <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Hauler</strong> <br>
                                3000000
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                Zach's Tire Hauler<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                        <div class="col-sm-2 txt-r">
                            <p>
                                <strong>Processor</strong><br>
                                4000000
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                Auto Tire Processor<br>
                                300 The East Mall, Suite 100<br>
                                Toronto, Ontario M9B 6B7<br>
                                416-555-2345
                            </p>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Scale Ticket #</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="col-md-3">
                            <label class="color-tm-red">Scale Weight (KG)</label><br>
                            <input type="text" class="form-control color-tm-red-border-1px" placeholder="">
                        </div>
                        <div class="col-md-3">
                            <label>Variance (%)</label><br>
                            <p class="form-control-static">3.7</p><br>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <table class="table" style="float:left;">
                                <thead>
                                    <tr>
                                        <th>PLT</th>
                                        <th>MT</th>
                                        <th>AG/LS</th>
                                        <th class="color-tm-red">IND</th>
                                        <th>SOTR</th>
                                        <th>MOTR</th>
                                        <th>LOTR</th>
                                        <th>GOTR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control color-tm-red" placeholder="" style="border:solid 1px red;"></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                        <td><input type="text" class="form-control" placeholder=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="color-tm-red"><label>Supporting Documents</label></p>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-md-2 txt-r">
                        </div>
                        <div class="col-md-4 plugin-smoothzoompan">
                            <img id="smoothzoompanPTRPhoto1" src="~/Images/image-unavailable.png" class="img-smoothzoom" />
                        </div>
                        <div class="col-md-5">
                            <div class="smoothzoompanPhotoThumb" style="border:solid 1px red;">
                                <img src="~/Images/image-unavailable.png" class="view-thumbnail" flag="1" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="~/Images/scale-ticket.jpg" class="view-thumbnail" flag="2" target-elm="PTR" />
                            </div>
                            <div class="smoothzoompanPhotoThumb">
                                <img src="~/Images/sample-form-tcr.jpg" class="view-thumbnail" flag="3" target-elm="PTR" />
                            </div>
                        </div>
                        <div class="col-md-5 margin-bottom--10">
                            <div id="PTR-comment-1" class="PTRImagesComments smoothzoompanPhotoComments" style="display:block">
                                <hr>
                                <label class="color-tm-red">Filename</label>
                                <p class="color-tm-red">scale ticket.docx <button class="btn btn-danger delete"><strong> X </strong></button></p>
                                <label class="color-tm-red">Description</label>
                                <p class="color-tm-red">Paper Form</p>
                                <button class="btn btn-success color-tm-red"><strong>Download</strong></button>
                            </div>
                            <div id="PTR-comment-2" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <label>Filename</label>
                                <p>copy from copy_343 file.pdf <button class="btn btn-danger delete"><strong> X </strong></button></p>
                                <label>Description</label>
                                <p>Scale Ticket</p>
                                <button class="btn btn-success"><strong>Download</strong></button>
                            </div>
                            <div id="PTR-comment-3" class="PTRImagesComments smoothzoompanPhotoComments">
                                <hr>
                                <label>Filename</label>
                                <p>Canon Document Scan 029.jpg <button class="btn btn-danger delete"><strong> X </strong></button></p>
                                <label>Description</label>
                                <p>Scale Ticket</p>
                                <button class="btn btn-success"><strong>Download</strong></button>
                            </div>
                        </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dropzone" style="min-height: 140px">
                            </div>
                        </div>
                    </div><!--/.row-->
                    <hr>
                    <!-- Component: Internal Notes -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="panelPaperFormInternalNotes-headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#panelPaperFormInternalNotes-collapseOne" aria-expanded="true" aria-controls="panelPaperFormInternalNotes-collapseOne">
                                    Notes <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
                                </a>
                            </h4>
                            <div class="col-xs-6 subcomp-search">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="subcomp-search-found">Found 3</div><i class="glyphicon glyphicon-remove remove-icon"></i><i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                        <div id="panelPaperFormInternalNotes-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelPaperFormInternalNotes-headingOne">
                            <div class="panel-body">
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#">+</button>
                                <br>
                                <br>
                                <table class="table table-hover" class="glyphicon glyphicon-cog" style="margin-right:5px;">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Note</th>
                                            <th>Added by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2014-7-29</td>
                                            <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                                            <td>Perminder Kandola</td>
                                        </tr>
                                        <tr>
                                            <td>2014-7-29</td>
                                            <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                                            <td>Perminder Kandola</td>
                                        </tr>
                                        <tr>
                                            <td>2014-7-29</td>
                                            <td><span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh id purus tristique auctor. Nunc eget blandit sapien. Donec vestibulum turpis eu neque sollicitudin pretium. Mauris ut tristique mauris. Sed tempor in augue et maximus. Vivamus a lacus elit. Nulla ullamcorper quis sem a blandit. In non dolor non dolor facilisis posuere.">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nibh ...</span></td>
                                            <td>Perminder Kandola</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div><!--/.panel-->
                    <!-- /Component -->
                </div><!--/.modal-previewtransaction-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                        <i class="glyphicon fa fa-ban" aria-hidden="true"></i>
                        Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalTransAdjustmentsRejectConfirm">
                        Reject
                    </button>
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#modalTransAdjustmentsAcceptConfirm">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<!-- Modal: Transaction Adjustments: Recall Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsRecallConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsRecallConfirm" aria-hidden="true">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsRecallConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>recall</strong> transaction<br> adjustment for <strong>PTR # 1234567890</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Transaction Adjustments: Accept Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsAcceptConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsAcceptConfirm" aria-hidden="true">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsAcceptConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>accept</strong> transaction<br> adjustment for <strong>PTR # 1234567890</strong>?</h4>
                    <p>Please be advised that this will recalculate relevant claim(s) and may affect inventory and payments.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->
<!-- Modal: Transaction Adjustments: Reject Confirm  -->
<div class="modal fade" id="modalTransAdjustmentsRejectConfirm" tabindex="-1" role="dialog" aria-labelledby="modalTransAdjustmentsRejectConfirm" aria-hidden="true">
    <div class="modal-dialog modal-md margin-top-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalTransAdjustmentsRejectConfirm" align="center">Confirm</h3>
            </div>
            <div class="modal-body">
                <div class="txt-c" style="padding:10px;">
                    <h4>Are you sure you would like to <strong>reject</strong> transaction<br> adjustment for <strong>PTR # 1234567890</strong>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-times" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="glyphicon fa fa-check" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->

