﻿
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="panelInventory-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInventory-collapseInventory" aria-expanded="true" aria-controls="panelInventory-collapseInventory" class="panel-arrow-expand">
                Inventory &amp; Adjustments
                <hauler-export ng-model="HaulerClaimSummary" first-table="tblInventoryAdj" second-table="tblSortYard"></hauler-export>
            </a>
        </h4>
    </div>
    <div id="panelInventory-collapseInventory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInventory-headingOne">
        <div class="panel-body">
            <div class="row" style="margin-bottom:-20px;">
                <div class="col-md-12">
                    <table class="table" id="tblInventoryAdj" name="ParticipantInventoryAdjustmentClaimsSummary">
                        <thead>
                            <tr>
                                <th style="text-align:right;"><em><strong>Estimated (KG)</strong></em></th>
                                <th style="text-align:right"><strong>On-Road</strong></th>
                                <th style="text-align:right"><strong>Off-Road</strong></th>
                                <th style="text-align:right"><strong>Total</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Eligible Adjustments</td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentOnRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentOffRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentTotal | number:4}}</p></td>
                                </a>
                            </tr>
                            <tr>
                                <td>Ineligible Adjustments</td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentOnRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentOffRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentTotal | number:4}}</p></td>
                                </a>
                            </tr>
                            <tr>
                                <td>Eligible Closing</td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.EligibleClosingOnRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.EligibleClosingOffRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.EligibleClosingTotal | number:4}}</p></td>
                            </tr>
                            <tr>
                                <td>Ineligible Closing</td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.IneligibleClosingOnRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.IneligibleClosingOffRoad | number:4}}</p></td>
                                <td><p style="text-align:right;">{{HaulerClaimSummary.IneligibleClosingTotal | number:4}}</p></td>
                            </tr>
                            @*OTSTM2-388*@
                            <tr>
                                <td><strong>Total Closing</strong></td>
                                <td><p style="text-align:right;"><strong>{{HaulerClaimSummary.TotalClosingOnRoad | number:4}}</strong></p></td>
                                <td><p style="text-align:right;"><strong>{{HaulerClaimSummary.TotalClosingOffRoad | number:4}}</strong></p></td>
                                <td><p style="text-align:right;"><strong>{{HaulerClaimSummary.TotalClosingTotal | number:4}}</strong></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="tblSortYard">
                        <thead>
                            <tr>
                                <th>PLT</th>
                                <th>MT</th>
                                <th>AG/LS</th>
                                <th>IND</th>
                                <th>SOTR</th>
                                <th>MOTR</th>
                                <th>LOTR</th>
                                <th>GOTR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-hover-on">
                                <td colspan="8">
                                    Yard Count Submission
                                    <div class="btn-group dropdown-menu-actions float-right">
                                        <button type="button" class="btn btn-success btn-add" data-toggle="modal" data-target="#modalYardCountSubmission" ng-click="yardCountSubmission()" ng-disabled="HaulerClaimSummary.ClaimCommonModel.ClaimSummarySecurity.PageReadonlyForParticipant">+</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="tr-hover-on">
                                <!-- Show after user has added in the values-->
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.PLT}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.MT}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.AGLS}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.IND}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.SOTR}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.MOTR}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.LOTR}}</td>
                                <td class="td-c">{{HaulerClaimSummary.InventoryAdjustment.ItemSubmission.GOTR}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.row-->
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6" align="left">
                    <strong>Weight Variance (%)</strong> {{HaulerClaimSummary.InventoryAdjustment.WeightVariance | number:2}}
                </div>
                <div class="col-md-6" align="right">
                    <strong>Sort Yard Capacity (KG)</strong> {{HaulerClaimSummary.InventoryAdjustment.SortYandCapacity | number:4}}
                </div>
            </div><!--/.row-->
        </div>
    </div>
</div>


<!-- Modal: Yard Count Sumbission  -->
<div class="modal fade" id="modalYardCountSubmission" tabindex="-1" role="dialog" aria-labelledby="modalYardCountSubmission" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="modalYardCountSubmission" align="center">Yard Count Submission</h3>
            </div>
            <div class="modal-body padding-10">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>PLT</th>
                                    <th>MT</th>
                                    <th>AG/LS</th>
                                    <th>IND</th>
                                    <th>SOTR</th>
                                    <th>MOTR</th>
                                    <th>LOTR</th>
                                    <th>GOTR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.PLT" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.MT" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.AGLS" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.IND" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.SOTR" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.MOTR" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.LOTR" numbers-only></td>
                                    <td><input type="text" class="form-control" placeholder="" ng-model="yardCountMaster.GOTR" numbers-only></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <i class="fa fa-ban fa-1x"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="AddYardCountSubmission()">
                    <i class="glyphicon fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  -->