﻿@using CL.TMS.Security.Authorization

<div class="panel panel-default" style="@((SecurityContextHelper.IsStaff()) ? "margin-top: 0" : "margin-top: 70px")">
    <div class="panel-heading" role="tab" id="panelInbound-headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#panelInbound-collapseOne" aria-expanded="true" aria-controls="panelInbound-collapseOne" class="panel-arrow-expand">
                Inbound 
                <hauler-export ng-model="HaulerClaimSummary" first-table="tblInbound"></hauler-export>
            </a>
        </h4>
    </div>
    <div id="panelInbound-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelInbound-headingOne">
        <div class="panel-body">
            <table class="table table-hover" id="tblInbound" name="@(SecurityContextHelper.IsStaff() ? "StaffInboundClaimsSummary" : "ParticipantInboundClaimsSummary")">
                <thead>
                    <tr>
                        <th><em>Estimated (KG)</em></th>
                        <th style="text-align:right">On-Road</th>
                        <th style="text-align:right">Off-Road</th>
                        <th style="text-align:right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-hover-on">
                        <td>Total Eligible Opening</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleOpeningOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleOpeningOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleOpeningTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.TCR, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Tire Collection Receipt">TCR</a></td>
                        <td align="right">{{HaulerClaimSummary.TCROnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TCROffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TCRTotal | number:4}}</td>                        
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.DOT, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Dedicated Off-Road Tires">DOT</a></td>
                        <td align="right">{{HaulerClaimSummary.DOTOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.DOTOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.DOTTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.STC, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Special Tire Collection">STC</a></td>
                        <td align="right">{{HaulerClaimSummary.STCOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.STCOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.STCTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td>Eligible Adjustment</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentInboundOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentInboundOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.EligibleAdjustmentInboundTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td>Total Eligible</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalEligibleTotal | number:4}}</td>
                    </tr>
                    <tr class="tr-hover-on">
                        <td>Total Ineligible Opening</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleOpeningOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleOpeningOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleOpeningTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.UCR, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Unregistered Collection Receipt">UCR</a></td>
                        <td align="right">{{HaulerClaimSummary.UCROnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.UCROffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.UCRTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Transaction", new { area = "Hauler", id = @ViewBag.ClaimsId, type = CL.TMS.Common.TreadMarksConstants.HIT, direction = 1 })" data-toggle="tooltip" data-placement="right" title="Hauler Inventory Transfer">HIT</a></td>
                        <td align="right">{{HaulerClaimSummary.HITOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.HITOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.HITTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td>Ineligible Adjustment</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentInboundOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentInboundOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.InventoryAdjustment.IneligibleAdjustmentInboundTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td>Total Ineligible</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleOnRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleOffRoad | number:4}}</td>
                        <td align="right">{{HaulerClaimSummary.TotalIneligibleTotal | number:4}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Inbound</strong></td>
                        <td align="right"><strong>{{HaulerClaimSummary.TotalInboundOnRoad | number:4}}</strong></td>
                        <td align="right"><strong>{{HaulerClaimSummary.TotalInboundOffRoad | number:4}}</strong></td>
                        <td align="right"><strong>{{HaulerClaimSummary.TotalInboundTotal | number:4}}</strong></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>