﻿@using CL.TMS.Resources
@using CL.TMS.Security
@using CL.TMS.Security.Authorization
@using CL.TMS.Common
@{
    string bClaims = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Claims) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bRemittances = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Remittance) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bTransactions = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Transactions) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bApplications = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Applications) >= SecurityResultType.ReadOnly).ToString().ToLower();
    string bUsers = (ResourceActionAuthorizationHandler.CheckUserSecurity(TreadMarksConstants.Users) >= SecurityResultType.ReadOnly).ToString().ToLower();
}

<script type="text/ng-template" id="search-bar-modal.html">    
<div id="global-search-menu">
        <global-search-container></global-search-container>
    </div>
</script>

<script type="text/ng-template" id="global-search-container.html">
    <div key-event>
        <div class="container-box" dynamic-input-resize search-value="searchInput" highlight-value="returnedSearchVal" highlight-index="highlightIndex">
            <div class="container-search-first">
                <span class="icon" style="font-size: 1.6em; line-height: 1; color: #727373;"><i class="fa fa-search"></i></span>
                <input type="text" id="primarySearch" placeholder='Global Search' ng-model='searchInput' @*ng-change="delay.calculateDelay(searchTextInputChange,1000)"*@
                       style="color: #ffffff;" input-limit="70" ng-paste="copyPaste($event)" maxlength="70" autofocus auto-select ng-keyup="searchTextEvent($event)" />
            </div>
            <span class="icon global-search-arrow-btn"><a ng-click="searchArrow()" style= "cursor:pointer;"><i class="fa fa-arrow-circle-right"></i></a></span>
            <div class="checkbox-glbl-container">
                <div class="checkbox-glbl checkbox-inline" ng-if="@bClaims">
                    <input id="checkbox1" type="checkbox" ng-model="$parent.chkClaims">
                    <label for="checkbox1">
                        Claims
                    </label>
                </div>
                <div class="checkbox-glbl checkbox-inline" ng-if="@bRemittances">
                    <input id="checkbox2" type="checkbox" ng-model="$parent.chkRemittances">
                    <label for="checkbox2">
                        Remittances
                    </label>
                </div>
                <div class="checkbox-glbl checkbox-inline" ng-if="@bTransactions">
                    <input id="checkbox3" type="checkbox" ng-model="$parent.chkTransactions">
                    <label for="checkbox3">
                        Transactions
                    </label>
                </div>
                <div class="checkbox-glbl checkbox-inline" ng-if="@bApplications">
                    <input id="checkbox4" type="checkbox" ng-model="$parent.chkApplications">
                    <label for="checkbox4">
                        Applications
                    </label>
                </div>
                <div class="checkbox-glbl checkbox-inline" ng-if="@bUsers">
                    <input id="checkbox5" type="checkbox" ng-model="$parent.chkUsers">
                    <label for="checkbox5">
                        Users
                    </label>
                </div>
            </div>

            <div class="container-search-second">
                <input type="text" id="secondarySearch" ng-model='returnedSearchVal.text' disabled />
                @*<span class="icon"><i class="fa fa-search"></i></span>*@
            </div>
            <div class="container-search-third">
                <span class="icon">
                    <icons-by-section section="returnedSearchVal.section" ng-if="returnedSearchVal.section"></icons-by-section>
                </span>
            </div>
        </div>

        <div id="scrollDiv" class="container-result" ng-show="showSpotLightResult" style="overflow: hidden; overflow-y: auto;" tabindex="0">
            <div ng-repeat="(key, value) in searchResult" ng-if="searchResult">
                <module-search-result module-result="value" module-type="key" highlight-index="highlightIndex"></module-search-result>
            </div>
            <div style="background-color: #484646;">
                <a style="color: #ffffff; margin-left: 4px; cursor: pointer;" ng-click="showAllResults()">Show All Results…</a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="module-type-filtered-result">
    <div style="background-color: #484646;">
        <p style="color: #ffffff; margin: 0 0 2px 4px; ">{{moduleType.toUpperCase()}}</p>
    </div>
    <li ng-repeat="result in filtered = (moduleResult | limitTo:quantity)">
        <div @*style="padding-left: 15px; "*@ ng-class="{'browser-chrome-55above': isChrome55Above, 'browser-other': !isChrome55Above}"> <!--OTSTM2-699-->
            <a href="javascript:void(0)" ng-click="openUrl(result.Url)" ng-class="{'global-record-highlight': result.highlightIndex == highlightIndex}" style="color: #ffffff;" id="search-row">
                <icons-by-section section="result.Section"></icons-by-section>
                <icons-by-status status="result.Status">{{result.Status}}</icons-by-status>
                @*<div class="global-search-active"></div>*@
                {{limitChar(result.PlaceHolder1, 30)}} &#8212; {{limitChar(result.PlaceHolder2, 30)}} &#8212; {{limitChar(result.PlaceHolder3, 30)}}
                {{(result.PlaceHolder4).trim().length === 0?"":' — ' + limitChar(result.PlaceHolder4, 30)}}
                {{(result.PlaceHolder5).trim().length === 0?"":' — ' + limitChar(result.PlaceHolder5, 30)}}
            </a>
        </div>
    </li>
</script>

<script type="text/ng-template" id="icon-section">
    <i class="{{iconClass}}"></i>
</script>

<script type="text/ng-template" id="icon-status">
    <div class="{{iconClass}}"></div>
</script>

@*spotlight search result*@
<script type="text/ng-template" id="spotlight-search-result-panel.html">
    <div class="col-md-12">
        <div class="panel panel-default" ng-show="ifDisplay">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="panel-arrow-expand" href="#{{section}}">
                        {{title}}
                        <global-search-common-export attr-anchor="120px" section="section" sort-column="sortColumn" sort-direction="sortDirection" search-text="searchText"></global-search-common-export> @*OTSTM2-960/963/964/965/966*@
                    </a>
                </h4>
                <div class="col-xs-6 subcomp-search">
                    <input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="delay.calculateDelay(search,1000)" ng-style="searchStyle">
                    <p id="found{{section}}" class="subcomp-search-found" ng-style="foundStyle">{{found}}</p>
                    <i class="glyphicon glyphicon-remove remove-icon" ng-click="removeIcon(dtInstance)" ng-style="removeIconStyle"></i>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <div class="panel-collapse collapse in" id="{{section}}" role="tabpanel">
                <div class="panel-body" ng-style="panelAfterMore">
                    <div class="row">
                        <div class="col-md-12">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" style="min-width: 100% !important" dt-instance="dtInstance" class="table table-hover display truncate datatable-100-per global-search-result">
                            </table>
                            <div class="row">
                                <div class="col-md-12 viewMoreSpotLight">
                                    <a id="viewmore{{section}}" href="javascript:void(0)" class="viewmore" ng-click="viewMoreClick($event)" ng-show="viewMore">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@*Export to csv*@
<script type="text/ng-template" id="anchorExport.html">
    <a id="internal-export" class="export" title="Export to CSV" href='javascript:void(0);' ng-style="anchorCss">
        <i class="fa fa-file-text-o fa-fw uiaction-export" title="Export to CSV"></i>
    </a>
</script>

<!--OTSTM2-699-->
<style>
    .browser-chrome-55above {
        padding-left: 15px !important;
        margin-top: -20px !important;
    }

    .browser-other {
        padding-left: 15px !important;
    }
    
    /*table.dataTable {
            min-width: 100% !important;
    }*/ 
</style>
